/*
	AnythingSlider v1.7+ Default (base) theme
	By Chris Coyier: http://css-tricks.com
	with major improvements by Doug Neiner: http://pixelgraphics.us/
	based on work by Remy Sharp: http://jqueryfordesigners.com/
*/

.anythingSlider { display: block; margin: 0 auto; overflow: visible !important; padding: 0; position: relative; }
.anythingSlider li{  display: block; }

/* anythingSlider base (original element) */
.anythingBase { background: transparent; list-style: none; max-width: 32766px;
 position: absolute; overflow: visible !important; top: 0; left: 0; margin: 0; padding: 0; }
.anythingBase .panel { display: block; overflow: hidden; float: left;
	background: transparent;  padding: 0; margin: 0; position: relative; }
.anythingBase .panel.vertical { float: none; }

/* anythingSlider viewport window */
div.anythingSlider .anythingWindow { overflow: hidden; position: relative; width: 100%; height: 100%; }

/* anything caption */
div.anythingSlider .anything-caption{ position: absolute; bottom: 0px; left: 0px; max-width: 40%; }

/* Navigation buttons, default state */
div.anythingSlider .anythingControls{ height: 30px; position: absolute; text-align: center; 
	top: 0px; right: 10px; }
div.anythingSlider .anythingControls ul{ list-style: none; margin: 0px; 
	display: inline-block; padding: 9px 13px 9px; height: 8px; line-height: 8px; background: url('../images/slider-bullet-bg.png'); }
div.anythingSlider .anythingControls ul li{ margin-left: 6px; float: left;  }
div.anythingSlider .anythingControls ul li:first-child{ margin-left: 0px;  }
div.anythingSlider .anythingControls ul a { width: 8px; height: 8px; line-height: 0px; display: block; text-indent: -9999px; 
	-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; cursor: pointer; }
	
/* Navigation Arrows */
div.anythingSlider .arrow { top: 50%; position: absolute; display: block; margin-top: -15px; 
	width:29px; height:29px; text-indent:-9999px; border:0; cursor: pointer;
	background:url(../images/nivo-slider/bg_direction_nav_custom.png) no-repeat; 
	
	transition: all .3s ease; -moz-transition: all .3s ease; -webkit-transition: all .3s ease;}
div.anythingSlider .back { left: 20px; }
div.anythingSlider .back.disabled { display: none; } 
div.anythingSlider .forward { background-position:-29px 0; right: 20px;}
div.anythingSlider .forward.disabled { display: none; }

/* hide cell shading on hover - makes the button appear to come forward */
div.anythingSlider .start-stop:hover, div.anythingSlider .start-stop.hover { background-image: none; }

/* probably not necessary, but added just in case */
div.anythingSlider, div.anythingSlider .anythingWindow, div.anythingSlider .anythingControls ul a, div.anythingSlider .arrow a, div.anythingSlider .start-stop {
	transition-duration: 0; -o-transition-duration: 0; -moz-transition-duration: 0; -webkit-transition-duration: 0; }

/* support responsive video */	
.anythingSlider .fluid-width-video-wrapper{ padding: 0px !important; }	