span.sf-sub-indicator{ float: none !important; margin: 0px 0px 0px 5px !important; }

/*--- remove foundation padding ---*/
div.column, div.columns { padding: 0px !important; }
div.row .row{ margin-right: 0px !important; margin-left: 0px !important; position: relative; }
div.page-wrapper{ padding-left: 10px !important; padding-right: 10px !important; }
div.gdl-right-sidebar{ padding: 0px !important; }

div.port-nav-wrapper{ position: relative; left: 48%; }
div.port-nav-wrapper .port-nav{ display: block; float: left; }
div.portfolio-carousel-wrapper{ position: relative; }

div.header-wrapper{ z-index: 99; position: relative; }
div.content-wrapper{ z-index: 10; position: relative; }

.row .one { width: 8%; }
.row .two { width: 16%; }
.row .three { width: 25%; }
.row .four { width: 33%; }
.row .five { width: 41%; }
.row .six { width: 50%; }
.row .seven { width: 58%; }
.row .eight { width: 66%; }
.row .nine { width: 75%; }
.row .ten { width: 83%; }
.row .eleven { width: 91%; }
.row .twelve { width: 100%; }