/*
Theme Name: World Wide
Theme URI: -
Description: World Wide Wordpress Theme
Version: 1.01
Author: Goodlayers
Author URI: http://goodlayers.com
License:
License URI:
Tags: white, light, Orange, two-columns, flexible-width, custom-background, custom-colors, featured-images, theme-options
*/

/* #Style Reset
================================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0; padding: 0; border: 0;
	font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
a{ text-decoration: none; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* #Basic Styles
================================================== */
body {
	line-height: 155%; line-height:1.55; 
	-webkit-text-size-adjust: 100%;
	font-family: HelveticaNeue, "Helvetica Neue", Arial, Helvetica, sans-serif; 
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal; line-height: 1.3; margin-bottom: 15px;
	font-family: HelveticaNeue, "Helvetica Neue", Arial, Helvetica, sans-serif; }	
/*--- web safe font ---* 
	HelveticaNeue, "Helvetica Neue", Arial, Helvetica, sans-serif
	Georgia, "Times New Roman", Times, serif
 *--- web safe font ---*/
 
p{ margin-bottom: 20px; }
p:last-child{ margin-bottom: 0px;}

table { border-width: 1px; border-style: solid; width: 100%; }
tr th{ border-bottom-width: 1px; border-bottom-style: solid; text-align: left; }
tr th, tr td{ padding: 9px 20px; border-right: 1px solid; }
tr th:last-child, tr td:last-child{ border-right: 0px; }
table th{ font-weight: bold; }
	
em { font-style: italic; }
strong { font-weight: bold; }
small { font-size: 80%; }	
sup { height: 0; line-height: 1; position: relative; top: -0.6em; 
	vertical-align: baseline !important; vertical-align: bottom; font-size: 10px;}
sub { height: 0; line-height: 1; position: relative; top: +0.2em; 
	vertical-align: baseline !important; vertical-align: bottom; font-size: 10px;}

ul,ol{ margin-left: 20px; }
ul{ list-style: disc; }	
ol{ list-style: decimal; }
li{ padding: 3px 0px; }

blockquote{ margin: 10px 10px 10px 20px; padding: 15px 20px 15px 25px; border-left-width: 3px; border-left-style: solid;
	font-style: oblique; font-size: 17px; font-family: Georgia,"Times New Roman",Times,serif; }

form, fieldset{ margin-bottom: 20px; }	

button, input[type="submit"], input[type="reset"], input[type="button"] { 
	margin: 0px; padding: 9px 13px; display: inline-block; font-size: 12px; 
	font-weight: bold; cursor: pointer; border-width: 1px; border-style: solid; 
	
	background: url('images/button-shadow.png'); border-width: 1px; border-style: solid; 	}
	
/*	
button, input[type="submit"], input[type="reset"], input[type="button"] { 
	margin: 0px; padding: 6px 12px; display: inline-block; 
	background: url('images/button-gradient.png') repeat-x; font-weight: bold; cursor: pointer; 
	border-width: 1px; border-style: solid;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
	background-image: url('images/button-gradient-hover.png'); }
*/
	
input[type="text"], input[type="password"], input[type="email"],
textarea, select {  padding: 4px 4px; margin: 0; outline: none; max-width: 100%; margin-bottom: 10px; border-width: 1px; border-style: solid;
	-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
input[type="checkbox"], input[type="radio"] { display: inline; margin-bottom: 10px; }	
select { padding: 0; }	

/* #Wordpress Style
================================================== */
.alignleft, img.alignleft { float:left; margin: 5px 20px 20px 0px; }
.alignright, img.alignright { float:right; margin: 5px 0px 20px 20px; }
.aligncenter, img.aligncenter { display:block; margin: 5px auto; }
.alignnone, img.alignnone { margin: 5px 20px 20px 0; }
.wp-caption { text-align: center; padding: 8px 3px 5px; max-width: 100%;
	border-width: 1px; border-style: solid; background: #ffffff;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.wp-caption img { border: 0 none; padding: 0; margin: 0; max-width: 98.5%; width: auto; }
.wp-caption p.wp-caption-text { line-height: 1.5; font-size: 10px; margin: 0; }
.wp-smiley { margin: 0 !important; max-height: 1em; }

.gallery dl {}
.gallery dt {}
.gallery dd {}
.gallery dl a {}
.gallery dl img {}
.gallery-caption {}

.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

.sticky{}
.bypostauthor{}

/* #Custom Style
================================================== */
.hidden{ display: none; }
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }

.pt20{ padding-top: 20px !important; }
.pb20{ padding-bottom: 20px !important; }
.pb55{ padding-bottom: 55px !important; }
.mb0{ margin-bottom: 0px !important; } .mb1{ margin-bottom: 1px !important; } .mb2{ margin-bottom: 2px !important; }
.mb3{ margin-bottom: 3px !important; } .mb4{ margin-bottom: 4px !important; } .mb5{ margin-bottom: 5px !important; }
.mb6{ margin-bottom: 6px !important; } .mb7{ margin-bottom: 7px !important; } .mb8{ margin-bottom: 8px !important; }
.mb9{ margin-bottom: 9px !important; } .mb10{ margin-bottom: 10px !important; } 
.mb11{ margin-bottom: 11px !important; } .mb12{ margin-bottom: 12px !important; } .mb13{ margin-bottom: 13px !important; }
.mb14{ margin-bottom: 14px !important; } .mb15{ margin-bottom: 15px !important; } .mb16{ margin-bottom: 16px !important; }
.mb17{ margin-bottom: 17px !important; } .mb18{ margin-bottom: 18px !important; } .mb19{ margin-bottom: 19px !important; }
.mb20{ margin-bottom: 20px !important; }
.mb21{ margin-bottom: 21px !important; } .mb22{ margin-bottom: 22px !important; } .mb23{ margin-bottom: 23px !important; }
.mb24{ margin-bottom: 24px !important; } .mb25{ margin-bottom: 25px !important; } .mb26{ margin-bottom: 26px !important; }
.mb27{ margin-bottom: 27px !important; } .mb28{ margin-bottom: 28px !important; } .mb29{ margin-bottom: 29px !important; }
.mb30{ margin-bottom: 30px !important; }
.mb31{ margin-bottom: 31px !important; } .mb32{ margin-bottom: 32px !important; } .mb33{ margin-bottom: 33px !important; }
.mb34{ margin-bottom: 34px !important; } .mb35{ margin-bottom: 35px !important; } .mb36{ margin-bottom: 36px !important; }
.mb37{ margin-bottom: 37px !important; } .mb38{ margin-bottom: 38px !important; } .mb39{ margin-bottom: 39px !important; }
.mb40{ margin-bottom: 40px !important; }
.mb41{ margin-bottom: 41px !important; } .mb42{ margin-bottom: 42px !important; } .mb43{ margin-bottom: 43px !important; }
.mb44{ margin-bottom: 44px !important; } .mb45{ margin-bottom: 45px !important; } .mb46{ margin-bottom: 46px !important; }
.mb47{ margin-bottom: 47px !important; } .mb48{ margin-bottom: 48px !important; } .mb49{ margin-bottom: 49px !important; }
.mb50{ margin-bottom: 50px !important; }

/*--- color animation ---*/
a, .portfolio-context{
	transition: color 300ms, background-color 300ms, opacity 300ms;
	-moz-transition: color 300ms, background-color 300ms, opacity 300ms;    /* FF3.7+ */
	-o-transition: color 300ms, background-color 300ms, opacity 300ms;      /* Opera 10.5 */
	-webkit-transition: color 300ms, background-color 300ms, opacity 300ms; /* Saf3.2+, Chrome */ }

/* #Theme Style
================================================== */

/*--- custom full background ---*/
div.gdl-custom-full-background{ position: fixed; top: -50%; left: -50%; width: 200%; height: 200%; z-index: -1; }
div.gdl-custom-full-background img{ 
	position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;
	min-width: 50%; min-height: 50%; z-index: -1; }
	
/*--- button ---*/
a.gdl-button{ display: inline-block; cursor: pointer; padding: 1px 15px; 
	height: 28px; line-height: 27px; margin-bottom: 20px; margin-right: 10px; 
	background: url('images/button-shadow.png'); border-width: 1px; border-style: solid; text-transform: uppercase; font-weight: bold; }
a.gdl-button.small{ padding: 1px 12px; height: 26px; line-height: 26px; font-size: 11px; }
a.gdl-button.large{ padding: 2px 20px; height: 33px; line-height: 34px; font-size: 14px; }

/*
a.gdl-button{ display: inline-block; font-weight: bold; cursor: pointer; 
	padding: 1px 15px; height: 28px; line-height: 28px;
	border-width: 1px; border-style: solid;  
	background: url('images/button-gradient.png') repeat-x; 
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
a.gdl-button:hover{ background-image: url('images/button-gradient-hover.png'); }
*/

/*--- preloader ---*/
.preloader { display: block; background:url(images/loading.gif) center center no-repeat; }

/*--- logo ---*/
div.logo-wrapper{ text-align: center; margin: 0px 10px; max-width: 100%; float: left; line-height: 0; } 
div.logo-wrapper a{ display: inline-block; }
div.logo-wrapper h1{ margin: 0px; line-height: 0; } 
div.logo-wrapper img{ display: block; }

div.logo-right-text{ margin-left: 10px; margin-right: 10px; }
div.logo-right-text-content{ margin-bottom: 12px; }

div.header-right-banner-wrapper{ float: right; margin-left: 10px; margin-right: 10px; }

/*--- top navigation ---*/
div.top-navigation-wrapper{ position: relative; z-index: 20; }
div.top-navigation-wrapper-gimmick{ height: 3px;  }
div.top-navigation-container.container{ text-align: center; font-size: 12px; line-height: 100%; }
div.top-navigation-left{ float: left; line-height: 18px; margin-left: 10px; }
div.top-navigation-right{ float: right; display: inline-block; }
div.top-navigation-right div.top-navigation-right-text {  float: right; line-height: 17px; 
	padding-top: 13px;  padding-bottom: 13px;  }
div.top-navigation-right div.social-wrapper{ padding-top: 13px; padding-bottom: 13px; }

/*--- top search ---*/
div.top-search-wrapper{ float: right; }
div.top-search-wrapper .search-text{ width: 1px; overflow: hidden; float: left; }
div.top-search-wrapper form { margin-bottom: 0px; }
div.top-search-wrapper input[type="text"]{ padding: 13px 12px; line-height: 18px; height: 18px; border: 0px; margin-bottom: 0px; width: 150px; 
-moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; display: none; }
div.top-search-wrapper input[type='submit'] { float: right; height: 16px; margin: 14px 15px; 
	padding: 0px 0px 0px 29px; border-width: 0px; border-left-width: 1px; border-left-style: solid; 
	background-size: 16px 16px !important; }

	
/*--- social icon ---*/
div.social-wrapper { float: right; margin-left: 20px; }
div.social-wrapper img{ display: block; max-width: 18px; height: auto; }
div.social-wrapper div.social-icon { float: left; margin-right: 8px; cursor: pointer; }
div.social-wrapper div.social-icon:last-child { margin-right: 0px; }

div.shortcode-social-icon{ float: left; margin-right: 10px; }
div.shortcode-social-icon img{ display: block; max-width: 32px; }

/*--- navigation ---*/
div.gdl-navigation-wrapper{ position: relative; }
div.gdl-current-menu { height: 2px; margin-top: -1px; position: absolute; }
div.navigation-wrapper{ margin: 0px 10px; font-family: HelveticaNeue, "Helvetica Neue", Arial, Helvetica, sans-serif; }
div.navigation-wrapper .sf-menu li a{ text-transform: uppercase; font-weight: bold; } 
div.navigation-wrapper .sf-menu li li a{ font-weight: normal; text-transform: none; }
.sf-menu .sf-sub-indicator { display: none; }
.sf-menu li li .sf-sub-indicator { display: inline; }

div.responsive-menu-wrapper{ margin: 0px 10px; }
div.responsive-menu-wrapper select{ width: 100%; height: 25px; }

div.random-post{ font-size: 22px; line-height: 22px; padding: 17px 25px 14px 20px; float: right; }

/*--- header top marquee ---*/
div.header-wrapper{ position: relative; }

div.header-top-marquee{ border-bottom-width: 3px; border-bottom-style: solid; padding-right: 20px; }
div.header-top-marquee .marquee-head { margin-left: 30px; margin-right: 20px; float: left; 
	line-height: 19px; padding: 12px 40px 10px 0px; font-weight: bold;
	background-position: right center; background-repeat: no-repeat; }
div.header-top-marquee .marquee-wrapper{ overflow: hidden;  }
div.header-top-marquee .marquee-wrapper .marquee{ width: 9999px; font-size: 12px; padding: 11px 0px; overflow: hidden; }
div.header-top-marquee .marquee-wrapper .marquee div{ padding: 1px 22px 0px 13px; float: left; }

/*--- page title ---*/
div.header-outer-wrapper .header-wrapper{ background-position: center 0px; 
	background-image: url('images/header-gradient.png'); background-repeat: repeat-x; }

div.page-header-container { padding-top: 35px; }
div.page-header-inner-wrapper{ margin: 0px 10px; border-bottom-width: 3px; border-bottom-style: solid; }
h1.page-header-title{ margin-bottom: 6px; font-size: 23px; line-height: 23px; float: left; text-transform: uppercase; }
div.page-header-caption{ font-size: 16px; line-height: 23px; float: right; }
div.page-header-caption span{ margin-right: 5px; }


div.gdl-header-wrapper{ margin-bottom: 25px; position: relative; padding-bottom: 8px;
	border-bottom-width: 3px; border-bottom-style: solid; }
div.gdl-header-wrapper.navigation-on{ padding-right: 70px; }
div.gdl-header-wrapper .icon-double-angle-right{ font-size: 25px; line-height: 23px; margin-left: 10px; }
h3.gdl-header-title{ display: inline-block; margin-bottom: 0px; text-transform: uppercase; }

/*--- page content ---*/
div.gdl-page-item{ padding-top: 40px; }

/*--- top slider / layer slider ---*/
div.gdl-top-slider-wrapper{ margin: 0px auto;  position: relative;
	border-bottom-width: 6px; border-bottom-style: solid; }
div.header-outer-wrapper,
div.content-outer-wrapper{ position: relative; }
div.gdl-top-slider li { padding: 0; }

div.gdl-top-slider .nivo-directionNav a.nivo-prevNav,
div.gdl-top-slider .flex-direction-nav li .flex-prev{ width: 28px; height: 50px; 
	top: 50%; left: 0px; margin-top: -30px;
	background-image: url('images/top-slider-nav-left.png'); 
	background-position: center center; background-repeat: no-repeat; }
div.gdl-top-slider .nivo-directionNav a.nivo-nextNav,
div.gdl-top-slider .flex-direction-nav li .flex-next{ width: 28px; height: 50px; 
	top: 50%; right: 0px; margin-top: -30px;
	background-image: url('images/top-slider-nav-right.png'); 
	background-position: center center; background-repeat: no-repeat; }

div.gdl-top-slider div.ls-maxima a.ls-nav-prev,
div.gdl-top-slider div.ls-maxima a.ls-nav-next,
div.gdl-top-slider .nivo-directionNav a.nivo-prevNav,
div.gdl-top-slider .nivo-directionNav a.nivo-nextNav,
div.gdl-top-slider .flex-direction-nav li .flex-prev,
div.gdl-top-slider .flex-direction-nav li .flex-next{ opacity: 0; filter: alphat(opacity=0); }	
div.gdl-top-slider:hover div.ls-maxima a.ls-nav-prev,
div.gdl-top-slider:hover div.ls-maxima a.ls-nav-next,
div.gdl-top-slider:hover .nivo-directionNav a.nivo-prevNav,
div.gdl-top-slider:hover .nivo-directionNav a.nivo-nextNav,
div.gdl-top-slider:hover .flex-direction-nav li .flex-prev,
div.gdl-top-slider:hover .flex-direction-nav li .flex-next{ opacity: 1; filter: alphat(opacity=1); }
	
/*--- sidebar ---*/
div.gdl-page-item.columns{ float: right; }
div.gdl-left-sidebar.columns{ float: left; }

div.page-wrapper.reverse-sidebar .gdl-page-left { float: right; }
div.page-wrapper.reverse-sidebar .gdl-right-sidebar{ float: left; }
div.page-wrapper.reverse-sidebar .gdl-page-item { float: left; }
div.page-wrapper.reverse-sidebar .gdl-left-sidebar{ float: right; }

div.custom-sidebar{ margin-bottom: 40px; position: relative; }
h3.custom-sidebar-title{ line-height: 23px; position: relative;
	margin-bottom: 7px; text-transform: uppercase; }
div.custom-sidebar-title-wrapper{ position: relative; margin-bottom: 22px; padding-bottom:8px;
	border-bottom-width: 3px; border-bottom-style: solid; }
div.custom-sidebar-title-wrapper .sidebar-bottom-bar{ width: 40px;
	position: absolute; left: 0px; bottom: -2px;
	border-bottom-width: 2px; border-bottom-style: solid; }

div.gdl-sidebar-wrapper{ overflow: hidden; }
div.gdl-sidebar-wrapper .custom-sidebar-title{ display: inline; }
div.gdl-sidebar-wrapper .icon-double-angle-right{ font-size: 25px; line-height: 23px; margin-left: 10px; }

div.gdl-right-sidebar .sidebar-wrapper{ padding-top: 41px;  }
div.gdl-left-sidebar .sidebar-wrapper{ padding-top: 41px; }

/*--- footer ---*/
div.footer-wrapper{ overflow: hidden; }
div.footer-wrapper .custom-sidebar{ margin-bottom: 40px; }
div.footer-container{ margin-top: 55px; }

div.footer-twitter-wrapper{ padding: 18px 0px; position: relative;
	background-image: url('images/twitter-bar-shadow.png'); background-repeat: repeat-x; }
div.footer-twitter-wrapper .twitter-container{ position: relative; padding-left: 25px; }
div.footer-twitter-wrapper .gdl-twitter-icon{ position: absolute; font-size: 25px; line-height: 24px; left: 30px; top: 50%; margin-top: -12px; }
div.footer-twitter-wrapper .gdl-twitter-wrapper{ position: relative; padding: 0px 50px; } 
div.footer-twitter-wrapper ul{ margin: 0px; list-style: none; }

div.gdl-twitter-navigation{ position: absolute; right: 10px; top: 50%; margin-top: -6px; z-index: 999; }
div.gdl-twitter-navigation a{ width: 6px; height: 13px; float: left; cursor: pointer; margin-left: 10px; 
	background-size: 6px 13px;

	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */}
div.gdl-twitter-navigation a:first-child{ margin-left: 0px; }
div.gdl-twitter-navigation a.next{ background-position: -6px; }
div.twitter-bar-top-shadow{ height: 7px; position: absolute; left: 0px; right: 0px; top: 0px; 
	background: url('images/twitter-bar-top-shadow.png') repeat-x; }
div.twitter-bar-bottom-shadow{ height: 7px; position: absolute; left: 0px; right: 0px; bottom: 0px;
	background: url('images/twitter-bar-bottom-shadow.png') repeat-x; }

/*--- copyright ---*/
div.copyright-wrapper{ margin: 15px 10px 0px; padding: 0px 0px; position: relative; }
div.copyright-border{ border-style: solid; border-top-width: 1px; }
div.copyright-left{ padding: 20px 0px 25px; text-align: center; line-height: 1.9; }


/*-- about author (blog) ---*/
div.about-author-wrapper{ margin-top: 30px; margin-bottom: 30px; padding: 18px; }
div.about-author-avartar{ float: left; margin-right: 20px; }
div.about-author-info{ overflow: hidden; }
h5.about-author-title{ font-size: 18px; margin-top: 3px; margin-bottom: 10px; }

/*--- stack images ---*/
div.stack-images-wrapper img{ display: block; }
div.stack-images-wrapper .stack-images-single{ margin-bottom: 20px; position: relative; }
div.stack-images-wrapper .stack-images-caption{ max-width: 65%; position: absolute; right: 20px; bottom: 20px; }

/*--- single portfolio ---*/
div.gdl-single-portfolio{ margin-bottom: 25px; }
div.single-portfolio .port-media-wrapper{ max-width: 68%; float: left; margin-right: 20px; overflow: hidden; }
div.single-portfolio .port-media-wrapper.gdl-video { width: 68%; }
div.single-portfolio .port-media-wrapper.gdl-slider{ width: 68%; }
div.single-portfolio .port-media-wrapper.gdl-slider .flex-control-nav{ display: none; }
div.single-portfolio .port-info-wrapper{ padding-bottom: 25px; margin-bottom: 25px;
	border-bottom-width: 1px; border-bottom-style: solid; }
div.single-portfolio .port-info{ margin-bottom: 6px; }
div.single-portfolio .port-info .head{ font-weight: bold; }
div.single-portfolio .port-content-wrapper{ overflow: hidden; }
div.single-portfolio .port-nav{ margin-bottom: 15px; }
div.single-portfolio .gdl-related-portfolio{ padding-top: 50px; }
div.row div.gdl-related-portfolio div.gdl-header-wrapper{ margin-bottom: 40px; }

div.single-portfolio.single-sidebar .port-media-wrapper,
div.single-portfolio.both-sidebar .port-media-wrapper{ max-width: 100%; margin-right: 0px; float: none; margin-bottom: 20px; }
div.single-portfolio.single-sidebar .port-content-wrapper,
div.single-portfolio.both-sidebar .port-content-wrapper{ overflow: visible; }
div.single-portfolio.single-sidebar .port-nav .port-prev-nav, 
div.single-portfolio.single-sidebar .port-nav .port-next-nav, 
div.single-portfolio.both-sidebar .port-nav .port-prev-nav,
div.single-portfolio.both-sidebar .port-nav .port-next-nav { margin-bottom: 15px; }

/*--- Adjacent Post ---*/
div.adjacent-post{ margin-top: 40px; }
div.adjacent-post i{ font-size: 30px; line-height: 20px; padding: 20px; }
div.adjacent-post .next-post-link{ float: left; width: 50%; text-align: right; }
div.adjacent-post .next-post-link i{ float: right; }
div.adjacent-post .next-post-head{ font-size: 18px; font-family: 'Droid Serif'; font-style: italic; }
div.adjacent-post .next-post-title{ font-size: 18px; }

div.adjacent-post .previous-post-link{ float: left; width: 50%; text-align: left; }
div.adjacent-post .previous-post-link i{ float: left;  }
div.adjacent-post .previous-post-head{ font-size: 18px; font-family: 'Droid Serif'; font-style: italic; }
div.adjacent-post .previous-post-title{ font-size: 18px; }

div.adjacent-post .adjacent-post-content{ overflow: hidden; }

/*--- Related Post ---*/
div.gdl-related-post{ margin-top: 40px; }
h3.related-post-title{ font-size: 22px; 
	border-bottom-width: 3px; border-bottom-style: solid; padding-bottom: 3px; margin-bottom: 25px; }
div.gdl-related-post div.gdl-blog-grid{ margin-bottom: 0px; }
div.gdl-related-post .blog-content,
div.gdl-related-post .blog-comment{ display: none; }
div.gdl-related-post div.gdl-blog-grid .blog-title{ font-size: 19px; }

/*--- Leave Reply ---*/
div.social-shares ul{ list-style: none; margin-left: 0px; }
div.social-shares ul li{ float: left; margin-right: 13px; margin-bottom: 8px; }
div.social-shares ul li img{ display: block; max-width: 32px; height: auto; }

/*--- Comments ---*/
div.comment-wrapper{  margin-top: 40px; }
div.comment-wrapper .comment-title{  font-size: 22px; 
	border-bottom-width: 3px; border-bottom-style: solid; padding-bottom: 3px; }
div.comment-wrapper .comment-form-comment{  margin-right: 40px; }
div.comment-wrapper #reply-title{ font-size: 22px; margin-bottom: 15px;
	border-bottom-width: 3px; border-bottom-style: solid; padding-bottom: 3px; }

div.comment-wrapper input[type="text"], input[type="password"] {
	width: 320px; height: 20px; max-width: 70%; line-height: 20px; padding: 5px; margin: 5px 5px 25px; float: left; }
div.comment-wrapper textarea{
	height: 165px; width: 590px; max-width: 100%; line-height: 20px; padding: 5px; margin: 5px 5px 25px; }

div.comment-wrapper input { float: left; }
div.comment-wrapper label { float: left; line-height: 32px; margin: 5px 0px 0px 10px; }
div.comment-wrapper span { line-height: 24px; margin-right: 2px; }

div.comment-wrapper .comment-form-captcha img { float: left; margin-right: 20px; margin-top: 1px; }
div.comment-wrapper .comment-form-captcha input { float: left; width: 205px; max-width: 40%; }

ol.comment-list{ margin: 0px; list-style: none; }
ol.comment-list .comment-body{ border-bottom-width: 1px; border-bottom-style: solid; margin-top: 22px; padding-bottom: 22px; }
ol.comment-list ul{ margin: 0px 0px 0px 30px; list-style: none; }
div.comment-avartar{ float: left; }
div.comment-context{ margin-left: 80px; }
span.comment-author{  margin-right: 5px; font-size: 16px; }
span.comment-date{  margin-right: 5px; font-style: italic; font-family: 'Droid Serif'; font-size: 11px;}
span.comment-time{ margin-right: 5px; font-style: italic; }
div.comment-content{ margin-top: 7px; }

div.comment-wrapper #respond{ margin-top: 30px; }

/*--- Site map ---*/
div.sitemap-page .custom-sidebar-title { display: inline-block; }

/*--- Floating Nav ---*/
div.floating-nav-wrapper{ text-align: center; line-height: 0; display: none;
	position: fixed; top: 0px; left: 0px; right: 0px; z-index: 100; padding: 10px 0px; }
div.floating-nav-wrapper ul.sf-menu{ display: inline-block; line-height: 1; }	
	
body.admin-bar div.floating-nav-wrapper{ top: 28px; }

/* #Page Item
================================================== */

/*--- accordion ---*/
ul.gdl-accordion{ list-style: none; margin-left: 0px; }
ul.gdl-accordion li{ position: relative; margin-bottom: 12px; border-width: 3px; border-style: solid; } 
ul.gdl-accordion li:last-child{ margin-bottom: 0px; } 
ul.gdl-accordion li .accordion-title{ margin: 0px; padding: 7px 0px 7px 17px; font-size: 15px; cursor: pointer; background-position: 0px center; background-repeat: no-repeat; text-transform: uppercase; }
ul.gdl-accordion li .accordion-content{ padding: 5px 20px 15px 38px; }
ul.gdl-accordion li span.accordion-icon{ display: inline-block; margin-right: 12px; margin-bottom: 1px;
	width: 8px; height: 8px; background-size: 8px 8px; }

ul.gdl-accordion li ul{ margin-left: 30px; list-style: disc; }
ul.gdl-accordion li li{ background: none; margin: 0px; overflow: visible; }

/*--- blog ---*/
div.gdl-blog-grid{ margin-bottom: 30px; }
div.gdl-blog-grid .blog-media-wrapper{ margin-bottom: 15px; position: relative; }
div.gdl-blog-grid .blog-media-wrapper img{ display: block; }
div.gdl-blog-grid .blog-media-wrapper .flexslider{ overflow: hidden; }
div.gdl-blog-grid .blog-media-wrapper.gdl-slider .flex-control-nav{ display: none; }
div.gdl-blog-grid .blog-content-wrapper{ overflow: hidden; }
div.gdl-blog-grid .blog-title{ font-size: 24px; margin-bottom: 4px; padding-right: 20px; }
div.gdl-blog-grid .blog-content{ padding-right: 20px; }
div.gdl-blog-grid .blog-info-wrapper{ font-size: 12px; font-weight: bold; margin-top: 15px; }
div.gdl-blog-grid .blog-date, 
div.gdl-blog-grid .blog-author{ display: inline; }
div.gdl-blog-grid .blog-comment{ position: absolute; right: 10px; bottom: 0px; padding: 3px 10px;}
div.gdl-blog-grid .blog-comment i{ padding-right: 5px; font-size: 14px; }

div.gdl-blog-list{ padding: 10px 60px 10px 10px; margin-bottom: 6px; position: relative; }
div.gdl-blog-list .blog-media-wrapper{ float: left; margin-right: 16px; width: 75px; }
div.gdl-blog-list .blog-media-wrapper img{ display: block; }
div.gdl-blog-list .blog-media-wrapper .flexslider{ overflow: hidden; }
div.gdl-blog-list .blog-media-wrapper .flexslider .flex-control-nav{ display: none; }
div.gdl-blog-list .blog-content-wrapper{ overflow: hidden; }
div.gdl-blog-list .blog-title{ font-size: 18px; margin-top: 3px; margin-bottom: 6px; }
div.gdl-blog-list .blog-info-wrapper{ font-size: 12px; font-weight: bold; }
div.gdl-blog-list .blog-date, 
div.gdl-blog-list .blog-author{ display: inline; }
div.gdl-blog-list .blog-comment{ position: absolute; right: 20px; top: 50%; margin-top: -7px; font-weight: bold;  }
div.gdl-blog-list .blog-comment i{ padding-right: 5px; font-size: 14px; }

div.gdl-blog-grid-list{ padding: 15px 0px; position: relative; 
	border-top-width: 1px; border-top-style: solid; }
div.gdl-blog-grid-list .blog-media-wrapper{ float: left; margin-right: 16px; width: 75px; }
div.gdl-blog-grid-list .blog-media-wrapper img{ display: block; }
div.gdl-blog-grid-list .blog-media-wrapper .flexslider{ overflow: hidden; }
div.gdl-blog-grid-list .blog-media-wrapper .flexslider .flex-control-nav{ display: none; }
div.gdl-blog-grid-list .blog-content-wrapper{ overflow: hidden; }
div.gdl-blog-grid-list .blog-title{ font-size: 18px; margin-top: 3px; margin-bottom: 6px; }
div.gdl-blog-grid-list .blog-info-wrapper{ font-size: 12px; font-weight: bold; }
div.gdl-blog-grid-list .blog-date, 
div.gdl-blog-grid-list .blog-author{ display: inline; }

div.blog-carousel-wrapper{ overflow: hidden; }
div.blog-carousel-wrapper .blog-nav-wrapper{ position: absolute; top: 0px; right: 10px; }
div.blog-carousel-wrapper .blog-nav{ width: 28px; height: 28px; display: block;
	cursor: pointer; margin: 0px; float: left;
	background-size: 6px 11px; background-repeat: no-repeat; background-position: center;
	margin-right: 2px;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */}
div.blog-carousel-wrapper .blog-nav.left{ margin-right: 2px; }

div.blog-item-holder .gdl-blog-medium{ margin-bottom: 40px; }
div.gdl-blog-medium .blog-content-wrapper{ overflow: hidden; }	
div.gdl-blog-medium .blog-medium-media-wrapper{ margin-right: 25px; float: left; width: 38%; 
	overflow: hidden; position: relative; }
div.gdl-blog-medium .blog-media-wrapper img{ display: block; }
div.gdl-blog-medium .blog-media-wrapper .flexslider{ overflow: hidden; }
div.gdl-blog-medium .blog-media-wrapper.gdl-slider .flex-control-nav{ display: none; }
div.gdl-blog-medium .blog-context-wrapper{ overflow: hidden; }
div.gdl-blog-medium .blog-title{ font-size: 24px; margin-top: 0px; margin-bottom: 12px; }
div.gdl-blog-medium .blog-info-wrapper{ font-size: 12px; font-weight: bold; margin-top: 12px; }
div.gdl-blog-medium .blog-comment{ position: absolute; right: 10px; bottom: 0px; padding: 3px 8px 3px; font-size: 11px; font-weight: bold; }
div.gdl-blog-medium .blog-comment i{ padding-right: 5px; font-size: 14px; }
div.gdl-blog-medium .blog-author,
div.gdl-blog-medium .blog-date{ display: inline; } 
	
div.blog-item-holder .gdl-blog-full{ margin-bottom: 40px; } 
div.gdl-blog-full .blog-content-wrapper{ overflow: hidden; padding-bottom: 10px; }
div.gdl-blog-full .blog-media-wrapper{ margin-bottom: 25px; }
div.gdl-blog-full .blog-media-wrapper img{ display: block; }
div.gdl-blog-full .blog-media-wrapper .flexslider{ overflow: hidden; }
div.gdl-blog-full .blog-media-wrapper.gdl-slider .flex-control-nav{ display: none; }
div.gdl-blog-full .blog-title{ font-size: 30px; margin-top: 0px; margin-bottom: 10px; }
div.gdl-blog-full .blog-info-wrapper{ font-size: 15px; margin-bottom: 30px; padding-bottom: 5px;
	border-bottom-width: 3px; border-style: solid; font-family: 'Droid Serif'; }
div.gdl-blog-full .blog-comment, div.gdl-blog-full .blog-tag, div.gdl-blog-full .blog-author,
div.gdl-blog-full .blog-date{ display: inline; margin-right: 15px; font-style: italic; }

/*--- blog/port pagination ---*/
div.gdl-pagination{ float: right; margin-top: 0px; }
div.gdl-pagination a,
div.gdl-pagination span{ display: block; padding: 7px 10px; margin-left: 5px; float: left; font-size: 12px; } 

div.portfolio-pagination .gdl-pagination{ margin-top: 0px; }

/*--- contact form ---*/
div.contact-form-wrapper{ padding-top: 0px; }
div.footer-wrapper div.contact-form-wrapper{ padding-top: 0px; }
div.contact-form-wrapper ol{ margin: 0px; list-style: none; }
div.contact-form-wrapper ol li{ margin-bottom: 10px; }
div.contact-form-wrapper ol li.form-textarea,
div.contact-form-wrapper ol li.form-input{ margin-right: 22px;  }
div.contact-form-wrapper ol li.sending-result{ max-width: 622px; display: none; }
div.contact-form-wrapper ol li.sending-result .message-box-wrapper{ padding: 10px 15px 10px 15px; }
div.contact-form-wrapper ol li div.error{ display: none; }

div.contact-form-wrapper  input[type="text"], input[type="password"] {
	width: 337px; height: 20px; line-height: 20px; padding: 5px; margin: 10px 5px 5px;
	line-height: 20px; max-width: 100%; display: block; }
div.contact-form-wrapper textarea{
	height: 165px; width: 600px; margin: 10px 5px 5px; padding: 5px; max-width: 100%;
	line-height: 20px; display: block; }
	
div.contact-form-wrapper .contact-submit{ float: left; padding: 8px 13px; }
div.contact-form-wrapper .contact-loading{
	width: 16px; height: 16px; float: left; margin: 7px 0px 0px 15px; display:none;
	background: url('images/loading.gif'); }


/*--- divider ---*/
div.gdl-divider-wrapper .gdl-divider{ overflow: hidden; padding-top: 6px;
	border-bottom-width: 1px; border-bottom-style: solid; }
div.gdl-divider-wrapper .scroll-top{ font-size: 11px; line-height: 11px; float: right; 
	padding-left: 6px; cursor: pointer; }
div.gdl-divider {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
div.gdl-divider .scroll-top{ text-align: right; font-size: 11px;
margin-bottom: 2px; cursor: pointer; }

/*--- gallery ---*/
div.gdl-gallery-image img{ display: block; }

/*--- Message Box ---*/
div.message-box-wrapper{ border:1px solid; padding: 20px; margin-bottom: 20px; }
div.message-box-title{ font-weight: bold; font-size: 14px; margin-top: 2px; }
div.message-box-content{ margin-top: 12px; }

div.message-box-wrapper.red{ background-color: #ffdcdd; border-color: #e9b9bb; color: #713a3c;}
div.message-box-wrapper.red .message-box-title{ color: #8d4345;}
div.message-box-wrapper.yellow{ background-color: #ffffe0; border-color: #e1db8b; color: #4d4d39;}
div.message-box-wrapper.yellow .message-box-title{ color: #737357;}
div.message-box-wrapper.blue{ background-color: #c2e1ee; border-color: #8ec3d9; color: #3d5058;}
div.message-box-wrapper.blue .message-box-title{ color: #475d66;}
div.message-box-wrapper.green{ background-color: #e1ffd9; border-color: #badeb1; color: #435b3d;}
div.message-box-wrapper.green .message-box-title{ color: #526d4b;}

/*--- personnal ---*/
div.personnal-item-wrapper{ margin-bottom: 40px; }
div.personnal-item{ border-width: 1px; border-style: solid;  }
div.personnal-item .personnal-position{ font-size: 16px; margin: 0px 20px 18px; }
div.personnal-item .personnal-thumbnail{ margin: 0px 0px 15px; }
div.personnal-item .personnal-thumbnail img{ display: block; }
div.personnal-item .personnal-title{ font-size: 24px; line-height: 1; margin: 25px 20px 3px;  }
div.personnal-item .personnal-content{ margin: 0px 20px; padding-bottom: 20px; }
div.personnal-item .personnal-social-info{ padding: 15px 20px; border-top-width: 1px; border-top-style: solid; }
div.personnal-item .personnal-social-info .shortcode-social-icon{ margin-right: 8px; }
div.personnal-item .personnal-social-info .shortcode-social-icon img{ max-width: 18px;  }

/*--- portfolio item ---*/
div.portfolio-item .portfolio-media-wrapper{ overflow: hidden; position: relative; }
div.portfolio-item .portfolio-media-wrapper img{ display: block; }
div.portfolio-item .portfolio-media-wrapper.gdl-slider .flex-control-nav{ display: none; }
div.portfolio-item .portfolio-context{ padding: 16px 40px 16px 0px; position: relative; text-align: left; }
div.portfolio-item .portfolio-title{ font-size: 17px; margin-bottom: 4px; text-transform: uppercase; position: relative; z-index: 2; }
div.portfolio-item .portfolio-tag{ font-style: italic; font-size: 13px; position: relative; z-index: 1; }
div.portfolio-item .portfolio-excerpt{ margin-top: 15px; margin-bottom: 0px; }
div.portfolio-item .portfolio-excerpt .port-continue-reading{ margin-top: 10px; display: block; text-align: right; }
div.portfolio-item .port-bottom-border{ height: 2px; position: absolute; left: 0px; right: 0px; bottom: 0px; }

a.view-all-projects{ float: right; line-height: 26px; }
div.portfolio-carousel-description-caption{ margin-top: 20px; margin-bottom: 25px; }

div.portfolio-carousel-wrapper{ overflow: hidden; text-align: center; }
div.portfolio-carousel-wrapper .portfolio-item{ float: left; }

div.portfolio-carousel-wrapper .port-nav-wrapper{ position: absolute; top: 0px; right: 10px; }

div.port-nav-wrapper a.view-all-projects{ float: left; display: block; font-size: 18px; line-height: 28px;
	margin: 0px 10px 0px 8px; }
div.single-portfolio .port-nav a,
div.portfolio-carousel-description .port-nav,
div.portfolio-carousel-wrapper .port-nav{ width: 28px; height: 28px; display: block;
	cursor: pointer; margin: 0px; float: left;
	background-size: 6px 11px; background-repeat: no-repeat; background-position: center;
	margin-right: 2px;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */}
div.portfolio-carousel-wrapper .port-nav.left{ margin-right: 2px; }

div.portfolio-filter-wrapper{ position: relative; margin-bottom: 45px; margin-top: 5px; }
div.portfolio-filter-wrapper div.port-current-bar{
	position: absolute; bottom: -1px; border-bottom-width: 2px; border-bottom-style: solid; }
div.no-header  div.portfolio-filter-header-divider{ height: 0px; overflow: hidden; position: relative; top: 9px;
	border-bottom-width: 1px; border-bottom-style: solid; }
div.no-header  ul.portfolio-item-filter{ margin-right: 15px; line-height: 18px; }


ul.portfolio-item-filter{ float: left; margin-left: 0px; list-style: none; overflow: hidden; padding-bottom: 3px; }
ul.portfolio-item-filter li{ float: left; padding-right: 5px; font-size: 20px; line-height: 1.2; }
ul.portfolio-item-filter li span{ margin: 0px 5px; }
ul.portfolio-item-filter li:first-child span{ display: none; }

div.portfolio-media-wrapper.gdl-image a.hover-wrapper{ display: block;
	position: absolute; width: 100%; height: 100%; 
	transition: none; -moz-transition: none; -o-transition: none; -webkit-transition: none;  }
div.portfolio-media-wrapper span.portfolio-thumbnail-image-hover{
	position: absolute; opacity: 0.75; filter: alpha(opacity=75); left: 0px; right: 0px; bottom: 0px; height: 0px; }
div.portfolio-media-wrapper span.hover-icon{ 
	top: 50%; left: 50%; margin-left: -18px; margin-top: -18px; width: 36px; height: 36px; display: none;
	position: absolute; }
div.portfolio-item .page-item-title{ font-size: 18px; margin-bottom: 0px; margin-top: 18px; }
div.portfolio-item .page-item-content{ margin-top: 10px;}

/*--- price item ---*/
div.price-table-wrapper{ margin: 20px 10px 0px; }
div.price-item-wrapper{ text-align: center; }
div.price-item-inner-wrapper{ margin: 0px 3px; border-style: solid; border-width: 1px; 
	 -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.08);
	 -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.08);
	 box-shadow: 0px 0px 8px rgba(0,0,0,0.08); }
div.price-item .price-title-wrapper{ padding-bottom: 5px; }
div.price-item .price-title{ font-size: 19px; padding: 6px 20px; text-transform: uppercase; }
div.price-item .price-tag{ font-size: 42px; line-height: 1; padding: 15px 20px; 
	background-image: url('images/price-active.png'); background-position: 0px 0px; background-repeat: repeat-x; font-weight: bold; } 
div.price-item .price-tag .price-suffix{ font-weight: normal;  font-size: 14px; margin-left: 5px; font-weight: bold; } 
div.price-item .price-content{ font-size: 13px; text-align: center; line-height: 1.5; padding-bottom: 25px; }
div.price-item .price-content ul li { text-align: left; }
div.price-item .price-button-wrapper{ margin-bottom: 10px; }
div.price-item .price-button{  font-size: 13px; display: inline-block; cursor: pointer; 
	padding: 4px 15px; border-width: 0px; border-style: solid; }
	
div.shortcode-price-list{ padding: 10px 20px 10px; 
	border-bottom-width: 1px; border-bottom-style: solid; }
div.shortcode-price-content{ padding: 25px 20px 25px; }

div.best-active{ margin-top: -25px; position: relative; z-index: 1; }
div.best-active .price-item { height: auto !important; }		
div.best-active .price-item .price-title{ font-size: 22px; border-width: 0px; }	
div.best-active .price-item .price-tag{ padding: 25px 20px; border-width: 0px; }	
div.best-active .price-item .price-tag .price-suffic{ font-size: 17px; }	
div.best-active .price-item .price-content{ padding-bottom: 25px; }	
div.best-active .price-item .price-button-wrapper{ margin-bottom: 30px; }	
div.best-active .price-item .price-button{ padding: 7px 18px; }

/*--- slider ---*/
div.gdl-slider-wrapper{ position: relative; background: #f2f2f2; }
div.gdl-slider-caption-wrapper{ position: absolute; right: 20px; left: 20px; bottom: 15px; }
div.gdl-slider-caption-wrapper.comment-on{ padding-right: 40px;  }
h2.gdl-slider-title{ font-size: 28px; display: inline; margin-bottom: 0px; margin-right: 10px; }
div.gdl-slider-caption{ font-size: 13px; display: inline; text-align: left; }
div.gdl-slider li{ padding: 0; }
div.post-slider-comment{ position: absolute; bottom: 0px; right: 15px; padding: 3px 10px; }

div.flexslider.carousel-included .gdl-slider-caption-wrapper { bottom: 5px; left: 10px; right: 10px; text-align: center; }
div.flexslider.carousel-included .gdl-slider-title{ font-size: 16px; margin-right: 0px; }
div.flexslider.carousel-included .gdl-slider-caption { display: none; }
div.flexslider.carousel-included .flex-caption { min-height: 55px;
	background: url(images/flex-slider/carousel-slider-caption-shadow.png) repeat-x 0px bottom; }
div.flexslider.carousel-included .gdl-caption-overlay{ background: #000; opacity: 0.5; filter: alpha(opacity=50);
	position: absolute; left: 0px; right: 0px; bottom: 0px; top: 0px; }
	
div.flexslider.carousel-included .flex-direction-nav li .flex-prev { left: 0px; height: 50px; margin-top: -23px; }
div.flexslider.carousel-included .flex-direction-nav li .flex-next { right: 0px; height: 50px; margin-top: -23px;  }

div.gdl-top-slider div.flexslider.carousel-included .flex-caption{
	background: url(images/flex-slider/carousel-slider-caption-shadow.png) repeat-x 0px bottom; }
div.gdl-top-slider div.flexslider.carousel-included .gdl-slider-caption-wrapper { 
	bottom: 15px; left: 10px; right: 10px; text-align: center; }
div.gdl-top-slider div.flexslider.carousel-included .gdl-slider-title{ 
	font-size: 18px; margin-right: 0px; display: block; }
div.gdl-top-slider div.flexslider.carousel-included .gdl-slider-caption { 
	text-align: center; }
div.gdl-top-slider div.flexslider.carousel-included .flex-direction-nav li .flex-prev { left: -10px; }
div.gdl-top-slider div.flexslider.carousel-included .flex-direction-nav li .flex-next { right: -10px; }

/*--- stunning text ---*/
div.stunning-text-wrapper{ text-align: left; position: relative; }
div.stunning-text-inner-wrapper{ padding: 24px 30px; }
div.stunning-text-wrapper .stunning-text-content{ overflow: hidden; }
div.stunning-text-wrapper .stunning-text-title{ font-size: 23px; margin-bottom: 8px; }
div.stunning-text-wrapper .stunning-text-caption{ font-size: 13px; }
	
div.stunning-text-wrapper.shadow-on{ background-repeat: no-repeat; background-position: 0px 5px;
	background-image: url('images/stunning-gradient.png'); }
div.stunning-text-wrapper.shadow-on .stunning-text-shadow{ height: 32px; 
	background: url('images/stunning-shadow.png') 0px no-repeat; }

/*--- tab ---*/
div.gdl-tab ul.gdl-tab-title{ zoom: 1; }
div.gdl-tab ul.gdl-tab-title:before, 
div.gdl-tab ul.gdl-tab-title:after{ content: '\0020'; display: block; 
	overflow: hidden; visibility: hidden; width: 0; height: 0; }
div.gdl-tab ul.gdl-tab-title:after{ clear: both; }
div.gdl-tab ul.gdl-tab-title{ margin: 0px; list-style: none; 
	border-bottom-width: 1px; border-bottom-style: solid; }
div.gdl-tab ul.gdl-tab-title li{ float: left; height: 34px; padding: 0; }
div.gdl-tab ul.gdl-tab-title li a{ padding: 0px 20px; cursor: pointer; height: 32px; line-height: 32px;
	display: block; font-weight: bold; 
	border-top-width: 1px; border-right-width: 1px; border-style: solid; }
div.gdl-tab ul.gdl-tab-title li a.active{ border-top-width: 2px; padding-bottom: 1px; }
div.gdl-tab ul.gdl-tab-title li:first-child a{ border-left-width: 1px; }

div.gdl-tab ul.gdl-tab-content{ margin: 0px; list-style: none; }
div.gdl-tab ul.gdl-tab-content{ padding: 20px; 
	border-width: 1px; border-style: solid; border-top: 0px; }
div.gdl-tab ul.gdl-tab-content li { padding: 0; }
div.gdl-tab ul.gdl-tab-content li{ display: none; }
div.gdl-tab ul.gdl-tab-content li li{ display: block; }
div.gdl-tab ul.gdl-tab-content li.active{ display: block; }
div.gdl-tab ul.gdl-tab-content ol li { display: list-item; }

/*--- testimonial ---*/
div.gdl-static-testimonial .testimonial-content{ padding: 5px 0px 5px 20px; font-size: 17px; font-style: italic; }
div.gdl-static-testimonial .testimonial-info{ text-align: left; margin-left: 25px; margin-top: 10px;}
div.gdl-static-testimonial .testimonial-author{ font-weight: bold; }
div.gdl-static-testimonial .testimonial-item{  border-left-width: 3px; border-left-style: solid; margin-bottom: 10px; padding-bottom: 10px; }

div.gdl-carousel-testimonial{ -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
div.gdl-carousel-testimonial .testimonial-item{ display: none;}
div.gdl-carousel-testimonial .testimonial-item:first-child{ display: block; }
div.gdl-carousel-testimonial .testimonial-content{ font-size: 17px; padding: 25px 20px 25px 28px; 
	font-style: italic; margin-bottom: 10px; border-width: 3px; border-style: solid; }
div.gdl-carousel-testimonial .testimonial-icon{ float: left; margin-right: 20px; margin-bottom: 1px; margin-top: 6px;
	width: 26px; height: 26px; background-size: 26px 26px; }
div.gdl-carousel-testimonial .testimonial-inner-content{ overflow: hidden; }
div.gdl-carousel-testimonial .testimonial-info{ font-size: 14px; padding-left: 75px; }
div.gdl-carousel-testimonial .testimonial-info .testimonial-author{ font-weight: bold; }
div.gdl-carousel-testimonial .testimonial-navigation{ position: absolute; right: 20px; top: -6px; z-index: 100; }
div.gdl-carousel-testimonial .testimonial-navigation a{ width: 28px; height: 28px; display: block;
	cursor: pointer; margin: 0px ; float: left;
	background-size: 6px 11px; background-repeat: no-repeat; background-position: center;
	
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */}
div.gdl-carousel-testimonial .testimonial-navigation a.testimonial-prev{ margin-right: 2px; }


div.gdl-carousel-testimonial.gdl-shortcode{ position: relative; }
div.gdl-carousel-testimonial.gdl-shortcode .testimonial-navigation{ right: 0px; top: -45px; }

/*--- toggle box ---*/
ul.gdl-toggle-box{ list-style: none; margin-left: 0px; }
ul.gdl-toggle-box li{ position: relative; margin-bottom: 12px; border-width: 3px; border-style: solid; } 
ul.gdl-toggle-box li:last-child{ margin-bottom: 0px; } 
ul.gdl-toggle-box li .toggle-box-title{ margin: 0px; padding: 7px 0px 7px 17px; font-size: 15px; cursor: pointer; background-position: 0px center; background-repeat: no-repeat; text-transform: uppercase; }
ul.gdl-toggle-box li .toggle-box-content{ padding: 5px 20px 15px 38px; }

ul.gdl-toggle-box li span.toggle-box-icon{ display: inline-block; margin-right: 12px; margin-bottom: 1px;
	width: 8px; height: 8px; background-size: 8px 8px; }

ul.gdl-toggle-box li ul{ margin-left: 30px; list-style: disc; }
ul.gdl-toggle-box li li{ background: none; margin: 0px; overflow: visible; }
	
/* #Shortcode
================================================== */

/*--- social counter ---*/
div.gdl-social-counter-title .custom-sidebar-title-wrapper{ margin-bottom: 0px; }
div.gdl-social-counter-widget{ padding: 15px 0px; }
div.gdl-social-counter-widget a.social-counter-widget {
    width: 80px; display: block; float: left; padding: 10px; text-align: center; }
    
div.gdl-social-counter-widget a.social-counter-widget.facebook { padding-left: 20px; padding-right: 0px; }
div.gdl-social-counter-widget a.social-counter-widget.rss { padding-left: 0px; padding-right: 20px; } 
div.gdl-social-counter-widget span.icon img { width: 47px; }
div.gdl-social-counter-widget span.icon{ display: block; margin-bottom: 5px; }
div.gdl-social-counter-widget span.count{ display: block; font-size: 18px; line-height: 20px; margin-bottom: 4px; }
div.gdl-social-counter-widget span.title{ display: block; font-size: 13px; }

/*--- banner widget---*/
.banner-widget1-1 { padding-top: 0px; }
.banner-widget1-2-wrapper { padding-top: 0px; }
div.custom-sidebar.widget_goodlayers-1-2-banner-widget{ margin-bottom: 0px; }
div.banner-widget1-2-wrapper .banner-widget1-2{ float: left; width: 130px; padding: 0px 10px;  }
div.banner-widget1-2-wrapper .banner-widget1-2 img{ display: block; }

/*--- progress bar ---*/
div.progress-bar-wrapper{ margin-bottom: 15px; }
div.progress-bar-wrapper .progress-bar{ font-size: 15px; line-height: 15px;
	background: url('images/progress-bar-shadow.png'); }
div.progress-bar-wrapper .progress-bar-inner{ padding: 12px 20px; }
div.progress-bar-wrapper .progress-bar span.title{ float: left; }
div.progress-bar-wrapper .progress-bar span.percent{ float: right; font-weight: bold; }

/*--- block quote ---*/
blockquote.left{ width: 33%; float: left;  }
blockquote.right{  width: 33%; float: right; }
blockquote.center{ text-align: center; margin: 10px 10px 20px 20px; }

/*--- code ---*/
.gdl-code{
	overflow: hidden; padding: 15px; border: 1px #e5e5e5 solid; clear: both; background: #ffffff; color: #2c2c2c;
	margin-bottom: 20px;  font-size: 13px;
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important; }

/*--- column ---*/
.shortcode1-4{ margin-right: 2%; float: left; margin-bottom: 20px; width: 23%;    }
.shortcode1-3{ margin-right: 2%; float: left; margin-bottom: 20px; width: 31.33%; }
.shortcode1-2{ margin-right: 2%; float: left; margin-bottom: 20px; width: 48%;    }
.shortcode2-3{ margin-right: 2%; float: left; margin-bottom: 20px; width: 64.66%; }
.shortcode3-4{ margin-right: 2%; float: left; margin-bottom: 20px; width: 73%;    }

.shortcode1-5{ margin-right: 2%; float: left; margin-bottom: 20px; width: 18%; }
.shortcode2-5{ margin-right: 2%; float: left; margin-bottom: 20px; width: 38%; }
.shortcode3-5{ margin-right: 2%; float: left; margin-bottom: 20px; width: 58%; }
.shortcode4-5{ margin-right: 2%; float: left; margin-bottom: 20px; width: 78%; }

.shortcode1-4.last{ margin-right: 0; width: 25%;    }
.shortcode1-3.last{ margin-right: 0; width: 33.33%; }
.shortcode1-2.last{ margin-right: 0; width: 50%;    }
.shortcode2-3.last{ margin-right: 0; width: 66.66%; }	
.shortcode3-4.last{ margin-right: 0; width: 75%;    }

.shortcode1-5.last{ margin-right: 0; width: 20%; }
.shortcode2-5.last{ margin-right: 0; width: 40%; }
.shortcode3-5.last{ margin-right: 0; width: 60%; }
.shortcode4-5.last{ margin-right: 0; width: 80%; }

.shortcode1-1{ width: 100%; }
	
/*--- drop cap ---*/
div.shortcode-dropcap{ margin-top: 2px; margin-bottom: 0px; margin-right: 7px; margin-left: 2px; float: left; font-size: 25px; font-size: 29px; 
	width: 32px; height: 32px; line-height: 30px; text-align: center; float: left; }
div.shortcode-dropcap.circle{ -moz-border-radius: 16px; -webkit-border-radius: 16px; border-radius: 16px; font-size: 18px; margin-right: 10px; }

/*--- gallery ---*/
div.gdl-gallery-image.shortcode{ margin-right: 20px; margin-bottom: 20px; float: left; }

/*--- list ---*/
ul.shortcode-list { list-style: none; margin-left: 0px; }	
ul.shortcode-list li{ line-height: 2.0; }	
ul.shortcode-list li span{ margin-right: 3px; }
ul.shortcode-list li  i{ margin-right: 8px; }

/* #Sidebar Widget 
================================================== */

/*--- Tab Widget ---*/
div.gdl-tab-widget-header-wrapper{ margin-bottom: 16px; border-bottom-width: 3px; border-bottom-style: solid; }
h4.gdl-tab-widget-header-item{ float: left; margin-bottom: 0px; display: block; }
h4.gdl-tab-widget-header-item a{ padding: 0px 14px; cursor: pointer; 
	display: block; font-size: 15px; 
	border-left-width: 1px; border-left-style: solid; }
h4.gdl-tab-widget-header-item:first-child a{ padding-left: 0px; border-left: 0px; margin-bottom: 8px; }
	
div.gdl-tab-widget-content-item{ display: none; }
div.gdl-tab-widget-content-item.active{ display: block; }

div.gdl-recent-comment-widget{ padding-top: 7px; }
div.recent-comment-widget{ margin-bottom: 15px; padding-bottom: 15px; 
	border-bottom-width: 1px; border-bottom-style: solid; }
div.recent-comment-widget:last-child{ margin-bottom: 0px; border-bottom: 0px; }
div.recent-comment-widget .recent-comment-widget-thumbnail{ float: left; margin-right: 13px; }
div.recent-comment-widget .recent-comment-widget-thumbnail img{ display: block; }
div.recent-comment-widget .recent-comment-widget-context{ overflow: hidden; }
div.recent-comment-widget .recent-comment-widget-title{ font-size: 18px; padding-top: 2px; margin-bottom: 7px; }
div.recent-comment-widget .recent-comment-widget-info{ font-size: 12px; font-weight: bold; }
div.recent-comment-widget .recent-comment-widget-date{ float: left; margin-right: 15px; 
	background-position: 0 center; background-repeat: no-repeat;} 

/*--- full post/port widget ---*/
div.gdl-full-post-widget, div.gdl-full-port-widget{ padding-top: 0px; }
div.full-post-widget{ margin-bottom: 20px; padding-bottom: 20px;
	border-bottom-width: 1px; border-bottom-style: solid; }
div.full-post-widget:last-child{ margin-bottom: 0px; border-bottom: 0px; }
div.full-post-widget .full-post-widget-thumbnail{ margin-bottom: 15px; position: relative; }
div.full-post-widget .full-post-widget-thumbnail img{ display: block; }
div.full-post-widget .full-post-widget-thumbnail .blog-comment{ position: absolute; right: 10px; bottom: 0px; padding: 2px 8px 3px; font-weight: bold; font-size: 11px; }
div.full-post-widget .full-post-widget-thumbnail .blog-comment i{ padding-right: 5px; font-size: 14px; }
div.full-post-widget .full-post-widget-title{ font-size: 18px; margin-bottom: 9px; }
div.full-post-widget .full-post-widget-excerpt{ margin-bottom: 12px; }
div.full-post-widget .full-post-widget-info{ font-size: 12px; font-weight: bold; }

/*--- recent post/port widget ---*/
div.gdl-recent-post-widget, div.gdl-recent-port-widget{ padding-top: 0px; }
div.recent-post-widget{ margin-bottom: 15px; padding-bottom: 15px;
	border-bottom-width: 1px; border-bottom-style: solid; }
div.recent-post-widget:last-child{ margin-bottom: 0px; border-bottom: 0px; }
div.recent-post-widget .recent-post-widget-thumbnail{ padding: 4px; float: left; margin-right: 13px; }
div.recent-post-widget .recent-post-widget-thumbnail img{ display: block; }
div.recent-post-widget .recent-post-widget-context{ overflow: hidden; }
div.recent-post-widget .recent-post-widget-title{ font-size: 18px; padding-top: 2px; margin-bottom: 7px; line-height: 1.3; }
div.recent-post-widget .recent-post-widget-info{ font-size: 12px; font-weight: bold; }

div.recent-port-widget .recent-port-widget-thumbnail{ padding: 4px; float: left; margin-right: 15px; margin-bottom: 15px; }
div.recent-port-widget .recent-port-widget-thumbnail img{ display: block; }
div.recent-port-widget.second-style .recent-port-widget-thumbnail img{ width: 65px; height: auto; }


div.footer-wrapper div.gdl-recent-post-widget, div.footer-wrapper div.gdl-recent-port-widget{ padding-top: 7px; }
div.footer-wrapper div.recent-post-widget .recent-post-widget-thumbnail,
div.footer-wrapper div.recent-port-widget .recent-port-widget-thumbnail{ padding: 3px; }
div.footer-wrapper div.custom-sidebar ul li { background-position: 0px 13px !important; }
div.footer-wrapper div.custom-sidebar .flickr-widget img, 
div.footer-wrapper div.recent-port-widget.second-style .recent-port-widget-thumbnail img { width: 78px; height: 78px; }

/*--- Recent Post Slider Widget ---*/
div.gdl-recent-post-slider-widget-wrapper{ position: relative; padding-top: 0px;}
div.gdl-recent-post-slider-widget .recent-post-slider-widget{ display: none; position: relative; overflow: hidden; }
div.gdl-recent-post-slider-widget .recent-post-slider-widget:first-child{ display: block; }
div.gdl-recent-post-slider-widget .recent-post-slider-thumbnail img{ display: block; }
div.gdl-recent-post-slider-widget .recent-post-slider-caption{ 
	position: absolute; bottom: 0px; right: 0px; left: 0px; min-height: 62px;
	background: url('images/flex-slider/post-slider-caption-shadow.png') repeat-x 0 bottom; }
div.gdl-recent-post-slider-widget .recent-post-slider-title{ color: #ffffff; margin-bottom: 0px; 
	font-size: 18px; position: absolute; left: 15px; right: 15px; bottom: 10px; text-align: center; }
div.gdl-recent-post-slider-widget .recent-post-slider-title a{ color: #ffffff; }

div.recent-post-slider-nav a{ width: 33px; height: 50px; position: absolute; top: 50%; margin-top: -25px; 
	z-index: 10; display: block; cursor: pointer;
	background: url('images/flex-slider/bg_direction_nav_custom.png') no-repeat 0 center;  }
div.recent-post-slider-nav a.prev{ left: 0px; }
div.recent-post-slider-nav a.next{ right: 0px; background-position: -33px center; }

/*--- flickr widget ---*/
div.flickr-widget .flickr_badge_image{ float: left; margin-right: 10px; margin-bottom: 10px; }
div.flickr-widget .flickr_badge_image img{ display: block; }

/*--- twitter widget ---*/
ul#twitter_update_list{ font-family: 'Droid Serif'; font-style: italic; list-style: none; margin-left: 0px;  }
ul#twitter_update_list li{ padding-left: 0px; background: none; padding-bottom: 9px; padding-top: 9px; border-bottom-width: 1px; border-bottom-style: solid; }
ul#twitter_update_list li:last-child{ border-bottom-width: 0px; }
ul#twitter_update_list li a { display: block; margin-top: 8px; }
ul#twitter_update_list li span a { display: inline-block; margin-top: 0px; margin-right: 6px; padding-left: 2px; }

/*--- rss widget ---*/
h3.custom-sidebar-title .rsswidget img{ margin-bottom: -1px; margin-right: 3px; }

/*--- personnal widget ---*/
div.gdl-personnal-widget{ display: inline-block; margin-top: 0px; }
div.personnal-widget-item{ display: none; }
div.personnal-widget-item:first-child{ display: block; }
div.personnal-widget-item .personnal-widget-thumbnail{ margin-bottom: 15px; }
div.personnal-widget-item .personnal-widget-thumbnail img{ display: block; }
div.personnal-widget-item .personnal-widget-info{  font-weight: bold; margin-bottom: 10px; }

div.personnal-widget-navigation{ position: absolute; right: 0px; top: 3px; z-index: 100; }
div.personnal-widget-navigation .personnal-widget-prev,
div.personnal-widget-navigation .personnal-widget-next{ width: 4px; height: 7px; padding: 3px 3px; margin-left: 1px; float: left;
	background-repeat: no-repeat; background-position: center center; cursor: pointer; }

/*--- search widget ---*/	
div.custom-sidebar .gdl-search-form{ padding-top: 6px; }
div.custom-sidebar #search-text{ margin-right: 22px; }
div.custom-sidebar #searchform{ position: relative; margin-bottom: 0; }
div.custom-sidebar #search-text input[type="text"]{ padding: 6px 5px; margin: 5px 5px; width: 100%; height: 18px; line-height: 18px; }
div.custom-sidebar #searchform br.clear{ display: none; }	
div.custom-sidebar #searchsubmit{ background-color: transparent; border: none; position: absolute; 
	width: 26px; height: 26px; padding: 0px; top: 8px; margin-top: 0px; right: 10px; }

div.footer-wrapper #search-text input[type="text"]{ margin: 0px; }
div.footer-wrapper #searchsubmit{ top: 2px; right: 15px; }
	
/*--- contact form ---*/	
div.sidebar-wrapper .contact-form-wrapper{ padding-top: 7px; }
div.sidebar-wrapper .contact-form-wrapper input{ height: 18px; line-height: 18px; }
div.sidebar-wrapper .contact-form-wrapper textarea{ height: 65px; }

div.footer-wrapper .contact-form-wrapper input{ margin: 5px 0px 0px; height: 18px; line-height: 18px;
	-webkit-box-shadow: none !important; box-shadow: none !important; } 
div.footer-wrapper .contact-form-wrapper textarea{ margin: 5px 0px 0px; height: 65px;
	-webkit-box-shadow: none !important; box-shadow: none !important; } 
div.footer-wrapper .contact-form-wrapper button{ background-image: none; border: none;}	

/*--- tag cloud ---*/
.tagcloud{ display: inline-block; margin-bottom: 13px; margin-top: 3px; }
.tagcloud a{
	font-size: 12px !important; display: block; float: left; padding: 5px 10px; margin-right: 7px;
	margin-bottom: 7px; border: 0px solid; border-color: inherit; font-weight: bold; }
.tagcloud a:hover{ opacity: 0.6; filter: alpha(opacity=60); }

div.footer-wrapper .tagcloud { margin-top:10px; }

/*--- sidebar list style ---*/
div.custom-sidebar ul{ list-style: none; margin-left: 0px; margin-top: -10px; }
div.custom-sidebar ul li{ padding: 7px 0px 7px 15px; background-position: 0px 12px !important; border-style: solid; border-bottom-width: 1px; }
div.custom-sidebar ul li:last-child{ border-bottom: 0; } 
div.custom-sidebar ul ul{ margin-top: 8px; border-top-width: 1px; border-top-style: solid; }
div.custom-sidebar ul ul li:last-child{ padding-bottom: 0px; }

div.custom-sidebar ul.gdl-accordion li { padding-left: 0px; background: none; }
div.custom-sidebar ul.gdl-toggle-box li { padding-left: 0px; background: none; }

div.footer-wrapper div.custom-sidebar ul{ margin-top: 0px; }
/*--- Calendar ---*/
#calendar_wrap{ border-color: inherit; padding-bottom: 10px;}
#wp-calendar{ width: 100%; border-color: inherit; border-width: 0px; }
#wp-calendar caption{ font-size: 13px; font-weight: bold; margin: 10px auto 15px; padding-bottom: 6px; border-bottom: 0px solid; border-color: inherit; }
#wp-calendar td{ padding: 4px; text-align: center; border-right: 0px; }
#wp-calendar th{ padding: 0px; text-align: center; border-right: 0px; border-bottom: 0px; background: transparent;  }

/*--- flickr widget ---*/
div.custom-sidebar .flickr-widget{ display: block; padding-bottom: 18px; padding-top: 12px; }
div.custom-sidebar .flickr-widget img{ width: 65px; height: 65px; }
div.custom-sidebar .flickr_badge_image{	margin: 0px 15px 15px 0px; float: left; padding: 4px; }
div.footer-wrapper .custom-sidebar .flickr_badge_image{ padding: 5px; }

/*--- Text Widget ---*/
div.textwidget{ padding-top: 0px; margin-top: -5px; }


/* #Plugin
================================================== */	

/*---Isotope---*/
.isotope-item { z-index: 2; }
.isotope-hidden.isotope-item { pointer-events: none; z-index: 1; }
.isotope,
.isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s; }
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width; }
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property:    -moz-transform, opacity;
	-ms-transition-property:     -ms-transform, opacity;
	-o-transition-property:         top, left, opacity;
	transition-property:         transform, opacity; }
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s; }

.navigation-wrapper .cufon[alt=" "] {
display: none !important;
}

/*--- Elements Shadow ---*/
div.personnal-item{ 
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1); 
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.1); 
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.1); }
	
/*--- Icon Shortcode ---*/
.gdl-icon-shortcode{ padding-right: 5px; }


/*--- Custom for icoon shotcode page---*/
.span3 ul { list-style: none; }
.span3 ul  { margin-left: 0px; }
.span3 ul li i { margin-right: 5px; line-height: 32px;  }
.span3 { width: 33%; float: left; }

/*--- Retina Images ---*/

div.page-header-wrapper input[type="submit"]{ background-image: url('images/icon/light/top-search.png');
	background-size: 13px 13px; background-repeat: no-repeat; background-position: center; background-color: transparent; }	
div.portfolio-media-wrapper span{ background-repeat: no-repeat; background-position: center; background-size: 36px 36px; }	
div.portfolio-media-wrapper span.hover-link{ background-image: url('images/image-overlay-link.png'); }
div.portfolio-media-wrapper span.hover-video{ background-image: url('images/image-overlay-video.png'); }
div.portfolio-media-wrapper span.hover-zoom{ background-image: url('images/image-overlay.png'); }
div.about-us-wrapper .about-us-button-wrapper.pdf-icon-on{ background-image: url('images/pdf-icon.png'); }
	
@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	div.page-header-wrapper input[type="submit"]{ background-image: url('images/icon/light/top-search.png@2x'); }
	div.portfolio-media-wrapper span.hover-link{ background-image: url('images/image-overlay-link@2x.png'); }
	div.portfolio-media-wrapper span.hover-video{ background-image: url('images/image-overlay-video@2x.png'); }
	div.portfolio-media-wrapper span.hover-zoom{ background-image: url('images/image-overlay@2x.png'); }	
	div.about-us-wrapper .about-us-button-wrapper.pdf-icon-on{ background-image: url('images/pdf-icon@2x.png'); }
}
