/*
	NOSCRIPT
-------------------------------------------------------------------------------------------------------------------------------------*/


nav ul li:hover ul ul, nav ul li:hover ul ul ul, nav ul li:hover ul ul ul ul{ display: none; }
nav ul li:hover ul, nav ul li li:hover ul, nav ul li li li:hover ul, nav ul li li li li:hover ul{ display: block; }
.pk_option_nav #pk_search_form{ width: auto; }
.pk_page {
	margin-top: 10px;
	-moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px;
}
.pk_call_to_action_content .pk_call_to_action_news ul{ margin-bottom: 20px; }
.pk_slider .pk_slider_content{ margin-bottom: 0; }
.pk_slider .pk_slider_item_info{ display: none; }
#myatu_bgm_top{ display: none; }