/*
	GLOBAL
-------------------------------------------------------------------------------------------------------------------------------------*/
body {
  color: #808489;
  background: #171717;
}
::selection {
  color: #171717;
  background: #ffcd21;
}
::-moz-selection {
  color: #171717;
  background: #ffcd21;
}
::-webkit-selection {
  color: #171717;
  background: #ffcd21;
}
/*
	TYPOGRAPHY 
-------------------------------------------------------------------------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6,
mark {
  color: #e4e9ea;
}
a,
a span {
  color: #ffcd21;
}
a:hover,
a:hover span {
  color: #ffd800;
}
ins,
abbr,
dfn {
  border-bottom: solid 1px #303132;
}
pre {
  background: #2c2d2e url('../images/back_grounds/dark/code_bg.png') repeat-y 0 0;
}
blockquote {
  color: #e4e9ea;
  background: url('../images/back_grounds/dark/quote_bg.png') no-repeat 0 0;
}
blockquote cite,
del,
dt {
  color: #686b6f;
}
mark,
fieldset,
select[multiple=multiple],
.pk_boxed pre,
.pk_boxed code {
  border: solid 1px #303132;
}
label {
  color: #808489;
}
input[type=submit],
button {
  color: #e4e9ea;
  background: url('../images/button_icons/dark/default_buttons.png') 0 -50px;
}
input[type=text],
input[type=password],
input[type=email],
input[type=file],
textarea {
  color: #808489;
  background-color: #1b1b1c;
}
.ie8 pre {
  border: solid 1px #303132;
}
.ie8 input,
.ie8 textarea {
  border: solid 1px #303132 !important;
}
/* Widgets Area */
#pk_widgets_area h1,
#pk_widgets_area h2,
#pk_widgets_area h3,
#pk_widgets_area h4,
#pk_widgets_area h5,
#pk_widgets_area h6 {
  color: #e4e9ea;
}
#pk_widgets_area a,
#pk_widgets_area a span {
  color: #ffcd21;
}
#pk_widgets_area a:hover,
#pk_widgets_area a:hover span {
  color: #ffd800;
}
#pk_widgets_area ins,
#pk_widgets_area abbr,
#pk_widgets_area dfn {
  border-bottom: solid 1px #29292a;
}
#pk_widgets_area pre {
  background: #202021 url('../images/back_grounds/dark/wa_code_bg.png') repeat-y 0 0;
}
#pk_widgets_area blockquote {
  color: #e4e9ea;
  background: url('../images/back_grounds/dark/wa_quote_bg.png') no-repeat 0 0;
}
#pk_widgets_area blockquote cite {
  color: #808489;
}
#pk_widgets_area del,
#pk_widgets_area dt {
  color: #686b6f;
}
#pk_widgets_area mark,
#pk_widgets_area fieldset,
#pk_widgets_area select[multiple=multiple] {
  border: solid 1px #29292a;
}
#pk_widgets_area label {
  color: #808489;
}
#pk_widgets_area input[type=text],
#pk_widgets_area input[type=password],
#pk_widgets_area input[type=email],
#pk_widgets_area textarea {
  color: #808489;
  background-color: #141415;
}
.ie8 #pk_widgets_area pre {
  border: solid 1px #29292a;
}
.ie8 #pk_widgets_area input,
.ie8 #pk_widgets_area textarea {
  border: solid 1px #29292a !important;
}
/*
	TABLES
-------------------------------------------------------------------------------------------------------------------------------------*/
table,
table caption {
  background-color: #2c2d2e;
}
table th {
  color: #e4e9ea;
  border-left: solid 1px #202122;
  border-right: solid 1px #202122;
  background-color: #4a4c4f;
}
table tr {
  border-top: solid 1px #202122;
  border-bottom: solid 1px #202122;
}
table td {
  border-left: solid 1px #202122;
  border-right: solid 1px #202122;
}
table tfoot td {
  background-color: #4a4c4f;
}
/*
	HEADER
-------------------------------------------------------------------------------------------------------------------------------------*/
.pk_header {
  color: #808489;
}
.pk_header .pk_right_info a {
  color: #94979b;
}
.pk_header .pk_right_info a:hover {
  color: #ffffff;
}
/*
	NAVIGATION
-------------------------------------------------------------------------------------------------------------------------------------*/
.pk_navigation_wrapper {
  background: #5c6066 url('../images/back_grounds/menu_light.png') repeat-x;
}
.pk_main_menu {
  border: solid 1px rgba(255, 255, 255, 0.12);
}
.pk_navigation_wrapper .pk_button_menu {
  color: #ffffff;
  background-color: #2d2e2f;
}
.pk_navigation_wrapper .pk_button_menu.pk_current {
  color: #d9dedf;
  background-color: #3f4144;
}
/* Top Level */
.pk_navigation_wrapper nav a {
  color: #d9dedf;
}
.pk_navigation_wrapper nav li:hover {
  background-color: #2d2e2f;
}
.pk_navigation_wrapper nav li:hover > a {
  color: #ffffff;
}
.pk_navigation_wrapper nav ul .current-menu-item > a,
.pk_navigation_wrapper nav ul .current-menu-ancestor > a {
  color: #ffffff;
  background-color: #2d2e2f;
}
/* Sub Levels */
.pk_navigation_wrapper nav ul ul {
  background-color: #2d2e2f;
}
.pk_navigation_wrapper nav ul ul li:hover {
  background: none;
}
.pk_navigation_wrapper nav ul ul a {
  color: #a7abb1;
}
.pk_navigation_wrapper nav ul ul a:hover {
  color: #d9dedf;
}
.pk_navigation_wrapper nav ul ul .current-menu-item > a,
.pk_navigation_wrapper nav ul ul .current-menu-ancestor > a {
  color: #a7abb1;
  background: none;
}
/* Option Nav */
.pk_option_nav {
  background: url('../images/back_grounds/dark/option_nav_bg.png');
}
.pk_option_item a span {
  color: #90949a;
}
.pk_option_item .pk_option_item_divider {
  background: url('../images/back_grounds/dark/option_nav_divider.png') repeat-x 0 0;
}
#pk_search_form input[type=text] {
  color: #808489;
  border-left: solid 1px #303132;
  background-color: #1a1a1b;
}
#pk_search_form #pk_search_submit {
  background: url('../images/button_icons/dark/option_nav_button_search.png') no-repeat 0 0;
}
.ie8 #pk_search_form input {
  border: none !important;
}
.pk_login {
  background: url('../images/button_icons/dark/option_nav_button_login.png') no-repeat 9px 0;
}
/*
	BREADCRUMBS - FEATURED - CALL TO ACTION
-------------------------------------------------------------------------------------------------------------------------------------*/
.breadcrumbs span {
  color: #686b6f;
}
.pk_featured_content,
#pk_featured_slider,
#pk_featured_text,
.pk_call_to_action {
  background-color: #212122;
}
.pk_featured_content,
#pk_featured_text {
  border-bottom: solid 1px #303132;
}
/*
	PAGE
-------------------------------------------------------------------------------------------------------------------------------------*/
.pk_page_top_shadow,
.pk_page {
  background-color: #212122;
}
.pk_right_sidebar #pk_sidebar {
  background: #212122 url('../images/shadows/dark/right_sidebar_middle_shadow.png') repeat-y 0 0;
}
.pk_right_sidebar #pk_sidebar_top_shadow {
  background: #212122 url('../images/shadows/dark/right_sidebar_top_shadow.png') no-repeat 0 0;
}
.pk_right_sidebar #pk_sidebar_bottom_shadow {
  background: #212122 url('../images/shadows/dark/right_sidebar_bottom_shadow.png') no-repeat 0 bottom;
}
.pk_left_sidebar #pk_sidebar {
  background: #212122 url('../images/shadows/dark/left_sidebar_middle_shadow.png') repeat-y right 0;
}
.pk_left_sidebar #pk_sidebar_top_shadow {
  background: #212122 url('../images/shadows/dark/left_sidebar_top_shadow.png') no-repeat 0 0;
}
.pk_left_sidebar #pk_sidebar_bottom_shadow {
  background: #212122 url('../images/shadows/dark/left_sidebar_bottom_shadow.png') no-repeat 0 bottom;
}
.pk_page #pk_widgets_area {
  color: #808489;
  background-color: #1a1a1b;
}
/*
	FOOTER
-------------------------------------------------------------------------------------------------------------------------------------*/
.pk_footer {
  border-top: solid 1px #29292a;
  background-color: #1a1a1b;
}
.pk_footer_menu,
.pk_footer_menu a,
.pk_copyright {
  color: #575a5d;
}
.pk_footer_menu a:hover {
  color: #808489;
}
.pk_footer_menu .pk_button_top {
  background: url('../images/button_icons/dark/top_button_icon.png') no-repeat right 6px;
}
.pk_footer_sn {
  border-right: solid 1px #575a5d;
}
/*
	HOMEPAGES
-------------------------------------------------------------------------------------------------------------------------------------*/
.pk_business_tabs .pk_tabs_navigation {
  background-color: #1a1a1b;
}
.pk_business_tabs .pk_tabs_navigation ul li {
  border-left: solid 1px #1a1a1b;
  border-bottom: solid 1px #1a1a1b;
  background-color: #1d1d1e;
}
.pk_business_tabs .pk_tabs_navigation ul li a {
  color: #808489;
}
.pk_business_tabs .pk_tabs_navigation ul li.pk_active_tab {
  background: #212122 url('../images/back_grounds/dark/business_home_selected_tab_bg.png') no-repeat center 65px;
}
.pk_business_tabs .pk_tabs_navigation ul li.pk_active_tab a {
  color: #4c4e51;
}
.pk_business_tabs .pk_tabs {
  border-bottom: solid 1px #303132;
}
.pk_business_home #pk_home_business_featured_image {
  border-top: solid 1px #303132;
}
/*
	ENTRIES
-------------------------------------------------------------------------------------------------------------------------------------*/
.pk_boxed {
  color: #808489;
  background-color: #2c2d2e;
}
.pk_boxed .pk_entry_content form input[type=password] {
  color: #808489;
  background-color: #212122;
}
.pk_boxed p.icl_post_in_other_langs {
  border: solid 1px #202122;
  background-color: #212122;
}
#pk_widgets_area .pk_boxed {
  background-color: #202021;
}
/* Entry Product */
.pk_entry_product header {
  border-top: solid 1px #202122;
  border-bottom: solid 1px #202122;
}
.pk_entry_product header .pk_entry_price {
  color: #ffffff;
}
#pk_featured_products .pk_entry_product footer {
  border-top: solid 1px #202122;
}
/* Entry Blog */
.pk_entry_blog .pk_entry_meta {
  border-bottom: solid 1px #202122;
}
.pk_entry_blog .pk_entry_meta li {
  border-left: solid 1px #202122;
}
.pk_entry_blog .pk_entry_meta li.pk_comments_count a {
  background: url('../images/back_grounds/dark/comments_icon.png') no-repeat 0 0;
}
.pk_entry_standard .pk_entry_content {
  background: url('../images/post_format_icons/dark/standard.png') no-repeat 15px 19px;
}
.pk_entry_aside .pk_entry_content {
  background: url('../images/post_format_icons/dark/aside.png') no-repeat 15px 15px;
}
.pk_entry_video .pk_entry_content {
  background: url('../images/post_format_icons/dark/video.png') no-repeat 15px 20px;
}
.pk_entry_audio .pk_entry_content {
  background: url('../images/post_format_icons/dark/audio.png') no-repeat 15px 22px;
}
.pk_entry_image .pk_entry_content {
  background: url('../images/post_format_icons/dark/image.png') no-repeat 15px 22px;
}
.pk_entry_gallery .pk_entry_content {
  background: url('../images/post_format_icons/dark/gallery.png') no-repeat 15px 21px;
}
.pk_entry_gallery .pk_slider {
  border-bottom: solid 1px #202122;
}
.pk_entry_quote .pk_quote {
  border-bottom: solid 1px #202122;
  background: url('../images/post_format_icons/dark/quote.png') no-repeat 15px 18px;
}
.pk_entry_link .pk_entry_content {
  background: url('../images/post_format_icons/dark/link.png') no-repeat 15px 18px;
}
.pk_entry_chat .pk_entry_content {
  background: url('../images/post_format_icons/dark/chat.png') no-repeat 15px 20px;
}
.pk_entry_status .pk_entry_content {
  background: url('../images/post_format_icons/dark/status.png') no-repeat 15px 15px;
}
/*
	COMMENTS
-------------------------------------------------------------------------------------------------------------------------------------*/
.pk_comments .pk_comments_rss {
  background: url('../images/back_grounds/dark/feed_icon.png') no-repeat center center;
}
.pk_comments .pk_message {
  background-color: #2c2d2e;
}
.bypostauthor > .pk_message .pk_gravatar {
  border: solid 3px #ffcd21;
  background-color: #ffcd21;
}
.pk_comments .pk_message .pk_comment_meta {
  border-left: solid 1px #202122;
}
.pk_comments .pk_message .pk_comment_meta p.pk_comment_author {
  color: #e4e9ea;
}
.pk_comments .pk_message .pk_comment_meta p.pk_comment_date span {
  color: #686b6f;
}
.nocomments {
  background-color: #2c2d2e;
}
#respond h3 small a {
  border-left: solid 1px #303132;
}
.required {
  color: #ffcd21;
}
/*
	CATEGORIES FILTER
-------------------------------------------------------------------------------------------------------------------------------------*/
.pk_categories_filter li {
  border-left: solid 1px #303132;
}
.pk_categories_filter a.pk_current_category {
  color: #686b6f;
}
/*
	PAGINATION
-------------------------------------------------------------------------------------------------------------------------------------*/
.pk_pagination a {
  color: #808489;
  background-color: #2c2d2e;
}
.pk_pagination a:hover,
.pk_posts_link_pages a:hover {
  color: #e4e9ea;
}
.pk_pagination .pk_current_page,
.pk_pagination .pk_current_page:hover {
  color: #e4e9ea;
  background-color: #212122;
}
.pk_posts_link_pages p {
  color: #686b6f;
  background-color: #2c2d2e;
}
.pk_previous_post_links a {
  background: url('../images/button_icons/dark/prev_post_button_icon.png') no-repeat 0 center;
}
.pk_next_post_links a {
  background: url('../images/button_icons/dark/next_post_button_icon.png') no-repeat right center;
}
/*
	WP GALLERY - WP CAPTION
-------------------------------------------------------------------------------------------------------------------------------------*/
.pk_entry_attachment {
  border: solid 1px #303132;
  background-color: #4a4c4f;
}
.pk_attachment_caption p {
  border: solid 1px #303132;
  background-color: #4a4c4f;
}
.pk_prev_atachment a,
.pk_next_atachment a,
.pk_prev_atachment a:hover,
.pk_next_atachment a:hover {
  color: #e4e9ea;
}
.wp-caption {
  border: solid 1px #303132;
}
.wp-caption-text {
  color: #686b6f;
}
.pk_entry_single .wp-caption {
  border: solid 1px #202122;
}
/*
	SLIDERS
-------------------------------------------------------------------------------------------------------------------------------------*/
.pk_content_slider .pk_slider_thumbs .pk_slider_navigation_button {
  background: url('../images/button_icons/dark/sliders_buttons.png') no-repeat -120px 0;
}
.pk_content_slider .pk_slider_thumbs .pk_slider_navigation_button.pk_selected_button {
  background-position: -132px 0;
}
.pk_content_slider .pk_button_prev {
  background: url('../images/button_icons/dark/sliders_buttons.png') no-repeat 0 center;
}
.pk_content_slider .pk_button_next {
  background: url('../images/button_icons/dark/sliders_buttons.png') no-repeat -60px center;
}
.pk_content_slider .pk_overlay {
  background-color: #080808;
}
.pk_content_slider .pk_loader {
  background: #212122 url('../images/back_grounds/dark/sliders_loader.gif') no-repeat center center;
}
.pk_slider,
.pk_slider .pk_slider_content {
  background-color: #2c2d2e;
}
.pk_slider .pk_button_prev {
  background: url('../images/button_icons/dark/sliders_buttons.png') no-repeat 0 center;
}
.pk_slider .pk_button_next {
  background: url('../images/button_icons/dark/sliders_buttons.png') no-repeat -60px center;
}
.pk_slider .pk_slider_thumbs .pk_slider_navigation_button {
  background: url('../images/button_icons/dark/sliders_buttons.png') no-repeat -120px -12px;
}
.pk_slider .pk_slider_thumbs .pk_slider_navigation_button.pk_selected_button {
  background-position: -132px -12px;
}
.pk_slider .pk_button_slideshow {
  background: url('../images/button_icons/dark/sliders_buttons.png') no-repeat -144px -12px;
}
.pk_slider .pk_button_slideshow.pk_paused {
  background-position: -156px -12px;
}
.pk_slider .pk_slider_info_button {
  color: #808489;
}
.pk_slider .pk_slider_item_info_content {
  color: #d9dedf;
}
.pk_slider .pk_slider_item_info_background {
  background-color: #080808;
}
.pk_slider .pk_loader {
  background: #212122 url('../images/back_grounds/dark/sliders_loader.gif') no-repeat center center;
}
/*
	IMAGES - VIDEOS
-------------------------------------------------------------------------------------------------------------------------------------*/
.pk_image_wrapper,
.pk_video_wrapper {
  background-color: #2c2d2e;
}
.pk_video video,
.pk_video object,
.pk_video embed,
.pk_video iframe {
  background-color: #000;
}
#pk_widgets_area .pk_image_wrapper,
#pk_widgets_area .pk_video_wrapper {
  background-color: #1a1a1b;
}
.pk_zoom_icon .pk_image_button_icon {
  background: url('../images/image_icons/dark/zoom_icon.png') no-repeat center center;
}
.pk_play_icon .pk_image_button_icon {
  background: url('../images/image_icons/dark/play_icon.png') no-repeat center center;
}
.pk_page_icon .pk_image_button_icon {
  background: url('../images/image_icons/dark/page_icon.png') no-repeat center center;
}
.pk_link_icon .pk_image_button_icon {
  background: url('../images/image_icons/dark/link_icon.png') no-repeat center center;
}
/*
	FORMS
-------------------------------------------------------------------------------------------------------------------------------------*/
.wpcf7 .wpcf7-mail-sent-ok {
  color: #44802a;
  border: solid 1px #c9f0b8;
  background-color: #c9f0b8;
}
.wpcf7 .wpcf7-mail-sent-ng {
  color: #af3017;
  border: solid 1px #f1bbb0;
  background-color: #f1bbb0;
}
.wpcf7 .wpcf7-spam-blocked {
  color: #705213;
  border: solid 1px #ffd987;
  background-color: #ffd987;
}
.wpcf7 .wpcf7-validation-errors {
  color: #af3017;
  background-color: #f1bbb0;
}
/* Login / Register (ahate form box) */
.pk_form_box {
  background-color: #2c2d2e;
}
.pk_button_close {
  background: url('../images/button_icons/dark/close_button_icon.png') no-repeat 0 0;
}
.pk_form_box_back_ground {
  background-color: #080808;
}
.pk_user_form {
  background-color: #222324;
}
.pk_user_form form {
  border-bottom: solid 1px #303132;
  background-color: #2c2d2e;
}
.pk_user_form input[type=text],
.pk_user_form input[type=email],
.pk_user_form input[type=password] {
  color: #808489;
  background-color: #212122;
}
.pk_user_form p#reg_passmail,
.pk_user_form p.message {
  color: #808489;
}
.pk_user_form p.register {
  color: #e4e9ea;
}
.pk_user_form #registerform {
  border-top: solid 1px #303132;
}
/*
	JPLAYER
-------------------------------------------------------------------------------------------------------------------------------------*/
.jp-video .jp-jplayer {
  background-color: #000;
}
.jp-interface {
  background: url('../images/jplayer/dark/controls_bg.png') repeat-x 0 0;
}
a.jp-play {
  background: url('../images/jplayer/dark/button_icons.png') no-repeat 0 0;
}
a.jp-pause {
  background: url('../images/jplayer/dark/button_icons.png') no-repeat -35px 0;
}
.separator {
  background: url('../images/jplayer/dark/separator.png') no-repeat 0 0;
}
.jp-progress,
.jp-volume-bar {
  background: #101011;
}
.jp-seeking-bg {
  background: #111112;
}
.jp-play-bar {
  background: url('../images/jplayer/dark/bar_bg.png') repeat-x 0 0;
}
.jp-current-time,
.time-sep,
.jp-duration {
  color: #686b6f;
}
.jp-mute {
  background: url('../images/jplayer/dark/button_icons.png') no-repeat -70px 0;
}
a.jp-unmute {
  background: url('../images/jplayer/dark/button_icons.png') no-repeat -105px 0;
}
.jp-volume-bar-value {
  background: url('../images/jplayer/dark/bar_bg.png') repeat-x 0 0;
}
.jp-full-screen {
  background: url('../images/jplayer/dark/button_icons.png') no-repeat -140px 0;
}
.jp-restore-screen {
  background: url('../images/jplayer/dark/button_icons.png') no-repeat -175px 0;
}
.jp-no-solution {
  color: #43412a;
  background-color: #fff4c0;
}
/*
	PRETTYPHOTO
-------------------------------------------------------------------------------------------------------------------------------------*/
.pp_content {
  background: #222324 !important;
}
.pp_overlay {
  background: #080808 !important;
}
/*
	DEFAULT BUTTONS
-------------------------------------------------------------------------------------------------------------------------------------*/
.pk_button_read_more {
  background: url('../images/button_icons/dark/read_more_button_icon.png') no-repeat 0 center;
}
.pk_point_button {
  background: url('../images/button_icons/snap_point_buttons.png') no-repeat 0 0;
}
.pk_tooltip .pk_tooltip_content {
  background-color: #2c2d2e;
}
.pk_tooltip .pk_tooltip_arrow {
  background: url('../images/back_grounds/dark/tooltip_arrow.png') no-repeat 0 0;
}
/*
	JIGOSHOP - WOOCOMMERCE
-------------------------------------------------------------------------------------------------------------------------------------*/
.info,
p.demo_store {
  color: #43412a;
  background-color: #fff4c0;
}
.info a,
.info a:hover,
.info a.button,
.info a.button:hover {
  color: #43412a !important;
}
.jigoshop_error,
.woocommerce_error {
  /* WooCommerce */

  color: #af3017;
  background-color: #f1bbb0;
}
.jigoshop_error a,
.jigoshop_error a:hover,
.jigoshop_error a.button,
.jigoshop_error a.button:hover,
.woocommerce_error a,
.woocommerce_error a:hover,
.woocommerce_error a.button,
.woocommerce_error a.button:hover {
  /* WooCommerce */

  color: #af3017 !important;
}
.jigoshop_message,
.woocommerce_message {
  /* WooCommerce */

  color: #44802a;
  background-color: #c9f0b8;
}
.jigoshop_message a,
.jigoshop_message a:hover,
.jigoshop_message a.button,
.jigoshop_message a.button:hover,
.woocommerce_message a,
.woocommerce_message a:hover,
.woocommerce_message a.button,
.woocommerce_message a.button:hover {
  /* WooCommerce */

  color: #44802a !important;
}
p small,
small.note {
  color: #686b6f;
}
.products li,
.product .images,
.product .summary,
table.shop_table,
.cart-collaterals,
form.login,
.checkout #customer_details,
#payment,
.order_details,
.addresses,
.jigoshop-myaccount dl,
.woocommerce-account dl,
.woocommerce-thankyou dl {
  /* WooCommerce */

  background-color: #2c2d2e;
}
.products li {
  background-image: url('../images/ecommerce/dark/grid_product_box_bg.png');
  background-position: 0 bottom;
  background-repeat: repeat-x;
}
.products li a h3 {
  color: #ffcd21;
}
/* WooCommerce */
.products li a:hover h3 {
  color: #ffd800;
}
/* WooCommerce */
.products li a img {
  border-bottom: solid 1px #202122;
}
.products li .price,
.products li .price ins span,
.products li .price .amount {
  color: #ffffff;
}
.pk_ordering span.pk_select {
  background: #2c2d2e url('../images/ecommerce/dark/products_ordering_arrow_down.png') no-repeat right center;
}
.products li .price del,
.products li .price .from,
.products li .price del .amount,
.pk_entry_product del,
.pk_entry_product .from {
  color: #686b6f;
}
.products li mark.count {
  /* WooCommerce */

  color: #808489;
  background-color: #212122;
}
.product .images .thumbnails {
  border-bottom: solid 1px #202122;
}
.product p.price {
  color: #171717;
  background-color: #ffcd21;
}
.product p.price del,
.product p.price .from {
  color: #9f8425;
}
.onsale,
.products li a:hover .onsale {
  color: #171717;
  background-color: #ffcd21;
}
.stock {
  color: #ffcd21;
}
.out-of-stock,
.products li .nostock,
#pk_latest_products .pk_entry_product .nostock {
  color: #ea6515;
}
form.cart table td,
form.variations_form fieldset.variations div {
  border-top: solid 1px #202122;
  border-bottom: solid 1px #202122;
}
form.variations_form .reset_variations {
  /* WooCommerce */

  border-top: solid 1px #202122;
}
form.variations_form .single_variation {
  /* WooCommerce */

  border-bottom: solid 1px #202122;
}
form.variations_form .single_variation .price {
  /* WooCommerce */

  color: #ffffff;
}
/* Product Page Navigation */
.navigation .nav-previous a,
.navigation .nav-next a {
  color: #808489;
}
.navigation .nav-previous a:hover,
.navigation .nav-next a:hover {
  color: #e4e9ea;
}
/* Product Page Tabs */
#tabs,
.woocommerce_tabs {
  background-color: #5c6066;
  background-image: url('../images/back_grounds/menu_light.png');
  background-repeat: repeat-x;
}
#tabs ul.tabs,
.woocommerce_tabs ul.tabs {
  border: solid 1px rgba(255, 255, 255, 0.12);
}
#tabs ul.tabs a,
.woocommerce_tabs ul.tabs a {
  color: #d9dedf;
}
#tabs ul.tabs li.active,
#tabs ul.tabs li:hover,
.woocommerce_tabs ul.tabs li.active,
.woocommerce_tabs ul.tabs li:hover {
  background-color: #2d2e2f;
}
#tabs ul.tabs li:hover a,
#tabs ul.tabs li.active a,
.woocommerce_tabs ul.tabs li:hover a,
.woocommerce_tabs ul.tabs li.active a {
  color: #ffffff;
}
#tabs .panel,
.woocommerce_tabs .panel {
  background-color: #2c2d2e;
}
#tabs #tab-customize form input[type=text],
.woocommerce_tabs #tab-customize form input[type=text] {
  color: #808489;
  background-color: #212122;
}
/* Buttons */
a.button,
button.button,
input[type=submit].button,
.button-alt,
.button.alt,
input[type=submit].button-alt,
input[type=submit].button.alt,
#review_form #submit,
.jigoshop_login_widget input[type=submit],
.widget_login input[type=submit] {
  color: #e4e9ea !important;
  background: url('../images/button_icons/dark/default_buttons.png') 0 -50px;
}
a.button:hover,
button.button:hover,
input[type=submit].button:hover,
.button-alt:hover,
input[type=submit].button-alt:hover,
#review_form #submit:hover,
.jigoshop_login_widget input[type=submit]:hover,
.widget_login input[type=submit]:hover {
  color: #e4e9ea !important;
}
.products li a.button,
.pk_entry_product a.button {
  background: url('../images/button_icons/dark/default_buttons.png') 0 0;
}
td.actions .button-alt,
td.actions .button.alt,
#place_order {
  color: #171717 !important;
  background: url('../images/ecommerce/dark/button_check_out.png') 0 0;
}
td.actions .coupon input[type=submit].button {
  color: #e4e9ea;
  background: url('../images/button_icons/dark/default_buttons.png') 0 0;
}
table.my_account_orders a.button {
  color: #ffcd21 !important;
}
table.my_account_orders a.button:hover {
  color: #ffd800 !important;
}
/* Reviews / Rating */
#reviews h2 small,
#reviews h2 small a,
#reviews #comments ol.commentlist li .comment-text p.meta {
  color: #686b6f;
}
#reviews #comments ol.commentlist li,
#review_form {
  border-top: 1px solid #202122;
}
#review_form #respond h3 small a {
  border-left: solid 1px #202122;
}
#review_form #respond input[type=text],
#review_form #respond textarea {
  color: #808489;
  background-color: #212122;
}
.star-rating {
  background: url('../images/ecommerce/star.png') repeat-x left 0;
}
.star-rating span {
  background: url('../images/ecommerce/star.png') repeat-x left -32px;
}
p.stars span {
  background: url('../images/ecommerce/star.png') repeat-x left 0;
}
p.stars span a:hover,
p.stars span a:focus {
  background: url('../images/ecommerce/star.png') repeat-x left -16px;
}
p.stars span a.active {
  background: url('../images/ecommerce/star.png') repeat-x left -32px;
}
/* Tables */
table.shop_table tr {
  border-top: solid 1px #202122;
  border-bottom: solid 1px #202122;
}
.jigoshop-myaccount table.shop_table tfoot strong,
#order_review table.shop_table tfoot strong,
.woocommerce-account table.shop_table tfoot .amount,
.woocommerce-thankyou table.shop_table tfoot .amount {
  color: #e4e9ea;
}
/* Cart */
a.remove {
  background: #686b6f url('../images/ecommerce/dark/button_remove.png') no-repeat 0 0;
}
a.remove:hover {
  background-color: #808489;
}
td.actions .coupon input.input-text,
.quantity,
.quantity input.qty {
  color: #808489;
  background-color: #212122;
}
.quantity input.plus,
.quantity input.minus {
  background: url('../images/ecommerce/dark/buttons_quantity.png') no-repeat 0 0;
}
.quantity input.minus {
  background-position: 0 -19px;
}
.ie8 .quantity {
  border: solid 1px #202122;
}
.cart-collaterals .cart_totals table th,
.cart-collaterals .cart_totals table td {
  border-top: solid 1px #202122;
  border-bottom: solid 1px #202122;
}
.cart-collaterals .cart_totals tr th {
  border-right: solid 1px #202122;
}
.cart-collaterals .cart_totals tr td.cart-row-total,
.cart-collaterals .cart_totals tr.total td {
  color: #e4e9ea;
}
.cart-collaterals .cart_totals table small {
  color: #686b6f;
}
.cart-collaterals .cart_totals .discount td {
  color: #ffcd21;
}
.cart-collaterals .shipping_calculator h2 span {
  background: url('../images/ecommerce/dark/calculate_shipping_icon.png') no-repeat 0 0;
}
.cart-collaterals .shipping_calculator .col2-set input[type=text],
.cart-collaterals .shipping_calculator .form-row input[type=text] {
  color: #808489;
  background-color: #212122;
}
/* Login */
form.login input[type=text],
form.login input[type=password] {
  color: #808489;
  background-color: #212122;
}
/* Checkout */
.checkout .form-row input[type=text],
.checkout .col-2 .notes textarea {
  color: #808489;
  background-color: #212122;
}
#payment ul.payment_methods {
  border-bottom: solid 1px #202122;
}
#payment .payment_box {
  border: 1px solid #202122;
  background: #212122;
}
/* Account - Order Page (Thankyou Page) */
.addresses .title,
.order_details li {
  border-bottom: solid 1px #202122;
}
.jigoshop-myaccount dl dt,
.order_details li strong,
.woocommerce-account dl dt,
.woocommerce-thankyou dl dt {
  /* WooCommerce */

  color: #e4e9ea;
}
.country_select a span {
  /* WooCommerce */

  color: #808489;
}
/*
	BBPRESS
-------------------------------------------------------------------------------------------------------------------------------------*/
#bbpress-forums ul.even, #bbpress-forums div.even { background: rgba(0, 0, 0, 0.12); }
#bbpress-forums ul.odd, #bbpress-forums div.odd {  }
#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-topics,
#bbpress-forums ul.bbp-replies,
#bbpress-forums ul.bbp-lead-topic,
#bbpress-forums .bbp-topic-tags p,
.bbp-single-reply,
fieldset.bbp-form code,
#bbpress-forums #entry-author-info,
#bbp-your-profile fieldset.bbp-form,
#bbpress-forums .bbp-template-notice {
	background-color: #2c2d2e;
}

#bbpress-forums .bbp-forums .bbp-header,
#bbpress-forums .bbp-topics .bbp-header,
#bbpress-forums .bbp-replies .bbp-header {
    color: #d9dedf;
    background: #5c6066 url('../images/back_grounds/menu_light.png') repeat-x;
}
#bbpress-forums .bbp-forums .bbp-header ul.forum-titles,
#bbpress-forums .bbp-topics .bbp-header ul.forum-titles,
#bbpress-forums .bbp-replies .bbp-header .bbp-reply-author,
#bbpress-forums .bbp-replies .bbp-header .bbp-reply-content {
	border: solid 1px rgba(255, 255, 255, 0.12);
}
#bbpress-forums .bbp-forums .bbp-body ul.forum,
#bbpress-forums .bbp-forums .bbp-body ul.topic,
#bbpress-forums .bbp-forums .bbp-footer,
#bbpress-forums .bbp-topics .bbp-body ul.forum,
#bbpress-forums .bbp-topics .bbp-body ul.topic,
#bbpress-forums .bbp-topics .bbp-footer,
#bbpress-forums .bbp-replies .bbp-body ul.forum,
#bbpress-forums .bbp-replies .bbp-body ul.topic,
#bbpress-forums .bbp-replies .bbp-footer {
	border-top: 1px solid #202122;
}
#bbpress-forums .bbp-forums .bbp-forums-list li,
#bbpress-forums .bbp-replies .bbp-body .bbp-reply-content .bbp-reply-revision-log li,
.bbp-single-reply .bbp-reply-content .bbp-reply-revision-log li {
	background: url('../images/back_grounds/dark/widgets_list_icon.png') no-repeat 0 8px;
}
#bbpress-forums .bbp-replies .bbp-body .bbp-reply-content .bbp-reply-revision-log li,
.bbp-single-reply .bbp-reply-content .bbp-reply-revision-log li {
	background-position: 0 7px;
}
#bbpress-forums .bbp-topics .bbp-topic-action #subscription-toggle span.is-subscribed a,
#bbpress-forums .bbp-topics .bbp-topic-action #favorite-toggle span.is-favorite a {
	color: #af3017;
	background-color: #f1bbb0;
}
#bbpress-forums .bbp-replies .bbp-header .bbp-reply-content span#subscription-toggle a,
#bbpress-forums .bbp-replies .bbp-header .bbp-reply-content span#favorite-toggle a {
	color: #d9dedf;
}
#bbpress-forums .bbp-replies .bbp-body .bbp-reply-header,
.bbp-single-reply .bbp-reply-header {
	border-top: 1px solid #202122;
    border-bottom: 1px solid #202122;
	background-color: rgba(0, 0, 0, 0.15);
}
#bbpress-forums .bbp-replies .bbp-body .bbp-reply-content .bbp-reply-revision-log,
.bbp-single-reply .bbp-reply-content .bbp-reply-revision-log {
	color: #686b6f;
	border-top: 1px solid #202122;
}
/* Status */
#bbpress-forums .bbp-topics-front ul.super-sticky,
#bbpress-forums .bbp-topics ul.super-sticky {
	background-color: #1a1a1b !important;
}
#bbpress-forums .bbp-topics ul.sticky,
#bbpress-forums .bbp-forum-content ul.sticky {
	background-color: #242425 !important;
}
#bbpress-forums .bbp-forum-status-closed .bbp-forum-title {
	background: url('../images/forum/dark/close_icon.png') no-repeat 0 1px;
}
#bbpress-forums .status-closed .bbp-topic-permalink {
	background: url('../images/forum/dark/close_icon.png') no-repeat 0 1px;
}
#bbpress-forums .status-spam .bbp-topic-permalink {
	background: url('../images/forum/dark/spam_icon.png') no-repeat 0 1px;
}
#bbpress-forums .status-trash .bbp-topic-permalink {
	background: url('../images/forum/dark/trash_icon.png') no-repeat 0 1px;
}
/* Forms */
fieldset.bbp-form legend {
	color: #e4e9ea;
}
fieldset.bbp-form .bbp-admin-links {
	border-top: 1px solid #303132;
    border-bottom: 1px solid #303132;
}
.bbp-login-form .bbp-template-notice {
    color: #808489;
    background-color: #212122 !important;
}
/* Pagination */
.bbp-pagination {
	color: #686b6f;
}
.bbp-topic-pagination a {
	color: #808489;
	background-color: #212122;
}
/* User Profile Page */
#bbp-author-subscriptions,
#bbp-author-favorites,
#bbp-author-topics-started {
	border-top: 1px solid #303132;
}
/* Edit User Page */

#bbp-your-profile fieldset.bbp-form input,
#bbp-your-profile fieldset.bbp-form textarea,
#bbp-your-profile fieldset.bbp-form #pass-strength-result {
	color: #808489;
    background-color: #212122;
}
#bbp-your-profile fieldset.bbp-form span.description {
	color: #686b6f;
}
#bbp-your-profile fieldset.bbp-form #pass-strength-result {
	color: #e4e9ea;
}
/* Notices */
#bbpress-forums .bbp-template-notice.info {
	color: #43412a;
	background-color: #fff4c0;
}
#bbpress-forums .bbp-template-notice.info a,
#bbpress-forums .bbp-template-notice.info a:hover {
	color: #43412a;
}
#bbpress-forums .bbp-template-notice.important {
	color: #59330d;
	background-color: #f8ac61;
}
#bbpress-forums .bbp-template-notice.important a,
#bbpress-forums .bbp-template-notice.important a:hover {
	color: #59330d;
}
#bbpress-forums .bbp-template-notice.warning {
	color: #705213;
	background-color: #ffd987;
}
#bbpress-forums .bbp-template-notice.warning a,
#bbpress-forums .bbp-template-notice.warning a {
	color: #705213;
}
#bbpress-forums .bbp-template-notice.error {
	color: #af3017;
	background-color: #f1bbb0;
}
#bbpress-forums .bbp-template-notice.error a,
#bbpress-forums .bbp-template-notice.error a {
	color: #af3017;
}
/*
	WIDGETS
-------------------------------------------------------------------------------------------------------------------------------------*/
/* Our Widgets */
.pk_widget li {
  background: url('../images/back_grounds/dark/widgets_list_icon.png') no-repeat 0 8px;
}
#pk_widgets_area .pk_widget li {
  background: url('../images/back_grounds/dark/wa_widgets_list_icon.png') no-repeat 0 8px;
}
.widget_dribbble li,
.widget_featured_posts li,
.widget_featured_works li,
.widget_popular_posts li,
.widget_popular_works li,
.widget_recent_posts li,
.widget_recent_works li,
.widget_related_posts li,
.widget_related_works li,
.widget_advertising_125_125 a,
.pk_testimonials,
.widget_flickr div,
.pk_widget_google_maps,
.widget_search,
#lang_sel li,
#lang_sel_list li,
#lang_sel ul ul li,
#lang_sel_list,
#lang_sel_footer,
.qtrans_language_chooser {
  background-color: #2c2d2e;
}
#pk_widgets_area .widget_dribbble li,
#pk_widgets_area .widget_featured_posts li,
#pk_widgets_area .widget_featured_works li,
#pk_widgets_area .widget_popular_posts li,
#pk_widgets_area .widget_popular_works li,
#pk_widgets_area .widget_recent_posts li,
#pk_widgets_area .widget_recent_works li,
#pk_widgets_area .widget_related_posts li,
#pk_widgets_area .widget_related_works li,
#pk_widgets_area .widget_advertising_125_125 a,
#pk_widgets_area .pk_testimonials,
#pk_widgets_area .widget_flickr div,
#pk_widgets_area .pk_widget_google_maps,
#pk_widgets_area .widget_search,
#pk_widgets_area #lang_sel li,
#pk_widgets_area #lang_sel_list li,
#pk_widgets_area #lang_sel ul ul li,
#pk_widgets_area #lang_sel_list,
#pk_widgets_area #lang_sel_footer,
#pk_widgets_area .qtrans_language_chooser {
  background-color: #202021;
}
.pk_testimonials blockquote {
  color: #e4e9ea;
}
.pk_testimonials cite {
  color: #808489;
}
.pk_testimonials .pk_arrow {
  border-right: solid 7px #2c2d2e;
}
#pk_widgets_area .pk_testimonials blockquote {
  color: #e4e9ea;
}
#pk_widgets_area .pk_testimonials cite {
  color: #808489;
}
#pk_widgets_area .pk_testimonials .pk_arrow {
  border-right: solid 7px #202021;
}
.widget_dribbble small {
  color: #686b6f;
}
.widget_twitter li {
  background: #2c2d2e url('../images/back_grounds/dark/twitter_icon.png') no-repeat 13px 13px;
}
#pk_widgets_area .widget_twitter li {
  background: #202021 url('../images/back_grounds/dark/wa_twitter_icon.png') no-repeat 13px 13px;
}
#searchform {
  background-color: #212122;
}
#searchform input[type=text] {
  color: #808489;
}
#searchform input[type=submit] {
  background: url('../images/button_icons/dark/default_buttons.png') 0 -50px;
}
.ie8 #searchform {
  border: solid 1px #303132;
}
#pk_widgets_area #searchform {
  background-color: #1a1a1b;
}
#pk_widgets_area #searchform input[type=text] {
  color: #808489;
}
.ie8 #pk_widgets_area #searchform {
  border: solid 1px #1a1a1b;
}
#calendar_wrap {
  border: solid 1px #202122;
}
#today,
#pk_page #today,
#today a,
#pk_page #today a,
#today a:hover,
#pk_page #today a:hover {
  color: #171717;
}
#today,
#pk_page #today {
  background-color: #ffcd21;
}
#pk_widgets_area #calendar_wrap {
  border: solid 1px #1a1a1b;
}
/* Jigoshop - WooCommerce Widgets */
span.empty,
.pk_widget p.total,
.pk_widget p.buttons,
ul.product_list_widget li,
ul.cart_list,
.widget_layered_nav ul,
.jigoshop_login_widget,
.widget_login,
.jigoshop_price_filter .price_slider_wrapper,
.widget_price_filter .price_slider_wrapper,
.jigoshop_product_search,
.widget_product_search {
  background-color: #2c2d2e;
}
ul.cart_list .js_widget_product_price del,
ul.product_list_widget .js_widget_product_price del,
ul.product_list_widget del,
ul.product_list_widget .from {
  color: #686b6f;
}
ul.cart_list li,
.pk_widget p.total,
.widget_layered_nav ul li {
  border-bottom: solid 1px #202122;
}
#pk_widgets_area .pk_widget p.total,
#pk_widgets_area .pk_widget p.buttons,
#pk_widgets_area span.empty,
#pk_widgets_area ul.cart_list,
#pk_widgets_area ul.product_list_widget li,
#pk_widgets_area .widget_layered_nav ul,
#pk_widgets_area .jigoshop_login_widget,
#pk_widgets_area .widget_login,
#pk_widgets_area .jigoshop_price_filter .price_slider_wrapper,
#pk_widgets_area .widget_price_filter .price_slider_wrapper,
#pk_widgets_area .jigoshop_product_search,
#pk_widgets_area .widget_product_search {
  background-color: #202021;
}
#pk_widgets_area ul.cart_list .js_widget_product_price del,
#pk_widgets_area ul.product_list_widget .js_widget_product_price del,
#pk_widgets_area ul.product_list_widget del,
#pk_widgets_area ul.product_list_widget .from {
  color: #686b6f;
}
#pk_widgets_area ul.cart_list li,
#pk_widgets_area .pk_widget p.total,
#pk_widgets_area .widget_layered_nav ul li {
  border-bottom: solid 1px #1a1a1b;
}
.jigoshop_login_widget input[type=text],
.jigoshop_login_widget input[type=password],
.widget_login input[type=text],
.widget_login input[type=password] {
  color: #808489;
  background-color: #212122;
}
#pk_widgets_area .jigoshop_login_widget input[type=text],
#pk_widgets_area .jigoshop_login_widget input[type=password],
#pk_widgets_area .widget_login input[type=text],
#pk_widgets_area .widget_login input[type=password] {
  color: #808489;
  background-color: #1a1a1b;
}
/* Layered Nav */
.widget_layered_nav .layerd_nav_clear,
.widget_layered_nav .layerd_nav_clear:hover {
  color: #171717 !important;
  background-color: #ffcd21 !important;
}
.widget_layered_nav ul li.chosen {
  background: url('../images/ecommerce/dark/layered_nav_chosen_icon.png') no-repeat 15px center;
}
.widget_layered_nav ul small.count {
  color: #686b6f;
  background-color: #212122;
}
#pk_widgets_area .widget_layered_nav ul li.chosen {
  background: url('../images/ecommerce/dark/wa_layered_nav_chosen_icon.png') no-repeat 15px center;
}
#pk_widgets_area .widget_layered_nav ul small.count {
  color: #686b6f;
  background-color: #1a1a1b;
}
/* Price Filter */
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: url('../images/ecommerce/dark/price_filter_dragger.png') no-repeat 0 0;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  background: url('../images/ecommerce/dark/price_filter_dragger.png') no-repeat 0 -19px;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  background: url('../images/ecommerce/dark/price_filter_dragger.png') no-repeat 0 -19px;
}
.price_slider_wrapper .ui-widget-content {
  background: #101011;
}
.price_slider_wrapper .ui-widget-header {
  background: url('../images/ecommerce/dark/price_filter_bar.png') repeat-x 0 0;
}
.widget_price_filter input[type="text"] {
  /* WooCommerce no-js */

  color: #808489;
  background-color: #212122;
}
#pk_widgets_area .ui-state-default,
#pk_widgets_area .ui-widget-content .ui-state-default,
#pk_widgets_area .ui-widget-header .ui-state-default {
  background: url('../images/ecommerce/dark/price_filter_dragger.png') no-repeat 0 -38px;
}
#pk_widgets_area .ui-state-hover,
#pk_widgets_area .ui-widget-content .ui-state-hover,
#pk_widgets_area .ui-widget-header .ui-state-hover,
#pk_widgets_area .ui-state-focus,
#pk_widgets_area .ui-widget-content .ui-state-focus,
#pk_widgets_area .ui-widget-header .ui-state-focus {
  background: url('../images/ecommerce/dark/price_filter_dragger.png') no-repeat 0 -57px;
}
#pk_widgets_area .ui-state-active,
#pk_widgets_area .ui-widget-content .ui-state-active,
#pk_widgets_area .ui-widget-header .ui-state-active {
  background: url('../images/ecommerce/dark/price_filter_dragger.png') no-repeat 0 -57px;
}
#pk_widgets_area .price_slider_wrapper .ui-widget-content {
  background: #101011;
}
#pk_widgets_area .widget_price_filter input[type="text"] {
  /* WooCommerce no-js */

  color: #808489;
  background-color: #1a1a1b;
}
/* BBpress */
.bbp_widget_login .bbp-login-form fieldset,
.bbp_widget_login .bbp-logged-in {
	background-color: #2c2d2e;
}
.bbp_widget_login .bbp-login-form .bbp-username input,
.bbp_widget_login .bbp-login-form .bbp-email input,
.bbp_widget_login .bbp-login-form .bbp-password input {
	color: #808489;
	background-color: #212122;
}
#pk_widgets_area .bbp_widget_login .bbp-login-form fieldset,
#pk_widgets_area .bbp_widget_login .bbp-logged-in {
	background-color: #202021;
}
#pk_widgets_area .bbp_widget_login .bbp-login-form .bbp-username input,
#pk_widgets_area .bbp_widget_login .bbp-login-form .bbp-email input,
#pk_widgets_area .bbp_widget_login .bbp-login-form .bbp-password input {
	color: #808489;
	background-color: #1a1a1b;
}
/* WPML / qTranslate */
#lang_sel ul ul a,
#lang_sel ul ul a:visited,
#lang_sel_list a {
  border-top: 1px solid #202122;
}
#lang_sel a.lang_sel_sel span,
#lang_sel_list a.lang_sel_sel span {
  color: #808489;
}
#lang_sel a,
#lang_sel a:visited {
  background: url('../images/back_grounds/dark/languages_arrow_down.png') no-repeat right center;
}
#lang_sel_footer ul li,
.qtrans_language_chooser li {
  border-right: solid 1px #202122;
}
#pk_widgets_area #lang_sel ul ul a,
#pk_widgets_area #lang_sel ul ul a:visited,
#pk_widgets_area #lang_sel_list a {
  border-top: 1px solid #1a1a1b;
}
#pk_widgets_area #lang_sel a,
#pk_widgets_area #lang_sel a:visited {
  background: url('../images/back_grounds/dark/wa_languages_arrow_down.png') no-repeat right center;
}
#pk_widgets_area #lang_sel_footer ul li,
#pk_widgets_area .qtrans_language_chooser li {
  border-right: solid 1px #1a1a1b;
}
/*
	SHORTCODES (DAFAULT)
-------------------------------------------------------------------------------------------------------------------------------------*/
/* Headings */
.pk_heading_underline {
  border-bottom: solid 1px #303132;
}
.pk_heading_background {
  color: #171717;
  background-color: #ffcd21;
}
#pk_widgets_area .pk_heading_underline {
  border-bottom: solid 1px #29292a;
}
/* Lists */
.pk_arrow_list li {
  background: url('../images/shortcodes/lists/list_dark_icons.png') no-repeat -86px -2px;
}
.pk_check_list li {
  background: url('../images/shortcodes/lists/list_dark_icons.png') no-repeat -56px -27px;
}
#pk_widgets_area .pk_arrow_list li {
  background: url('../images/shortcodes/lists/list_dark_icons.png') no-repeat -36px -52px;
}
#pk_widgets_area .pk_check_list li {
  background: url('../images/shortcodes/lists/list_dark_icons.png') no-repeat -6px -77px;
}
/* Hightlights */
.pk_highlight {
  color: #171717;
  background-color: #ffcd21;
}
/* Drop Caps */
.pk_drop_cap_1 {
  color: #e4e9ea;
}
/* Styled Boxes */
.pk_box_content_wrapper {
  background-color: #2c2d2e;
}
#pk_widgets_area .pk_box_content_wrapper {
  background-color: #202021;
}
/* Pricing Tables */
.pk_pricing_table header {
  background: #5c6066 url('../images/back_grounds/menu_light.png') repeat-x;
}
.pk_pricing_table header .pk_type {
  color: #ffffff;
  border-color: #474a4f;
}
.pk_pricing_table header .pk_type span {
  border-top-color: rgba(255, 255, 255, 0.12);
}
.pk_pricing_table .pk_first header .pk_type span {
  border-left-color: rgba(255, 255, 255, 0.12);
}
.pk_pricing_table .pk_last header .pk_type span {
  border-right-color: rgba(255, 255, 255, 0.12);
}
.pk_pricing_table header .pk_price {
  color: #ffffff;
  border-color: #323334;
  background-color: #444647;
}
.pk_pricing_table header .pk_price sup {
  color: #ffffff;
}
.pk_pricing_table header .pk_price span {
  color: #808489;
}
.pk_pricing_table ul {
  color: #808489;
  border-color: #212122;
  background-color: #2c2d2e;
}
.pk_pricing_table ul li.pk_alternate_color {
  background-color: #38393a;
}
.pk_pricing_table ul li del {
  color: #55585b;
}
.pk_pricing_table footer {
  border-color: #212122;
  background-color: #38393a;
}
/* ie8 Border Fix */
.ie8 .pk_pricing_table .pk_column {
  border-bottom: solid 1px #303132;
}
.ie8 .pk_pricing_table .pk_first ul,
.ie8 .pk_pricing_table .pk_first footer {
  border-left: solid 1px #303132;
}
.ie8 .pk_pricing_table .pk_last ul,
.ie8 .pk_pricing_table .pk_last footer {
  border-right: solid 1px #303132;
}
.ie8 .pk_pricing_table .pk_highlight_column ul,
.ie8 .pk_pricing_table .pk_highlight_column footer {
  border-left: solid 1px #303132;
  border-right: solid 1px #303132;
}
.ie8 #pk_widgets_area .pk_pricing_table .pk_column {
  border-bottom: solid 1px #29292a;
}
.ie8 #pk_widgets_area .pk_pricing_table .pk_first ul,
.ie8 #pk_widgets_area .pk_pricing_table .pk_first footer {
  border-left: solid 1px #29292a;
}
.ie8 #pk_widgets_area .pk_pricing_table .pk_last ul,
.ie8 #pk_widgets_area .pk_pricing_table .pk_last footer {
  border-right: solid 1px #29292a;
}
.ie8 #pk_widgets_area .pk_pricing_table .pk_highlight_column ul,
.ie8 #pk_widgets_area .pk_pricing_table .pk_highlight_column footer {
  border-left: solid 1px #29292a;
  border-right: solid 1px #29292a;
}
/* Tabs */
.pk_tabs .pk_tabs_navigation li {
  border-top: solid 1px #303132;
  border-bottom: none;
  background-color: #4a4c4f;
}
.pk_tabs .pk_tabs_navigation a {
  color: #e4e9ea;
}
.pk_tabs .pk_tabs_navigation li.pk_active_tab,
.pk_tabs .pk_tabs_content {
  background-color: #2c2d2e;
}
.pk_tabs .pk_tabs_navigation li.pk_active_tab a {
  color: #808489;
}
.pk_entry_single .pk_tabs .pk_tabs_content {
  border-top: solid 1px #202122;
}
#pk_widgets_area .pk_tabs .pk_tabs_navigation li {
  border-top: solid 1px #29292a;
  border-bottom: none;
  background-color: #414344;
}
#pk_widgets_area .pk_tabs .pk_tabs_navigation a {
  color: #e4e9ea;
}
#pk_widgets_area .pk_tabs .pk_tabs_navigation li.pk_active_tab,
#pk_widgets_area .pk_tabs .pk_tabs_content {
  background-color: #202021;
}
#pk_widgets_area .pk_tabs .pk_tabs_navigation li.pk_active_tab a {
  color: #808489;
}
/* Toggles */
.pk_toggles .pk_toggle {
  background-color: #2c2d2e;
}
.pk_toggles .pk_toggle_button {
  color: #e4e9ea;
  background: url('../images/shortcodes/toggles/open_dark_icon.png') no-repeat 15px center;
}
.pk_toggles .pk_toggle_button.pk_selected {
  background-image: url('../images/shortcodes/toggles/close_dark_icon.png');
}
.pk_toggles .pk_toggle_content_wrapper,
.pk_entry_single .pk_toggles .pk_toggle {
  border-top: solid 1px #202122;
}
#pk_widgets_area .pk_toggles .pk_toggle {
  background-color: #202021;
}
#pk_widgets_area .pk_toggles .pk_toggle_button {
  color: #e4e9ea;
  background: url('../images/shortcodes/toggles/wa_open_dark_icon.png') no-repeat 15px center;
}
#pk_widgets_area .pk_toggles .pk_toggle_button.pk_selected {
  background-image: url('../images/shortcodes/toggles/wa_close_dark_icon.png');
}
#pk_widgets_area .pk_toggles .pk_toggle_content_wrapper {
  border-top: solid 1px #1a1a1b;
}
/* Dividers */
body .pk_divider hr,
body .pk_divider.pk_top hr {
  border-top: solid 1px #303132;
}
body .pk_divider.pk_top a {
  color: #686b6f;
}
body #pk_widgets_area .pk_divider hr,
body #pk_widgets_area .pk_divider.pk_top hr {
  border-top: solid 1px #29292a;
}
body #pk_widgets_area .pk_divider.pk_top a {
  color: #686b6f;
}
/*
	QUERIES
-------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 959px) {
  .pk_navigation_wrapper nav {
    background-color: #3f4144;
  }
  .pk_navigation_wrapper nav ul li {
    border-top: solid 1px #494c4f;
  }
  .pk_navigation_wrapper nav a {
    border-bottom: solid 1px #494c4f;
  }
  .pk_navigation_wrapper nav ul:first-child > li:first-child {
    border-top: solid 1px #353639;
  }
  .pk_navigation_wrapper nav ul ul li {
    border-top: solid 1px #494c4f;
    border-left: solid 1px #494c4f;
  }
  .pk_navigation_wrapper nav a,
  .pk_navigation_wrapper nav li:hover > a,
  .pk_navigation_wrapper nav ul .current-menu-ancestor > a,
  .pk_navigation_wrapper nav ul ul a,
  .pk_navigation_wrapper nav ul ul a:hover,
  .pk_navigation_wrapper nav ul ul .current-menu-item > a,
  .pk_navigation_wrapper nav ul ul .current-menu-ancestor > a {
    color: #d9dedf;
  }
  .pk_navigation_wrapper nav li:hover,
  .pk_navigation_wrapper nav ul .current-menu-item > a,
  .pk_navigation_wrapper nav ul .current-menu-ancestor > a,
  .pk_navigation_wrapper nav ul .current-menu-item:hover > a,
  .pk_navigation_wrapper nav ul .current-menu-ancestor:hover > a,
  .pk_navigation_wrapper nav ul ul {
    background: none;
  }
  .pk_navigation_wrapper nav .current-menu-item.current-menu-parent > a {
    background: none !important;
  }
  .pk_navigation_wrapper nav .current-menu-item > a {
    color: #ffffff !important;
    background-color: #494c4f !important;
  }
  /* Jigoshop - WooCommerce */
  #tabs ul.tabs li,
  .woocommerce_tabs ul.tabs li {
    border-top: solid 1px #6d7279;
  }
  #tabs ul.tabs li:hover,
  .woocommerce_tabs ul.tabs li:hover {
    background: none;
  }
  #tabs ul.tabs li.active,
  .woocommerce_tabs ul.tabs li.active {
    background-color: #6d7279;
  }
  #tabs ul.tabs li:hover a,
  #tabs ul.tabs li a:hover,
  #tabs ul.tabs li.active a,
  .woocommerce_tabs ul.tabs li:hover a,
  .woocommerce_tabs ul.tabs li a:hover,
  .woocommerce_tabs ul.tabs li.active a {
    color: #ffffff;
  }
  /* BBPress */
  #bbpress-forums .bbp-replies .bbp-header .bbp-reply-content {
	border-left: solid 1px rgba(255, 255, 255, 0.12) !important;
  }
  /* Footer */
  .pk_copyright {
    color: #4d4f52;
    border-top: solid 1px #222224;
    background-color: #141415;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .products li strong,
  .products li h3 {
    border-bottom: solid 1px #202122;
  }
}
@media screen and (max-width: 767px) {
  .pk_page #pk_sidebar {
    border-top: solid 1px #303132;
    background-color: #1e1e1f;
  }
  .pk_business_tabs .pk_tabs_navigation ul li {
    border-left: none;
    border-bottom: solid 1px #303132;
    background-color: none;
  }
  .pk_business_tabs .pk_tabs_navigation ul li.pk_active_tab {
    border-bottom: solid 1px #303132;
    background-color: transparent;
    background-position: right center;
  }
  .ie8 .pk_pricing_table ul,
  .ie8 .pk_pricing_table footer {
    border-left: solid 1px #303132 !important;
    border-right: solid 1px #303132 !important;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .products li strong,
  .products li h3 {
    border-bottom: solid 1px #202122;
  }
}
