/*
	1) CLEAFIX
	2) GLOBAL
	3) TYPOGRAPHY
	4) TABLES
	5) HEADER - LOGO - NAVIGATION
	6) BREADCRUMBS - FEATURED - CALL TO ACTION
	7) PAGE
	8) FOOTER
	9) HOMEPAGES
	10) ENTRIES
	11) COMMENTS
	12) CATEGORIES FILTER
	13) PAGINATIONS
	14) COLUMNS
	15) SLIDERS
	16) IMAGES - VIDEOS
	17) WP GALLERY - WP CAPTION
	18) FORMS
	19) JPLAYER
	20) PRETTYPHOTO
	21) BUTTONS
	22) OTHERS
	23) QUERIES


	CLEARFIX
-------------------------------------------------------------------------------------------------------------------------------------*/

	
.pk_clearfix:before, .pk_clearfix:after {
	content: "";
	display: table;
}
.pk_clearfix:after{ clear: both; }


/*
	GLOBAL
-------------------------------------------------------------------------------------------------------------------------------------*/


body {
	font: 13px/21px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	overflow-x: hidden;
}
#pk_wrapper_all {
	position: relative;
	z-index: 2;
}
.pk_wrapper{ clear: both; }
.pk_wrapper.pk_top_shadow {
	position: relative;
	padding-top: 5px;
	background: transparent url('../images/shadows/980_top_shadow.png') no-repeat center 0;
}
.pk_wrapper.pk_middle_shadow {
	background: transparent url('../images/shadows/980_middle_shadow.png') repeat-y center 0;
}
.pk_wrapper.pk_bottom_shadow {
	padding-bottom: 5px;
	background: transparent url('../images/shadows/980_bottom_shadow.png') no-repeat center bottom;
}
.pk_center_box {
	position: relative;
	margin: 0 auto;
	width: 980px;
}


/*
	TYPOGRAPHY
-------------------------------------------------------------------------------------------------------------------------------------*/


h1, h2, h3, h4, h5, h6 {
	margin-bottom: 15px;
	font-family: "Myriad Pro", "Helvetica Neue", Helvetica, Arial, Lucida Grande, sans-serif;
	font-weight: normal;
}
h1{ font-size: 36px; line-height: 43px; }
h2{ font-size: 30px; line-height: 37px; }
h3{ font-size: 24px; line-height: 32px; }
h4{ font-size: 18px; line-height: 24px; }
h5{ font-size: 16px; line-height: 21px; }
h6{ font-size: 14px; }

p, ul, ol, dl, blockquote, table, fieldset{ margin-bottom: 20px; }
a, a span {
	outline: 0 none;
	text-decoration: none;
	-webkit-transition: color .2s linear;
	-moz-transition: color .2s linear;
    -ms-transition: color .2s linear;
	-o-transition: color .2s linear;
	transition: color .2s linear;
}
img {
	margin-bottom: 20px;
	max-width: 100%;
	height: auto;
	-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
}
.pp_content img{ margin: 0; }
.ie8 img{ width: auto; }
strong{ font-weight: bold; }
cite, em, dfn{ font-style: italic; }
dfn{ padding-bottom: 2px; }
kbd, samp, var {
	font-family: "Lucida Console", "Andale Mono", Consolas, Courier, New Courier, monospace;
	font-size: 11px;
}
ins{ padding-bottom: 2px; }
small, sup, sub {
	padding: 0 3px;
	font-size: 80%;
}
small{ padding-left: 0; }
abbr {
	text-transform: uppercase;
	letter-spacing: 2px;
}
mark {
	padding: 2px 5px 3px 5px;
	font-style: italic;
	font-weight: bold;
}
a abbr{ cursor: pointer; }
dfn{cursor: help; }
sup{ vertical-align: super; }
sub{ vertical-align: sub; }
pre, code {
	font-family: "Lucida Console", "Andale Mono", Consolas, Courier, New Courier, monospace;
	-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);	
}
pre {
	overflow: auto;
	margin: 20px 0;
	padding: 20px 10px 19px 25px;
	line-height: 20px;
	clear: both;
	font-size: 12px;
	white-space: pre;
    word-wrap: break-word;
}
pre code{ margin: 0; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
code{ padding: 3px 3px 1px 3px; }
.pk_boxed pre, .pk_boxed code{ border-bottom: none !important; }
blockquote {
	padding: 0 10px 0 35px;
	font: italic 16px/22px "Myriad Pro", "Helvetica Neue", Helvetica, Arial, Lucida Grande, sans-serif;
}
blockquote p{ margin: 0 0 10px 0; }
blockquote cite {
	display: block;
	font-size: 12px;
}
blockquote.pk_alignleft{ margin-right: 25px; }
blockquote.pk_alignright{ margin-left: 25px; }
blockquote.pk_alignnone{ margin-bottom: 0; }
ul {
	margin-left: 10px;
	list-style-type: disc;
	list-style-position: inside;
}
ul li{ margin-left: 5px; }
ol {
	margin-left: 15px;
	list-style-type: decimal;
	list-style-position: inside;
}
ol li{ margin-left: 5px; }
ul ul, ol ol, ul ol, ol ul{ margin: 5px 0 10px 8px; }
dd {
	margin: 0 0 10px 8px;
	font-size: 12px;
}
select {
	clear: both;
	width: 57%;
	outline: none;
}
select[multiple=multiple]{ padding: 5px; }
input[type=checkbox]{ margin: -1px 0 0 0; }
input[type=radio]{ margin: -2px 0 0 0; }
fieldset{ padding: 10px; }
option{ padding: 0 5px; }
input, textarea { outline: none; }
legend {
	padding: 5px;
	font-size: 11px;
	font-weight: bold;
}
textarea {
	overflow: auto;
	margin-bottom: 5px;
	padding: 5px;
	width:100%;
	font: 14px/22px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	border: none;
	background: none;
	-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.18); -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.18); box-shadow: inset  0 1px 2px rgba(0, 0, 0, 0.18);
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
input[type=submit], button {
	margin: 0;
	padding: 0 22px;
	height: 32px;
	font-size: 13px;
	line-height: 31px;/*32*/
	border: none;
	background: none;
	cursor: pointer;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.18); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.18); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.18);
}
input[type=submit]:hover{ background-position: 0px -82px; }
input[type=text], input[type=password], input[type=email] {
	margin: 0 0 10px 0;
	padding: 8px 5px;
	min-width: 45%;
	font-size: 14px;
	line-height: 18px;
	border: none;
	background: none;
	-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.18); -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.18); box-shadow: inset  0 1px 2px rgba(0, 0, 0, 0.18);
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.pk_underline_list, .pk_underline_list ul {
	margin-left: 15px;
	list-style-position: outside;
}
.pk_underline_list ul {
	margin-top: 0;
	margin-bottom: 0;
}
.pk_underline_list li, .pk_underline_list ul li {
	margin-left: 0;
	padding-left: 0;
}
.pk_underline_list span, .pk_underline_list a {
	display: block
	padding: 4px 0;
}
.pk_underline_list.pk_arrow_list, .pk_underline_list.pk_check_list, .pk_underline_list.pk_clear_list{ margin-left: 0; }
.pk_underline_list.pk_arrow_list a, .pk_underline_list.pk_arrow_list span{ padding-left: 13px; }
.pk_underline_list.pk_check_list a, .pk_underline_list.pk_check_list span{ padding-left: 22px; }
.pk_underline_list.pk_arrow_list li{ background-position: -137px 2px; }
.pk_underline_list.pk_check_list li{ background-position: -81px -48px; }


/*
	TABLES
-------------------------------------------------------------------------------------------------------------------------------------*/


table, table td, table th{ vertical-align: middle; }
table {
	width: 100%;
	border-collapse: collapse;
}
table caption{ padding: 10px; }
table th {
	padding: 8px;
	text-align: center;
	font-weight: normal;
	font-size: 14px;
}
table td {
	padding: 8px;
	text-align: center;
}
table tfoot td{ padding: 5px; }


/*
	HEADER - LOGO - NAVIGATION
-------------------------------------------------------------------------------------------------------------------------------------*/


.pk_header {
	position: relative;
	float: left;
	width: 100%;
}
.pk_header .pk_right_info {
	position: relative;
	float: right;
	margin: 48px 10px 20px 20px;
	font-size: 11px;
}
.pk_header .pk_right_info p {
	float: left;
	margin: 0;
}
.pk_header .pk_right_info .pk_button_mini{ margin: -3px 0 0 10px; }

	
/* Logo */
	
.pk_logo {
	float: left;
	margin: 20px 0 15px 10px;
	z-index: 9000;
	text-indent: -9999px;
}
.pk_logo a{ display:block; }
.pk_logo_caption{ display:none; }


/* Navigation */

.pk_navigation_wrapper, .pk_main_menu {
	-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px;
}
.pk_navigation_wrapper {
	clear: both;
	padding: 1px 1px 0 1px;
	width: 978px;
	height: 42px;
}
.ie8 .pk_navigation_wrapper{ height: 41px; }
.pk_navigation_wrapper.pk_navigation_mobile {
	overflow: visible;
	height: auto;
}
.pk_main_menu {
	height: 41px;
	border-bottom: none !important;
}
.pk_navigation_wrapper .pk_button_menu {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	margin: 11px 0 0 10px;
	padding: 5px 10px 7px 10px;
	cursor: pointer;
	line-height: 20px;
	font-size: 13px;
	z-index: 1;
	-moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; border-top-left-radius: 2px;
	-moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; border-top-right-radius: 2px;
	-moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.21); -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.21); box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.21);
}
.ie8 .pk_navigation_wrapper .pk_button_menu{ margin-top: 10px; }
.pk_navigation_wrapper .pk_button_menu.pk_current {
	padding-bottom: 8px;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.21); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.21); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.21);
}
.pk_navigation_wrapper nav {
	float: left;
	margin: 9px 10px 0 10px;
	z-index: 5000;
}
.pk_navigation_wrapper .pk_button_menu, .pk_navigation_wrapper nav a, .pk_navigation_wrapper nav a span, a.mini-cart-button {
	-webkit-transition: none;
	-moz-transition: none;
    -ms-transition: none;
	-o-transition: none;
	transition: none;
}
.pk_navigation_wrapper ul, .pk_navigation_wrapper li {
	position: relative;
	margin: 0;
	list-style: none;
	line-height: 20px;
	font-size: 13px;
}
.pk_navigation_wrapper a{ display: block; }
.pk_navigation_wrapper nav .pk_last {
	margin-right: 0;
	padding-right: 0;
	border: none;
}

/* Top Level */

.pk_navigation_wrapper nav ul:first-child > li {
	float: left;
	position: relative;
	margin: 0 1px 0 0;
}
.pk_navigation_wrapper nav ul:first-child > li > a{ padding: 5px 10px 7px 10px; }
.pk_navigation_wrapper nav li.menu-item-language {
	position: relative;
	padding: 0 8px 0 28px;
}
.pk_navigation_wrapper nav li.menu-item-language img.iclflag {
	position: absolute;
	top: 9px;
	left: 10px;
	margin: 0;
	width: 18px;
	height: 12px;
}

/* Sub Levels */

.pk_navigation_wrapper nav ul ul {
	display: none;
	position: absolute;
	width: 200px;
	z-index: 1000;
	padding-bottom: 15px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px; border-bottom-right-radius: 2px;
	-moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px; border-bottom-left-radius: 2px;
}
.pk_navigation_wrapper nav ul ul li {
	margin-bottom: 2px;
	line-height: 21px;
	font-size: 12px;
}
.pk_navigation_wrapper nav ul ul li a{ padding: 0 10px; }
.pk_navigation_wrapper nav ul ul li:first-child{ margin-top: 15px; }
.pk_navigation_wrapper nav ul ul ul {
	top: -15px;
	left: 200px;
	margin: 0;
}
.pk_navigation_wrapper nav ul.submenu-languages{ margin-left: -28px; }
.pk_navigation_wrapper nav ul.submenu-languages li.menu-item-language img.iclflag{ top: 5px; }

/* Current */

.pk_navigation_wrapper nav ul:first-child > li:hover,
.pk_navigation_wrapper nav .current-menu-item a, 
.pk_navigation_wrapper nav .current-menu-ancestor a {
	-moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; border-top-left-radius: 2px;
	-moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; border-top-right-radius: 2px;
	-moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.21); -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.21); box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.21);
}
.pk_navigation_wrapper nav .current-menu-item ul a,
.pk_navigation_wrapper nav .current-menu-ancestor ul a {
	 -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}
.pk_navigation_wrapper nav .current-menu-item:hover, 
.pk_navigation_wrapper nav .current-menu-ancestor:hover,
.pk_navigation_wrapper nav .sub-menu .current-menu-item {
	-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
	background: none;
}

	
/* Option Nav */
	
.pk_option_nav {
	position: absolute;
	top: 11px;
	right: 10px;
	width: auto;
	z-index: 500;
	-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px;
	-moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.21); -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.21); box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.21);
}
.ie8 .pk_option_nav{ top: 10px; }
.pk_option_nav ul {
	overflow: hidden;
	list-style: none; 
}
.pk_option_nav li {
	float: left;
	margin: 0;
}
.pk_option_item.pk_option_selected_item{ background: none; }
.pk_option_item .pk_option_item_divider {
	display: block;
	float: left;
	width: 2px;
	height: 32px;
}
.pk_option_item:last-child .pk_option_item_divider{ display: none; }
#pk_search_form {
	float: left;
	overflow: hidden;
	width: 32px;
	height: 32px;
}
#pk_search_form div{ width: 244px; }
#pk_search_form input[type=text] {
	float: right;
	padding: 0 7px;
	width: 196px;
	height: 32px;
	line-height: 32px;
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
	-moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box;
}
#pk_search_form #pk_search_submit {
	float: right;
	padding: 0;
	width: 33px;
	height: 32px;
	text-indent: -9999px;
	border: none !important;
	background-color: transparent !important;
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}
#pk_search_form .screen-reader-text{ display: none; }
.pk_login {
	display: block;
	float: left;
	padding: 0 10px;
	height: 32px;
	font-size: 12px;
	line-height: 33px;/*30*/
}
.pk_login span{ padding-left: 18px; }
.mini-cart-button {
	display: block;
	float: left;
	padding: 0 10px;
	height: 32px;
	font-size: 12px;
	line-height: 33px;/*30*/
}


/*
	BREADCRUMBS - FEATURED - CALL TO ACTION
-------------------------------------------------------------------------------------------------------------------------------------*/


.breadcrumbs{ font-size: 11px; }
.breadcrumbs span{
	margin-right: 5px;
	padding-left: 5px;
}
#pk_featured_text{ position: relative; }
#pk_featured_text p {
	margin: 0;
	padding: 15px 20px;
	font-size: 12px;
}
.pk_call_to_action {
	border-bottom-right-radius: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px; -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px;
}
.pk_call_to_action_content{ padding: 20px; }
.pk_call_to_action_content h2{ margin: 2px 0 0 0; }
.pk_call_to_action_content h2 small {
	margin-left: 10px;
	font-size: 70%;
}
.pk_call_to_action_content .pk_button_big {
	position: absolute;
	top: 15px;
	right: 20px;
}
.pk_call_to_action_content .pk_call_to_action_news{ margin-bottom: 0; }
.pk_call_to_action_content .pk_call_to_action_news img{ display: none; }
.pk_call_to_action_content .pk_call_to_action_news p {
	float: left;
	margin: 0 15px 0 0;
	font-size: 14px;
	font-weight: bold;
}
.pk_call_to_action_news > div{ overflow: hidden; }
.pk_call_to_action_content .pk_call_to_action_news ul {
	position: relative;
	margin: 0 20px 0 0;
	padding: 0;	
	list-style: none;
}
.pk_call_to_action_content .pk_call_to_action_news li {
	display: none;
	margin: 0;
	padding: 0;
}
.pk_call_to_action_content .pk_call_to_action_news li:first-child{ display: block; }
.pk_call_to_action_content .pk_call_to_action_news .pk_button_read_more{ margin: 0 0 0 10px; }


/*
	PAGE
-------------------------------------------------------------------------------------------------------------------------------------*/


.pk_page_top_shadow {
	display: block;
	height: 5px;
	border-top-right-radius: 3px; -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px;
	border-top-left-radius: 3px; -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px;
}
.pk_page #pk_main, .pk_page #pk_sidebar, .pk_page #pk_widgets_area{ position: relative; }
.pk_page #pk_main section {
	position: relative;
	clear:both;
	margin-bottom: 40px;
}
.pk_page #pk_main .pk_last_section{ margin-bottom: 0; }
.pk_page #pk_main .pk_button_view_all {
	position: absolute;
	top: -2px;
	right: 0;
	margin-bottom: 0;
}
.pk_right_sidebar #pk_sidebar_top_shadow, .pk_right_sidebar #pk_sidebar_bottom_shadow,
.pk_left_sidebar #pk_sidebar_top_shadow, .pk_left_sidebar #pk_sidebar_bottom_shadow {
	display: block;
	position: absolute;
	width: 100px;
	height: 130px;
}
.pk_right_sidebar #pk_sidebar_top_shadow {
	top: 0;
	left: 0;
}
.pk_right_sidebar #pk_sidebar_bottom_shadow {
	bottom: 0;
	left: 0;
}
.pk_left_sidebar #pk_sidebar_top_shadow {
	top: 0;
	right: 0;
}
.pk_left_sidebar #pk_sidebar_bottom_shadow {
	bottom: 0;
	right: 0;
}
.pk_page #pk_widgets_area {
	padding: 0 20px 40px 20px;
	clear: both;
}
	

/* Right Sidebar */

.pk_right_sidebar #pk_main {
	float: left;
	margin-left: 20px;
	padding: 35px 0 40px 0;
	width: 580px;
}
.pk_right_sidebar #pk_sidebar {
	float: right;
	margin-right: 20px;
	padding: 0 0 40px 30px;
	width: 300px;
	min-height: 260px;
}


/* Left Sidebar */

.pk_left_sidebar #pk_main {
	float: right;
	margin-right: 20px;
	padding: 35px 0 40px 0;
	width: 580px;
}
.pk_left_sidebar #pk_sidebar {
	float: left;
	margin-left: 20px;
	padding: 0 30px 40px 0;
	width: 300px;
	min-height: 260px;
}
	

/* Without Sidebar */
	
.pk_without_sidebar {
	margin: 20px 20px 0 20px;
	width: 940px;
}
.pk_without_sidebar #pk_main {
	padding: 15px 0 20px 0;
}


/*
	FOOTER
-------------------------------------------------------------------------------------------------------------------------------------*/


footer{ margin-bottom: 10px; }
.pk_footer {
	clear: both;
	overflow: hidden;
	padding: 20px 0 10px 0;
}
footer, .pk_footer {
	-moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px;
}
.pk_footer_logo {
	display: block;
	float: left;
	margin: 0 20px 0 0;
}
.pk_copyright {
	overflow: hidden;
	margin: 0 20px 15px 20px;
	font-size: 10px;
	line-height: 15px;
}
.ie8 .pk_copyright, .ie9 .pk_copyright{ margin-top: 4px; }
.pk_copyright p {
	display: block;
	overflow: hidden;
	margin: 7px 0 0 0;
}
.pk_footer_menu {
	float: right;
	margin: 3px 20px 15px 0;
	font-size: 11px;
	list-style: none;
}
.pk_footer_menu li {
	position: relative;
	float: left;
	margin: 0 0 0 7px;
	padding: 0 10px 0 0;
}
.pk_footer_menu li span {
	position: absolute;
	right: 0;
}
.pk_footer_menu li.menu-item-language {
	position: relative;
	padding: 0 8px 0 28px;
}
.pk_footer_menu li.menu-item-language span{ margin: 0; }
.pk_footer_menu .submenu-languages{ margin: 0 0 0 -28px; }
.pk_footer_menu .submenu-languages li.menu-item-language {
	float: none;
	margin: 0;
}
.pk_footer_menu .submenu-languages .pk_last{ display: none; }
.pk_footer_menu li.menu-item-language img.iclflag {
	position: absolute;
	top: 5px;
	left: 0;
	margin: 0;
	width: 18px;
	height: 12px;
}
.pk_footer_menu .pk_button_top{ padding-right: 11px; }
.pk_footer_sn {
	float: right;
	margin: 6px 0 15px 0;
	padding-right: 14px;
	list-style: none;
}
.pk_footer_sn li {
	float: left;
	margin: 1px 0 0 6px;
}
.pk_footer_sn li img{ margin: 0; }


/*
	HOMEPAGES
-------------------------------------------------------------------------------------------------------------------------------------*/


/* Standard / Jigoshop / WooCommerce / Freelance */

.pk_page #pk_main #pk_home_standard_widgets{ margin: -40px 0 60px 0; }
.pk_page #pk_main #pk_home_jigoshop_widgets{ margin: -35px 0 60px 0; }
.pk_page #pk_main #pk_home_woocommerce_widgets{ margin: -35px 0 60px 0; }
.pk_page #pk_main #pk_home_freelance_widgets{ margin: -35px 0 60px 0; }
	

/* Agency */
	
.pk_agency_home #pk_featured_slider {
	float: left;
	width: 610px;
	height: 380px;
}
.pk_agency_home #pk_featured_text {
	float: right;
	width: 300px;
	border: none;
	background: none;
}
.pk_agency_home #pk_featured_text h2{ line-height: 33px; }
.pk_agency_home #pk_featured_text .pk_widget p {
	margin-bottom: 20px;
	padding: 0;
}
.pk_agency_home .pk_featured_content{ padding: 20px; }
.pk_agency_home .pk_call_to_action_content{ padding-top: 0; }
.pk_agency_home .pk_call_to_action_content #pk_home_agency_widgets{ margin-top:-20px; }
	

/* Business */
	
.pk_prices_button {
	position: absolute;
	top: -15px;
	right: 0;
	margin: 0;
}
.pk_business_tabs, .pk_business_tabs .pk_tabs{ margin: 0; }
.pk_business_tabs .pk_tabs_navigation {
	margin: -40px 0 0 -20px;
	width: 980px;
	height: 78px;
	-moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px;
}
.pk_business_tabs .pk_tabs_navigation ul {
	margin: 0;
	list-style: none;
}
.pk_business_tabs .pk_tabs_navigation ul li {
	float: left;
	margin: 0;
	font-size: 13px;
	text-transform: uppercase;
}
.pk_business_tabs .pk_tabs_navigation ul li:first-child{ border-left: none !important; }
.pk_business_tabs .pk_tabs_navigation ul li a {
	display: block;
	padding: 30px 20px;
	height: 17px;
}
.pk_business_tabs .pk_tabs_navigation ul li:first-child{ -moz-border-radius-topleft:3px; -webkit-border-top-left-radius:3px; border-top-left-radius:3px; }
.pk_business_tabs .pk_tabs_navigation ul li.pk_active_tab {
	margin-top: -5px;
	padding-top: 5px;
	padding-bottom: 1px;
	border-bottom: none; 
	-moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px;
}
.pk_business_tabs .pk_tabs {
	clear: both;
	position: relative;
	margin: 0 !important;
	padding: 0 !important;
	min-height: 20px;
	z-index: 11;
}
.pk_business_tabs .pk_tab {
	clear: both;
	margin: 0;
	padding: 45px 0 15px 0;
	width: 100%;
}
.pk_big_list {
	font-size: 14px;
	font-style: italic;
	line-height: 24px;
}
.pk_big_list li{
	padding-left: 23px;
	background-position: -81px -50px !important;
}
.pk_business_home .pk_page #pk_main #pk_home_business_widgets {
	margin-top: -5px;
	padding-bottom: 5px;
}
.pk_business_home #pk_home_business_featured_image{ overflow: hidden; }
.pk_business_home #pk_home_business_featured_image img{ margin: 0; }


/*
	ENTRIES
-------------------------------------------------------------------------------------------------------------------------------------*/


.pk_entry {
	position: relative;
	margin-bottom: 15px;
}
.pk_entry header, .pk_entry footer{ margin: 0; }
.pk_entry .pk_entry_content {
	position: relative;
	overflow: hidden;
}
.pk_entry .pk_entry_content h4 {
	clear: both;
	margin-bottom: 10px;
}
.pk_entry .pk_entry_content p{ margin-bottom: 10px; }
.pk_entry.pk_without_image .pk_entry_content{ margin-left: 0; }


/* Entry Boxed */
	
.pk_boxed {
	overflow: hidden;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.pk_boxed .pk_entry_content {
	margin: 0;
	padding: 15px 15px 0 15px;
}
.pk_boxed .pk_image{ -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.pk_boxed .pk_entry_content .pk_video,
.pk_boxed.pk_full_content .pk_entry_content .pk_video{ margin-bottom: 20px; }


/* Entry News */
	
.pk_entry_news .pk_image {
	float: left;
	margin: 15px 5px 15px 15px;
	max-width: 80px;
}
.pk_entry_news.pk_no_thumbnail .pk_entry_content{ margin-left: 0; }
.pk_entry_news .pk_entry_date {
	position: absolute;
	top: 4px;
	right: 0;
	font-size: 9px;
}
.pk_entry_news.pk_boxed .pk_entry_date {
	top: 18px;
	right: 15px;
}


/* Entry Product */

.pk_entry_product .pk_entry_content{ padding: 0; }
.pk_entry_product .pk_entry_content h4,
.pk_entry_product .pk_entry_content p,
.pk_entry_product .pk_entry_content .pk_button_read_more {
	margin-left: 15px;
	margin-right: 15px;
}
.pk_entry_product a.button {
	position: relative;
	overflow: hidden;
	margin: 3px 0 0 0;
	padding: 0 15px;
	height: 25px;
	font-size: 12px;
	line-height: 25px;
}
.pk_entry_product a.button:hover{ background-position: 0 -25px; }
.pk_entry_product header {
	position: relative;
	overflow: hidden;
	margin-bottom: 15px;
	padding: 10px 15px;
	min-height: 35px;
}
.pk_entry_product header .pk_entry_price {
	float: left;
	margin: 10px 0 0 0;
	width: 150px;
	font-size: 14px;
}
.pk_entry_product header .pk_entry_price ins{ border: none; }
.pk_entry_product header .pk_entry_price del,
.pk_entry_product header .pk_entry_price .from {
	display: block;
	font-size: 10px;
}
.pk_entry_product header .pk_entry_price del{ margin: -10px 6px -2px 0; }
.pk_entry_product footer{ overflow: hidden; }

.pk_jigoshop_home .pk_entry_product header .pk_entry_price .from{ margin: -10px 6px -2px 0; }
.pk_jigoshop_home .pk_entry_product header .pk_entry_price .from + del {
	position: absolute;
	top: 0;
	margin: 10px 0 0 35px;
}
.pk_woocommerce_home .pk_entry_product header .pk_entry_price ins {
	display: block;
	position: relative;
}
.pk_woocommerce_home .pk_entry_product header .pk_entry_price .from{ margin: -10px 6px -2px 0; }
.pk_woocommerce_home .pk_entry_product header .pk_entry_price .from + del {
	position: absolute;
	top: 0;
	margin: 10px 0 0 35px;
}

.pk_entry_product .nostock,
#pk_latest_products .pk_entry_product a.button {
	position: absolute;
	top: 14px;
	bottom: auto;
	right: 15px;
}
#pk_latest_products .pk_entry_product .nostock{ top: 20px; }
#pk_featured_products .pk_entry_product footer{ padding: 15px 0; }
#pk_featured_products .pk_entry_product a.button{ float: right; }


/* Entry Portfolio */

.pk_entry_work{ margin-bottom: 20px; }
	

/* Entry Blog */
	
.pk_entry_blog.pk_full_content .pk_entry_content {
	float: none;
	padding-left: 60px;
}
.pk_entry_blog .pk_entry_meta {
	overflow: hidden;
	margin: -13px 0 20px 0;
	padding-bottom: 10px;
	font-size: 10px;
}
.pk_entry_blog .pk_entry_meta ul, .pk_entry_blog .pk_entry_meta li {
	margin: 0;
	list-style: none;
}
.pk_entry_blog .pk_entry_meta li {
	float: left;
	margin-left: 5px;
	padding-left: 5px;
	line-height: 14px;
}
.pk_entry_blog .pk_entry_meta li:first-child {
	margin: 0;
	padding: 0;
	border: none !important;
}
.pk_entry_blog .pk_entry_meta li.pk_comments_count a{ padding-left: 18px; }
.pk_entry_gallery .pk_slider {
	margin-bottom: 0;
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px;
	-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;	
}
.pk_entry_quote .pk_quote{ padding: 20px 15px; }
.pk_entry_quote .pk_quote blockquote {
	margin: 0 0 0 45px;
	padding: 0;
	background: none;
}
.pk_entry_quote .pk_quote blockquote p {
	margin-bottom: 0;
	padding: 0;
	font: 22px/28px "Myriad Pro", "Helvetica Neue", Helvetica, Arial, Lucida Grande, sans-serif;
}
.pk_entry_quote .pk_quote blockquote cite{ margin: 0; }
.pk_entry_single{ margin-bottom: 0; }
.pk_entry_single .pk_entry_content p{ margin-bottom: 30px; }
.pk_entry_single .pk_entry_content form{ margin: 0; }
.pk_entry_single .pk_entry_content form label{ font-size: 12px; }
.pk_entry_single .pk_entry_content form input[type=password] {
	margin: 3px 0 15px 0;
	width: 100%;
}
.pk_entry_single footer {
	overflow: hidden;
	margin-top: 30px;
	font-size: 11px;
}
.pk_entry_single footer p, .pk_entry_single footer ul, .pk_entry_single footer li {
	float: left;
	margin-right: 6px;
}
.pk_entry_single footer ul {
	margin: 0 0 15px 0;
	list-style: none;
}
.pk_entry_single footer li{ margin: 0 6px 0 0; }
.pk_entry_single p.icl_post_in_other_langs {
	margin: 30px 0 20px 0;
	padding: 10px;
	font-size: 12px;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
}
.sticky{}
	

/* Entry Full Content */

.pk_full_content .pk_entry_content {
	float: none;
	margin-left: 0;
}
.pk_full_content .pk_image, .pk_full_content .pk_video {
	position: relative;
	margin: 0 0 15px 0;
	width: 100%;
	height: auto;
}
.pk_full_content .pk_image_wrapper{ -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.pk_boxed.pk_full_content .pk_image,
.pk_boxed.pk_full_content .pk_video,
.pk_boxed.pk_full_content .jp-video{ margin-bottom: 0; }
.pk_boxed.pk_full_content .pk_image,
.pk_boxed.pk_full_content .pk_image_wrapper,
.pk_boxed.pk_full_content .pk_image_wrapper img,
.pk_boxed.pk_full_content .pk_video,
.pk_boxed.pk_full_content .pk_video iframe {
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px;
}
	

/* Entry Help */
	
.pk_entry_help img{ margin: 4px 0 0 8px; }
.pk_sharing h5 {
	float: left;
	margin: 13px 0 0;
}
.pk_sharing ul {
	float: left;
	margin-bottom: 0;
	list-style: none;
}
.pk_sharing li {
	float: left;
	margin-right: 2px;
	width: 40px;
	height: 45px;
}


/* Author */

.pk_author_box {
	position: relative; 
	margin-top: 35px;
	min-height: 70px;
}
.pk_author_box .pk_image {
	float:left; 
	margin: 15px 5px 15px 15px;
	width: 40px;
	-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}
.pk_author_box .pk_entry_content{ overflow: hidden; }
.pk_author_box .pk_entry_content h5{ margin-bottom: 10px; }
.pk_author_box .pk_entry_content p{ margin-bottom: 15px; }
.pk_author_box .pk_more_by_author {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 11px;
}


/*
	COMMENTS
-------------------------------------------------------------------------------------------------------------------------------------*/


.pk_comments {
	position: relative;
	margin: 60px 0 0 0;
	padding-bottom: 3px;
}
.pk_comments ol, .pk_comments ul, .pk_comments ol li, .pk_comments ul li{ margin: 0; }
.pk_comments .comment_list, .pk_comments .children{ list-style: none; }
.pk_comments .pk_comments_rss {
	display: block;
	position: absolute;
	top: -1px;
	right: 0;
	width: 20px;
	height: 20px;
	text-indent: -9999px;
	z-index: 1;
}
.pk_comments .pk_comment {
	position: relative;
	margin-bottom: 15px;
}
.pk_comments .pk_message{ padding: 15px; }
.pk_comments .pk_message .pk_gravatar {
	position: absolute;
	top: 15px;
	left: 15px;
	width: 40px;
	height: 40px;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
}
.bypostauthor > .pk_message .pk_gravatar {
	top: 12px;
	left: 12px;
}
.pk_comments .pk_message .pk_comment_content{ margin-left: 55px; }
.pk_comments .pk_message .pk_comment_meta, .pk_comments .pk_message .pk_comment_text{ padding-left: 15px; }
.pk_comments .pk_message .pk_comment_meta p{ margin: 0; }
.pk_comments .pk_message .pk_comment_meta p.pk_comment_date{ font-size: 11px; }
.pk_comments .pk_message .pk_comment_text p{ margin: 20px 0 0 0; }
.pk_comments .trackback .pk_message .pk_comment_text p,
.pk_comments .pingback .pk_message .pk_comment_text p{ margin: 0; }
.pk_comments .children{ margin: 15px 0 15px 15px; }
.pk_comments #respond{ margin: 40px 0; }
.nocomments {
	margin-top: 30px;
	padding: 15px;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#respond { margin-top: 60px; }
#respond h3 {
	margin-bottom: 18px;
	padding-bottom: 5px;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
}
#respond h3 small a {
	margin-left: 8px;
	padding-left: 11px;
}
#respond p {
	display: block;
	overflow: hidden;
	position: relative;
	clear: both;
	margin-bottom: 10px;
}
#respond .comment-form-author, #respond .comment-form-email, #respond .comment-form-url { width: 372px; }
#respond input[type=text] { width: 280px; }
#respond .form-submit{ padding-bottom: 5px; }
#respond label {
	position: absolute;
	right: 11px;
	top: 7px;
	width: 60px;
}
#respond .comment-form-comment label{ display: none; }
#respond .comment-form-author .required, #respond .comment-form-email .required {
	position: absolute;
	right: 20px;
	top: 6px;
}
#respond .comment-form-email .required{ right: 22px; }
#respond .logged-in-as{ font-size: 12px; }


/*
	CATEGORIES FILTER
-------------------------------------------------------------------------------------------------------------------------------------*/


.pk_categories_filter {
	overflow: hidden;
	margin: 0 0 20px 0;
}
.pk_categories_filter ul, .pk_categories_filter li {
	margin: 0;
	list-style: none;
}
.pk_categories_filter li {
	float: left;
	margin-left: 7px;
	padding-left: 7px;
	line-height: 16px;
}
.pk_categories_filter li:first-child {
	margin: 0;
	padding: 0;
	border-left: none;
}


/*
	PAGINATIONS
-------------------------------------------------------------------------------------------------------------------------------------*/


.pk_pagination {
	clear: both;
	margin: 20px 0 0 0;
	text-align: center;
}
.pk_pagination a, .pk_pagination_comments .pk_current_page {
	text-align: center;
	margin: 0 2px 0 0;
	padding: 6px 10px;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.pk_pagination .pk_current_page{ -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }


/* Single Post */

.pk_posts_link_pages {
	margin-top: 15px;
	text-align: center;
}
.pk_posts_link_pages p {
	display: inline-block;
	margin: 0;
	padding: 10px 15px;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}


/* Next / Prev Posts */

.pk_previous_next_post_links {
	clear: both;
	overflow: hidden;
	margin-top: 20px;
}
.pk_previous_post_links{ float: left; }
.pk_next_post_links{ float: right; }
.pk_previous_post_links a{ padding-left: 20px; }
.pk_next_post_links a { display: block; padding-right: 20px; }


/*
	COLUMNS
-------------------------------------------------------------------------------------------------------------------------------------*/


.pk_fixed{ margin-right: 20px; }
.pk_one_half.pk_fixed{ width: 460px; }
.pk_left_sidebar .pk_one_half.pk_fixed, .pk_right_sidebar .pk_one_half.pk_fixed{ width: 280px; }
.pk_one_third.pk_fixed{ width: 300px; }
.pk_left_sidebar .pk_one_third.pk_fixed, .pk_right_sidebar .pk_one_third.pk_fixed{ width: 180px; }
.pk_one_fourth.pk_fixed{ width: 220px; }
.pk_left_sidebar .pk_one_fourth.pk_fixed, .pk_right_sidebar .pk_one_fourth.pk_fixed{ width: 130px; }
.pk_one_fifth.pk_fixed{ width: 172px; }
.pk_left_sidebar .pk_one_fifth.pk_fixed, .pk_right_sidebar .pk_one_fifth.pk_fixed{ width: 100px; }
.pk_one_sixth.pk_fixed{ width: 140px; }
.pk_left_sidebar .pk_one_sixth.pk_fixed, .pk_right_sidebar .pk_one_sixth.pk_fixed{ width: 80px; }
.pk_two_third.pk_fixed{ width: 600px; }
.pk_left_sidebar .pk_two_third.pk_fixed, .pk_right_sidebar .pk_two_third.pk_fixed{ width: 380px; }
.pk_two_fourth.pk_fixed{ width: 460px; }
.pk_left_sidebar .pk_two_fourth.pk_fixed, .pk_right_sidebar .pk_two_fourth.pk_fixed{ width: 280px; }
.pk_two_fifth.pk_fixed{ width: 364px; }
.pk_left_sidebar .pk_two_fifth.pk_fixed, .pk_right_sidebar .pk_two_fifth.pk_fixed{ width: 220px; }
.pk_two_sixth.pk_fixed{ width: 300px; }
.pk_left_sidebar .pk_two_sixth.pk_fixed, .pk_right_sidebar .pk_two_sixth.pk_fixed{ width: 180px; }
.pk_three_fourth.pk_fixed{ width: 700px; }
.pk_left_sidebar .pk_three_fourth.pk_fixed, .pk_right_sidebar .pk_three_fourth.pk_fixed{ width: 430px; }
.pk_three_fifth.pk_fixed{ width: 556px; }
.pk_left_sidebar .pk_three_fifth.pk_fixed, .pk_right_sidebar .pk_three_fifth.pk_fixed{ width: 340px; }
.pk_three_sixth.pk_fixed{ width: 460px; }
.pk_left_sidebar .pk_three_sixth.pk_fixed, .pk_right_sidebar .pk_three_sixth.pk_fixed{ width: 280px; }
.pk_four_fifth.pk_fixed{ width: 748px; }
.pk_left_sidebar .pk_four_fifth.pk_fixed, .pk_right_sidebar .pk_four_fifth.pk_fixed{ width: 460px; }
.pk_four_sixth.pk_fixed{ width: 620px; }
.pk_left_sidebar .pk_four_sixth.pk_fixed, .pk_right_sidebar .pk_four_sixth.pk_fixed{ width: 380px; }
.pk_five_sixth.pk_fixed{ width: 780px; }
.pk_left_sidebar .pk_five_sixth.pk_fixed, .pk_right_sidebar .pk_five_sixth.pk_fixed{ width: 480px; }
.pk_fixed.pk_last {
	float: right;
	margin-right: 0;
}


/*
	SLIDERS
-------------------------------------------------------------------------------------------------------------------------------------*/


/* Content Slider */
	
.pk_content_slider, .pk_slider .pk_slider_content {
	position: relative;
	overflow: hidden;
}
.pk_content_slider .pk_slider_content{ height: auto; }
.pk_content_slider .pk_slider_item {
	display: none;
	width: 100%;
	height: auto;
}
.pk_content_slider .pk_slider_item:first-child{ display: block; }
.pk_content_slider .pk_slider_item img {
	display: block;
	margin: 0;
	width: 100%;
	height: auto;
	border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;
}
.pk_content_slider .pk_slider_item_title, .pk_content_slider .pk_slider_item_caption {
	display: none;
	position: absolute;
	top: 0;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .15);
	z-index: 2;
}
.pk_content_slider .pk_slider_item_title {
	font-size: 40px;
	line-height: 44px;
}
.pk_content_slider .pk_slider_item_caption {
	font-size: 16px;
	line-height: 24px;
}
.pk_content_slider .pk_slider_item_caption p{ margin: 0; }
.pk_content_slider .pk_button_next, .pk_content_slider .pk_button_prev {
	display: none;
	position: absolute;
	top: 0;
	width: 60px;
	height: 100%;
	text-indent: -9999px;
}
.pk_content_slider .pk_button_prev{ left: -60px; }
.pk_content_slider .pk_button_next{ right: -60px; }
.pk_content_slider .pk_slider_navigation {
	display: none;
	position: absolute;
	bottom: 0;
	padding: 15px 20px;
}
.pk_content_slider .pk_overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.pk_content_slider .pk_slider_thumbs {
	overflow: hidden;
	float: right;
}
.pk_content_slider .pk_slider_thumbs .pk_slider_navigation_button {
	display: block;
	float: left;
	width: 12px;
	height: 12px;
	text-indent: -9999px;
}
.pk_content_slider .pk_button_read_more{ margin-bottom: 3px; }
.pk_content_slider .pk_loader {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 20px;
	height: 20px;
	z-index: 2000;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
}
.pk_content_slider .pk_snap_points .pk_link_clone {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-indent: -9999px;
	z-index: 1;
	background: url('../images/back_grounds/transparent_bg.png');
}

	
/* Slider */

.pk_slider {
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);	
}
.pk_slider .pk_slider_content {
	position: relative;
	overflow: hidden;
	margin-bottom: 40px;
	height: auto;
	min-height: 60px;
}
.pk_slider .pk_slider_item {
	clear: both;
	width: 100%;
	height: auto;
}
.pk_slider .pk_slider_content .pk_image {
	margin-bottom: 0;
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}
.pk_slider .pk_slider_content .pk_image_wrapper {
	margin: 0;
	border: none;
	background: none;
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
}
.pk_slider .pk_slider_content .pk_image_wrapper img {
	display: block;
	margin: 0;
	width: 100%;
	height: auto;
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px;
}	
.pk_slider .pk_button_next, .pk_slider .pk_button_prev {
	display: none;
	position: absolute;
	top: 0;
	width: 60px;
	height: 100%;
	text-indent: -9999px;
}
.pk_slider .pk_button_prev{ left: -60px; }
.pk_slider .pk_button_next{ right: -60px; }
.pk_slider .pk_slider_navigation {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
}
.pk_slider .pk_slider_thumbs {
	float: left;
	margin-top: 14px;
	height: 12px;
}
.pk_slider .pk_slider_thumbs .pk_slider_navigation_button {
	display: block;
	float: left;
	width: 12px;
	height: 12px;
	cursor: pointer;
	text-indent: -9999px;
}	
.pk_slider .pk_button_slideshow {
	display: none;
	position: absolute;
	right: 14px;
	margin-top: 14px;
	width: 12px;
	height: 12px;
	cursor: pointer;
	text-indent: -9999px;
}
.pk_slider .pk_slider_info_button {
	display: none;
	position: absolute;
	left: 15px;
	margin-top: 9px;
	font-size: 11px;
	cursor: pointer;
}
.pk_slider .pk_slider_item_info {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.pk_slider .pk_slider_item_info_content {
	position: relative;
	padding: 10px 15px;
	font-size: 13px;
	z-index: 2;
}
.pk_slider .pk_slider_item_info_background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.pk_slider .pk_loader {
	position: absolute;
	bottom: 50px;
	right: 10px;
	width: 20px;
	height: 20px;
	z-index: 2000;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
}


/*
	IMAGES - VIDEOS
-------------------------------------------------------------------------------------------------------------------------------------*/


.pk_image {
	overflow: hidden;
	margin-bottom: 20px;
	padding: 0;
	-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.pk_image_wrapper {
	position: relative;
	overflow: hidden;
	border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;
}
.pk_image_wrapper img, .pk_fit img {
	display: block;
	margin: 0 auto;
}
.pk_video {
	position: relative;
	margin-bottom: 20px;
	width: 100%;
	height: auto;
	-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
}
.pk_video iframe, .pk_video object, .pk_video embed{ -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }


/* Overlay Icons */

.pk_image_button_icon {
	position: absolute;
	display: none;
	overflow: hidden;
	top: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	z-index: 2;
}
.pk_image_button_back_ground {
	position: absolute;
	display: none;
	overflow: hidden;
	top: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	z-index: 1;
}
.pk_zoom_icon:hover .pk_image_button_icon,
.pk_play_icon:hover .pk_image_button_icon,
.pk_page_icon:hover .pk_image_button_icon,
.pk_link_icon:hover .pk_image_button_icon,
.pk_zoom_icon:hover .pk_image_button_back_ground,
.pk_play_icon:hover .pk_image_button_back_ground,
.pk_page_icon:hover .pk_image_button_back_ground,
.pk_link_icon:hover .pk_image_button_back_ground{ display: block; }
.pk_image.pk_alignleft{ margin: 3px 15px 0 0; }
.pk_image.pk_aligncenter{ margin-bottom: 10px; }
.pk_image.pk_aligncenter .pk_image_wrapper, .pk_image.pk_aligncenter .pk_image_shadow {
	display: block;
	margin: 0 auto;
}
.pk_image.pk_alignright{ margin: 3px 0 0 15px; }


/*
	WP GALLERY - WP CAPTION
-------------------------------------------------------------------------------------------------------------------------------------*/


.gallery{ margin: auto; }
.gallery .gallery-item {
	float: left;
	margin-top: 10px;
	text-align: center;
	width: 33%;
}
.gallery img{ border: none; }
.gallery .gallery-caption{ margin-left: 0; }

.pk_entry_attachment {
	padding: 10px;
	text-align: center;
}
.pk_attachment_caption p {
	display: block;
	margin: 3px 0 0 0;
	padding: 10px 17px;
}
.pk_attachments_navigation{ overflow: hidden; }
.pk_attachments_navigation .pk_prev_atachment a, .pk_attachments_navigation .pk_next_atachment a{ padding: 0 15px; }
.pk_prev_atachment a{ float: left; }
.pk_next_atachment a{ float: right; }
.pk_entry_attachment, .pk_attachment_caption p{ -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }

.wp-caption {
	overflow: hidden;
	margin-bottom: 20px;
	padding: 4px 4px 0 4px;
}
.wp-caption img {
	display: block;
	margin: 0 auto;
}
.wp-caption-text {
	margin: 15px 0 !important;
	padding: 0;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
}


/*
	FORMS
-------------------------------------------------------------------------------------------------------------------------------------*/


.wpcf7, .wpcf7 form {
	position: relative;
	clear: both;
	padding: 0;
}
.wpcf7 form {
	overflow: hidden;
	margin: 0 !important;
}
.wpcf7 .wpcf7-form-control-wrap{ position: relative; }
.wpcf7 .wpcf7-response-output {
	clear: both;
	margin: 0;
	padding: 15px;
}
.wpcf7 .wpcf7-not-valid-tip {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 2px 5px;
	width: auto;
	font-size: 11px;
	z-index: 100;
	border: none;
	background: none;
}
.wpcf7 .wpcf7-validation-errors, .wpcf7 .wpcf7-mail-sent-ok {
	clear: both;
	margin: 5px 0 0 0;
	padding: 15px;
	border: none;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
}
.wpcf7 form div, .wpcf7 form p {
	display: block;
	overflow: hidden;
	position: relative;
	clear: both;
	margin-bottom: 10px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.wpcf7 form p:last-child{ margin-bottom: 0; }
.wpcf7 label {
	float: left;
	margin: 5px 0 0 15px;
	padding: 0;
}
.wpcf7 input[type=text] {
	float: left;
	width: 55%;
}
.wpcf7 textarea{ width: 100%; }
#pk_widgets_area .wpcf7 textarea{ height: 120px; }
.wpcf7 .wpcf7-submit {
	float: left;
	margin: 0 0 3px 0;
}
.wpcf7 .ajax-loader {
	display: block;
	float: left;
	margin: 8px 0 0 15px;
}
.wpcf7 select{ margin: 10px 0; }
.wpcf7 .wpcf7-list-item {
	display: block;
	margin: 5px 0;
	padding: 0;
}
.wpcf7 .wpcf7-acceptance{ margin: 5px 5px 10px 0; }
.wpcf7 .wpcf7-quiz-label {
	display: block;
	margin: 0 0 5px 0;
	padding: 0;
}
.wpcf7 .wpcf7-quiz{ margin: 0; }
.wpcf7 .wpcf7-captchac {
	float: left;
	margin: 3px 0 0 15px;
}
.wpcf7 .wpcf7-file {
	clear: both;
	position: relative;
	margin: 5px 0;
	padding: 10px 0;
	width: auto;
	border: none;
	background: none;
}
.wpcf7 input .wpcf7-not-valid-tip{ left: 5px; }
.wpcf7 .wpcf7-display-none{ display: none; }

/* Login / Register (pk form box) */

.pk_form_box, 
.pk_button_close,
.pk_form_box_back_ground{ position: fixed; }
.pk_form_box {
	overflow: hidden;
	top: 0;
	left: 0;
	width: 280px;
	height: 280px;
	z-index: 9001;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	-moz-box-shadow: 0 0 13px rgba(0, 0, 0, 0.4); -webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.4); box-shadow: 0 0 13px rgba(0, 0, 0, 0.4);
}
.pk_button_close {
	display: block;
	top: 0;
	left: 0;
	width: 30px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9002;
}
.pk_form_box_back_ground {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9000;
}
.pk_user_form {
	overflow: hidden;
	width: 280px;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
.pk_user_form form {
	overflow: hidden;
	padding: 15px;
	-moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px;
}
.pk_user_form p{ margin-bottom: 5px; }
.pk_user_form input[type=text],
.pk_user_form input[type=email],
.pk_user_form input[type=password] {
	margin-top: 3px;
	width: 100%;
}
.pk_user_form .forgetmenot {
	margin: 10px 0 20px 0;
	font-size: 12px;
	float: left;
}
.pk_user_form .forgetmenot input[type=checkbox]{ margin: -1px 0 0 0; }
.pk_user_form .submit {
	float: right;
	margin-top: 4px;
}
.pk_user_form .submit .button-primary{ padding-bottom: 1px; }
.pk_user_form .pk_lost_password {
	display: block;
	clear: both;
	padding: 15px 0;
	font-size: 12px;
	text-align: center;
}
.pk_user_form p.message {
	margin: 0;
	padding: 15px;
	font-size: 12px;
	line-height: 18px;
}
.pk_user_form p.register{ font-size: 16px; }
.pk_user_form p#reg_passmail {
	display: block;
	margin-top: 2px;
	font-size: 11px;
	line-height: 18px;
}
#pk_register_form form{ -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }


/*
	JPLAYER
-------------------------------------------------------------------------------------------------------------------------------------*/


.jp-video {
	position: relative;
	margin-bottom: 20px;
}
.jp-video-full {
	position: static !important; 
	position: relative;
	width: 100%;
	height: 100%;
}
.jp-video-full .jp-jplayer {
	position: fixed !important;
	position: relative; /* Rules for IE6 (full-screen) */
	overflow: hidden;
	top: 0;
	left: 0;
	z-index:1000;
}
.jp-video-full .jp-gui {
	position: fixed !important;
	position: static; /* Rules for IE6 (full-screen) */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}
.jp-video-full .jp-interface {
	position: absolute !important;
	position: relative; /* Rules for IE6 (full-screen) */
	left: 0;
	bottom: -3px;
	z-index: 1000;
}
.jp-interface {
	position: relative;
	width: 100%;
	height: 38px;
}
.jp-controls-holder {
	position: relative;
	overflow: hidden;
	clear: both;
	width: 580px;
	max-width: 940px !important;
	height: 35px;
	margin: 0 auto;
}
.pk_without_sidebar .jp-controls-holder{ width: 940px; }
a.jp-play, a.jp-pause {
	float: left;
	width: 35px;
	height: 35px;
	text-indent: -9999px;
	outline: none;
}
a.jp-pause{ display: none; }
.separator {
	float: left;
	margin: 0 12px 0 0;
	width: 2px;
	height: 35px;
}
.jp-progress {
	float: left;
	margin-top: 15px;
	margin-right: 12px;
	width: 290px;
	height: 7px;
	-webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.18); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.18); box-shadow: inset  0 1px 1px rgba(0, 0, 0, 0.18);
}
.pk_without_sidebar .jp-progress{ width: 650px; }
.jp-seek-bar {
	margin: 1px 1px 0 1px;
	width: 0;
	height: 5px;
	cursor: pointer;
}
.jp-seeking-bg{ -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.jp-play-bar {
	position: relative;
	width: 0;
	height: 5px;
	z-index: 9999;
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
}
.jp-play-bar span{ display: none; }
.jp-current-time, .jp-duration {
	float: left;
	margin-top: 8px;
	font-size: 10px;
}
.jp-current-time {
	display: inline;
	float: left;
}
.jp-duration {
	display: inline;
	float: left;
	text-align: right;
}
.jp-video .jp-duration{ margin-right: 12px; }
.time-sep {
	float: left;
	margin: 7px 3px 0 3px;
	font-size: 10px;
}
.jp-video a.jp-mute, .jp-video a.jp-unmute {
	float: left;
	margin-left: -12px;
	width: 35px;
	height: 35px;
	outline: none;
	text-indent: -9999px;
}
.jp-mute{ float: left; }
a.jp-unmute{ display: none; }
.jp-volume-bar {
	float: left;
	overflow: hidden;
	margin-top: 15px;
	margin-right: 12px;
	width: 60px;
	height: 7px;
	cursor: pointer;
	-webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.18); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.18); box-shadow: inset  0 1px 1px rgba(0, 0, 0, 0.18);
}
.jp-volume-bar-value {
	position: relative;
	margin: 1px 1px 0 1px;
	width: 0;
	height: 5px;
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
}
.jp-volume-bar-value span{ display: none; }
.jp-full-screen, .jp-restore-screen {
	float: right;
	margin-left: -15px;
	width: 35px;
	height: 35px;
	text-indent: -9999px;
	outline: none;
}
.jp-no-solution {
	margin-top: -3px;
	padding: 15px;
	font-size: 13px;
}
.jp-no-solution span {
	display: block;
	margin-bottom: 10px;
	font-size: 16px;
}
.jp-no-solution p{ margin: 0; }


/*
	PRETTYPHOTO
-------------------------------------------------------------------------------------------------------------------------------------*/


.pp_content {
	overflow: hidden;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	-moz-box-shadow: 0 0 13px rgba(0, 0, 0, 0.4); -webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.4); box-shadow: 0 0 13px rgba(0, 0, 0, 0.4);
}
.pp_details {
	margin: 0 !important;
	padding: 0 !important;
	height: 50px !important;
} 
.pp_details .pp_nav {
	margin: 10px 15px 0 15px !important;
	padding: 0 !important;
}
.pp_details .pp_description{ margin: 18px 0 0 15px !important; }
.pp_details .pp_close{ margin: 10px 15px 10px 0 !important; }
.pp_default .pp_top .pp_left,
.pp_default .pp_top .pp_middle,
.pp_default .pp_top .pp_right,
.pp_default .pp_content_container .pp_left,
.pp_default .pp_content_container .pp_right,
.pp_default .pp_bottom .pp_left,
.pp_default .pp_bottom .pp_middle,
.pp_default .pp_bottom .pp_right{ background:none !important; }


/*
	BUTTONS
-------------------------------------------------------------------------------------------------------------------------------------*/

	
.pk_button_read_more {
	display: inline-block;
	margin-bottom: 15px;
	padding-left: 10px;
	font-size: 12px;
}


/* Points */

.pk_snap_points {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.pk_snap_point{ display: none; }
.pk_point_button {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 31px;
	height: 31px;
	cursor: pointer;
	z-index: 100;
}
.pk_tooltip {
	position: absolute;
	top: 0;
	left: 0;
	padding-bottom: 10px;
	z-index:9999;
	background: url('../images/back_grounds/transparent_bg.png');
}
.pk_tooltip .pk_tooltip_content {
	overflow: hidden;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.21); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.21); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.21);
}
.pk_tooltip .pk_tooltip_content img {
	margin-bottom: 15px;
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px;
}
.pk_tooltip .pk_tooltip_content h4 {
	margin: 15px 20px 5px 20px;
	font-size: 16px;
	line-height: 20px;
}
.pk_tooltip .pk_tooltip_content p {
	margin: 0 20px 15px 20px;
	font-size: 11px;
	line-height: 18px;
}
.pk_tooltip .pk_tooltip_arrow {
	display: block;
	margin-left: 30px;
	width: 13px;
	height: 7px;
}
.ie8 .pk_tooltip .pk_tooltip_arrow{ margin-top: -1px; }
.pk_point_button.pk_button_white{ background-position: 0 0; }
.pk_point_button.pk_button_grey{ background-position: 0 -31px; }
.pk_point_button.pk_button_black{ background-position: 0 -62px; }
.pk_point_button.pk_button_orange{ background-position: 0 -93px; }
.pk_point_button.pk_button_yellow{ background-position: 0 -124px; }
.pk_point_button.pk_button_lime{ background-position: 0 -155px; }
.pk_point_button.pk_button_green{ background-position: 0 -186px; }
.pk_point_button.pk_button_blue{ background-position: 0 -217px; }
.pk_point_button.pk_button_purple{ background-position: 0 -248px; }
.pk_point_button.pk_button_red{ background-position: 0 -279px; }


/*
	OTHERS
-------------------------------------------------------------------------------------------------------------------------------------*/


.pk_alignleft, .alignleft{ float: left; margin: 15px 15px 0 0; }
.pk_aligncenter, .aligncenter{ display: block; margin: 20px auto; margin-bottom: 20px; }
.pk_alignright, .alignright{ float: right; margin: 15px 0 0 15px; }
.pk_alignnone:after, .alignnone:after{ content: ""; display: table; }
.pk_alignnone:after, .alignnone:after{ clear: both; }
.alignnone{ margin: 20px 0; }
.pk_center_text{ text-align: center; }
.pk_rounded{ -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.pk_hide{ display: none; }
.pk_invisible{ visibility: hidden; }
.pk_clear_float {
	clear: both;
	display:block;
	margin-top: 20px;
}
.pk_clear_margin{ margin: 0; }
.pk_clear_padding{ padding: 0; }
.pk_clear_all{ clear: both; margin: 0; padding: 0; }
.pk_clear_overflow{ overflow: hidden; }


/*
	QUERIES
-------------------------------------------------------------------------------------------------------------------------------------*/


@media only screen and (max-width: 959px) {
	.pk_navigation_wrapper{ overflow: hidden; }
	.pk_navigation_wrapper .pk_button_menu{ display: block; }
	.pk_navigation_wrapper nav{ margin: 42px 0 0 -2px; z-index: 0; }
	.pk_navigation_wrapper nav ul, .pk_navigation_wrapper nav li {
		display: block !important;
		position: relative !important;
		float: none !important;
		top: 0 !important;
		left: 0 !important;
		padding: 0 !important;
		margin: 0 !important;
		width: auto !important;
	}
	.pk_navigation_wrapper nav li{ margin-top: -1px !important;  }
	.pk_navigation_wrapper nav li a{ padding: 5px 20px !important; }
	.pk_navigation_wrapper nav ul ul li{ margin-left: 20px !important; }
	.pk_navigation_wrapper nav ul ul,
	.pk_navigation_wrapper nav ul ul ul,
	.pk_navigation_wrapper nav ul:first-child > li:hover,
	.pk_navigation_wrapper nav .current-menu-item a, 
	.pk_navigation_wrapper nav .current-menu-ancestor a {
		border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;
		box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
	}
	.pk_navigation_wrapper nav li.menu-item-language img.iclflag {
		position: relative;
		top: 0 !important;
		left: 0 !important;
		float: left;
		margin: 5px 10px 0 0;
	}
	.ie8 .pk_navigation_wrapper nav{ margin-left: -1px; }
	.ie8 .pk_navigation_wrapper nav li{ margin-top: -1px }
	
	/* Columns */
	
	.pk_fixed{ margin-right: 3.9%; }
	.pk_one_half.pk_fixed, .pk_right_sidebar .pk_one_half.pk_fixed, .pk_left_sidebar .pk_one_half.pk_fixed{ width: 48%; }
	.pk_one_third.pk_fixed, .pk_right_sidebar .pk_one_third.pk_fixed, .pk_left_sidebar .pk_one_third.pk_fixed{ width: 30.6%; }
	.pk_one_fourth.pk_fixed, .pk_right_sidebar .pk_one_fourth.pk_fixed, .pk_left_sidebar .pk_one_fourth.pk_fixed{ width: 22%; }
	.pk_one_fifth.pk_fixed, .pk_right_sidebar .pk_one_fifth.pk_fixed, .pk_left_sidebar .pk_one_fifth.pk_fixed{ width: 16.7%; }
	.pk_one_sixth.pk_fixed, .pk_right_sidebar .pk_one_sixth.pk_fixed, .pk_left_sidebar .pk_one_sixth.pk_fixed{ width: 13.3%; }
	.pk_two_third.pk_fixed, .pk_right_sidebar .pk_two_third.pk_fixed, .pk_left_sidebar .pk_two_third.pk_fixed{ width: 65.3%; }
	.pk_two_fourth.pk_fixed, .pk_right_sidebar .pk_two_fourth.pk_fixed, .pk_left_sidebar .pk_two_fourth.pk_fixed{ width: 48%; }
	.pk_two_fifth.pk_fixed, .pk_right_sidebar .pk_two_fifth.pk_fixed, .pk_left_sidebar .pk_two_fifth.pk_fixed{ width: 37.6%; }
	.pk_two_sixth.pk_fixed, .pk_right_sidebar .pk_two_sixth.pk_fixed, .pk_left_sidebar .pk_two_sixth.pk_fixed{ width: 30.6%; }
	.pk_three_fourth.pk_fixed, .pk_right_sidebar .pk_three_fourth.pk_fixed, .pk_left_sidebar .pk_three_fourth.pk_fixed{ width: 74%; }
	.pk_three_fifth.pk_fixed, .pk_right_sidebar .pk_three_fifth.pk_fixed, .pk_left_sidebar .pk_three_fifth.pk_fixed{ width: 58.4%; }
	.pk_three_sixth.pk_fixed, .pk_right_sidebar .pk_three_sixth.pk_fixed, .pk_left_sidebar .pk_three_sixth.pk_fixed{ width: 47.9%; }
	.pk_four_fifth.pk_fixed, .pk_right_sidebar .pk_four_fifth.pk_fixed, .pk_left_sidebar .pk_four_fifth.pk_fixed{ width: 79.2%; }
	.pk_four_sixth.pk_fixed, .pk_right_sidebar .pk_four_sixth.pk_fixed, .pk_left_sidebar .pk_four_sixth.pk_fixed{ width: 65.3%; }
	.pk_five_sixth.pk_fixed, .pk_right_sidebar .pk_five_sixth.pk_fixed, .pk_left_sidebar .pk_five_sixth.pk_fixed{ width: 82.6%; }
	.pk_fixed.pk_last{ margin-right: 0; }
	
	/* Footer */
	
	.pk_footer{ padding-bottom: 0; }
	.pk_copyright{ clear: both; margin: 0; padding: 15px 0; text-align: center;
		-moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px;
		-moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px;
	}
	.pk_footer_logo{ float: none; margin: 0 auto 15px auto; }
	.pk_footer_sn{ float: left; margin: 6px 0 20px 14px; border: none !important; }
	
	/* Homepages */
	
	.pk_call_to_action .pk_call_to_action_content h2{ width: 400px; }
	.pk_call_to_action .pk_call_to_action_content h2 small{ line-height: 26px; }
	.pk_call_to_action_content .pk_button_big{ top: 28px; }
	.pk_agency_home #pk_featured_text{ margin-top: 40px; }
	.pk_freelance_home .pk_call_to_action .pk_call_to_action_content h2{ width: auto; }
	
	/* jPlayer */
	
	.jp-video a.jp-mute, .jp-video a.jp-unmute, .jp-volume-bar, .jp-video .sep-3{ display: none !important; }
}
	

/* Tablet (portrait and landscape) */

@media only screen and (min-width: 768px) and (max-width: 959px) {
	.pk_center_box{ width: 718px; }
	.pk_wrapper.pk_top_shadow{ background-image: url('../images/shadows/718_top_shadow.png'); }
	.pk_wrapper.pk_middle_shadow{ background-image: url('../images/shadows/718_middle_shadow.png'); }
	.pk_wrapper.pk_bottom_shadow{ background-image: url('../images/shadows/718_bottom_shadow.png'); }
	
	/* Navigation */
	
	.pk_navigation_wrapper{ width: 716px; }
	.pk_navigation_wrapper nav{ width: 718px; }
	#pk_search_form{ width: 243px !important; }
	
	/* Page */
	
	.pk_right_sidebar #pk_main{ width: 400px; }
	.pk_right_sidebar #pk_sidebar{ padding-left: 20px; margin-right: 20px; width: 240px; }
	.pk_without_sidebar{ width: 678px; }
	
	/* Homepages */
	
	.pk_jigoshop_home #pk_latest_products .pk_one_half.pk_fixed,
	.pk_jigoshop_home #pk_featured_products .pk_one_third.pk_fixed,
	.pk_woocommerce_home #pk_latest_products .pk_one_half.pk_fixed,
	.pk_woocommerce_home #pk_featured_products .pk_one_third.pk_fixed{ width: 100%; }
	.pk_jigoshop_home #pk_featured_products .pk_entry_product .onsale,
	.pk_woocommerce_home #pk_featured_products .pk_entry_product .onsale{ left: 15px; }
	.pk_jigoshop_home #pk_featured_products .pk_image,
	.pk_woocommerce_home #pk_featured_products .pk_image{ float: left; margin: 15px 5px 15px 15px; width: 160px; }
	.pk_jigoshop_home #pk_featured_products .pk_image img,
	.pk_woocommerce_home #pk_featured_products .pk_image img{ -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
	.pk_jigoshop_home #pk_featured_products .pk_entry_product header,
	.pk_woocommerce_home #pk_featured_products .pk_entry_product header{ margin: 0 15px 10px 15px; padding: 10px 0; border-top: none !important; }
	.pk_jigoshop_home #pk_featured_products .pk_entry_product footer,
	.pk_woocommerce_home #pk_featured_products .pk_entry_product footer{ margin-top: -39px; border: none !important; }
	.pk_agency_home #pk_featured_slider{ width: 678px; }
	.pk_agency_home #pk_featured_text{ width: 678px; }
	.pk_agency_home #pk_featured_text h2{ float: left; width: 240px; }
	.pk_agency_home #pk_featured_text .pk_widget p{ float: right; width: 400px; }
	.pk_business_home .pk_business_tabs .pk_tabs_navigation{ width: 718px; }
	
	/* Sliders */
	
	.pk_content_slider .pk_slider_item_title{ font-size: 32px; line-height: 36px; }
	.pk_content_slider .pk_slider_item_caption{ font-size: 14px; line-height: 22px; }
	
	/* jPlayer */
	
	.jp-controls-holder{ width: 400px; }
	.pk_without_sidebar .jp-controls-holder{ width: 678px; }
	.jp-progress{ width: 220px; }
	.pk_without_sidebar .jp-progress{ width: 500px; }
}


/* Mobile */

@media screen and (max-width: 767px) {
	.pk_center_box{ width: 300px; }
	.pk_wrapper.pk_top_shadow{ background-image: url('../images/shadows/300_top_shadow.png'); }
	.pk_wrapper.pk_middle_shadow{ background-image: url('../images/shadows/300_middle_shadow.png'); }
	.pk_wrapper.pk_bottom_shadow{ background-image: url('../images/shadows/300_bottom_shadow.png'); }
	
	/* Header / Logo */
	
	.pk_header .pk_right_info{ float: none; margin: 0 0 15px 0; padding: 5px 10px 15px 10px; }
	.pk_header .pk_right_info .pk_button_mini{ position: absolute; top: 5px; right: 8px; }
	.pk_header .pk_right_info p{ margin-right: 100px; }
	.pk_logo{ float: none; margin: 20px auto 15px auto; z-index: 9000; text-indent: -9999px; }
	
	/* Navigation */
	
	.pk_navigation_wrapper{ width: 298px; }
	.pk_navigation_wrapper nav{ width: 300px; }
	.pk_option_nav li:first-child{ display: none; }
	
	/* Page */
	
	.pk_page #pk_sidebar_top_shadow, .pk_page #pk_sidebar_bottom_shadow{ display: none; }
	.pk_page #pk_main, 
	.pk_page #pk_sidebar, 
	.pk_without_sidebar{ float: none; margin: 0; padding: 15px 20px 20px 20px; width: 260px; background-image: none !important; }
	.pk_page #pk_sidebar{ min-height: 0; padding-top: 0; padding-bottom: 40px; }
	.pk_without_sidebar #pk_main{ margin: 0 0 20px 0; padding: 0; }
	
	/* Footer */
	
	.pk_footer_menu li{ display: none; }
	.pk_footer_menu .pk_last{ display: block; }
	
	/* Homepages */
	
	.pk_call_to_action{ text-align: center; }
	.pk_call_to_action .pk_call_to_action_content h2{ width: auto; }
	.pk_call_to_action_content .pk_button_big{ position: relative; top: auto; right: auto; margin: 15px 0 -5px 0; }
	.pk_call_to_action_content .pk_button_big span{ min-width: 194px; }
	.pk_standard_home #pk_featured_text{ display: none; }
	.pk_standard_home .pk_entry_news .pk_image{ max-width: 50px; }
	.pk_standard_home .pk_entry_news.pk_no_thumbnail .pk_entry_content{ margin-left: 0; }
	.pk_standard_home .pk_entry_news .pk_entry_date{ display: none; }
	.pk_agency_home #pk_featured_slider{ width: 260px; height:300px; }
	.pk_agency_home #pk_featured_text{ width: auto; }
	.pk_agency_home .pk_call_to_action{ text-align: left; }
	.pk_business_home .pk_call_to_action{ text-align: left; }
	.pk_business_home .pk_prices_button{ display: none; }
	.pk_business_tabs .pk_tabs_navigation{ margin: -20px 0 0 -20px; width: 300px; height: auto; }
	.pk_business_tabs .pk_tabs_navigation ul li{ float: none; margin: 0; padding: 0; height: auto; }
	.pk_business_tabs .pk_tabs_navigation ul li:first-child{
		-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px;
		-moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px;
	}
	.pk_business_tabs .pk_tabs_navigation ul li a{ display: block; padding: 10px 20px; }
	.pk_business_tabs .pk_tabs_navigation ul li:first-child a{ padding-top:15px; }
	.pk_business_tabs .pk_tabs_navigation ul li.pk_active_tab{ margin-top: 0; padding: 0; height: auto; }
	.pk_business_home #pk_home_business_widgets{ margin-bottom: 0 !important; }
	.pk_business_home #pk_home_business_featured_image{ display: none; margin: 0; }
	.pk_jigoshop_home .pk_content_slider .pk_overlay,
	.pk_woocommerce_home .pk_content_slider .pk_overlay,
	.pk_agency_home .pk_content_slider .pk_overlay,
	.pk_freelance_home .pk_content_slider .pk_overlay{ display: none; }
	
	/* Entries */
	
	.pk_entry_blog.pk_full_content .pk_entry_content{ padding-left: 15px; }
	.pk_entry_aside .pk_entry_content, .pk_entry_status .pk_entry_content{ padding-left: 60px !important; }
	.pk_entry_blog.pk_full_content .pk_entry_content h3{ margin: 0 0 20px 45px; }
	.pk_entry_quote .pk_entry_content h3{ margin-left: 0 !important; }
	.pk_entry_blog .pk_entry_meta{ display: block; margin-top: 10px; }
	.pk_entry_blog .pk_entry_meta .pk_entry_date, .pk_more_by_author, .pk_entry_single .pk_entry_meta li.pk_comments_count{ display: none; }
	.pk_entry_single .pk_entry_meta .pk_entry_date{ display: block; }
	
	/* Comments */
	
	.pk_comments .pk_message .pk_comment_content{ margin-left: 0; }
	.pk_comments .pk_message .pk_comment_meta{ margin-left: 55px; } 
	.pk_comments .pk_message .pk_comment_text{ padding-left: 0; }
	#respond p{ margin-bottom: 0; }
	#respond .comment-form-author, #respond .comment-form-email, #respond .comment-form-url { width: auto; }
	#respond .comment-form-url, #respond .comment-form-comment{ margin-bottom: 15px; }
	#respond input[type=text]{ width: 100%; }
	#respond label{ display: block; position: relative; right: 0; top: 0; margin-bottom: 3px; width: auto; }
	#respond .comment-form-author .required, #respond .comment-form-email .required{ position: absolute; top: 0; right: auto; left: 42px; }
	
	/* Paginations */

	.pk_previous_post_links a, .pk_next_post_links a{ display: block; padding: 0; width: 30px; height: 30px; text-indent: -9999px; }
	
	/* Columns */
	
	.pk_page .pk_one_half.pk_fixed,
	.pk_page .pk_one_third.pk_fixed,
	.pk_page .pk_one_fourth.pk_fixed,
	.pk_page .pk_one_fifth.pk_fixed,
	.pk_page .pk_one_sixth.pk_fixed,
	.pk_page .pk_two_third.pk_fixed,
	.pk_page .pk_two_fourth.pk_fixed,
	.pk_page .pk_two_fifth.pk_fixed,
	.pk_page .pk_two_sixth.pk_fixed,
	.pk_page .pk_three_fourth.pk_fixed,
	.pk_page .pk_three_fifth.pk_fixed,
	.pk_page .pk_three_sixth.pk_fixed,
	.pk_page .pk_four_fifth.pk_fixed,
	.pk_page .pk_four_sixth.pk_fixed,
	.pk_page .pk_five_sixth.pk_fixed{ width: 100%; }
	
	/* Sliders */
	
	.pk_content_slider .pk_slider_content{ height: 300px !important; }
	.pk_content_slider .pk_slider_item img{ max-width: none; width: auto; height: 300px; }
	.pk_content_slider .pk_slider_item_title, .pk_content_slider .pk_slider_item_caption{ width: 210px !important; }
	.pk_content_slider .pk_slider_item_title{ font-size: 24px; line-height: 28px; }
	.pk_content_slider .pk_slider_item_caption{ font-size: 13px; line-height: 21px; }
	.pk_content_slider .pk_overlay{ display: block; }
	
	/* Points */
	
	.pk_snap_points{ display: none; }
	
	/* Forms */
	
	.wpcf7 label{ display: block; float: none; margin: 0 0 3px 0; width: auto; }
	.wpcf7 input[type=text]{ float: none; width: 100%; }
	
	/* jPlayer */
	
	.jp-controls-holder, .pk_without_sidebar .jp-controls-holder{ width: 260px; }
	.jp-progress, .pk_without_sidebar .jp-progress{ width: 160px; }
	.jp-current-time, .time-sep, .jp-duration{ display: none; }
	
	/* Others */
	
	.pk_alignleft, .alignleft,
	.pk_aligncenter, .aligncenter,
	.pk_alignright, .alignright{ float: none; margin: 0 0 20px 0 !important; }
}


/* Mobile Landscape */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.pk_center_box{ width: 460px; }
	.pk_wrapper.pk_top_shadow{ background-image: url('../images/shadows/460_top_shadow.png'); }
	.pk_wrapper.pk_middle_shadow{ background-image: url('../images/shadows/460_middle_shadow.png'); }
	.pk_wrapper.pk_bottom_shadow{ background-image: url('../images/shadows/460_bottom_shadow.png'); }
	
	/* Navigation */
	
	.pk_navigation_wrapper{ width: 458px; }
	.pk_navigation_wrapper nav{ width: 460px; }
	
	/* Page */
	
	.pk_page #pk_main, .pk_page #pk_sidebar, .pk_without_sidebar{ width: 420px; }
	
	/* Homepages */
	
	.pk_standard_home .pk_entry_news .pk_entry_date{ display: block; }
	.pk_jigoshop_home #pk_latest_products .pk_one_half.pk_fixed,
	.pk_jigoshop_home #pk_featured_products .pk_one_third.pk_fixed,
	.pk_woocommerce_home #pk_latest_products .pk_one_half.pk_fixed,
	.pk_woocommerce_home #pk_featured_products .pk_one_third.pk_fixed{ width:100%; }
	.pk_jigoshop_home #pk_featured_products .pk_entry_product .onsale,
	.pk_woocommerce_home #pk_featured_products .pk_entry_product .onsale{ left: 15px; }
	.pk_jigoshop_home #pk_featured_products .pk_image,
	.pk_woocommerce_home #pk_featured_products .pk_image{ float: left; margin: 15px 5px 15px 15px; width: 160px; }
	.pk_jigoshop_home #pk_featured_products .pk_image img,
	.pk_woocommerce_home #pk_featured_products .pk_image img{ -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
	.pk_jigoshop_home #pk_featured_products .pk_entry_product header,
	.pk_woocommerce_home #pk_featured_products .pk_entry_product header{ margin: 0 15px 10px 15px; padding: 10px 0; border-top: none !important; }
	.pk_jigoshop_home #pk_featured_products .pk_entry_product footer,
	.pk_woocommerce_home #pk_featured_products .pk_entry_product footer{ padding-top: 0; margin-top: -39px; border: none !important; }
	.pk_agency_home #pk_featured_slider{ width: 420px; }
	.pk_business_home .pk_business_tabs .pk_tabs_navigation{ width: 460px; }
	
	/* Sliders */
	
	.pk_content_slider .pk_slider_item_title, .pk_content_slider .pk_slider_item_caption{ width: 240px !important; }
	
	/* jPlayer */
	
	.jp-controls-holder, .pk_without_sidebar .jp-controls-holder{ width: 420px; }
	.jp-progress, .pk_without_sidebar .jp-progress{ width: 240px; }
	.jp-current-time, .time-sep, .jp-duration{ display: block; }
}


/*************************************************************************************************************************************
	Hacks
**************************************************************************************************************************************/


.ie7 blockquote, .ie8 blockquote, .ie9 blockquote{ overflow: hidden; }
.ie7 .pk_underline_list.pk_arrow_list, .ie7 .pk_underline_list.pk_check_list, .ie7 .pk_underline_list.pk_clear_list,
.ie8 .pk_underline_list.pk_arrow_list, .ie8 .pk_underline_list.pk_check_list, .ie8 .pk_underline_list.pk_clear_list,
.ie9 .pk_underline_list.pk_arrow_list, .ie9 .pk_underline_list.pk_check_list, .ie9 .pk_underline_list.pk_clear_list{ overflow:hidden; }
.ie7 .pk_clearfix{ zoom: 1; }
.ie7 ol li{ margin-left:8px; }