/*
	GLOBAL
-------------------------------------------------------------------------------------------------------------------------------------*/


.clear{ clear: both; }
.nobr{ white-space: nowrap; }
.info {
	padding: 15px;
	-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.woocommerce_error, .woocommerce_message {
	overflow: hidden;
	margin: 0 0 20px 0;
	padding: 15px;
	-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.info a, .info a:hover,
.woocommerce_error a, .woocommerce_error a:hover,
.woocommerce_message a, .woocommerce_message a:hover{ text-decoration: underline; }
p.demo_store {
	position: fixed;
	top: 0;
	left: 50%;
	width: 450px;
	margin-left: -225px;
	padding: 8px 0;
	font-size: 12px;
	text-align: center;
	z-index: 999999;
	-moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
small.note {
	display: block;
	margin-top: 10px;
	font-size: 11px;
	line-height: 21px;
}
.page-title{ display: none; }
.woocommerce-cart #sidebar_after_page_content {
	clear: both;
	margin-top: 60px;
}


/*
	PRODUCT PAGE
-------------------------------------------------------------------------------------------------------------------------------------*/

.products ul, ul.products {
	float: left;
	margin: 0 0 14px !important;
	padding: 0 !important;
	list-style: none;
}
ul.products { margin-top: 50px !important; }
ul.products.pk_clear_top { margin-top: 0 !important; }
.products { clear: both; }
.products li {
	display: block;
	position: relative;
	overflow: hidden;
	float: left;
	margin: 0 20px 20px 0;
	padding: 0 0 60px 0;
	width: 180px;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.products li a { text-decoration: none; }
.products li a img {
	display: block;
	margin: 0 auto;
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px;
	-ms-interpolation-mode: bicubic;
}
.products li h3 {
	display: block;
	max-width: 250px;
	width: 150px;
	margin: 15px 15px 0 15px;
	word-wrap: break-word;
	font: normal 18px/24px "Myriad Pro", "Helvetica Neue", Helvetica, Arial, Lucida Grande, sans-serif;
}
.products li .price {
	display: block;
	position: relative;
	overflow: hidden;
	padding: 0 15px 0 15px;
	min-height: 40px;
	font-size: 12px;
}
.products li.first{ clear: both; }
.products li.last{ margin-right: 0; }
.products li mark.count {
	display: block;
	position: absolute;
	overflow: hidden;
	top: 15px;
	right: 15px;
	padding: 1px 10px 0 9px;
	font-size: 14px;
	font-weight: normal;
	line-height: 21px;
	border: none;
	-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.21); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.21); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.21);
}
.products li.pk_products_category {
	padding-bottom: 0;
	background-image: none !important;
}
.products li.pk_products_category h3{ margin-bottom: 15px; }

/* Ordering */

.woocommerce_ordering {
	position: absolute;
	top: 40px;
	right: 0;
	margin: 0;
	width: 180px;
}
.woocommerce_ordering select {
	margin-top: 2px;
	width: 180px !important;
}
.pk_ordering {
	top: 30px;
	right: 20px;
	width: 300px;	
}
.pk_ordering select {
	position: absolute;
	top: 10px;
	left: 0;
	width: 300px !important;
	z-index: 10;
	cursor: pointer !important;
}
.pk_ordering span.pk_select {
	display: block;
	position: absolute;
	left: 0;
	padding: 10px 15px;
	width: 270px;
	z-index: 1;
	cursor: pointer;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Product Single Page */

.product{ position: relative; }
.product .images {
	position: relative;
	overflow: hidden;
	-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.product .images img {
	display: block;
	margin: 0 auto;
	-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px;
}
.product .images .thumbnails {
	overflow: hidden;
	margin-bottom: 3px;
	padding: 0 0 0 1px;
}
.product .images .thumbnails a {
	float: left;
	margin: 1px 1px 1px 0;
}
.product .images .thumbnails a img{ -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }
.product .summary {
	position: relative;
	overflow: hidden;
	margin-top: -3px;
	padding: 77px 15px 0 15px;
	z-index: 1;
	-moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.product .product_title {
	display: none;
	clear: none;
	margin-bottom: 10px;
	padding: 0;
	font-size: 20px;
	border: none;
}
.product p.price {
	position: absolute;
	top: 15px;
	right: 15px;
	padding: 5px 15px;
	font-size: 15px;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
}
.product .product_meta, .product .variations_button{ float: none; }
.product .product_meta {
	font-size: 12px;
	margin-bottom: 25px;
}
.product .product_meta span { display: block; }
/*
.product .social{ text-align: right; margin: 0 0 1em; }
.product .social span{ margin: 0 0 0 2px; }
.product .stButton .chicklets{ padding-left: 16px; width: 0; }
.product .social iframe{ float: left; margin-top: 3px; }
*/


/* Products: Common Elements */

.onsale {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0 0 0 15px;
	padding: 5px 15px;
	font-size: 12px;
	text-transform: uppercase;
	z-index: 10;
	-moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px;
}
.product .price del {
	float: left;
	margin: 0 6px -5px 0;
	font-size: 10px !important;
}
.product .price ins {
	float: left;
	border: none;
}
.product .price .from {
	display: block;
	float: left;
	margin: 5px 6px 0 0;
	line-height: 10px;
	font-size: 10px !important;
}
.product .price .from + del {
	position: absolute;
	left: 49px;
}
.product .price .from + del + ins {
	clear: both;
	display: block;
}
.product .price .from + del{ position: relative; left: auto; }
.product p.price .from + del + ins{ clear: none; }
p.stock {
	position: absolute;
	display: block;
	top: 20px;
	float: none;
	font-size: 12px;
	padding: 2px 0 0 0;
}
.out-of-stock{ font-size: 14px; }
p.cart{ float: right; }


/*
	PRODUCT PAGE FORM CART
-------------------------------------------------------------------------------------------------------------------------------------*/


form.cart {
	position: relative;
	margin-bottom: 40px;
	float: right;
	width: 100%;
	clear: both;
}
.product .cart{ margin: 10px 0 30px 0; }
form.cart .quantity {
	float: left;
	margin: 0 25px 0 0;
}
form.cart table {
	margin-bottom: 15px;
	font-size: 13px;
	border: none;
}
form.cart table td {
	position: relative;
	margin-bottom: 1px;
	padding: 4px 0;
	text-align: left;
	border: none;
	background: none;
}
form.cart table.quantity {
	float: none;
	margin: 0;
	width: 72px;
}
form.cart table small.stock {
	display: block;
	float: none;
	margin-top: -3px;
	font-size: 11px;
}
form.cart .variations label{ font-weight: bold; }
form.cart .variations select {
	float: left;
	width: 100%;
}
form.track_order .form-row {
	clear: both;
	padding: 0;
	width: 100%;
}
form.track_order input.button{ margin: 10px 0 5px 0; }


/*
	PRODUCT PAGE FORM VARIATIONS
-------------------------------------------------------------------------------------------------------------------------------------*/


form.variations_form table { margin: 0; }
form.variations_form table td{ padding: 6px 0; }
form.variations_form td.value {
	width: 50%;
}
form.variations_form .reset_variations {
	clear: both;
	display: block;
	margin: 35px 0 -5px 0;
	padding-top: 5px;
	visibility: visible !important;
}
form.variations_form .single_variation {
	padding: 15px 0;
	margin-bottom: 38px;
}
form.variations_form .single_variation p.stock {
	position: relative;
	margin: 0;
	top: 0;	
}
form.variations_form .single_variation .price {
	float: right;
	display: block;
	font-size: 15px;
	padding: 0;
	top: 0;
}


/*
	SHOP NAVIGATION
-------------------------------------------------------------------------------------------------------------------------------------*/


.navigation {
	overflow: hidden;
	font-size: 12px;
}
.navigation .nav-previous{ float: left; }
.navigation .nav-next{ float: right; }


/*
	PRODUCT PAGE TABS
-------------------------------------------------------------------------------------------------------------------------------------*/


.woocommerce_tabs {
	overflow: hidden;
	clear: both;
	margin: 20px 0 1em 0;
	padding: 0;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.woocommerce_tabs ul.tabs {
	overflow: hidden;
	margin: 1px 1px 0 1px;
	padding: 5px 0 0 5px;
	border-bottom: none !important;
	list-style: none;
	zoom: 1;
}
.woocommerce_tabs ul.tabs li {
	float: left;
	margin: 0 1px 0 0;
	font-size: 13px;
}
.woocommerce_tabs ul.tabs li:first-child{ border-top: none !important; }
.woocommerce_tabs ul.tabs li.active, .woocommerce_tabs ul.tabs li:hover {
	-moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; border-top-left-radius: 2px;
	-moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; border-top-right-radius: 2px;
	-moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.21); -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.21); box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.21);
}
.woocommerce_tabs ul.tabs a {
	float: left;
	padding: 5px 10px 7px 10px;
	text-decoration: none;
	-webkit-transition: none;
	-moz-transition: none;
    -ms-transition: none;
	-o-transition: none;
	transition: none;
}
.woocommerce_tabs .panel {
	overflow: hidden;
	padding: 25px 15px 20px 15px;
	-moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px; border-bottom-left-radius: 2px;
	-moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px; border-bottom-right-radius: 2px;
}
.woocommerce_tabs .panel h2{ font-size: 18px; }
.woocommerce_tabs #tab-customize form {
	overflow: hidden;
	padding-bottom: 5px;
}
.woocommerce_tabs #tab-customize form input[type=text] {
	margin: 0 0 15px 0;
	width: 100%;
}


/*
	BUTTONS
-------------------------------------------------------------------------------------------------------------------------------------*/


a.button, button.button, input[type=submit].button, .button.alt, input[type=submit].button.alt, #review_form #submit, .woocommerce_login_widget input[type=submit] {
	float: left;
	margin: 1px 0 0 0;
	padding: 0 22px;
	height: 32px;
	font-size: 13px;
	line-height: 32px;
	cursor: pointer;
	text-decoration: none;
	border: none;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.18); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.18); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.18);
	-webkit-transition: none;
	-moz-transition: none;
    -ms-transition: none;
	-o-transition: none;
	transition: none;
}
a.button:hover, button.button:hover, input[type=submit].button:hover, .button.alt:hover, input[type=submit].button.alt:hover, #review_form #submit:hover, .woocommerce_login_widget input[type=submit]:hover{ background-position: 0 -82px; }
.ie9 a.button, .ie9 button.button, .ie9 input[type=submit].button, .ie9 .button.alt, .ie9 input[type=submit].button.alt, .ie9 #review_form #submit, .ie9 .woocommerce_login_widget .ie9 input[type=submit]{ line-height:31px; }


/* Grid Product Button */

.products li a.button {
	position: absolute;
	overflow: hidden;
	bottom: 15px;
	right: 15px;
	margin: 0;
	padding: 0 15px;
	height: 25px;
	font-size: 12px;
	line-height: 25px;
}
.products li a.button:hover{ background-position: 0 -25px; }
.ie8 .products li a.button{ line-height: 23px; }
.ie9 .products li a.button{ line-height: 26px; }


/* Cart Button */

td.actions .button {
	float: right;
	margin: 0 2px 15px 0;
}
td.actions .button.alt {
	clear: both;
	float: right;
	margin: 0 0 25px 0;
}
td.actions .button.alt:hover, #place_order:hover{ background-position: 0 -32px; }
td.actions .coupon input.button {
	position: absolute;
	top: 1px;
	right: 0;
	margin: 0;
	padding: 0 15px 2px 15px;
	height: 25px;
	font-size: 12px;
	line-height: 25px;
}
td.actions .coupon input.button:hover{ background-position: 0 -25px; }
.ie8 td.actions .coupon input.button{ top: 2px; line-height: 23px; }


/* My account Button */

table.my_account_orders .button, .woocommerce_error a.button, .woocommerce_message a.button {
	float: none;
	margin: 0;
	padding: 0;
	font-size: 12px;
	height: 18px;
	line-height: 18px;
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
	-webkit-transition:color .2s linear;
	-moz-transition:color .2s linear;
    -ms-transition:color .2s linear;
	-o-transition:color .2s linear;
	transition:color .2s linear;
	border: none;
	background: none;
}


/* Messages Button */

.woocommerce_error a.button, .woocommerce_message a.button {
	float: right;
	margin: 2px;
	font-size: 13px;
	background: none;
}
.woocommerce_error a.button,
.woocommerce_error a.button, .woocommerce_error a.button:hover,
.woocommerce_message a.button, .woocommerce_message a.button:hover{ text-decoration: underline; }


/*
	REVIEWS - RATING
-------------------------------------------------------------------------------------------------------------------------------------*/


#reviews h2 small {
	float: right;
	margin: 10px 0 0 0;
	font-size: 15px;
	line-height: 21px;
}
#reviews h2 small a{ text-decoration: none; }
#reviews h3{ margin: 0; }
#reviews #comment{ height: 75px; }
#reviews #comments h2{ margin-bottom: 5px; }
#reviews #comments ol.commentlist {
	overflow: hidden;
	margin: 0 0 20px 0;
	zoom: 1;
	list-style: none;
}
#reviews #comments ol.commentlist li {
	position: relative;
	margin: 0;
	padding: 15px 0px;
}
#reviews #comments ol.commentlist li img {
	float: left;
	margin: 0 20px 0 0;
	padding: 0;
	width: 35px;
	height: auto;
}
#reviews #comments ol.commentlist li .comment-text {
	overflow:hidden;
	padding: 0;
}
#reviews #comments ol.commentlist li .comment-text p{ margin: 15px 0 0 0; }
#reviews #comments ol.commentlist li .comment-text p.meta {
	margin: 0;
	font-size: 12px;
}
.star-rating { 
	float: right;
	margin: 10px 0 0 0;
}
.star-rating span {
	height: 0;
	padding-top: 16px;
	overflow: hidden;
	float: left;
}
.comment-text .star-rating {
	float: none;
	margin: 0 0 5px 0;
	width: 80px;
	height: 16px;
}

#review_form_wrapper, #review_form {
	position: relative;
	clear: both;
	width: 100%;
}
#review_form #respond {
	overflow: hidden;
	margin: 0;
	padding: 0;
}
#review_form #respond h3 {
	margin: 30px 0 18px 0;
	padding-bottom: 5px;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
}
#review_form #respond textarea{ height: 200px; }
#review_form #respond .comment-form-rating{ margin: 5px 0 15px 0 !important; }
#review_form #respond .comment-form-rating label{ display: none; }
p.stars {
	overflow: hidden;
	zoom: 1;
}
p.stars span {
	position: relative;
	float: left;
	width: 80px;
	height: 16px;
}
p.stars span a {
	position: absolute;
	overflow: hidden;
	float: left;
	left: 0;
	top: 0;
	padding-top: 16px;
	width: 16px;
	height: 0;
}
p.stars span a.star-1 { width: 16px; z-index: 10; }
p.stars span a.star-2 { width: 32px; z-index: 9; }
p.stars span a.star-3 { width: 48px; z-index: 8; }
p.stars span a.star-4 { width: 64px; z-index: 7; }
p.stars span a.star-5 { width: 80px; z-index: 6; }


/*
	TABLES
-------------------------------------------------------------------------------------------------------------------------------------*/


/* Cart Page table */

table.shop_table {
	overflow: hidden;
	width: 100%;
	margin: 0 0 20px 0;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
table.shop_table th {
	padding: 15px;
	text-align: left;
	font-size: 12px;
	border: none;
	background: none;
}
table.shop_table thead tr{ border: none; }
table.shop_table td {
	padding: 6px 15px;
	text-align: left;
	vertical-align: middle;
	border: none;
	background: none;
}
table.shop_table td.actions {
	overflow: hidden;
	padding: 25px 15px 0 15px;
	text-align: right;
	background: none;
}
table.shop_attributes td {
	margin: 0 !important;
	padding: 0 0 0 15px;
}
table.shop_attributes td p {
	margin: 0 !important;
	padding: 8px;
}
table.shop_table tr.shipping select {
	margin: 0;
	width: 100%;
}
table.shop_table tr.shipping ul {
	margin: 4px 0 0 0;
	list-style: none;
}
table.shop_table tr.shipping li{ clear: both; margin: 0 0 4px 0; }
table.shop_table tr.shipping li input[type="radio"]{ float: left; margin: 6px 8px 0 0; }
table.shop_table tr.shipping li label{ display: block; overflow: hidden; }
/* Product Detail Page: Attributes (inside #tabs) 

table.shop_attributes{ border: 0 !important; }
table.shop_attributes th{ margin: 0 !important; width: 150px; padding: 8px; }
table.shop_attributes td{ margin: 0 !important; padding: 0 0 0 15px; text-align: left; font-style: italic; }
table.shop_attributes td p{ margin: 0 !important; padding: 8px; }
table.shop_attributes .alt td, table.shop_attributes .alt th{ background: #000; }

*/

/* My Account / Order Page table */

table.my_account_orders {
	overflow: hidden;
	margin-bottom: 20px;
	font-size: 12px;
	line-height: 18px;
}
table.my_account_orders th, table.my_account_orders td {
	padding: 6px 15px;
	vertical-align: middle;
	word-wrap: break-word;
}
table.my_account_orders th{ padding: 15px; }
table.my_account_orders td a{ display: block; }


/* Order Detail / Checkout Page table */

.woocommerce-account table.shop_table{ margin-bottom: 55px; }
.woocommerce-account table.shop_table th, #order_review table.shop_table th{ padding: 15px; }
.woocommerce-account table.shop_table td, #order_review table.shop_table td{ padding: 6px 15px; }
.woocommerce-account table.shop_table tfoot td, #order_review table.shop_table tfoot td {
	padding: 10px 0;
	text-align: left;
}
.woocommerce-account table.shop_table tfoot tr td:first-child, #order_review table.shop_table tfoot tr td:first-child{ text-align: right; }
.woocommerce-account table.shop_table tfoot .amount{ font-size: 14px; font-weight: bold; }
#order_review table.shop_table tfoot .total strong{ font-size: 15px; }
#order_review table.shop_table tfoot .total strong span{ font-size: 15px; font-weight: bold; }
.woocommerce-account table.shop_table tfoot td p, #order_review table.shop_table tfoot td p{ margin: 0; }


/*
	CART
-------------------------------------------------------------------------------------------------------------------------------------*/


.woocommerce-cart .pk_without_sidebar{ padding-bottom: 20px; }
a.remove {
	display: block;
	margin: 0 5px 0 15px;
	width: 16px;
	height: 16px;
	text-indent: -9999px;
}
td.product-remove{ padding: 0 !important; }
td.product-thumbnail { padding: 0 5px !important; }
td.product-thumbnail img {
	position:relative;
	top: 11px;
	max-width: 40px;
	height: auto; 
}
td.product-name dl.variation{ margin: 0; }
td.product-name dl.variation dt {
	font-weight: bold;
	display: inline-block;
	margin: 0 4px 0 0;
	padding: 0;
}
td.product-name dl.variation dd {
	display: inline;
	margin: 0 12px 0 0;
	padding: 0;
}
td.product-name dl.variation dt:after{ clear: both; }
td.product-price, td.product-subtotal{ font-size: 13px; }
td.product-subtotal{ padding-right: 15px; }
td.actions .coupon {
	position: relative;
	float: left;
	margin: 5px 0 0 0;
	padding-right: 135px;
	width: 290px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
td.actions .coupon label{ display: none; }
td.actions .coupon input.input-text {
	margin: 0;
	padding: 7px 5px;
	min-width: none;
	width: 100%;
	font-size: 12px;
	line-height: 16px;
	border: none;
	background: none;
	-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.18); -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.18); box-shadow: inset  0 1px 2px rgba(0, 0, 0, 0.18);
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.ie8 td.actions .coupon, .ie9 td.actions .coupon{ padding-right: 130px; }
.quantity {
	position: relative;
	width: 57px;
	height: 37px;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.18); -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.18); box-shadow: inset  0 1px 2px rgba(0, 0, 0, 0.18);
}
.quantity input{ margin: 0; }
.quantity input.qty {
	position: absolute;
	margin: 5px 0 0 5px;
	padding: 5px 10px;
	width: 10px;
	font-size: 13px;
	min-width: 0 !important;
	border: none !important;
	background: none !important;
}
.quantity input.plus, .quantity input.minus {
	position: absolute;
	left: 40px;
	padding: 0;
	border: none; 
	width: 20px;
	height: 19px;
	cursor: pointer;
	text-indent: -9999px;
	z-index: 1;
	-webkit-appearance: none;
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
}
.quantity input.minus{ top: 19px; }
.ie8 .quantity input.plus,
.ie8 .quantity input.minus{ border: none !important; }

.cart-collaterals {
	float: right;
	padding-top: 25px;
	width: 425px;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.cart-collaterals .cart_totals{ margin-bottom: 30px; }
.cart-collaterals .cart_totals h2 {
	display: block;
	margin-left: 15px;
	font-size: 26px;
}
.cart-collaterals .cart_totals p{ margin: 0; }
.cart-collaterals .cart_totals table {
	margin: 0 0 20px 0;
	padding: 0;
}
.cart-collaterals .cart_totals tr th, .cart-collaterals .cart_totals tr td {
	padding: 6px 0;
	text-align: left;
	border: none;
	background: none;
}
.cart-collaterals .cart_totals table th, .cart-collaterals .cart_totals table td {
	padding-left: 15px;
	padding-right: 15px;
}
.cart-collaterals .cart_totals tr th{ width: 45%; }
.cart-collaterals .cart_totals tr.shipping select {
	margin: 0;
	width: 100%;
}
.cart-collaterals .cart_totals tr.shipping ul {
	margin: 4px 0 0 0;
	list-style: none;
}
.cart-collaterals .cart_totals tr.shipping li{ clear: both; margin: 0 0 4px 0; }
.cart-collaterals .cart_totals tr.shipping li input[type="radio"]{ float: left; margin: 6px 8px 0 0; }
.cart-collaterals .cart_totals tr.shipping li label{ display: block; overflow: hidden; }
.cart-collaterals .cart_totals tr.total td {
	padding: 15px;
	font-size: 18px;
}
.cart-collaterals .cart_totals tr.total .amount { font-weight: bold; }
.cart-collaterals .cart_totals table small{ display: block; }
.cart-collaterals .shipping_calculator{ margin: 0; }
.cart-collaterals .shipping_calculator h2 {
	display: inline-block;
	position: relative;
	margin: 0 0 25px 15px;
	padding-right: 23px;
	font-size: 22px;
}
.cart-collaterals .shipping_calculator h2 span {
	position: absolute;
	display: block;
	top: 12px;
	right: 0;
	width: 15px;
	height: 15px;
	text-indent: -9999px;
}
.cart-collaterals .shipping_calculator .shipping-calculator-form {
	overflow: hidden;
	padding: 0 15px 5px 15px;
}
.cart-collaterals .shipping_calculator .form-row select {
	margin-top: 5px;
	width: 100%;
}
.cart-collaterals .shipping_calculator button.button{ margin: 0; }
.cart-collaterals .related {
	width: 310px;
	float: left;
}
.cart-collaterals .cross-sells {
	width: 314px;
	float: left;
}


/*
	FORMS
-------------------------------------------------------------------------------------------------------------------------------------*/


.form-row{ margin: 0 0 6px 0; }
.form-row p {
	clear: both;
	margin: 0;
}
.form-row input.input-text, .form-row textarea {
	width: 100%;
	font-size: 12px;
}
.form-row label {
	display: block;
	margin-bottom: 3px;
	font-size: 12px;
}
.form-row label.hidden{ visibility: hidden; }
.form-row select {
	width: 60%;
	margin: 0 0 10px 0;
	cursor: pointer;
}
.form-row .required {
	font-weight: bold;
	border: none;
}
.form-row .input-checkbox {
	display: inline;
	margin: -2px 8px 0 0;
	text-align: center;
	vertical-align: middle;
}
.form-row label.checkbox{ display: inline; }
.form-row-first, .form-row-last {
	float: left;
	overflow: visible;
	width: 48%;
}
.form-row-last{ float: right; }
.ie8 input.input-text, .ie9 input.input-text{ line-height: 16px; }


/*
	LOGIN
-------------------------------------------------------------------------------------------------------------------------------------*/


form.login {
	overflow: hidden;
	margin: 0;
	padding: 15px;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
form.login .form-row-first,
form.login .form-row-last{ width: 48%; margin: 0 !important;}
form.login input.input-text{ width: 100%; }
form.login .form-row{ margin-top: 10px; }
form.login .form-row a {
	float: left;
	margin: 8px 0 0 15px;
	font-size: 13px;
}
.woocommerce-checkout form.login,
#customer_login .col-1 {
	margin-bottom: 55px;	
}


/*
	CHECKOUT
-------------------------------------------------------------------------------------------------------------------------------------*/


.checkout_coupon .form-row-last { margin-top: -3px; }
.checkout #customer_details {
	position: relative;
	padding: 15px;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }
.checkout h3 {
	margin-bottom: 18px;
	padding-bottom: 5px;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
}
.checkout .form-row,
.checkout .form-row input.input-text,
.checkout .col-2 .notes textarea{ width: 100%; }
.checkout .col-1{ margin-bottom: 30px; }
.checkout .col-2{ margin-right: 0; }
.checkout .col-2 h3{ margin-top: 0; }
.checkout .col-2 .notes {
	float: none;
	margin: 0;
}
.checkout .col-1 .form-row-first, .checkout .col-1 .form-row-last,
.checkout .col-2 .form-row-first, .checkout .col-2 .form-row-last{ width: 48%; }
.checkout .col-2 .notes textarea{ min-height: 130px; }

#shiptobilling {
	float: right;
	margin-bottom: 15px;
	width: auto;
}
#shiptobilling label{ margin-left: -3px; }

#order_review_heading {
	clear: both;
	margin-top: 55px;
}

#payment {
	overflow: hidden;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#payment ul.payment_methods {
	clear: both;
	margin: 0;
	padding: 15px;
	list-style: none;
}
#payment ul.payment_methods li {
	overflow: hidden; 
	margin: 0 0 10px 0;
}
#payment ul.payment_methods li input{ margin: -3px 0 0 1px; }
#payment ul.payment_methods li label {
	margin-left: 5px;
	padding: 0;
}
#payment ul.payment_methods li label img {
	display: block;
	margin: 5px 0 0 22px;
	padding: 0;
}
#payment .form-row {
	overflow: hidden;
	padding: 20px 0;
}
#payment #place_order {
	float: right;
	margin: 5px 15px 0 0;
}
#payment .cancel{ margin-left: 15px; }
#payment .terms {
	padding: 10px 15px 0 15px;
	margin: 0;
	text-align: right;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}
#payment .terms label.checkbox { margin: 0 5px 0 0; }
#payment .terms .input-checkbox { margin: -1px 0 0 0; }
#payment .payment_box {
	position: relative;
	margin: 15px 0 10px 0;
	padding: 15px;
}
#payment .payment_box #cc-expire-month, #payment .payment_box #cc-expire-year {
	width: 48%;
	float: left;
}
#payment .payment_box #cc-expire-year{ float: right; }
#payment .payment_box span.help {
	font-size: 11px;
	line-height: 13px;
	font-weight: normal;
}
#payment .payment_box p, #payment .payment_box .form-row{ margin: 0; }


/*
	ORDER PAGE (THANKYOU PAGE)
-------------------------------------------------------------------------------------------------------------------------------------*/


.woocommerce-thankyou .pk_page h2 {
	clear: both;
	margin: 50px 0 18px 0; /*55*/
	padding-bottom: 5px;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
}
ul.order_details {
	overflow: hidden;
	margin: 30px 0 33px 0;
	padding: 15px;
	list-style: none;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
ul.order_details li {
	display: block;
	padding: 5px 0;
}
ul.order_details li strong{ margin-left: 5px; }
ul.order_details li.method{ border: none; }


/*
	ACCOUNT
-------------------------------------------------------------------------------------------------------------------------------------*/


.woocommerce-account .pk_page h2 {
	clear: both;
	margin: 0 0 18px 0; /*55*/
	padding-bottom: 5px;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
}
.woocommerce-account .pk_page p:first-child:not(.form-row){ margin-bottom: 50px; }
.addresses {
	position: relative;
	overflow: hidden;
	margin: 0 0 20px 0;
	padding: 15px;
	width: 100%;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.addresses p{ margin: 0 !important; }
.addresses .col-1, .addresses .col-2 {
	position: relative;
	float: left;
	width: 47%;
}
.addresses .col-2{ float: right; }
.addresses .title {
	overflow: hidden;
	margin-bottom: 15px;
	zoom: 1;
}
.addresses .title h3 {
	float: left;
	margin-bottom: 10px;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
}
.addresses .title .edit {
	float: right;
	margin-top: -1px;
}


/* Order Detail */

.woocommerce-account mark,
.woocommerce-thankyou mark {
	padding: 0;
	border: none;
}
.woocommerce-account dl,
.woocommerce-thankyou dl {
	padding: 15px;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.woocommerce-account dl dt,
.woocommerce-thankyou dl dt {
	float: left;
	margin-right: 10px;
}
.woocommerce-account dl dd,
.woocommerce-thankyou dl dd {
	margin: 0 0 5px 0;
	padding-top: 1px;
}


/*
	RELATED PRODUCTS
-------------------------------------------------------------------------------------------------------------------------------------*/


.related.products{ margin-top: 55px; }
.related.products h2 {
	margin-bottom: 18px;
	padding-bottom: 5px;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
}


/*
	OTHERS
-------------------------------------------------------------------------------------------------------------------------------------*/


td.alignright {
	float: none; /*right*/
	margin: 0;
}


/*
	QUERIES
-------------------------------------------------------------------------------------------------------------------------------------*/


@media only screen and (max-width: 959px) {
	.woocommerce_tabs ul.tabs{ padding: 0; }
	.woocommerce_tabs ul.tabs li{ float: none; margin: 0; }
	.woocommerce_tabs ul.tabs li.active, .woocommerce_tabs ul.tabs li:hover {
		-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
		-moz-box-shadow: none; -webkit-box-shadow:none; box-shadow: none;
	}
	.woocommerce_tabs ul.tabs a{ display: block; float: none; padding: 5px 15px; }
	.star-rating{ float: none; margin-top: -5px; }
	.star-rating + h2{ clear: both; display: block; padding-top: 25px; }
	.comment-text .star-rating{ position: relative; bottom: 0; }
	
	table.my_account_orders th:nth-child(1),
	table.my_account_orders td:nth-child(1),
	table.my_account_orders th:nth-child(2),
	table.my_account_orders td:nth-child(2){ display: none; }
}


/* Tablet (portrait and landscape) */

@media only screen and (min-width: 768px) and (max-width: 959px) {
	.products li{ float: none; width: 400px; margin-right: 0; padding: 0; background-image: none !important; }
	.products li a img { float: left; top: 0; margin: 15px; width: 160px;
		border-bottom: none !important;
		border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;
		border-top-left-radius: 3px; -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px;
		border-bottom-left-radius: 3px; -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px;
	}
	.products li .onsale{ left: 15px; }
	.products li h3{ overflow: hidden; margin-bottom: 5px; padding-bottom: 3px; width: auto; }
	.products li .price{ overflow: hidden; margin: 0; padding: 0; min-height: auto; }
	.products li .price del{ float: none; display:block; margin: 0 0 -5px 0; }
	.products li .price ins{ float: none; }
	.products li .price .from{ display: block; float: none; margin: 6px 6px 0 0; line-height: 10px; }
	.products li .price .from + del { position: relative; left: 0; }
	.pk_call_to_action_content .woocommerce_ordering { width: 240px; }
	.pk_call_to_action_content .woocommerce_ordering select { width: 240px !important; }
	.pk_call_to_action_content .woocommerce_ordering span.pk_select { padding: 10px 15px; width: 210px; }
}


/* Mobile */

@media screen and (max-width: 767px) {
	.products li{ float: none; width: 260px; margin-right: 0; }
	.products li a img{ width: 100%; }
	.woocommerce_ordering { top: 25px; left: 20px; right: auto; width: 260px; }
	.woocommerce_ordering select { width: 260px !important; }
	.pk_ordering { position: relative; top: 0; left: 0; right: auto; margin-top: 20px; width: 260px; height: 40px; }
	.pk_ordering select { width: 260px !important; }
	.pk_ordering span.pk_select { width: 230px; text-align: left; }
	.product p.price { position: absolute; top: 15px; right: auto; left: 15px; }
	p.stock { position: relative; top: 0; }
	form.variations_form .single_variation{ text-align: center; }
	form.variations_form .single_variation .price{ display: inline-block; float: none; }
	
	.woocommerce-cart th.product-thumbnail, .woocommerce-cart td.product-thumbnail,
	.woocommerce-cart th.product-price, .woocommerce-cart td.product-price,
	.woocommerce-cart th.product-quantity, .woocommerce-cart td.product-quantity{ display: none; }
	.woocommerce-cart td.actions .coupon{ width: 230px; margin-bottom: 30px; }
	.woocommerce-cart .cart-collaterals{ width: 100%; margin: 0; }
	
	.woocommerce-checkout table.shop_table tfoot td{ padding-right: 15px !important; }
	
	table.my_account_orders th:nth-child(4),
	table.my_account_orders td:nth-child(4){ display: none; }
	
	.form-row-first, .form-row-last{ float: left; width: 100%; }
	.form-row label.hidden{ display: none; }
	
	form.login .form-row-first, form.login .form-row-last{ width: 100%; }
	
	.checkout_coupon .form-row-last{ margin-bottom: 20px; }
	.checkout_coupon .form-row-last .button{ float: right; }
	.checkout .col-1 .form-row-first, .checkout .col-1 .form-row-last,
	.checkout .col-2 .form-row-first, .checkout .col-2 .form-row-last{ width: 100%; }
	
	#shiptobilling{ float: none; }
	
	.addresses .col-1, .addresses .col-2{ float: none !important; width: 100%; margin: 0; }
	.addresses .col-1{ margin-bottom: 30px; }
}


/* Mobile Landscape */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.products li{ float: none; width: 420px; margin-right: 0; padding: 0; background-image: none !important; }
	.products li a img { float: left; top: 0; margin: 15px; width: 160px;
		border-bottom: none !important;
		border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;
		border-top-left-radius: 3px; -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px;
		border-bottom-left-radius: 3px; -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px;
	}
	.products li .onsale{ left: 15px; }
	.products li h3{ overflow: hidden; margin-bottom: 5px; padding-bottom: 3px; width: auto; }
	.products li .price{ overflow: hidden; margin: 0; padding: 0; }
	.products li .price del{ float: none; display:block; margin: 0 0 -5px 0; }
	.products li .price ins{ float: none; }
	.products li .price .from{ display: block; float: none; margin: 6px 6px 0 0; line-height: 10px; }
	.products li .price .from + del { position: relative; left: 0; }
	.woocommerce_ordering { left: auto; right: 20px; width: 180px; }
	.woocommerce_ordering select { width: 180px !important; }
	.pk_ordering { position: relative; top: 0; left: 0; right: auto; margin-top: 20px; width: 420px; height: 40px; }
	.pk_ordering select { width: 420px !important; }
	.pk_ordering span.pk_select { width: 390px; }
	form.variations_form .single_variation{ text-align: left; }
	form.variations_form .single_variation .price{ display: block; float: right; }
	.woocommerce-cart td.actions .coupon{ width: 390px; }
	#shiptobilling{ float: right; }
}