/*
	GLOBAL
-------------------------------------------------------------------------------------------------------------------------------------*/
#bbpress-forums {
  clear: both;
  /* Boxed */

}
#bbpress-forums * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#bbpress-forums ul,
#bbpress-forums li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#bbpress-forums hr {
  margin: 0 0 60px 0;
}
#bbpress-forums .reply {
  height: auto;
}
#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-topics,
#bbpress-forums ul.bbp-replies,
#bbpress-forums ul.bbp-lead-topic {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#bbpress-forums li.bbp-forum-info,
#bbpress-forums li.bbp-topic-title {
  float: left;
  margin-right: 1.5%;
  width: 74.5%;
  text-align: left;
}
#bbpress-forums li.bbp-forum-topic-count,
#bbpress-forums li.bbp-forum-reply-count,
#bbpress-forums li.bbp-topic-voice-count,
#bbpress-forums li.bbp-topic-reply-count {
  float: left;
  width: 10%;
  text-align: center;
}
#bbpress-forums li.bbp-forum-reply-count,
#bbpress-forums li.bbp-topic-reply-count {
  float: right;
}
#bbpress-forums li.bbp-forum-freshness,
#bbpress-forums li.bbp-topic-freshness {
  display: none;
  float: right;
  width: 15%;
  text-align: center;
}
#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-body,
#bbpress-forums li.bbp-footer {
  clear: both;
}
#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-footer {
  overflow: hidden;
  font-weight: bold !important;
  text-align: center;
}
#bbpress-forums li.bbp-header .bbp-topic-author,
#bbpress-forums li.bbp-footer .bbp-topic-author,
#bbpress-forums li.bbp-header .bbp-reply-author,
#bbpress-forums li.bbp-footer .bbp-reply-author {
  float: left;
  margin: 0;
  padding: 0;
  width: 90px;
  text-align: left;
}
#bbpress-forums li.bbp-header .bbp-topic-content,
#bbpress-forums li.bbp-footer .bbp-topic-content,
#bbpress-forums li.bbp-header .bbp-reply-content,
#bbpress-forums li.bbp-footer .bbp-reply-content {
  overflow: hidden;
  padding: 0;
  text-align: left;
}
#bbpress-forums .bbp-topic-tags p {
  display: inline-block;
  float: right;
  padding: 5px 15px;
  margin: 0 0 15px 0;
  font-size: 11px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.pk_without_sidebar #bbpress-forums li.bbp-forum-info,
.pk_without_sidebar #bbpress-forums li.bbp-topic-title {
  float: left;
  margin-right: 1.5%;
  width: 60%;
}
.pk_without_sidebar #bbpress-forums li.bbp-forum-topic-count,
.pk_without_sidebar #bbpress-forums li.bbp-forum-reply-count,
.pk_without_sidebar #bbpress-forums li.bbp-topic-voice-count,
.pk_without_sidebar #bbpress-forums li.bbp-topic-reply-count {
  float: left;
  margin-right: 1.5%;
  width: 10%;
}
.pk_without_sidebar #bbpress-forums li.bbp-forum-freshness,
.pk_without_sidebar #bbpress-forums li.bbp-topic-freshness {
  display: block;
  float: right;
  width: 15%;
}
/*
	FORUMS
-------------------------------------------------------------------------------------------------------------------------------------*/
#bbpress-forums .bbp-forums {
  clear: both;
  margin-bottom: 10px;
}
#bbpress-forums .bbp-forums + .bbp-pagination {
  margin-bottom: 55px;
}
#bbpress-forums .bbp-forums .bbp-header {
  padding: 1px 1px 0 1px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
#bbpress-forums .bbp-forums .bbp-header ul {
  overflow: hidden;
}
#bbpress-forums .bbp-forums .bbp-header ul.forum-titles {
  padding: 13px 15px 7px 15px;
  border-bottom: none !important;
}
#bbpress-forums .bbp-forums .bbp-body ul.forum,
#bbpress-forums .bbp-forums .bbp-body ul.topic {
  overflow: hidden;
  padding: 15px;
}
#bbpress-forums .bbp-forums .bbp-body ul.forum:first-child,
#bbpress-forums .bbp-forums .bbp-body ul.topic:first-child {
  border: none !important;
}
#bbpress-forums .bbp-forums .bbp-body .bbp-forum-title {
  font: normal 18px/24px "Myriad Pro", "Helvetica Neue", Helvetica, Arial, Lucida Grande, sans-serif;
}
#bbpress-forums .bbp-forums .bbp-body .bbp-forum-freshness {
  font-size: 11px;
}
#bbpress-forums .bbp-forums .bbp-footer {
  padding: 7px 15px 15px 15px;
}
#bbpress-forums .bbp-forums .bbp-footer p {
  margin: 0;
}
#bbpress-forums .bbp-forums .bbp-forum-content p {
  margin: 0;
  font-size: 12px;
}
#bbpress-forums .bbp-forums .bbp-forums-list {
  margin: 10px 0 15px 0;
  padding: 0 0 0 13px;
}
#bbpress-forums .bbp-forums .bbp-forums-list li {
  padding-left: 13px;
  font-size: 12px;
}
#bbpress-forums .bbp-forums .bbp-topic-meta {
  margin: 5px 0 0 0;
  font-size: 11px;
}
#bbpress-forums .bbp-forums .bbp-topic-meta img {
  display: inline;
  margin: 0 5px -3px 4px;
  width: 15px;
  height: 15px;
}
/*
	TOPICS
-------------------------------------------------------------------------------------------------------------------------------------*/
#bbpress-forums .bbp-topics {
  clear: both;
  margin-bottom: 10px;
}
#bbpress-forums .bbp-topics + .bbp-pagination {
  margin-bottom: 55px;
}
#bbpress-forums .bbp-topics .bbp-header {
  padding: 1px 1px 0 1px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
#bbpress-forums .bbp-topics .bbp-header ul {
  overflow: hidden;
}
#bbpress-forums .bbp-topics .bbp-header ul.forum-titles {
  padding: 15px 15px 7px 15px;
  border-bottom: none !important;
}
#bbpress-forums .bbp-topics .bbp-header .bbp-topic-content span#subscription-toggle,
#bbpress-forums .bbp-topics .bbp-header .bbp-topic-content span#favorite-toggle {
  float: right;
  font-size: 11px;
}
#bbpress-forums .bbp-topics .bbp-body {
  position: relative;
}
#bbpress-forums .bbp-topics .bbp-body ul.forum,
#bbpress-forums .bbp-topics .bbp-body ul.topic {
  overflow: hidden;
  padding: 15px;
}
#bbpress-forums .bbp-topics .bbp-body ul.forum:first-child,
#bbpress-forums .bbp-topics .bbp-body ul.topic:first-child {
  border: none !important;
}
#bbpress-forums .bbp-topics .bbp-body .bbp-topic-title {
  font-size: 14px;
}
#bbpress-forums .bbp-topics .bbp-body .bbp-topic-freshness {
  font-size: 11px;
}
#bbpress-forums .bbp-topics .bbp-body .bbp-topic-meta {
  margin: 5px 0 0 0;
  font-size: 11px;
}
#bbpress-forums .bbp-topics .bbp-body .bbp-topic-meta img {
  display: inline;
  margin: 0 4px -4px 4px;
  width: 15px;
  height: 15px;
}
#bbpress-forums .bbp-topics .bbp-footer {
  padding: 7px 15px 15px 15px;
}
#bbpress-forums .bbp-topics .bbp-footer p {
  margin: 0;
}
#bbpress-forums .bbp-topics .bbp-topic-action {
  position: absolute;
  right: -10px;
}
#bbpress-forums .bbp-topics .bbp-topic-action #favorite-toggle a,
#bbpress-forums .bbp-topics .bbp-topic-action #subscription-toggle a {
  display: block;
  width: 20px;
  height: 20px;
  font-size: 12px;
  line-height: 19px;
  text-align: center;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
/*
	REPLIES
-------------------------------------------------------------------------------------------------------------------------------------*/
#bbpress-forums .bbp-replies {
  clear: both;
  margin-bottom: 10px;
}
#bbpress-forums .bbp-replies + .bbp-pagination {
  margin-bottom: 55px;
}
#bbpress-forums .bbp-replies .bbp-header {
  padding: 1px 1px 0 1px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
#bbpress-forums .bbp-replies .bbp-header .bbp-reply-author,
#bbpress-forums .bbp-replies .bbp-header .bbp-reply-content {
  padding: 15px 15px 7px 15px;
  border-bottom: none !important;
}
#bbpress-forums .bbp-replies .bbp-header .bbp-reply-author {
  border-right: none !important;
}
#bbpress-forums .bbp-replies .bbp-header .bbp-reply-content {
  border-left: none !important;
}
#bbpress-forums .bbp-replies .bbp-header .bbp-reply-content span#subscription-toggle,
#bbpress-forums .bbp-replies .bbp-header .bbp-reply-content span#favorite-toggle {
  font-size: 11px;
  float: right;
}
#bbpress-forums .bbp-replies .bbp-body ul.forum,
#bbpress-forums .bbp-replies .bbp-body ul.topic {
  overflow: hidden;
  padding: 15px;
}
#bbpress-forums .bbp-replies .bbp-body ul.forum:first-child,
#bbpress-forums .bbp-replies .bbp-body ul.topic:first-child {
  border: none !important;
}
#bbpress-forums .bbp-replies .bbp-body .hentry {
  overflow: hidden;
}
#bbpress-forums .bbp-replies .bbp-body .bbp-reply-header {
  position: relative;
  overflow: hidden;
  clear: both;
  padding: 10px 15px;
  margin: 0;
  font-size: 11px;
}
#bbpress-forums .bbp-replies .bbp-body .bbp-reply-header .bbp-reply-permalink {
  position: absolute;
  right: 15px;
  bottom: 10px;
}
#bbpress-forums .bbp-replies .bbp-body .bbp-reply-header .bbp-admin-links {
  display: block;
  clear: both;
  margin-right: 60px;
  font-size: 12px;
}
#bbpress-forums .bbp-replies .bbp-body .bbp-reply-author {
  float: left;
  margin: 25px 0;
  width: 90px;
  text-align: center;
}
#bbpress-forums .bbp-replies .bbp-body .bbp-reply-author br {
  display: none;
}
#bbpress-forums .bbp-replies .bbp-body .bbp-reply-author img.avatar {
  display: block;
  float: none;
  margin: 0 15px 15px 15px;
  max-width: 60px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}
#bbpress-forums .bbp-replies .bbp-body .bbp-reply-author .bbp-author-name {
  margin: 0;
  word-break: break-word;
}
#bbpress-forums .bbp-replies .bbp-body .bbp-reply-author .bbp-author-role {
  font-size: 11px;
  font-style: italic;
}
#bbpress-forums .bbp-replies .bbp-body .bbp-reply-author .bbp-author-ip {
  display: none;
}
#bbpress-forums .bbp-replies .bbp-body .bbp-reply-content {
  overflow: hidden;
  padding: 25px 15px 5px 15px;
}
#bbpress-forums .bbp-replies .bbp-body .bbp-reply-content img {
  max-width: 100%;
}
#bbpress-forums .bbp-replies .bbp-body .bbp-reply-content .bbp-reply-revision-log {
  padding: 8px 0 0 0;
  margin: 0 0 15px 0;
  width: 100%;
  font-size: 11px;
  list-style: none;
}
#bbpress-forums .bbp-replies .bbp-body .bbp-reply-content .bbp-reply-revision-log li {
  padding-left: 13px;
}
#bbpress-forums .bbp-replies .bbp-body .bbp-reply-content .bbp-reply-revision-log img.avatar {
  display: none;
}
#bbpress-forums .bbp-replies .bbp-footer {
  padding: 7px 15px 15px 15px;
}
#bbpress-forums .bbp-replies .bbp-footer p {
  margin: 0;
}
#bbpress-forums .bbp-replies .bbp-footer .bbp-reply-content {
  text-align: left;
}
.ie8 #bbpress-forums .bbp-replies .bbp-body .bbp-reply-content {
  padding-bottom: 25px;
}
/* Single Reply (shortcode) */
.bbp-single-reply {
  ovarflow: hidden;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.bbp-single-reply .hentry {
  overflow: hidden;
}
.bbp-single-reply .bbp-reply-header {
  position: relative;
  overflow: hidden;
  clear: both;
  padding: 10px 15px;
  margin: 0;
  font-size: 11px;
}
.bbp-single-reply .bbp-reply-header .bbp-reply-permalink {
  position: absolute;
  right: 15px;
  bottom: 10px;
}
.bbp-single-reply .bbp-reply-header .bbp-admin-links {
  display: block;
  clear: both;
  margin-right: 60px;
  font-size: 12px;
}
.bbp-single-reply .bbp-reply-author {
  float: left;
  margin: 25px 0;
  width: 90px;
  text-align: center;
}
.bbp-single-reply .bbp-reply-author br {
  display: none;
}
.bbp-single-reply .bbp-reply-author img.avatar {
  display: block;
  float: none;
  margin: 0 15px -10px 15px;
  max-width: 60px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}
.bbp-single-reply .bbp-reply-author .bbp-author-name {
  margin: 0;
  word-break: break-word;
}
.bbp-single-reply .bbp-reply-author .bbp-author-role {
  font-size: 11px;
  font-style: italic;
}
.bbp-single-reply .bbp-reply-author .bbp-author-ip {
  display: none;
}
.bbp-single-reply .bbp-reply-content {
  overflow: hidden;
  padding: 25px 15px 5px 15px;
}
.bbp-single-reply .bbp-reply-content img {
  max-width: 100%;
}
.bbp-single-reply .bbp-reply-content .bbp-reply-revision-log {
  padding: 8px 0 0 0;
  margin: 0 0 15px 0;
  width: 100%;
  font-size: 11px;
  list-style: none;
}
.bbp-single-reply .bbp-reply-content .bbp-reply-revision-log li {
  padding-left: 13px !important;
}
.bbp-single-reply .bbp-reply-content .bbp-reply-revision-log img.avatar {
  display: none;
}
/*
	AVATARS
-------------------------------------------------------------------------------------------------------------------------------------*/
#bbpress-forums .bbp-topic-meta img.avatar,
#bbpress-forums .bbp-topic-revision-log img.avatar,
#bbpress-forums .bbp-template-notice img.avatar,
#bbpress-forums .widget_display_topics img.avatar,
#bbpress-forums .widget_display_replies img.avatar {
  float: none;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}
fieldset div.avatar {
  float: right;
}
/*
	STATUS
-------------------------------------------------------------------------------------------------------------------------------------*/
#bbpress-forums .bbp-topics-front ul.super-sticky .bbp-topic-permalink,
#bbpress-forums .bbp-topics ul.super-sticky .bbp-topic-permalink {
  font: normal 18px/24px "Myriad Pro", "Helvetica Neue", Helvetica, Arial, Lucida Grande, sans-serif;
}
#bbpress-forums .bbp-forum-status-closed .bbp-forum-title {
  padding-left: 20px;
}
#bbpress-forums .status-closed .bbp-topic-permalink {
  padding-left: 20px;
}
#bbpress-forums .status-spam .bbp-topic-permalink {
  padding-left: 23px;
}
#bbpress-forums .status-trash .bbp-topic-permalink {
  padding-left: 23px;
}
/*
	FORMS
-------------------------------------------------------------------------------------------------------------------------------------*/
.bbp-forum-form,
.bbp-topic-form,
.bbp-reply-form,
.bbp-topic-tag-form {
  position: relative;
  clear: both;
}
.bbp-forum-form .bbp-template-notice,
.bbp-topic-form .bbp-template-notice,
.bbp-reply-form .bbp-template-notice,
.bbp-topic-tag-form .bbp-template-notice {
  display: none;
}
fieldset.bbp-form {
  clear: both;
  padding: 18px 0 0 0;
  margin: 0;
  border: none;
}
fieldset.bbp-form br {
  display: none;
}
fieldset.bbp-form fieldset {
  clear: both;
  padding: 0;
  margin-bottom: 5px;
}
fieldset.bbp-form fieldset legend {
  display: none;
}
fieldset.bbp-form fieldset div {
  margin-bottom: 15px;
}
fieldset.bbp-form p,
fieldset.bbp-form input,
fieldset.bbp-form select,
fieldset.bbp-form textarea {
  margin: 0;
}
fieldset.bbp-form legend {
  display: block;
  margin: 0 !important;
  padding: 0 0 5px 0;
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: .05em;
  text-transform: uppercase;
  word-break: break-word;
}
fieldset.bbp-form label {
  display: block;
  margin: 0 0 3px 0;
}
fieldset.bbp-form select,
fieldset.bbp-form input[type="text"],
fieldset.bbp-form input[type="password"] {
  width: 280px;
}
fieldset.bbp-form input[type="checkbox"] {
  float: left;
  margin: 4px 8px 0 0;
}
fieldset.bbp-form input[type="checkbox"] + label {
  display: block;
  overflow: hidden;
}
fieldset.bbp-form p {
  display: block;
  overflow: hidden;
  clear: both;
  margin-bottom: 15px;
}
fieldset.bbp-form code {
  display: block;
  padding: 8px;
  margin: 3px 0 20px 0;
  width: 100%;
  font-size: 10px;
}
fieldset.bbp-form .bbp-admin-links {
  display: block;
  clear: both;
  padding: 10px 0;
  margin: 10px 0;
  font-size: 12px;
}
.ie8 fieldset.bbp-form legend,
.ie9 fieldset.bbp-form legend {
  display: inline;
  padding-bottom: 20px;
}
.ie8 fieldset.bbp-form fieldset legend,
.ie9 fieldset.bbp-form fieldset legend {
  display: none;
}
.ie8 fieldset.bbp-form input[type="checkbox"],
.ie9 fieldset.bbp-form input[type="checkbox"] {
  margin-top: 1px;
}
.bbp-login-form .bbp-template-notice {
  margin-bottom: 10px !important;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.21) !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.21) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.21) !important;
}
.bbp-login-form input[type="text"],
.bbp-login-form input[type="password"] {
  width: 100% !important;
}
.bbp-login-form .bbp-email,
.bbp-login-form .bbp-username,
.bbp-login-form .bbp-password {
  margin-bottom: 15px;
  width: 48%;
}
.bbp-login-form .bbp-username {
  float: left;
}
.bbp-login-form .bbp-password,
.bbp-login-form .bbp-email {
  float: right;
}
.bbp-login-form .bbp-remember-me {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
}
.bbp-login-form .bbp-submit-wrapper {
  clear: both;
}
.bbp-submit-wrapper {
  clear: both;
  margin-top: 20px;
}
/* Editor */
#bbpress-forums .bbp-the-content-wrapper {
  margin-bottom: 20px;
  overflow: hidden;
}
#bbpress-forums .bbp-the-content-wrapper * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#bbpress-forums .bbp-the-content-wrapper textarea.bbp-the-content {
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#bbpress-forums .bbp-the-content-wrapper table,
#bbpress-forums .bbp-the-content-wrapper tbody,
#bbpress-forums .bbp-the-content-wrapper tr,
#bbpress-forums .bbp-the-content-wrapper td {
  border: none;
  padding: 0;
  margin: 0;
  width: auto;
  line-height: 1em;
}
#bbpress-forums .bbp-the-content-wrapper td.mceToolbar {
  padding: 4px 4px 8px;
}
#bbpress-forums .bbp-the-content-wrapper td.mceStatusbar {
  line-height: 16px;
}
#bbpress-forums .bbp-the-content-wrapper input {
  padding: 5px;
  margin: 0;
  line-height: 1em;
  font-size: 12px;
}
#bbpress-forums .bbp-the-content-wrapper .quicktags-toolbar {
  padding: 5px;
  min-height: 26px;
}
#bbpress-forums .wp-editor-container {
  margin: 0;
  padding: 0;
  line-height: 0;
}
#bbpress-forums .mceToolbarRow1 {
  background: none !important;
}
/*
	PAGINATION
-------------------------------------------------------------------------------------------------------------------------------------*/
.bbp-pagination {
  overflow: hidden;
  clear: both;
  width: 100%;
  margin: 0 0 7px 0;
  font-size: 12px;
}
.bbp-pagination .bbp-pagination-count {
  float: left;
  font-size: 11px;
}
.bbp-pagination .bbp-pagination-links {
  float: right;
}
.bbp-topic-pagination {
  display: block;
  margin: 0;
}
.bbp-topic-pagination a {
  padding: 2px 5px;
  font-size: 11px;
  line-height: 10px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.21);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.21);
}
/*
	USER PROFILE PAGES
-------------------------------------------------------------------------------------------------------------------------------------*/
#bbpress-forums #entry-author-info {
  overflow: hidden;
  clear: both;
  padding: 15px;
  margin: 0 0 40px 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#bbpress-forums #entry-author-info #author-avatar {
  float: left;
  margin: 0 20px 2px 0;
  width: 75px;
}
#bbpress-forums #entry-author-info #author-avatar img.avatar {
  display: block;
  margin: 0;
  width: 75px;
}
#bbpress-forums h1,
#bbpress-forums h2.entry-title {
  margin-bottom: 18px;
  padding-bottom: 5px;
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: .05em;
  text-transform: uppercase;
}
#bbpress-forums h1 {
  margin-bottom: 8px;
}
#bbp-author-subscriptions,
#bbp-author-favorites,
#bbp-author-topics-started {
  clear: both;
  padding-top: 20px;
  margin-bottom: 30px;
}
/*
	EDIT USER PAGE
-------------------------------------------------------------------------------------------------------------------------------------*/
#bbpress-forums .page-title {
  display: block;
  float: right;
  margin: 5px 0 15px 0;
  font-size: 13px;
  text-transform: uppercase;
}
#bbp-your-profile fieldset.bbp-form {
  padding: 15px;
  margin-bottom: 55px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#bbp-your-profile fieldset.bbp-form input,
#bbp-your-profile fieldset.bbp-form fieldset,
#bbp-your-profile fieldset.bbp-form textarea,
#bbp-your-profile fieldset.bbp-form span.description,
#bbp-your-profile fieldset.bbp-form #pass-strength-result {
  float: right;
  width: 415px;
}
#bbp-your-profile fieldset.bbp-form fieldset {
  padding: 0;
  margin: -40px 0 0 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
}
#bbp-your-profile fieldset.bbp-form legend {
  display: none;
}
#bbp-your-profile fieldset.bbp-form div {
  overflow: hidden;
  margin-bottom: 15px;
  width: 100%;
}
#bbp-your-profile fieldset.bbp-form label {
  float: left;
  margin-top: 6px;
  width: 130px;
}
#bbp-your-profile fieldset.bbp-form input,
#bbp-your-profile fieldset.bbp-form textarea,
#bbp-your-profile fieldset.bbp-form #pass-strength-result {
  margin-bottom: 0;
  font-size: 13px;
}
#bbp-your-profile fieldset.bbp-form select {
  margin: 7px 0 0 5px;
}
#bbp-your-profile fieldset.bbp-form span.description {
  display: block;
  padding: 0;
  margin: 5px 0 0 130px;
  font-size: 11px;
  font-style: italic;
}
#bbp-your-profile fieldset.bbp-form #password input {
  margin-top: 10px;
}
#bbp-your-profile fieldset.bbp-form #pass-strength-result {
  padding: 10px 15px 0 15px;
  margin-top: 10px;
  height: 40px;
  font-weight: bold;
}
#bbp-your-profile fieldset.submit {
  padding: 0;
  margin: -30px 0 0 0;
  border: none;
}
#bbp-your-profile fieldset.submit legend {
  display: none;
}
.pk_without_sidebar #bbpress-forums .page-title {
  margin-top: 0;
}
.pk_without_sidebar #bbp-your-profile fieldset.bbp-form input,
.pk_without_sidebar #bbp-your-profile fieldset.bbp-form fieldset,
.pk_without_sidebar #bbp-your-profile fieldset.bbp-form textarea,
.pk_without_sidebar #bbp-your-profile fieldset.bbp-form span.description,
.pk_without_sidebar #bbp-your-profile fieldset.bbp-form #pass-strength-result {
  width: 775px;
}
.pk_without_sidebar #bbp-your-profile fieldset.submit {
  margin-bottom: 25px;
}
/*
	NOTICES
-------------------------------------------------------------------------------------------------------------------------------------*/
#bbpress-forums > .bbp-template-notice.info {
  display: none;
}
#bbpress-forums .bbp-no-forum .bbp-template-notice,
#bbpress-forums .bbp-no-topic .bbp-template-notice,
#bbpress-forums .bbp-no-reply .bbp-template-notice {
  margin-bottom: 0;
}
#bbpress-forums .bbp-template-notice {
  clear: both;
  padding: 15px;
  margin-bottom: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#bbpress-forums .bbp-template-notice p {
  padding: 0 !important;
  margin: 0 !important;
}
#bbpress-forums .bbp-template-notice p img {
  display: inline;
  margin: 0 3px -3px 4px;
  width: 15px;
  height: 15px;
}
.pk_without_sidebar #bbpress-forums .bbp-no-forum .bbp-template-notice,
.pk_without_sidebar #bbpress-forums .bbp-no-topic .bbp-template-notice,
.pk_without_sidebar #bbpress-forums .bbp-no-reply .bbp-template-notice {
  margin-bottom: 25px;
}
/*
	SPECIFIC PAGE STYLES
-------------------------------------------------------------------------------------------------------------------------------------*/
.bbp-user-page #bbpress-forums .bbp-topics + .bbp-pagination:last-child {
  margin-bottom: 0;
}
/*
	QUERIES
-------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 959px) {
  #bbpress-forums .bbp-replies .bbp-header .bbp-reply-author {
    display: none;
  }
  #bbpress-forums .bbp-replies .bbp-header .bbp-reply-content span#favorite-toggle {
    display: none;
  }
  #bbpress-forums .bbp-replies .bbp-body .bbp-reply-author {
    position: relative;
    float: none;
    margin: 25px 15px 20px 0;
    width: 100%;
    height: 43px;
    text-align: left;
  }
  #bbpress-forums .bbp-replies .bbp-body .bbp-reply-author img.avatar {
    display: block;
    float: left;
    margin-bottom: 0;
    max-width: 40px;
  }
  #bbpress-forums .bbp-replies .bbp-body .bbp-reply-author .bbp-author-name,
  #bbpress-forums .bbp-replies .bbp-body .bbp-reply-author .bbp-author-role {
    position: absolute;
    top: 0;
    left: 70px;
    margin: 0;
  }
  #bbpress-forums .bbp-replies .bbp-body .bbp-reply-author .bbp-author-role {
    top: 20px;
  }
  #bbpress-forums .bbp-replies .bbp-body .bbp-reply-content {
    padding-top: 0;
  }
  #bbpress-forums .bbp-replies .bbp-footer .bbp-reply-author,
  #bbpress-forums .bbp-replies .bbp-footer .bbp-reply-content {
    text-indent: -9999px;
  }
  #bbpress-forums .mceToolbarRow1 table.mce_spellchecker,
  #bbpress-forums .mceToolbarRow1 .mceSeparator,
  #bbpress-forums .mceToolbarRow1 .mce_strikethrough,
  #bbpress-forums .mceToolbarRow1 .mce_justifyleft,
  #bbpress-forums .mceToolbarRow1 .mce_justifycenter,
  #bbpress-forums .mceToolbarRow1 .mce_justifyright,
  #bbpress-forums .mceToolbarRow1 .mce_wp_more,
  #bbpress-forums .mceToolbarRow1 .mce_fullscreen,
  #bbpress-forums .mceToolbarRow1 .mce_wp_adv {
    display: none !important;
  }
  #bbp-your-profile fieldset.bbp-form input,
  #bbp-your-profile fieldset.bbp-form fieldset,
  #bbp-your-profile fieldset.bbp-form textarea,
  #bbp-your-profile fieldset.bbp-form span.description,
  #bbp-your-profile fieldset.bbp-form #pass-strength-result {
    float: none !important;
    width: 100% !important;
  }
  #bbp-your-profile fieldset.bbp-form fieldset,
  #bbp-your-profile fieldset.bbp-form select {
    margin: 0;
  }
  #bbp-your-profile fieldset.bbp-form label {
    display: block;
    float: none;
    margin: 0 0 3px 0;
    width: auto;
  }
  #bbp-your-profile fieldset.bbp-form span.description {
    margin-left: 0 !important;
  }
}
/* Tablet (portrait and landscape) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .pk_without_sidebar #bbpress-forums .bbp-replies .bbp-header .bbp-reply-author {
    display: block;
  }
  .pk_without_sidebar #bbpress-forums .bbp-replies .bbp-header .bbp-reply-content {
    border-left: none;
  }
  .pk_without_sidebar #bbpress-forums .bbp-replies .bbp-header .bbp-reply-content span#favorite-toggle {
    display: block;
  }
  .pk_without_sidebar #bbpress-forums .bbp-replies .bbp-body .bbp-reply-author {
    float: left;
    margin: 25px 0;
    width: 90px;
    height: auto;
    text-align: center;
  }
  .pk_without_sidebar #bbpress-forums .bbp-replies .bbp-body .bbp-reply-author img.avatar {
    display: block;
    float: none;
    margin: 0 15px 15px 15px;
    max-width: 60px;
  }
  .pk_without_sidebar #bbpress-forums .bbp-replies .bbp-body .bbp-reply-author .bbp-author-name,
  .pk_without_sidebar #bbpress-forums .bbp-replies .bbp-body .bbp-reply-author .bbp-author-role {
    position: relative;
    top: auto;
    left: auto;
  }
  .pk_without_sidebar #bbpress-forums .bbp-replies .bbp-body .bbp-reply-content {
    overflow: hidden;
    padding-top: 25px;
  }
  .pk_without_sidebar #bbpress-forums .bbp-replies .bbp-footer .bbp-reply-author,
  .pk_without_sidebar #bbpress-forums .bbp-replies .bbp-footer .bbp-reply-content {
    text-indent: 0;
  }
  .pk_without_sidebar #bbp-your-profile fieldset.bbp-form input,
  .pk_without_sidebar #bbp-your-profile fieldset.bbp-form fieldset,
  .pk_without_sidebar #bbp-your-profile fieldset.bbp-form textarea,
  .pk_without_sidebar #bbp-your-profile fieldset.bbp-form span.description,
  .pk_without_sidebar #bbp-your-profile fieldset.bbp-form #pass-strength-result {
    float: right !important;
    width: 512px !important;
  }
  .pk_without_sidebar #bbp-your-profile fieldset.bbp-form fieldset {
    margin-top: -40px;
  }
  .pk_without_sidebar #bbp-your-profile fieldset.bbp-form select {
    margin: 7px 0 0 5px;
  }
  .pk_without_sidebar #bbp-your-profile fieldset.bbp-form label {
    float: left;
    margin-top: 7px;
    width: 130px;
  }
}
/* Mobile */
@media screen and (max-width: 767px) {
  #bbpress-forums li.bbp-forum-info,
  #bbpress-forums li.bbp-topic-title {
    width: 76% !important;
  }
  #bbpress-forums li.bbp-forum-topic-count,
  #bbpress-forums li.bbp-topic-reply-count {
    float: right !important;
    width: 20% !important;
  }
  #bbpress-forums li.bbp-forum-reply-count,
  #bbpress-forums li.bbp-topic-voice-count,
  #bbpress-forums li.bbp-forum-freshness,
  #bbpress-forums li.bbp-topic-freshness {
    display: none !important;
  }
  fieldset.bbp-form {
    margin-bottom: 30px;
  }
  fieldset.bbp-form input[type="text"],
  fieldset.bbp-form input[type="password"],
  fieldset.bbp-form textarea {
    width: 100%;
  }
  fieldset.bbp-form select {
    width: 50%;
  }
  .bbp-login-form .bbp-email,
  .bbp-login-form .bbp-username,
  .bbp-login-form .bbp-password {
    float: none;
    margin-bottom: 15px;
    width: 100%;
  }
  #bbp-your-profile fieldset.submit {
    margin-bottom: 30px;
  }
}
