/*
	GLOBAL
-------------------------------------------------------------------------------------------------------------------------------------*/

.widget_display_replies img {
	display: inline;
	margin: 0 4px -4px 0;
	width: 15px;
	height: 15px;
}


/*
	LOGIN
-------------------------------------------------------------------------------------------------------------------------------------*/


.bbp_widget_login .bbp-login-form .bbp-username,
.bbp_widget_login .bbp-login-form .bbp-email,
.bbp_widget_login .bbp-login-form .bbp-password {
	float: none;
	margin-bottom: 0 !important;
	width: 100%;
}
.bbp_widget_login .bbp-login-form fieldset,
.bbp_widget_login .bbp-logged-in {
	padding: 15px;
	border: none !important;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.bbp_widget_login .bbp-login-form fieldset legend { display: none; }
.bbp_widget_login .bbp-login-form .bbp-username input,
.bbp_widget_login .bbp-login-form .bbp-email input,
.bbp_widget_login .bbp-login-form .bbp-password input {
	margin: 0;
	width: 100%;
}
.bbp_widget_login .bbp-login-form label {
	width: 140px;
	display: inline-block;
}
.bbp_widget_login .bbp-login-form .bbp-username,
.bbp_widget_login .bbp-login-form .bbp-email,
.bbp_widget_login .bbp-login-form .bbp-password,
.bbp_widget_login .bbp-login-form .bbp-remember-me,
.bbp_widget_login .bbp-login-form .bbp-submit-wrapper {
	margin-top: 10px;
}
.bbp_widget_login .bbp-login-form .bbp-remember-me input {
	margin: -2px 3px 0 0;
}
.bbp_widget_login .bbp-login-form .bbp-submit-wrapper { text-align: right; }
.bbp_widget_login .bbp-login-form .bbp-login-links a {
	float: left;
	clear: left;
}
.bbp_widget_login .bbp-logged-in { overflow: hidden; }
.bbp_widget_login .bbp-logged-in h4 { display: none; }
.bbp_widget_login .bbp-logged-in img.avatar {
	float: left;
	margin: 0 15px 0 0;
	max-width: 32px;
}
.bbp_widget_login .bbp-logged-in .button {
	float: left;
	margin: -1px 0 0 0;
	padding: 0 22px;
	height: 32px;
	font-size: 13px;
	line-height: 32px;
	cursor: pointer;
	text-decoration: none;
	border: none;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.18); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.18); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.18);
	-webkit-transition: none;
	-moz-transition: none;
    -ms-transition: none;
	-o-transition: none;
	transition: none;
}
.bbp_widget_login .bbp-logged-in .button:hover{ background-position: 0 -82px; }