/*
	GLOBAL
-------------------------------------------------------------------------------------------------------------------------------------*/


ul.cart_list, ul.product_list_widget {
	overflow: hidden;
	margin: 0;
	padding: 0 0 5px 0;
	font-size: 12px;
	list-style: none;
}
ul.cart_list li, ul.product_list_widget li {
	margin: 0;
	padding: 4px 0;
	background-image: none !important;
}
ul.cart_list li a, ul.product_list_widget li a{ display: block; }
ul.cart_list li img, ul.product_list_widget li img {
	float: left;
	margin: 4px 15px 0 0;
	width: 50px;
	max-width: 50px;
	height: auto;
	-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
}
ul.cart_list .js_widget_product_title, ul.product_list_widget .js_widget_product_title{ font-size: 14px; }
ul.cart_list li .js_widget_product_price ins, ul.product_list_widget .js_widget_product_price ins{ border: none !important; }


/* Cart List Only */

ul.cart_list .js_widget_product_price del{ font-size: 10px; }
ul.cart_list {
	-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
ul.cart_list li{ padding: 10px 15px; }


/* Product List Widget Only */

ul.product_list_widget li {
	overflow: hidden;
	margin-bottom: 15px;
	padding: 15px;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
ul.product_list_widget li:last-child{ margin: 0; }
ul.product_list_widget .js_widget_product_price{ overflow: hidden; }
ul.product_list_widget .js_widget_product_price del, ul.product_list_widget .js_widget_product_price .from {
	float: left;
	margin: 0 5px 0 0;
	font-size: 10px;
}


/*
	RECENT REVIEWS - TOP RATED PRODUCTS
-------------------------------------------------------------------------------------------------------------------------------------*/


.widget_recent_reviews ul.product_list_widget li, .widget_top_rated ul.product_list_widget li {
	position: relative;
	padding-bottom: 40px;
}
.widget_recent_reviews .star-rating, .widget_top_rated ul.product_list_widget .star-rating {
	position: absolute;
	left: 80px;
	bottom: 15px;
}


/*
	CART
-------------------------------------------------------------------------------------------------------------------------------------*/


span.empty {
	display: block;
	padding: 15px;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.pk_widget p.total {
	margin: 0;
	padding: 10px 15px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.pk_widget p.buttons {
	overflow: hidden;
	margin: 0;
	padding: 15px;
	-moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.pk_widget p.buttons .checkout{ float: right; }


/*
	PRODUCT SEARCH
-------------------------------------------------------------------------------------------------------------------------------------*/


.jigoshop_product_search {
	position:relative;
	padding: 15px;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.jigoshop_product_search h4,
.jigoshop_product_search h5{ display: none; }


/*
	LAYERED NAV
-------------------------------------------------------------------------------------------------------------------------------------*/


.widget_layered_nav .layerd_nav_clear {
	position: absolute;
	top: -2px;
	right: 0;
	padding: 1px 10px;
	font-size: 12px;
	-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
}
.ie8 .widget_layered_nav .layerd_nav_clear{ padding: 0 10px 2px 10px; }
.widget_layered_nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.widget_layered_nav ul li {
	overflow: hidden;
	padding: 4px 15px;
}
.widget_layered_nav ul li:last-child{ border: none !important; }
.widget_layered_nav ul li a, .widget_layered_nav ul li span {
	float: left;
	padding: 1px 0;
}
.widget_layered_nav ul li.chosen{ padding-left: 40px; }
.widget_layered_nav ul small.count {
	float: right;
	margin-left: 15px;
	padding: 0 10px;
	font-size: 11px;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.pk_widget.widget_layered_nav ul li, 
#pk_widgets_area .pk_widget.widget_layered_nav ul li{ background: none; }


/*
	LOGIN
-------------------------------------------------------------------------------------------------------------------------------------*/


.jigoshop_login_widget {
	padding: 15px;
	font-size: 12px;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.jigoshop_login_widget p {
	display: block;
	overflow: hidden;
	margin: 0;
	padding-bottom: 5px;
	width: 100%;
}
.jigoshop_login_widget p:nth-child(3){ margin-bottom: 20px; }
.jigoshop_login_widget .forgot {
	float: left;
	margin: 8px 0 0 15px;
}
.jigoshop_login_widget label {
	display: block;
	margin-bottom: 3px;
	font-size: 12px;
}
.jigoshop_login_widget input[type=text], .jigoshop_login_widget input[type=password]{ width: 100%; }


/*
	PRICE FILTER
-------------------------------------------------------------------------------------------------------------------------------------*/


.jigoshop_price_filter .price_slider_wrapper {
	padding: 15px 15px 10px 15px;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.jigoshop_price_filter .price_slider_wrapper .price_slider{ margin: 1px 0 15px 0; }
.jigoshop_price_filter .price_slider_wrapper .price_slider_amount {
	overflow: hidden;
	margin-top: 5px;
	padding: 7px 0 5px 0;
	font-size: 12px;
}
.jigoshop_price_filter .price_slider_wrapper .button {
	float: right;
	margin: -7px 0 0 0;
}

/* Interaction states */

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { font-weight: normal; border: none; color: #555555; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited{ color: #555555; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {  border: none; font-weight: normal; }
.ui-state-hover a, .ui-state-hover a:hover { color: #212121; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: none; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{ color: #212121; text-decoration: none; }
.ui-widget :active { outline: none; }


/* Interaction Cues */

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight { border: none; background: #000; color: #363636; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #363636; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error { border: 1px solid #cd0a0a; background: #000; color: #cd0a0a; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #cd0a0a; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #cd0a0a; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: 1; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: 1; filter:Alpha(Opacity=35); background-image: none; }


/* Slider */

.ui-corner-all { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.ui-slider { position: relative; text-align: left;  }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 18px; height: 18px; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }
.price_slider_wrapper .ui-widget-content { border: none; color: #222222;
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.18); -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.18); box-shadow:inset  0 1px 1px rgba(0, 0, 0, 0.18);
}
.price_slider_wrapper .ui-widget-header { border: none; color: font-weight: bold; #222222; }
.ui-slider-horizontal { height: 7px; }
.ui-slider-horizontal .ui-slider-handle { top: -5px; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 1px; height: 5px; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }


/*
	QUERIES
-------------------------------------------------------------------------------------------------------------------------------------*/


/* Tablet (portrait and landscape) */

@media only screen and (min-width: 768px) and (max-width: 959px) {
	.pk_widget p.buttons .button{ float: right; margin-bottom: 15px; margin-left: 15px; }
	.pk_widget p.buttons .checkout{ margin-bottom: 0; }
}


/* Mobile */

@media screen and (max-width: 767px) {
	.pk_widget p.buttons .button{ float: right; margin-bottom: 15px; margin-left: 15px; }
	.pk_widget p.buttons .checkout{ margin-bottom: 0; }
}


/* Mobile Landscape */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.pk_widget p.buttons .button{ float: left; margin-bottom: 0; margin-left: 0; }
	.pk_widget p.buttons .checkout{ float: right; }
}