/*
	COLUMNS
-------------------------------------------------------------------------------------------------------------------------------------*/


.pk_one_half, 
.pk_one_third,
.pk_one_fourth, 
.pk_one_fifth, 
.pk_one_sixth, 
.pk_two_third, 
.pk_two_fourth, 
.pk_two_fifth, 
.pk_two_sixth, 
.pk_three_fourth, 
.pk_three_fifth, 
.pk_three_sixth, 
.pk_four_fifth, 
.pk_four_sixth, 
.pk_five_sixth {
	display: block;
	position: relative;
	float: left;
	margin-right: 3.9%;
}
.pk_full_width{ width:100%; }
.pk_one_half{ width: 48%; }
.pk_one_third{ width: 30.6%; }
.pk_one_fourth{ width: 22%; }
.pk_one_fifth{ width: 16.7%; }
.pk_one_sixth{ width: 13.3%; }
.pk_two_third{ width: 65.3%; }
.pk_two_fourth{ width: 48%; }
.pk_two_fifth{ width: 37.6%; }
.pk_two_sixth{ width: 30.6%; }
.pk_three_fourth{ width: 74%; }
.pk_three_fifth{ width: 58.4%; }
.pk_three_sixth{ width: 47.9%; }
.pk_four_fifth{ width: 79.2%; }
.pk_four_sixth{ width: 65.3%; }
.pk_five_sixth{ width: 82.6%; }
.pk_last {
	float: right;
	margin-right: 0;
}


/*
	HEADINGS
-------------------------------------------------------------------------------------------------------------------------------------*/


.pk_heading_uppercase {
	margin-bottom: 18px;
	padding-bottom: 5px;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: .05em;
	text-transform: uppercase;
}
.pk_heading_underline {
	display: block;
	margin-bottom: 25px;
	padding-bottom: 5px;
}
.pk_heading_background {
	display: inline-block;
	padding: 7px 10px 6px 10px;
	width: auto;
}
.ie7 .pk_heading_background {
	display: inline;
	padding-bottom: 6px;
}


/*
	LISTS
-------------------------------------------------------------------------------------------------------------------------------------*/


.pk_arrow_list, .pk_arrow_list ul,
.pk_check_list, .pk_check_list ul,
.pk_clear_list, .pk_clear_list ul{ margin-left: 0; list-style: none !important; }
.pk_arrow_list li, .pk_check_list li, .pk_clear_list li{ margin-left: 0; }
.pk_arrow_list li{ padding-left: 13px !important; }
.pk_check_list li{ padding-left: 22px !important; }


/*
	HIGHLIGHTS
-------------------------------------------------------------------------------------------------------------------------------------*/


.pk_highlight{ padding:3px 6px; }
.pk_highlight.pk_rounded{ -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }


/*
	DROP CAPS
-------------------------------------------------------------------------------------------------------------------------------------*/


.pk_drop_cap_1, .pk_drop_cap_2{ font-family: "Myriad Pro", "Helvetica Neue", Helvetica, Arial, Lucida Grande, sans-serif; }
.pk_drop_cap_1 {
	float: left;
	margin: 0 10px 0 0;
	font-size: 45px;
	line-height: 40px;
}
.pk_drop_cap_2 {
	float: left;
	margin: 0 10px 0 -2px;
	padding: 0;
	width: 43px;
	height: 45px;
	font-size: 21px;
	line-height: 42px;
	text-align: center;
	background: transparent url('../images/shortcodes/dropcaps/drop_cap_2.png') no-repeat 0 0;
}


/* Drop Caps Variations */

.pk_drop_cap_2.pk_drop_cap_white{ color: #888e90; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.33); background-position: 0 0; }
.pk_drop_cap_2.pk_drop_cap_grey{ color: #eeeded; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.18); background-position: 0 -45px; }
.pk_drop_cap_2.pk_drop_cap_black{ color: #a7a6a6; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33); background-position:0 -90px; }
.pk_drop_cap_2.pk_drop_cap_orange{ color: #ffffff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.18); background-position: 0 -135px; }
.pk_drop_cap_2.pk_drop_cap_yellow{ color: #8d8133; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.33); background-position: 0 -180px; }
.pk_drop_cap_2.pk_drop_cap_lime{ color: #889534; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.33); background-position: 0 -225px; }
.pk_drop_cap_2.pk_drop_cap_green{ color: #fafafa; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.18); background-position: 0 -270px; }
.pk_drop_cap_2.pk_drop_cap_blue{ color: #fafafa; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.18); background-position: 0 -315px; }
.pk_drop_cap_2.pk_drop_cap_purple{ color: #ebe7f1; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.18); background-position: 0 -360px; }
.pk_drop_cap_2.pk_drop_cap_red{ color: #f0e7e7; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.18); background-position: 0 -405px; }


/*
	BUTTONS
-------------------------------------------------------------------------------------------------------------------------------------*/


.pk_button_mini {
	/*display: block; float: left;*/
	display: inline-block;
	margin-bottom: 10px;
	padding-left: 15px;
	height: 28px;
	border: none;
	font-size: 11px;
	cursor: pointer;
	white-space: nowrap;
	background: url('../images/shortcodes/buttons/mini/buttons_left_sprite.png') no-repeat 0 0;
}
.pk_button_mini span {
	display: block;
	float: left;
	padding: 0 15px 0 0;
	height: 28px;
	line-height: 25px;
	background-position: right 0;
}
.pk_button_mini:hover, .pk_button_mini:hover span{ border: none; }
.pk_button_mini.pk_button_with_icon{ padding-left: 27px; }
.pk_button_mini.pk_button_with_icon span{ padding-right: 12px; }

.pk_button_small {
	/*display: block; float: left;*/
	display: inline-block;
	margin: 0 0 10px -2px;
	padding-left: 22px;
	height: 35px;
	border: none;
	font-size: 12px;
	cursor: pointer;
	white-space: nowrap;
	background: url('../images/shortcodes/buttons/small/buttons_left_sprite.png') no-repeat 0 0;
}
.pk_button_small span {
	/*display: block; float: left;*/
	display: inline-block;
	padding: 0 22px 0 0;
	height: 35px;
	text-align: center;
	line-height: 31px;
	background-position: right 0;
}
.pk_button_small:hover, .pk_button_small:hover span{ border: none; }
.pk_button_small.pk_button_with_icon{ padding-left: 35px; }
.pk_button_small.pk_button_with_icon span{ padding-right: 18px; }

.pk_button_medium {
	/*display: block; float: left;*/
	display: inline-block;
	margin: 0 0 10px -3px;
	padding-left: 28px;
	height: 47px;
	border: none;
	font-size: 15px;
	cursor: pointer;
	white-space: nowrap;
	background: url('../images/shortcodes/buttons/medium/buttons_left_sprite.png') no-repeat 0 0;
}
.pk_button_medium span {
	display: block;
	float: left;
	padding: 0 28px 0 0;
	height: 47px;
	text-align: center;
	line-height: 43px;
	background-position: right 0;
}
.pk_button_medium:hover, .pk_button_medium:hover span{ border: none; }
.pk_button_medium.pk_button_with_icon{ padding-left: 45px; }
.pk_button_medium.pk_button_with_icon span{ padding-right: 22px; }

.pk_button_big {
	/*display: block; float: left;*/
	display: inline-block;
	margin: 0 0 10px -5px;
	padding-left: 33px;
	height: 57px;
	border: none;
	font-size: 21px;
	cursor: pointer;
	white-space: nowrap;
	background: url('../images/shortcodes/buttons/big/buttons_left_sprite.png') no-repeat 0 0;
}
.pk_button_big span {
	display: block;
	float: left;
	padding: 0 33px 0 0;
	height: 57px;
	text-align: center;
	line-height: 53px;
	background-position: right 0;
}
.pk_button_big:hover, .pk_button_big:hover span{ border: none; }
.pk_button_big.pk_button_with_icon{ padding-left: 55px; }
.pk_button_big.pk_button_with_icon span{ padding-right: 23px; }


/* Buttons Mini Variations */
		
.pk_button_mini.pk_button_white{ background-position: 0 0; }
.pk_button_mini.pk_button_white span{ color: #605e5e; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.33); background-image: url('../images/shortcodes/buttons/mini/button_white_right.png'); }
.pk_button_mini.pk_button_white:hover{ background-position: 0 -28px; }
.pk_button_mini.pk_button_white:hover span{ color: #605e5e; background-position: right -28px; }

.pk_button_mini.pk_button_grey{ background-position: 0 -56px; }
.pk_button_mini.pk_button_grey span{ color: #eeeded; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.18); background-image: url('../images/shortcodes/buttons/mini/button_grey_right.png'); }
.pk_button_mini.pk_button_grey:hover{ background-position: 0 -84px; }
.pk_button_mini.pk_button_grey:hover span{ color: #eeeded; background-position: right -28px; }

.pk_button_mini.pk_button_black{ background-position: 0 -112px }
.pk_button_mini.pk_button_black span{ color: #a7a6a6; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33); background-image: url('../images/shortcodes/buttons/mini/button_black_right.png'); }
.pk_button_mini.pk_button_black:hover{ background-position: 0 -140px; }
.pk_button_mini.pk_button_black:hover span{ color: #a7a6a6; background-position: right -28px; }

.pk_button_mini.pk_button_orange{ background-position: 0 -168px; }
.pk_button_mini.pk_button_orange span{ color: #fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.18); background-image: url('../images/shortcodes/buttons/mini/button_orange_right.png'); }
.pk_button_mini.pk_button_orange:hover{ background-position: 0 -196px; }
.pk_button_mini.pk_button_orange:hover span{ color: #fff; background-position: right -28px; }

.pk_button_mini.pk_button_yellow{ background-position: 0 -224px; }
.pk_button_mini.pk_button_yellow span{ color: #8d8133; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.33); background-image: url('../images/shortcodes/buttons/mini/button_yellow_right.png'); }
.pk_button_mini.pk_button_yellow:hover{ background-position: 0 -252px; }
.pk_button_mini.pk_button_yellow:hover span{ color: #8d8133; background-position: right -28px; }
	
.pk_button_mini.pk_button_lime{ background-position: 0 -280px; }
.pk_button_mini.pk_button_lime span{ color: #889534; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.33); background-image: url('../images/shortcodes/buttons/mini/button_lime_right.png'); }
.pk_button_mini.pk_button_lime:hover{ background-position: 0 -308px; }
.pk_button_mini.pk_button_lime:hover span{ color: #889534; background-position: right -28px; }

.pk_button_mini.pk_button_green{ background-position: 0 -336px; }
.pk_button_mini.pk_button_green span{ color: #fafafa; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.18); background-image: url('../images/shortcodes/buttons/mini/button_green_right.png'); }
.pk_button_mini.pk_button_green:hover{ background-position: 0 -364px; }
.pk_button_mini.pk_button_green:hover span{ color: #fafafa; background-position: right -28px; }

.pk_button_mini.pk_button_blue{ background-position: 0 -392px; }
.pk_button_mini.pk_button_blue span{ color: #fafafa; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.18); background-image: url('../images/shortcodes/buttons/mini/button_blue_right.png'); }
.pk_button_mini.pk_button_blue:hover{ background-position: 0 -420px; }
.pk_button_mini.pk_button_blue:hover span{ color: #fafafa; background-position: right -28px; }

.pk_button_mini.pk_button_purple{ background-position: 0 -448px; }
.pk_button_mini.pk_button_purple span{ color: #ebe7f1; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.18); background-image: url('../images/shortcodes/buttons/mini/button_purple_right.png'); }
.pk_button_mini.pk_button_purple:hover{ background-position: 0 -476px; }
.pk_button_mini.pk_button_purple:hover span{ color: #ebe7f1; background-position: right -28px; }

.pk_button_mini.pk_button_red{ background-position: 0 -504px; }
.pk_button_mini.pk_button_red span{ color: #f0e7e7; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.18); background-image: url('../images/shortcodes/buttons/mini/button_red_right.png'); }
.pk_button_mini.pk_button_red:hover{ background-position: 0 -532px; }
.pk_button_mini.pk_button_red:hover span{ color: #f0e7e7; background-position: right -28px; }

.pk_button_mini.pk_button_with_icon{ background-image: url('../images/shortcodes/buttons/mini/icons_sprite.png'); }


/* Buttons Small Variations */

.pk_button_small.pk_button_white{ background-position: 0 0; }
.pk_button_small.pk_button_white span{ color: #605e5e; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.33); background-image: url('../images/shortcodes/buttons/small/button_white_right.png'); }
.pk_button_small.pk_button_white:hover{ background-position: 0 -35px; }
.pk_button_small.pk_button_white:hover span{ color: #605e5e; background-position: right -35px; }

.pk_button_small.pk_button_grey{ background-position: 0 -70px; }
.pk_button_small.pk_button_grey span{ color: #eeeded; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.18); background-image: url('../images/shortcodes/buttons/small/button_grey_right.png'); }
.pk_button_small.pk_button_grey:hover{ background-position: 0 -105px; }
.pk_button_small.pk_button_grey:hover span{ color: #eeeded; background-position: right -35px; }

.pk_button_small.pk_button_black{ background-position: 0 -140px }
.pk_button_small.pk_button_black span{ color: #a7a6a6; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33); background-image: url('../images/shortcodes/buttons/small/button_black_right.png'); }
.pk_button_small.pk_button_black:hover{ background-position: 0 -175px; }
.pk_button_small.pk_button_black:hover span{ color:#a7a6a6; background-position:right -35px; }

.pk_button_small.pk_button_orange{ background-position: 0 -210px; }
.pk_button_small.pk_button_orange span{ color: #fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.18); background-image: url('../images/shortcodes/buttons/small/button_orange_right.png'); }
.pk_button_small.pk_button_orange:hover{ background-position: 0 -245px; }
.pk_button_small.pk_button_orange:hover span{ color:#fff; background-position:right -35px; }

.pk_button_small.pk_button_yellow{ background-position: 0 -280px; }
.pk_button_small.pk_button_yellow span{ color: #8d8133; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.33); background-image: url('../images/shortcodes/buttons/small/button_yellow_right.png'); }
.pk_button_small.pk_button_yellow:hover{ background-position: 0 -315px; }
.pk_button_small.pk_button_yellow:hover span{ color: #8d8133; background-position: right -35px; }
	
.pk_button_small.pk_button_lime{ background-position: 0 -350px; }
.pk_button_small.pk_button_lime span{ color:#889534; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.33); background-image: url('../images/shortcodes/buttons/small/button_lime_right.png'); }
.pk_button_small.pk_button_lime:hover{ background-position: 0px -385px; }
.pk_button_small.pk_button_lime:hover span{ color: #889534; background-position: right -35px; }

.pk_button_small.pk_button_green{ background-position: 0 -420px; }
.pk_button_small.pk_button_green span{ color: #fafafa; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.18); background-image: url('../images/shortcodes/buttons/small/button_green_right.png'); }
.pk_button_small.pk_button_green:hover{ background-position: 0 -455px; }
.pk_button_small.pk_button_green:hover span{ color: #fafafa; background-position: right -35px; }

.pk_button_small.pk_button_blue{ background-position: 0 -490px; }
.pk_button_small.pk_button_blue span{ color: #fafafa; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.18); background-image: url('../images/shortcodes/buttons/small/button_blue_right.png'); }
.pk_button_small.pk_button_blue:hover{ background-position: 0 -525px; }
.pk_button_small.pk_button_blue:hover span{ color:#fafafa; background-position:right -35px; }

.pk_button_small.pk_button_purple{ background-position: 0 -560px; }
.pk_button_small.pk_button_purple span{ color: #ebe7f1; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.18); background-image: url('../images/shortcodes/buttons/small/button_purple_right.png'); }
.pk_button_small.pk_button_purple:hover{ background-position: 0 -595px; }
.pk_button_small.pk_button_purple:hover span{ color: #ebe7f1; background-position: right -35px; }

.pk_button_small.pk_button_red{ background-position: 0 -630px; }
.pk_button_small.pk_button_red span{ color: #f0e7e7; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.18);  background-image: url('../images/shortcodes/buttons/small/button_red_right.png'); }
.pk_button_small.pk_button_red:hover{ background-position: 0 -665px; }
.pk_button_small.pk_button_red:hover span{ color: #f0e7e7; background-position: right -35px; }
	
.pk_button_small.pk_arrow_icon{ background-image: url('../images/shortcodes/buttons/small/arrow_icons_sprite.png'); }
.pk_button_small.pk_mini_arrow_icon{ background-image: url('../images/shortcodes/buttons/small/mini_arrow_icons_sprite.png'); }
.pk_button_small.pk_download_icon{ background-image: url('../images/shortcodes/buttons/small/download_icons_sprite.png'); }
.pk_button_small.pk_mail_icon{ background-image: url('../images/shortcodes/buttons/small/mail_icons_sprite.png'); }
.pk_button_small.pk_home_icon{ background-image: url('../images/shortcodes/buttons/small/home_icons_sprite.png'); }
.pk_button_small.pk_zoom_icon{ background-image: url('../images/shortcodes/buttons/small/zoom_icons_sprite.png'); }


/* Buttons Medium Variations */	

.pk_button_medium.pk_button_white{ background-position: 0 0; }
.pk_button_medium.pk_button_white span{ color: #605e5e; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.33); background-image: url('../images/shortcodes/buttons/medium/button_white_right.png'); }
.pk_button_medium.pk_button_white:hover{ background-position: 0 -47px; }
.pk_button_medium.pk_button_white:hover span{ color: #605e5e; background-position: right -47px; }

.pk_button_medium.pk_button_grey{ background-position: 0 -94px; }
.pk_button_medium.pk_button_grey span{ color: #eeeded; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.18); background-image: url('../images/shortcodes/buttons/medium/button_grey_right.png'); }
.pk_button_medium.pk_button_grey:hover{ background-position: 0 -141px; }
.pk_button_medium.pk_button_grey:hover span{ color: #eeeded; background-position: right -47px; }

.pk_button_medium.pk_button_black{ background-position: 0px -188px }
.pk_button_medium.pk_button_black span{ color: #a7a6a6; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33); background-image: url('../images/shortcodes/buttons/medium/button_black_right.png'); }
.pk_button_medium.pk_button_black:hover{ background-position: 0 -235px; }
.pk_button_medium.pk_button_black:hover span{ color: #a7a6a6; background-position: right -47px; }

.pk_button_medium.pk_button_orange{ background-position: 0 -282px; }
.pk_button_medium.pk_button_orange span{ color: #fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.18); background-image: url('../images/shortcodes/buttons/medium/button_orange_right.png'); }
.pk_button_medium.pk_button_orange:hover{ background-position: 0 -329px; }
.pk_button_medium.pk_button_orange:hover span{ color: #fff; background-position: right -47px; }

.pk_button_medium.pk_button_yellow{ background-position: 0px -376px; }
.pk_button_medium.pk_button_yellow span{ color: #8d8133; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.33); background-image: url('../images/shortcodes/buttons/medium/button_yellow_right.png'); }
.pk_button_medium.pk_button_yellow:hover{ background-position: 0px -423px; }
.pk_button_medium.pk_button_yellow:hover span{ color: #8d8133; background-position: right -47px; }
	
.pk_button_medium.pk_button_lime{ background-position: 0 -470px; }
.pk_button_medium.pk_button_lime span{ color: #889534; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.33); background-image: url('../images/shortcodes/buttons/medium/button_lime_right.png'); }
.pk_button_medium.pk_button_lime:hover{ background-position: 0 -517px; }
.pk_button_medium.pk_button_lime:hover span{ color: #889534; background-position: right -47px; }

.pk_button_medium.pk_button_green{ background-position: 0 -564px; }
.pk_button_medium.pk_button_green span{ color: #fafafa; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.18); background-image: url('../images/shortcodes/buttons/medium/button_green_right.png'); }
.pk_button_medium.pk_button_green:hover{ background-position: 0 -611px; }
.pk_button_medium.pk_button_green:hover span{ color: #fafafa; background-position: right -47px; }

.pk_button_medium.pk_button_blue{ background-position: 0 -658px; }
.pk_button_medium.pk_button_blue span{ color: #fafafa; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.18); background-image: url('../images/shortcodes/buttons/medium/button_blue_right.png'); }
.pk_button_medium.pk_button_blue:hover{ background-position: 0 -705px; }
.pk_button_medium.pk_button_blue:hover span{ color: #fafafa; background-position: right -47px; }

.pk_button_medium.pk_button_purple{ background-position: 0 -752px; }
.pk_button_medium.pk_button_purple span{ color: #ebe7f1; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.18); background-image: url('../images/shortcodes/buttons/medium/button_purple_right.png'); }
.pk_button_medium.pk_button_purple:hover{ background-position: 0 -799px; }
.pk_button_medium.pk_button_purple:hover span { color: #ebe7f1; background-position: right -47px; }

.pk_button_medium.pk_button_red{ background-position: 0 -846px; }
.pk_button_medium.pk_button_red span{ color: #f0e7e7; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.18); background-image: url('../images/shortcodes/buttons/medium/button_red_right.png'); }
.pk_button_medium.pk_button_red:hover{ background-position: 0 -893px; }
.pk_button_medium.pk_button_red:hover span{ color: #f0e7e7; background-position: right -47px; }
	
.pk_button_medium.pk_arrow_icon{ background-image:url('../images/shortcodes/buttons/medium/arrow_icons_sprite.png'); }
.pk_button_medium.pk_mini_arrow_icon{ background-image:url('../images/shortcodes/buttons/medium/mini_arrow_icons_sprite.png'); }
.pk_button_medium.pk_download_icon{ background-image:url('../images/shortcodes/buttons/medium/download_icons_sprite.png'); }
.pk_button_medium.pk_mail_icon{ background-image:url('../images/shortcodes/buttons/medium/mail_icons_sprite.png'); }
.pk_button_medium.pk_home_icon{ background-image:url('../images/shortcodes/buttons/medium/home_icons_sprite.png'); }
.pk_button_medium.pk_zoom_icon{ background-image:url('../images/shortcodes/buttons/medium/zoom_icons_sprite.png'); }


/* Buttons Big Variations */

.pk_button_big.pk_button_white{ background-position: 0 0; }
.pk_button_big.pk_button_white span{ color: #605e5e; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.33); background-image: url('../images/shortcodes/buttons/big/button_white_right.png'); }
.pk_button_big.pk_button_white:hover{ background-position: 0 -57px; }
.pk_button_big.pk_button_white:hover span{ color: #605e5e; background-position: right -57px; }

.pk_button_big.pk_button_grey{ background-position: 0 -114px; }
.pk_button_big.pk_button_grey span{ color: #eeeded; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.18); background-image: url('../images/shortcodes/buttons/big/button_grey_right.png'); }
.pk_button_big.pk_button_grey:hover{ background-position: 0 -171px; }
.pk_button_big.pk_button_grey:hover span{ color: #eeeded; background-position: right -57px; }

.pk_button_big.pk_button_black{ background-position: 0 -228px }
.pk_button_big.pk_button_black span{ color: #a7a6a6; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33); background-image: url('../images/shortcodes/buttons/big/button_black_right.png'); }
.pk_button_big.pk_button_black:hover{ background-position: 0 -285px; }
.pk_button_big.pk_button_black:hover span{ color: #a7a6a6; background-position: right -57px; }

.pk_button_big.pk_button_orange{ background-position: 0px -342px; }
.pk_button_big.pk_button_orange span{ color: #fff; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.18); background-image: url('../images/shortcodes/buttons/big/button_orange_right.png'); }
.pk_button_big.pk_button_orange:hover{ background-position: 0px -399px; }
.pk_button_big.pk_button_orange:hover span{ color: #fff; background-position: right -57px; }

.pk_button_big.pk_button_yellow{ background-position: 0 -456px; }
.pk_button_big.pk_button_yellow span{ color: #8d8133; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.33); background-image: url('../images/shortcodes/buttons/big/button_yellow_right.png'); }
.pk_button_big.pk_button_yellow:hover{ background-position: 0 -513px; }
.pk_button_big.pk_button_yellow:hover span{ color: #8d8133; background-position: right -57px; }
	
.pk_button_big.pk_button_lime{ background-position: 0 -570px; }
.pk_button_big.pk_button_lime span{ color: #889534; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.33); background-image: url('../images/shortcodes/buttons/big/button_lime_right.png'); }
.pk_button_big.pk_button_lime:hover{ background-position: 0 -627px; }
.pk_button_big.pk_button_lime:hover span{ color: #889534; background-position: right -57px; }

.pk_button_big.pk_button_green{ background-position: 0px -684px; }
.pk_button_big.pk_button_green span{ color: #fafafa; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.18); background-image: url('../images/shortcodes/buttons/big/button_green_right.png'); }
.pk_button_big.pk_button_green:hover{ background-position: 0px -741px; }
.pk_button_big.pk_button_green:hover span{ color: #fafafa; background-position: right -57px; }

.pk_button_big.pk_button_blue{ background-position: 0 -798px; }
.pk_button_big.pk_button_blue span{ color: #fafafa; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.18); background-image: url('../images/shortcodes/buttons/big/button_blue_right.png'); }
.pk_button_big.pk_button_blue:hover{ background-position: 0 -855px; }
.pk_button_big.pk_button_blue:hover span{ color: #fafafa; background-position: right -57px; }

.pk_button_big.pk_button_purple{ background-position: 0 -912px; }
.pk_button_big.pk_button_purple span{ color: #ebe7f1; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.18); background-image: url('../images/shortcodes/buttons/big/button_purple_right.png'); }
.pk_button_big.pk_button_purple:hover{ background-position: 0 -969px; }
.pk_button_big.pk_button_purple:hover span { color: #ebe7f1; background-position: right -57px; }

.pk_button_big.pk_button_red{ background-position: 0 -1026px; }
.pk_button_big.pk_button_red span{ color: #f0e7e7; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.18); background-image: url('../images/shortcodes/buttons/big/button_red_right.png'); }
.pk_button_big.pk_button_red:hover{ background-position: 0 -1083px; }
.pk_button_big.pk_button_red:hover span{ color: #f0e7e7; background-position: right -57px; }

.pk_button_big.pk_arrow_icon{ background-image:url('../images/shortcodes/buttons/big/arrow_icons_sprite.png'); }
.pk_button_big.pk_mini_arrow_icon{ background-image:url('../images/shortcodes/buttons/big/mini_arrow_icons_sprite.png'); }
.pk_button_big.pk_download_icon{ background-image:url('../images/shortcodes/buttons/big/download_icons_sprite.png'); }
.pk_button_big.pk_mail_icon{ background-image:url('../images/shortcodes/buttons/big/mail_icons_sprite.png'); }
.pk_button_big.pk_home_icon{ background-image:url('../images/shortcodes/buttons/big/home_icons_sprite.png'); }
.pk_button_big.pk_zoom_icon{ background-image:url('../images/shortcodes/buttons/big/zoom_icons_sprite.png'); }


/*
	STYLED BOXES
-------------------------------------------------------------------------------------------------------------------------------------*/


.pk_box {
	overflow: hidden;
	margin: 0 0 30px 0;
	padding: 0;
	width: 100%;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.pk_box_content {
	overflow: hidden;
	padding: 15px;
}
.pk_box_content p{ margin: 15px 0 0 0; }
.pk_box, .pk_box .pk_box_content_wrapper, .pk_box .pk_box_content{ -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }

.pk_message_box {
	overflow: hidden;
	margin: 0 0 20px 0;
	padding: 0;
	width: 100%;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.pk_message_box_content_wrapper, .pk_message_box_content{ -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.pk_message_box_content {
	overflow: hidden;
	padding: 15px;
}
.pk_message_box_content p, .pk_message_box_content ul{ margin-bottom: 0; }
.pk_info_box .pk_message_box_content, 
.pk_note_box .pk_message_box_content,
.pk_success_box .pk_message_box_content,
.pk_error_box .pk_message_box_content,
.pk_warning_box .pk_message_box_content,
.pk_important_box .pk_message_box_content,
.pk_help_box .pk_message_box_content{ padding-left: 60px; }


/* Message Box Variations */

.pk_info_box .pk_message_box_content_wrapper{ color: #236cc7; background: #b2c9e6 url('../images/shortcodes/message_boxes/info.png') no-repeat 14px center; }
.pk_note_box .pk_message_box_content_wrapper{ color: #43412a; background: #fff4c0 url('../images/shortcodes/message_boxes/note.png') no-repeat 14px center; }
.pk_success_box .pk_message_box_content_wrapper{ color: #44802a; background: #c9f0b8 url('../images/shortcodes/message_boxes/success.png') no-repeat 14px center; }
.pk_error_box .pk_message_box_content_wrapper{ color: #af3017; background: #f1bbb0 url('../images/shortcodes/message_boxes/error.png') no-repeat 14px center; }
.pk_warning_box .pk_message_box_content_wrapper{ color: #705213; background: #ffd987 url('../images/shortcodes/message_boxes/warning.png') no-repeat 14px center; }
.pk_important_box .pk_message_box_content_wrapper{ color: #59330d; background: #f8ac61 url('../images/shortcodes/message_boxes/important.png') no-repeat 14px center; }
.pk_help_box .pk_message_box_content_wrapper { color: #353e5f; background: #b2bde6 url('../images/shortcodes/message_boxes/help.png') no-repeat 14px center; }


/*
	PRICING TABLES
-------------------------------------------------------------------------------------------------------------------------------------*/


.pk_pricing_table {
	position: relative;
	margin: 0 0 20px 0;
	width: 100%;
	font-size: 12px;
	text-align: center;
}
.pk_pricing_table .pk_column {
	position: relative;
	z-index: 2;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.pk_pricing_table .pk_one_half, .pk_pricing_table .pk_one_third, .pk_pricing_table .pk_one_fourth, .pk_pricing_table .pk_one_fifth{ margin: 0; }
.pk_pricing_with_highlight{ margin: 35px 0 40px 0; }
.pk_pricing_table header, .pk_pricing_table footer{ overflow: hidden; }
.pk_pricing_table header .pk_type {
	margin: 0 !important;
	padding: 0 !important;
	font-size: 14px;
	border-right: solid 1px transparent;
}
.pk_pricing_table header .pk_type span {
	display: block;
	margin: 1px 1px 0 1px;
	padding: 11px 0 0 0;
	height: 31px;
	border-top: solid 1px transparent;
}
.pk_pricing_table header .pk_price {
	margin: 0 !important;
	padding: 15px 0;
	font: 37px/27px "Myriad Pro", "Helvetica Neue", Helvetica, Arial, Lucida Grande, sans-serif;
	border-right: solid 1px transparent;
}
.pk_pricing_table header .pk_price sup {
	margin-left: -5px;
	padding-top: 5px;
	font-size: 55%;
}
.pk_pricing_table header .pk_price span {
	display: block;
	font: 11px/20px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}
.pk_pricing_table .pk_first {
	-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px;
}
.pk_pricing_table .pk_last {
	-moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px;
	-moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px;
}
.pk_pricing_table .pk_first header,
.pk_pricing_table .pk_first header .pk_type span {
	-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px;
}
.pk_pricing_table .pk_first header .pk_type span {
	border-left: solid 1px transparent;
}
.pk_pricing_table .pk_last{ float: left; }
.pk_pricing_table .pk_last header,
.pk_pricing_table .pk_last header .pk_type span {
	-moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px;
}
.pk_pricing_table .pk_last header .pk_type span {
	border-right: solid 1px transparent;
}
.pk_pricing_table ul {
	margin: 0 !important;
	padding: 0 !important;
	list-style: none;
	border-right: solid 1px transparent;
}
.pk_pricing_table ul li {
	margin: 0 !important;
	padding: 5px 0 !important;
	font-style: italic;
}
.pk_pricing_table ul li strong{ font-style: normal; }
.pk_pricing_table footer {
	overflow: hidden;
	margin: 0 !important;
	padding: 15px 0;
	height: 35px;
	text-align: center;
	border-right: solid 1px transparent;
}
.pk_pricing_table footer .pk_button_wrapper {
	display: inline-block;
	float: none !important;
	overflow: hidden;
	margin: 0 auto;
}
.pk_pricing_table footer .pk_button_small{ margin: 0; }
.pk_pricing_table .pk_first footer{ -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px; }
.pk_pricing_table .pk_last footer{ -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px; }
.pk_pricing_table .pk_last header .pk_type,
.pk_pricing_table .pk_last header .pk_price,
.pk_pricing_table .pk_last ul,
.pk_pricing_table .pk_last footer{ border: none; }


/* Highlight Column */
	
.pk_pricing_table .pk_highlight_column {
	margin: -16px 0 -16px -1px;
	z-index: 10;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.pk_pricing_table .pk_highlight_column .pk_price, .pk_pricing_table .pk_highlight_column footer{ padding: 23px 0; }
.pk_pricing_table .pk_highlight_column header,
.pk_pricing_table .pk_highlight_column header .pk_type span { 
	-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px;
}
.pk_pricing_table .pk_highlight_column header .pk_type span {
	border: solid 1px transparent;
	border-bottom: none !important;
}
.pk_pricing_table .pk_highlight_column footer { 
	-moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px;
}
.pk_pricing_table .pk_highlight_column header .pk_type,
.pk_pricing_table .pk_highlight_column header .pk_price,
.pk_pricing_table .pk_highlight_column ul,
.pk_pricing_table .pk_highlight_column footer{ border: none; }


/* Columns Dimension */

.pk_pricing_two_columns .pk_one_half,
.pk_pricing_two_columns .pk_highlight_column{ width: 50%; }
.pk_pricing_three_columns .pk_one_third,
.pk_pricing_three_columns .pk_highlight_column{ width: 33.33%; }
.pk_pricing_four_columns .pk_one_fourth,
.pk_pricing_four_columns .pk_highlight_column{ width: 25%; }
.pk_pricing_five_columns .pk_one_fifth,
.pk_pricing_five_columns .pk_highlight_column{ width: 20%; }


/* Pricing Table Variations */

.pk_highlight_white .pk_highlight_column header{ background-color: #f7f6f6; }
.pk_highlight_white .pk_highlight_column header .pk_type span{ color: #605e5e; border-color: #fff !important; }
.pk_highlight_white .pk_highlight_column header .pk_price{ color: #454545; background-color: #f1f0f0; }
.pk_highlight_black .pk_highlight_column header .pk_price sup{ color: #454545; }
.pk_highlight_white .pk_highlight_column header .pk_price span{ color: #888e90; }
		
.pk_highlight_grey .pk_highlight_column header{ background-color: #a7a6a6; }
.pk_highlight_grey .pk_highlight_column header .pk_type span{ color: #eeeded; border-color: #bcbbbb !important; }
.pk_highlight_grey .pk_highlight_column header .pk_price{ color: #444343; background-color: #cbcaca; }
.pk_highlight_grey .pk_highlight_column header .pk_price sup{ color: #444343; }
.pk_highlight_grey .pk_highlight_column header .pk_price span{ color: #747373; }
		
.pk_highlight_black .pk_highlight_column header{ background-color: #302f2f; }
.pk_highlight_black .pk_highlight_column header .pk_type span{ color: #a7a6a6; border-color: #434343 !important; }
.pk_highlight_black .pk_highlight_column header .pk_price{ color: #f0eaea; background-color: #525050; }
.pk_highlight_black .pk_highlight_column header .pk_price sup{ color: #f0eaea; }
.pk_highlight_black .pk_highlight_column header .pk_price span{ color: #a5a1a1; }

.pk_highlight_orange .pk_highlight_column header{ background-color: #f3a826; }
.pk_highlight_orange .pk_highlight_column header .pk_type span{ color: #fff; border-color: #f6bf5e !important; }
.pk_highlight_orange .pk_highlight_column header .pk_price{ color: #463e31; background-color: #ffd48a; }
.pk_highlight_orange .pk_highlight_column header .pk_price sup{ color: #463e31; }
.pk_highlight_orange .pk_highlight_column header .pk_price span{ color: #74716e; }
		
.pk_highlight_yellow .pk_highlight_column header{ background-color: #f1dc51; }
.pk_highlight_yellow .pk_highlight_column header .pk_type span{ color: #8d8133; border-color: #f5e788 !important; }
.pk_highlight_yellow .pk_highlight_column header .pk_price{ color: #45443b; background-color: #fff6b9; }
.pk_highlight_yellow .pk_highlight_column header .pk_price sup{ color: #45443b; }
.pk_highlight_yellow .pk_highlight_column header .pk_price span{ color: #747264; }
		
.pk_highlight_lime .pk_highlight_column header{ background-color: #e0f456; }
.pk_highlight_lime .pk_highlight_column header .pk_type span{ color: #889534; border-color: #ecf896 !important; }
.pk_highlight_lime .pk_highlight_column header .pk_price{ color: #45463c; background-color: #f8ffc6; }
.pk_highlight_lime .pk_highlight_column header .pk_price sup{ color:  #45463c; }
.pk_highlight_lime .pk_highlight_column header .pk_price span{ color:#747667; }
		
.pk_highlight_green .pk_highlight_column header{ background-color: #a9c929; }
.pk_highlight_green .pk_highlight_column header .pk_type span{ color: #fafafa; border-color: #c2d866 !important; }
.pk_highlight_green .pk_highlight_column header .pk_price{ color: #45463f; background-color: #e0ebb6; }
.pk_highlight_green .pk_highlight_column header .pk_price sup{ color: #45463f; }
.pk_highlight_green .pk_highlight_column header .pk_price span{ color: #74776b; }
		
.pk_highlight_blue .pk_highlight_column header{ background-color: #7cb5d6; }
.pk_highlight_blue .pk_highlight_column header .pk_type span{ color: #fafafa; border-color: #9ec8e1 !important; }
.pk_highlight_blue .pk_highlight_column header .pk_price{ color: #454d52; background-color: #d0e9f6; }
.pk_highlight_blue .pk_highlight_column header .pk_price sup{ color: #454d52; }
.pk_highlight_blue .pk_highlight_column header .pk_price span{ color: #748087; }
		
.pk_highlight_purple .pk_highlight_column header{ background-color: #a67cd6; }
.pk_highlight_purple .pk_highlight_column header .pk_type span{ color: #ebe7f1; border-color: #bb9be0 !important; }
.pk_highlight_purple .pk_highlight_column header .pk_price{ color: #453f4d; background-color: #decbf5; }
.pk_highlight_purple .pk_highlight_column header .pk_price sup{ color: #453f4d; }
.pk_highlight_purple .pk_highlight_column header .pk_price span{ color: #746980; }
		
.pk_highlight_red .pk_highlight_column header{ background-color: #b82323; }
.pk_highlight_red .pk_highlight_column header .pk_type span{ color: #f0e7e7; border-color: #c95757 !important; }
.pk_highlight_red .pk_highlight_column header .pk_price{ color: #453a3a; background-color: #f3cece; }
.pk_highlight_red .pk_highlight_column header .pk_price sup{ color: #453a3a; }
.pk_highlight_red .pk_highlight_column header .pk_price span{ color: #746262; }


/*
	TABS
-------------------------------------------------------------------------------------------------------------------------------------*/


.pk_tabs {
	position: relative;
	margin-bottom: 30px;
	width: 100%;
	min-height: 39px;
}
.pk_tabs .pk_tabs_label {
	display: none;
	position: absolute;
	top: 0;
	margin: 8px 0 0 0;
	text-transform: uppercase;
}
.pk_tabs .pk_tabs_navigation {
	display: none;
	position: absolute;
	margin: 0;
	padding: 0;
	list-style: none;
	z-index: 10;
}
.pk_tabs .pk_tabs_navigation li {
	float: left;
	margin: 0 -1px 0 0;
	padding: 0;
	background-image: none !important;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.pk_tabs .pk_tabs_navigation li:first-child{ -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px; }
.pk_tabs .pk_tabs_navigation li:last-child{ -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px; }
.pk_tabs .pk_tabs_navigation li.pk_active_tab{ border-bottom: none; }
.pk_tabs .pk_tabs_navigation a {
	display: block;
	margin: 0;
	padding: 10px 15px 11px 15px;
	height: 28px;
}
.pk_tabs .pk_tabs_content {
	position: relative;
	min-height: 20px;
	z-index: 11;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; border-top-right-radius: 0;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.pk_tabs .pk_tabs_content .pk_tab {
	overflow: hidden;
	padding: 20px 15px 0 15px;
}
.pk_tabs .pk_tabs_content .pk_tab p{ margin-bottom: 20px !important; }


/*
	TOGGLES
-------------------------------------------------------------------------------------------------------------------------------------*/


.pk_toggles{ margin-bottom: 30px; }
.pk_toggles .pk_toggle {
	display: block;
	margin: 0 0 10px 0;
	padding: 0;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.pk_toggles .pk_toggle_button {
	display: block;
	overflow: hidden;
	margin: 0 !important;
	padding: 12px 0 12px 42px;
	font-size: 15px;
	line-height: 22px;
	cursor: pointer;
}
.pk_toggles .pk_toggle_content_wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
	-moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px;
}
.pk_toggles .pk_toggle_content {
	overflow: hidden;
	padding: 15px 15px 0 15px;
}
.pk_toggles .pk_toggle_content p{ margin-bottom: 15px !important; }


/*
	DIVIDERS
-------------------------------------------------------------------------------------------------------------------------------------*/


.pk_divider {
	display: block;
	position: relative;
	clear: both;
	margin: 0 0 20px 0;
	padding: 0;
	height: 10px;
}
.pk_divider hr {
	width: 100%;
	border: none;
}
.pk_divider.pk_top{ padding: 5px 0; }
.pk_divider.pk_top hr {
	position: absolute;
	margin-left: 0;
	width: 96.5%;
	border: none;
}
.pk_divider.pk_top a {
	position: absolute;
	top: -1px;
	right: 0;
	padding: 0 0 0 10px;
	width: 20px;
	font-size: 9px;
	text-align: right;
}
.pk_clear_both {
	display: block;
	clear: both;
	width: 100%;
	height: 0;
}
.pk_empty_space {
	display: block;
	position: relative;
	clear: both;
	height: 20px;
}
.ie7 .pk_divider.pk_top a{ top: -8px; }



/*
	QUERIES
-------------------------------------------------------------------------------------------------------------------------------------*/


@media screen and (max-width: 767px) {
	.pk_one_half, 
	.pk_one_third,
	.pk_one_fourth, 
	.pk_one_fifth, 
	.pk_one_sixth, 
	.pk_two_third, 
	.pk_two_fourth, 
	.pk_two_fifth, 
	.pk_two_sixth, 
	.pk_three_fourth, 
	.pk_three_fifth, 
	.pk_three_sixth, 
	.pk_four_fifth, 
	.pk_four_sixth, 
	.pk_five_sixth {
		margin-right: 0;
		width: 100% !important;
	}
	.pk_pricing_table .pk_column{ clear: both; margin-top: 5px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
	.pk_pricing_table .pk_first{ margin-top: 0; }
	.pk_pricing_table .pk_column header {
		-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px;
		-moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px;
	}
	.pk_pricing_table .pk_column footer { 
		-moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px;
		-moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px;
	}
	.pk_pricing_table .pk_highlight_column{ margin: 5px 0 0 0; -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }
	.pk_tabs .pk_tabs_label{ display: none !important; }
}