li.pk_admin_sortable_default {
	height: 82px;
	padding: 5px;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	cursor: move;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
li.pk_admin_sortable_placeholder {
	height: 82px;
	padding: 5px;
	background-color: #fffddd;
	border: 1px solid #ddd;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
a.pk_admin_sort_titles{ text-decoration: none; }
p.pk_admin_class_taxonomies{ margin-bottom: 0; }
img.pk_admin_sort_thumb {
	float: left;
	margin-right: 10px;
}
span.pk_admin_sort_no_img {
	width: 80px;
	height: 80px;
	float: left;
	background-color: #fff;
	border: 1px solid #ddd;
	margin-right: 10px;
}
#pk_admin_saving_sorting{ display: none; }
#pk_admin_success_sorting{ display: none; }
#pk_admin_error_sorting{ display: none; }