/*
	GLOBAL
-------------------------------------------------------------------------------------------------------------------------------------*/


.pk_widget {
	clear: both;
	position: relative;
}
#pk_sidebar .pk_widget{ font-size: 12px; }
.pk_widget ul, .pk_widget ol {
	margin: 0;
	list-style: none;
}
.pk_widget li {
	margin-left: 0;
	padding-left: 13px;
}
.pk_widget li:last-child{ margin: 0; }
.pk_widget{ margin-top: 40px; }
#pk_featured_text .pk_widget:first-child{ margin-top: 0; }

.widget_dribbble li,
.widget_featured_posts li,
.widget_featured_works li,
.widget_popular_posts li,
.widget_popular_works li,
.widget_recent_posts li,
.widget_recent_works li,
.widget_related_posts li,
.widget_related_works li,
.widget_twitter li {
	margin-bottom: 15px;
	padding: 0;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}


/*
	ADVERTISING
-------------------------------------------------------------------------------------------------------------------------------------*/


.widget_advertising_125_125 {
	overflow: hidden;
	margin-left: -20px;
	padding-bottom: 5px;
}
.widget_advertising_125_125 h4,
.widget_advertising_125_125 h5{ margin: 0 0 0 20px; }
.widget_advertising_125_125 a {
	float: left;
	margin: 20px 0 0 20px;
	padding: 7px;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.widget_advertising_125_125 a img {
	display: block;
	margin: 0;
	width: 125px;
	max-width: 125px;
}
.widget_advertising_300_250 a img{ -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }
	

/*
	TESTIMONIALS
-------------------------------------------------------------------------------------------------------------------------------------*/


.pk_testimonials {
	overflow: hidden;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#pk_sidebar .pk_testimonials{ margin-bottom: 0; }
.pk_testimonials ul {
	margin: 0;
	list-style: none;
}
.pk_testimonials li {
	display: block;
	overflow: hidden;
	padding: 0;
	background-image: none !important;
}
.pk_testimonials li:last-child{ margin-bottom: 0; }
.pk_testimonials img {
	position: absolute;
	max-width: 100px;
	margin: 15px 0 0 15px;
}
.pk_testimonials blockquote {
	float: right;
	overflow: hidden;
	margin: 0 0 0 130px;
	padding: 15px 15px 15px 0;
	background: none;
	font-size: 14px;
	background: none !important;
}
.pk_testimonials blockquote p {
	margin: 0;
	padding: 0;
}
.pk_testimonials cite {
	margin: 5px 0 -5px 0;
	font-size: 11px;
	text-align: right;
}
.pk_testimonials .pk_arrow {
	display: block;
	position: absolute;
	top: 30px;
	left: 108px;
	width: 0; 
	height: 0; 
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
}
.pk_testimonials .pk_no_thumbnail blockquote{
	margin: 0;
	padding: 15px;
}
.pk_testimonials .pk_no_thumbnail blockquote cite{ text-align: left; }
.pk_testimonials .pk_no_thumbnail .pk_arrow{ display: none; }


/*
	DRIBBBLE
-------------------------------------------------------------------------------------------------------------------------------------*/


.widget_dribbble li {
	padding: 0 0 15px 0;
	background-image: none !important;
}
.widget_dribbble li img {
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px;
	-moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-top-right-radius: 3px;
}
.widget_dribbble li h5 {
	margin: 0 15px;
	line-height: 15px;
}
.widget_dribbble li small{ margin: 0 15px; }


/*
	POSTS - WORKS - TWITTER
-------------------------------------------------------------------------------------------------------------------------------------*/


.widget_featured_posts li,
.widget_featured_works li,
.widget_popular_posts li,
.widget_popular_works li,
.widget_recent_posts li,
.widget_recent_works li,
.widget_related_posts li,
.widget_related_works li{
	padding: 15px;
	background-image: none !important;
}
	
.widget_featured_posts li h5,
.widget_featured_works li h5,
.widget_popular_posts li h5,
.widget_popular_works li h5,
.widget_recent_posts li h5,
.widget_recent_works li h5,
.widget_related_posts li h5,
.widget_related_works li h5{ margin-bottom: 7px; }
.widget_featured_posts img,
.widget_featured_works img,
.widget_popular_posts img,
.widget_popular_works img,
.widget_recent_posts img,
.widget_recent_works img,
.widget_related_posts img,
.widget_related_works img {
	display: block;
	float: left;
	margin-right: 15px !important;
}
.widget_featured_posts div,
.widget_featured_works div,
.widget_popular_posts div,
.widget_popular_works div,
.widget_recent_posts div,
.widget_recent_works div,
.widget_related_posts div,
.widget_related_works div{ overflow: hidden; }
.widget_featured_posts p,
.widget_featured_works p,
.widget_popular_posts p,
.widget_popular_works p,
.widget_recent_posts p,
.widget_recent_works p,
.widget_related_posts p,
.widget_related_works p{ margin-bottom: 0 !important; }
.pk_no_thumbnail div{ margin-left: 0; }
.widget_twitter li{ padding: 15px 15px 15px 45px; }
.widget_twitter li small {
	display: block;
	margin-top: 15px;
}


/*
	FLICKR
-------------------------------------------------------------------------------------------------------------------------------------*/


.widget_flickr div {
	overflow: hidden;
	padding: 15px 0 8px 15px;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.widget_flickr a {
	float: left;
	margin: 0 7px 7px 0;
}
.widget_flickr a img {
	margin: 0;
	width: 48px;
	height: auto;
}


/*
	GOOGLE MAP
-------------------------------------------------------------------------------------------------------------------------------------*/


.pk_widget_google_maps {
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.pk_widget_google_maps iframe {
	display: block;
	margin: 0;
	padding: 0;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
}


/*
	WP SEARCH - WP CALENDAR - WP RSS
-------------------------------------------------------------------------------------------------------------------------------------*/


.widget_search {
	position:relative;
	padding: 15px;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.widget_search h4, .widget_search h5{ margin-bottom: 10px; }
#searchform {
	overflow: hidden;
	padding: 5px;
	height: 24px;
	-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.18); -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.18); box-shadow: inset  0 1px 2px rgba(0, 0, 0, 0.18);
}
.ie8 #searchform{ height: 21px; }
#searchform div{ margin-right: 90px; }
.ie8 #searchform div, .ie9 #searchform div{ margin-right: 85px; }
#searchform label{ display: none; }
#searchform input[type=text] {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 25px;
	font-size: 13px;
	background: none !important;
	-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}
.ie8 #searchform input[type=text]{ border: none !important; }
#searchform #searchsubmit {
	position: absolute;
	bottom: 18px;
	right: 18px;
	margin-top: 3px;
	padding: 0 15px 1px 15px;
	height: 27px;
	font-size: 12px;
	line-height: 26px;
	cursor: pointer;
	text-decoration: none;
	border: none;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.18); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.18); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.18);
	-webkit-transition: none;
	-moz-transition: none;
   	-ms-transition: none;
	-o-transition: none;
	transition: none;
}
.ie9 #searchform #searchsubmit {
	bottom: 19px;
	right: 19px;
	padding: 1px 15px 0 15px;
}
#searchform #searchsubmit:hover{ background-position: 0 -82px; }
.ie7 #searchform #searchform #searchsubmit {
	display: block;
	font-size: 0;
	line-height: 0; 
}

#calendar_wrap {
	border-bottom: none !important;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#calendar_wrap tr th:first-child, #calendar_wrap tr td:first-child{ border-left: none !important; }
#calendar_wrap tr th:last-child, #calendar_wrap tr td:last-child{ border-right: none !important; }
#calendar_wrap table{ margin: 0; }
#calendar_wrap caption {
	-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px;
}
#calendar_wrap th, #calendar_wrap td{ padding: 4px; }

.rsswidget img {
	float: left;
	margin: 2px 10px 0 0;
	padding: 0;
}
.rss-date { 
	display: block;
	margin: 10px 0 0 0;
	font-size: 11px;
}
.rssSummary{ margin-bottom: 10px; }


/*
	CATEGORIES - BLOGROLL
-------------------------------------------------------------------------------------------------------------------------------------*/


.widget_categories a, .widget_portfolio_categories a, .blogroll a { margin-right: 10px; }


/*
	WPML - QTRANSLATE
-------------------------------------------------------------------------------------------------------------------------------------*/


#lang_sel, #lang_sel_list {
	position: relative;
	z-index: 99;
}
#lang_sel ul, #lang_sel li, #lang_sel_list ul, #lang_sel_list li {
	margin: 0 !important;
	padding: 0 !important;
	list-style: none !important;
	background-image: none;
}
#lang_sel li:before, #lang_sel_list li:before{ content: '' !important; }
#lang_sel li, #lang_sel_list li{
	position: relative;
	clear: both;
	margin: 0;
	background-image: none !important;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#lang_sel a, #lang_sel a:visited, #lang_sel_list ul a, #lang_sel_list_list ul a:visited {
	display: block;
	padding: 10px 15px;
}
/* style the table so that it takes no ppart in the layout - required for IE to work */
#lang_sel table, #lang_sel_list table {
	position: absolute;
	top: 0;
	left: 0;
	border-collapse: collapse;
}
/* make the second level visible when hover on first level list OR link */
#lang_sel ul li:hover ul,
#lang_sel ul a:hover ul,
#lang_sel_list ul li:hover ul,
#lang_sel_list ul a:hover ul{ visibility: visible; }
#lang_sel img.iclflag, #lang_sel_list img.iclflag, .widget_nav_menu img.iclflag {
	display: inline;
	margin: 5px 6px 0 0;
	width: 18px;
	height: 12px;
}
#lang_sel_list li:first-child a,
#lang_sel_footer ul li:last-child { border: none !important; }


/* Dropdown */

#lang_sel ul ul {
	visibility: hidden;
	position: absolute;
	top: 40px;
	left: 0;
	width: 100%;
	height: 0;
}
#lang_sel ul ul li{ -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }
#lang_sel ul ul li:last-child {
	-moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px;
}
#lang_sel ul ul a, #lang_sel ul ul a:visited,
#pk_widgets_area  #lang_sel ul ul a, #pk_widgets_area  #lang_sel ul ul a:visited {
	overflow: hidden;
	padding: 10px 15px;
	background-image: none;
}
#lang_sel a:hover, #lang_sel ul ul a:hover{  }
#lang_sel :hover > a, #lang_sel ul ul :hover > a{  }


/* List */

#lang_sel_list {
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#lang_sel_list ul li {
	-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
	background: none;
}
#lang_sel_list a.lang_sel_sel:hover span{ }
#lang_sel.icl_rtl {
    text-align: right;
    direction: rtl;
}
#lang_sel.icl_rtl .lang_sel_sel{ padding-right: 14px; }


/* Footer */

#lang_sel_footer {
	overflow: hidden;
	clear: both;
	margin: 0 auto 18px auto;
	padding: 10px 0;
	width: 980px;
	font-size: 11px;
	text-align: center;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#lang_sel_footer ul {
	margin: 0;
	padding: 0;
}
#lang_sel_footer ul li {
	position: relative;
	display: inline;
	margin: 0 6px 0 0;
	padding: 0 8px 0 22px;
}
#lang_sel_footer ul li img {
	position: absolute;
	top: 1px;
	left: 0;
	width: 18px;
	height: 12px;
}
#lang_sel_footer ul li a, #lang_sel_footer ul li a:visited{ text-decoration: none; }
#lang_sel_footer ul li a:hover, #lang_sel_footer ul li a:active{}
#wpml_credit_footer {
	margin: 0 auto 18px auto;
	padding: 0;
	width: 980px;
	text-align: center;
	font-size: 11px;
}


/* qTranslate */

.qtrans_language_chooser {
	overflow: hidden;
	padding: 15px;
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.qtrans_language_chooser li {
	float: left;
	margin: 0 8px 0 0;
	padding: 0 8px 0 0;
	background-image: none !important;
}
.qtrans_language_chooser li a{ background-position: 0 center !important; }
.qtrans_language_chooser li a span{ margin-left: 7px; }


/*
	QUERIES
-------------------------------------------------------------------------------------------------------------------------------------*/


@media only screen and (max-width: 959px) {
	.widget_advertising_125_125, .widget_advertising_125_125 h5{ margin-left: 0; }
	.widget_advertising_125_125 a{ display: block; margin: 20px 0 0 0; padding: 7px 0; width: 100%; }
	.widget_advertising_125_125 a img{ margin: 0 auto; }
	.pk_testimonials img{ max-width: 50px; }
	.pk_testimonials blockquote{ margin-left: 80px; }
	.pk_testimonials .pk_arrow{ top: 25px; left: 59px; }
}

/* Tablet (portrait and landscape) */

@media only screen and (min-width: 768px) and (max-width: 959px) {
	#lang_sel_footer, #wpml_credit_footer{ width: 718px; }
}

/* Mobile */

@media screen and (max-width: 767px) {
	#lang_sel_footer, #wpml_credit_footer{ width: 300px; }
}


/* Mobile Landscape */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	#lang_sel_footer, #wpml_credit_footer{ width: 460px; }
}