td.pk_admin_td {
	padding-top:10px;
	border-style:none;
}

th.pk_admin_th {
	width:160px;
	border-style:none;
	padding:10px;
}

th.pk_admin_th h4 {
	font-family: Arial, Helvetica, sans-serif;
}

input.pk_admin_button {
	width:70px;
	margin-left:6px;
}

input.pk_admin_generate_shortcode_button {
	margin-left:6px;
}

input.pk_admin_input_text_field {
	width:200px;
	padding-top:1px;
}

textarea.pk_admin_input_text_area {
	width:80%;
	height:auto;
}

select.pk_admin_input_select {
	width:200px;
	padding-top:1px;
}

select.pk_admin_input_select_multiple {
	width:200px;
	height:auto;
	min-height:200px;
	padding-top:1px;
	margin-left:6px;
	margin-bottom:6px;
}

select.pk_admin_input_select_box {
	width:200px;
	padding-top:1px;
}

input.pk_admin_input_color {
	width:200px;
	padding-top:1px;
}

input.pk_admin_input_slider {
	width:90px;
	padding-top:1px;
	margin-left:10px;
	text-align:center;
}

input.pk_admin_radio_checkbox {
	margin-left:2px;
	cursor:pointer;
}

p.pk_admin_helper {
	clear:left;
	color:#666666;
}

strong.pk_admin_helper_strong {
	margin-left:2px;
	color:#ff0000;
}

div.pk_admin_shortcode_manager_buttons_div {
	margin-top:8px;
	text-align:right;
}

div.pk_admin_slider_div .slider {
	background-color:#eeeeee;
	width:200px;
	height:18px;
	position:relative;
	cursor:pointer;
	float:left;
	clear:right;
	border:1px solid #cccccc;
	margin-top:1px;
	border-radius:9px;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
}

div.pk_admin_slider_div .handle {
	background-color:#ffffff;
	background-image:url('images/button_gradient.png');
	background-repeat:repeat-x;
	width:18px;
	height:18px;
	position:absolute;
	cursor:pointer;
	display:block;
	border-radius:9px;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
}

div.pk_admin_multiple_checkbox_div {
	width:190px;
	float:left;
	margin-right:10px;
	margin-bottom:10px;
}

div.pk_admin_multiple_checkbox_div_wrapper {
	width:400px;
	margin-left:6px;
}

label.pk_admin_multiple_checkbox_label {
	margin-left:6px;
	cursor:default;
}

label.pk_admin_radio_label {
	cursor:default;
}

div.pk_admin_padding_top_div {
	padding-top:6px;
}

div.pk_admin_padding_bottom_div {
	padding-bottom:6px;
}

div.pk_admin_sc_div {
	display:none;
}