/* Large desktop */
@media (max-width: 1200px) { 
    .theme-boxed {
        width:1000px;
    }
}
/* Medium-Large desktop */
@media only screen and (min-width: 1260px) { 
    .theme-boxed {
        width:1260px;
    }
}
@media (min-width: 980px) {
    #mobile-menu{
        display: none !important;
    }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
    .tw-top-bar{
        height: auto;
    }
    .theme-boxed {
        width:auto;
        margin: 0 !important;
        padding: 0 !important;
        border: none;
    }
    .show-mobile-menu {
        float: right;
        margin: 40px 0;
        background: none;
    }
    .show-mobile-menu .mobile-menu-text{
        font-size: 0;
    }
    .show-mobile-menu .mobile-menu-icon{
        margin-right: 0;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .theme-boxed {
        width:auto;
        margin: 0 !important;
        padding: 0 !important;
        border: none;
    }
    #main .container .row{
        margin-bottom: 20px;
    }
    body{
        padding: 0;
        margin:0 !important;
    }
    #footer .copyright{
        line-height: 1.6;
    }
    #nav,.tw-top-bar ul.tw-social-icon{
        display: none;
    }
    .tw-logo,.tw-top-bar-info,#footer .copyright,#bottom .span6{
        text-align: center;
    }
    .tw-top-service-img{
        margin-left: 20px;
    }
    #bottom ul.tw-social-icon{
        float: none;
        text-align: center;
    }
    #main{
        padding: 30px 15px;
    }
    .list_carousel li{
        width: 100%;
    }
    .tw-top-text1 span4 offset4, .tw-top-text2 span4{
        margin-top: 30px;
    }
    .content-meta,.footer-logo{
        display: none;
    }
    #main article.loop,#main article.single{
        padding: 0px 20px 60px 0px;
    }
    #main .comment-block .comment-block{
        margin-left: 0;
        padding: 0;
    }
    .tw-pricing-col{
        float:none;display:block;width:100% !important
    }
    .team-member{
        width: 340px !important;
    }    
    .mobile-menu-icon span{
        background: #fff !important;
        height: 5px !important;
    }
    .show-mobile-menu .mobile-menu-icon{
        margin-top: 4px;
    }
    .tw-callout.with-button .callout-text{
        padding-right: 0;
    }
    .callout-text>a.btn{
        position: relative;
        margin:0;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul.sf-menu > li a{
        letter-spacing: normal;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) { 
    .theme-boxed {
        width:auto;
    }
    .row-fluid [class*="span"]{
        margin-bottom: 30px;
    }
    .row-fluid [class*="span"]:last-child{
        margin-bottom: 0;
    }
}