/*
-----------------------------------------------------------------------------------
        Theme Name: Nuzi (shared on wplocker.com)
        Theme URI: http://www.themewaves.com
        Description: Blank Framework from Themewaves
        Author: ThemeWaves
        Author URI: http://www.themewaves.com
        Version: 1.4
        License:
        License URI:
        Tags:one-column, two-columns, left-sidebar, right-sidebar, fixed-width, flexible-width, custom-background, custom-colors, custom-menu, featured-image-header, featured-images, post-formats, sticky-post, theme-options, translation-ready
*/

/* Theme Waves Theme Styling Start */

/* ------------ BASE ------------- */

::selection {
    background: #4da4f3;
    color: #ffffff;
}
::-moz-selection {
    background: #4da4f3;
    color: #ffffff;
}
img.scale-with-grid {
    max-width: 100%;
    height: auto;
}
ul {
    list-style: none;
    margin: 0;
}
li{
    line-height: 1.9;
}
p {
    margin-bottom: 20px;
}
iframe, embed, img {
    max-width: 100%;
    border: none;
}    
a:hover {
    text-decoration: none;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222222;
    font-family: 'Noto Sans', "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
    margin: 0 0 10px 0;
    padding: 0
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-weight: inherit
}
h1 {
    font-size: 28px;
    line-height: 1.6
}
h2 {
    font-size: 22px;
    line-height: 1.6
}
h3 {
    font-size: 18px;
    line-height: 1.6
}
h4 {
    font-size: 16px;
    line-height: 1.6
}
h5 {
    font-size: 14px;
    line-height: 1.6
}
h6 {
    font-size: 12px;
    line-height: 1.6
}
.highlight { 
    color: #4da4f3
}
p {
    margin: 0 0 20px 0
}
p img {
    margin: 0
}
em {
    font-style: italic
}
strong {
    font-weight: bold
}
small {
    font-size: 80%
}
hr {
    border: solid #ddd;
    border-width: 1px 0 0;
    clear: both;
    margin: 10px 0 30px;
    height: 0;
}
pre {
    height: auto;
    font-family: Consolas, monospace;
    border: 1px solid #e2e2e2;
    background: #f7f7f7;
    padding: 10px 20px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 0 0 20px 0;
    overflow-x:auto;
}
.hidden {  display: none !important }

/* 02. Links and Form */

a{
    color: #8d8d8d;
    text-decoration: none;
    outline: 0;
}
a:hover,
a:focus {
    color: #666666;
    text-decoration: none;
    outline: 0;
}
p a,
p a:visited {
    line-height: inherit
}
#sidebar a,
#footer a
{
    color: #8D8D8D;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
ul,
ol { margin-bottom: 20px }
ul { list-style: none outside }
ol,
ul { margin-left: 30px }
ol { list-style: decimal }
ul { list-style: square outside }
aside ul,.tw-twitter ul.jtwt{position: relative; list-style: none; margin: 0;}
aside ul ul{margin-top: 15px;}
ul li ul,
ol li ul,
ol li ul,
ol li ol { margin-bottom: 0 }
form,
fieldset { margin-bottom: 20px }
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
    background: #fff;
    padding: 8px;
    outline: none;    
    width: 226px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: 0;
    display: block;
    margin-bottom: 20px;
    color: #8d8d8d;
    -moz-box-shadow: 0 1px 2px 0 rgba(180, 180, 180, 0.2);
    -webkit-box-shadow: 0 1px 2px 0 rgba(180, 180, 180, 0.2);
    box-shadow: 0 1px 2px 0 rgba(180, 180, 180, 0.2);
    border: 1px solid #dddddd;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: 1px solid #bbb;
    color: #333;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
textarea { min-height: 60px }
select {
    width: 220px;
    padding: 5px;
}
label,
legend {
    cursor: pointer;
    display: block;
}
label span,
legend span { font-weight: bold }
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    background: #4da4f3;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 13px;
    color: #FFF;
    border: none;
    font-family: 'Noto Sans', "Helvetica Neue",Helvetica,Arial,sans-serif;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover{
    opacity: 0.8;
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
.gallery-caption{}
.sticky {}

/* ---------- HEADER ------------- */

#header {

}

/* logo */
#header .tw-logo {
    font-size: 28px;
    line-height: 130px;
}

/* navigation */
nav ul.sf-menu {
    float: right;
}
/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sf-menu li {
    position: relative;
}
.sf-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}
.sf-menu > li {
    float: left;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
    display: block;
    z-index: 9999;
}

.sf-menu a {
    position: relative;
}
.sf-menu ul ul {
    top: 0;
    left: 100%;
}

/* ThemeWaves Menu Styling*/

.sf-menu [class^="icon-"],.sf-menu [class*=" icon-"]{
    font-size: 14px;
}
ul.sf-menu > [class^="icon-"] a,.sf-menu > [class*=" icon-"] a{
    font-family: 'Noto Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.sf-menu > [class^="icon-"]:before, .sf-menu > [class*=" icon-"]:before{
    display: block;
    color: #000;
    text-align: center;
    position: relative;
    bottom: -40px;
}
.sf-menu ul{
    left: 0;
}
ul.sf-menu > li > ul {
    border-top: 5px solid #4da4f3;
}
ul.sf-menu > li > a{
    text-transform: uppercase;
    padding: 59px 20px 45px;
}
ul.sf-menu > li a{
    font-size: 13px;
    letter-spacing: -1px;
    font-weight: bold;
    color: #222;    
    display: block;
}
ul.sf-menu li ul li a{
    padding: 10px 0px;
    margin: 0px 20px;
    font-weight: normal;
    letter-spacing: normal;
    width: 160px;
    border-bottom: 1px solid #2d2d2d;
    color: #fff;
}
ul.sf-menu li ul li a:hover{
    color: #4da4f3;
}
ul.sf-menu li ul li{
    background-color: #222222;
    text-align: left;
}
ul.sf-menu > li:hover{
    background-color: #4da4f3;    
}
ul.sf-menu > li:hover > a, .sf-menu > li:hover:before {
    color: #fff;
}
.sf-menu > li.current_page_item  > a,
.sf-menu > li.current_page_ancestor >a,
.sf-menu > li.current-menu-ancestor >a,
.sf-menu > li.current-menu-item > a,
.sf-menu > li.current_page_item:before,
.sf-menu > li.current_page_ancestor:before,
.sf-menu > li.current-menu-ancestor:before,
.sf-menu > li.current-menu-item:before
{
    color: #fff;
}
.sf-menu > li.current_page_item,
.sf-menu > li.current_page_ancestor,
.sf-menu > li.current-menu-ancestor,
.sf-menu > li.current-menu-item {
    background-color: #4da4f3;
}
.sf-menu > li .current-menu-item > a,#sidebar ul.menu li.current_page_item a{
    color: #4da4f3;
}
ul.sf-menu li ul li.current_page_ancestor a{
    color: #fff;
}

/* ------------ menu of Header style 3 --------------- */
.header_3 ul.sf-menu > li > a {
    padding: 60px 20px 58px;
}
.header_3 ul.sf-menu > li > ul {
    margin-top: -5px;
}
.header_3 ul.sf-menu > li:hover,
.header_3 .sf-menu > li.current_page_item,
.header_3 .sf-menu > li.current_page_ancestor,
.header_3 .sf-menu > li.current-menu-ancestor,
.header_3 .sf-menu > li.current-menu-item {
    background: none;
}
.header_3 ul.sf-menu > li:hover > a, .header_3 .sf-menu > li:hover:before {
    color: #4da4f3;
}
.header_3 .sf-menu > li.current_page_item  > a,
.header_3 .sf-menu > li.current_page_ancestor >a,
.header_3 .sf-menu > li.current-menu-ancestor >a,
.header_3 .sf-menu > li.current-menu-item > a {
    color: #4da4f3;
}

/* ------------ menu of Header style 2 --------------- */
header.header_2 {
    text-align: center;
}
.header_2 nav ul.sf-menu {
    float: none;
    display: inline-block;
    margin-bottom: -5px;
}
.header_2 .sf-menu > [class^="icon-"]:before, .header_2 .sf-menu > [class*=" icon-"]:before,
.header_3 .sf-menu > [class^="icon-"]:before, .header_3 .sf-menu > [class*=" icon-"]:before {
    display: none;
}
.header_2 ul.sf-menu > li > a {
    padding: 20px;
}


/* ------------ mobile menu --------------- */
.show-mobile-menu {
    width: 100%;
    cursor: pointer;
    background: #282828;
    padding: 5px 0;
}
.show-mobile-menu .mobile-menu-icon{
    float: right;
    width: 40px;
    margin-right: 20px;
}
.show-mobile-menu .mobile-menu-text{
    float: left;
    font-size: 18px;
    line-height: 33px;
    margin-left: 20px;
    color: #FFF;
}
.mobile-menu-icon span {
    margin-bottom: 2px;
    width: 100%;
    height: 7px;
    display: block;
    background: #222;
}

#mobile-menu {display: none;padding:0px 20px;background:#282828;position:relative}
#mobile-menu ul{margin: 0;list-style: none;padding:10px 0;width:100%}
#mobile-menu ul.sub-menu{display: none;padding: 0;margin-top: 15px;margin-bottom: -15px;}
#mobile-menu ul li{border-top:1px solid rgba(255,255,255,.1);position: relative;padding:15px 0;display: block}
#mobile-menu ul li:first-child{border-top:none}
#mobile-menu ul li a{display:block;color:#999;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;padding-left: 10px !important;display: inline-block !Important;}
#mobile-menu ul li a:hover{color:#FFF}
#mobile-menu ul li.has-children>.action-expand{float: right;font-size:20px;height:24px;line-height:20px;cursor: pointer;}
#mobile-menu ul li.has-children>a{width: 85%;}
#mobile-menu ul li.has-children>.action-expand>.opened,#mobile-menu ul li.has-children.menu-open>.action-expand>.closed{display: none;}
#mobile-menu ul li.has-children>.action-expand>.closed,#mobile-menu ul li.has-children.menu-open>.action-expand>.opened{display: block;}
#mobile-menu ul ul li a:before{content:'-';margin-right:5px}
#mobile-menu ul ul ul li a:before{content:'- -';margin-right:5px}
#mobile-menu ul ul ul ul li a:before{content:'- - -';margin-right:5px}
#mobile-menu ul ul li:first-child{border-top:1px solid rgba(255,255,255,.1)}


/* Top header */
.tw-top-bar {
    background: #FFF;
    border-bottom: 1px solid #dddddd;
}
.tw-top-bar-info {
    padding: 10px 0;
    color: #8d8d8d;
}

/* 05. Social Icons */


.tw-social-icon{
    display: inline-block;
    list-style: none;
    margin: 0;
    margin-bottom: -1px;
}
.tw-social-icon li{
    display: block;
    margin: 0;
    padding: 0;
    float: left;
}
.loop-image .tw-social-icon a{
    background: #fff;
    display: inline-block;
    width: 42px;
}
.tw-social-icon a,#bottom .tw-social-icon a{
    display: block;
    color: #8D8D8D;
    margin: 0;
    padding: 0;
    float: left;
    font-size: 16px;
    text-align: center;
    line-height: 41px;
    height: 42px;
    width: 42px;
}
.team-member .tw-social-icon a:hover{
    -webkit-animation: pulse 0.7s;
    -moz-animation: pulse, 0.7s;
    -o-animation: pulse 0.7s;
    animation: pulse 0.7s;
}
.tw-social-icon a:hover{
    background-color: #4da4f3;
    color:#fff !important;
    -webkit-animation: fadeIn 0.7s;
    -moz-animation: fadeIn, 0.7s;
    -o-animation: fadeIn 0.7s;
    animation: fadeIn 0.7s;
}
.tw-social-icon a.facebook:hover{
    background-color: #305fb3;
}
.tw-social-icon a.flickr:hover{
    background-color: #ff0084;
}
.tw-social-icon a.gplus:hover{
    background-color: #d7482a;
}
.tw-social-icon a.twitter:hover{
    background-color: #00d7d5;
}
.tw-social-icon a.pinterest:hover{
    background-color: #e1003a;
}
.tw-social-icon a.skype:hover{
    background-color: #12c7ef;
}
.tw-social-icon a.vimeo:hover{
    background-color: #3f90bf;
}
.tw-social-icon a.youtube:hover{
    background-color: #ff3333;
}
.tw-social-icon a.dribbble:hover{
    background-color: #f06eaa;
}
.tw-social-icon a.linkedin:hover{
    background-color: #3399cc;
}
.tw-social-icon a.instagram:hover{
    background-color: #9f6f59;
}
.tw-social-icon a.rss:hover{
    background-color: #fca600;
}
/* Our Team */

.tw-our-team{
    margin: 0 -15px;
}
.team-member{
    float: left;
    margin: 0 15px 30px 15px;
    width: 270px;
    max-width: 100%;    
}
.team-member .loop-image{
    padding: 0;
    border: none;
    border-bottom: 5px solid #4DA4F3;
    position: relative;
}
.team-member .loop-image img{
    -webkit-border-bottom-left-radius: 3px;
    -webkit-bottom-right-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    -moz-bottom-right-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.team-member .loop-image, .team-member .image-overlay{
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.team-member .member-title{
    border: 1px solid #dddddd;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 15px;
    text-align: center;
}
.team-member h2,.team-member p{
    margin: 0;
}
.team-member h2{
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
}
.team-member p{
    display: inline-block;
    font-size: 13px;
    line-height: 28px;
    font-family: Arial,sans-serif;
    font-weight: bold;
}
.team-member .image-overlay{
    background-color: rgba(0, 0, 0, .7);
}
.team-member .member-social{
    display: none;
    position: absolute;
    width: 270px;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -135px;
}
.team-member .loop-image:hover .member-social{
    display: block;
}
.team-member ul.tw-social-icon{
    display: inline-block;
}
.team-member ul.tw-social-icon li a{
    background-color: #f8f8f8;
}
.team-member ul.tw-social-icon li a:hover{
    background-color: #4da4f3;
}

/* ThemeWaves Blog Feature Title */

#page-title {
    padding: 30px 0;
    background: #f8f8f8;
    background-size: cover;
}
#page-title h2,#page-title h3 {
    margin: 0;
    padding:0 10px;
    color: #fff;
    float: left;
}
#page-title h2 {
    font-size: 18px;
    line-height: 35px;
    background-color: #222222;
}
/* Breadcrump added cause little css :P */
.tw-breadcrumb{
    padding: 0 6px;
}
#page-title h3,.tw-breadcrumb{
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 30px;
    color: #FFF;
    letter-spacing: normal;
    background-color: #4da4f3;
    font-weight: normal;
    clear: left;
}
.tw-breadcrumb span a{
    color: #fff;
}
#page-title span {
    margin: 0 7px;
}
#featured-image {
	text-align: center;
}

/* 09. Footer Section */

#footer{
    color: #8d8d8d;
    background: #222222;
}
#footer > .container{
    padding: 60px 15px 40px 15px;    
}
#bottom .copyright{
    margin-top: 4px;
}
#bottom {
    background: #ffffff;
    font-size: 13px;
    font-weight: bold;
    padding: 30px 0;
}
#bottom ul, #bottom p {
    margin: 0;
}
#bottom ul {
    float: right;
}
#bottom a {
    color: #4da4f3;
}
#footer h3.widget-title{
    color: #fff;
    font-weight: normal;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 16px;
}
#footer h3.widget-title span {
    font-weight: bold;
    color: #fff;
}
#footer .green-bottom{
    color: #4da4f3;
    font-size: 26px;
}

/* Footer Widgets Styles */

#footer .tw-widget-title-container{
    position: relative;
    padding-bottom: 10px;    
}
#footer .tw-recent-posts-widget h4 a{
    color: #fff;
}
#footer .tw-recent-posts-widget h4 a:hover{
    color: #4da4f3;
}
#footer .tw-recent-posts-widget ul li{
    border-bottom: 1px solid #2e2e2e;
}
#footer .tw-recent-posts-widget ul li:last-child{
    border-bottom: 0;
}
.footer-logo {
    float: left;
    margin-right: 20px;
}
/* Page Builder Item TItles and Widget Title*/

.tw-title-container{
    position: relative;
}
.tw-title-container h3,h3.widget-title{
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: normal;
    line-height: 1;
}
.tw-title-container h3 span{
    font-weight: bold;
    color: #4da4f3;
}
h3.widget-title span{
    font-weight: bold;
}

/* Widgets Style */
#sidebar aside.widget,#footer aside.widget{
    margin-bottom: 60px;
}
#sidebar aside.widget:last-child,#footer aside.widget:last-child{
    margin-bottom: 0;
}
#sidebar aside.widget ul li{
    border-bottom: 1px dotted #ddd;
    padding: 10px 10px 10px 15px;
}
#sidebar aside.widget ul li:before{
    content: '\f105';
    display: inline-block;
    font-family: FontAwesome;
    color: #333333;
    position: absolute;
    left: 0;
}
#sidebar aside.widget ul li:first-child{
    padding-top: 4px;
}
#sidebar aside.widget ul li:last-child{
    border-bottom: 0;
}
#sidebar aside.widget [class^="icon-"] a,#sidebar aside.widget [class*=" icon-"] a{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-left: 10px;
}
form#searchform{
    position: relative;
}
form#searchform .icon-search{
    position: absolute;
    top: 10px;
    left: 11px;
    color: #8d8d8d;
}
form#searchform input{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 16px 8px 16px 32px;
}

/* Contact info widget */
.contact-info-widget{
    min-height: 157px;
    background: url(assets/img/contact-background.png) no-repeat;
}
.contact-info-widget ul i{
    float: left;
    margin-top: 5px;
    font-size: 13px;
    width: 13px;
    height: 13px;
    text-align: center;
}
.contact-info-widget ul div{
    padding-left: 30px;
}
.contact-info-widget ul li{
    margin-bottom: 10px;
}

/* Flickr Widget Style */
.flickr-channel a,.dribbble-widget a {
    display: block;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 80px;
    height: auto;
}
.flickr-channel a:nth-child(3n),.dribbble-widget a:nth-child(3n){
    margin-right: 0px;
}
.flickr-widget .flickr-channel{
    display: inline-block;
    *display: inline;
}

/* Recent Posts Widget */

.tw-recent-posts-widget ul{
    list-style: none;
    margin: 0;
}
.tw-recent-posts-widget ul li{    
    padding: 16px 0;
    display: inline-block;
    width: 100%;    
}
#sidebar aside.widget .tw-recent-posts-widget ul li{
    padding: 12px 0 0;
    border-bottom: 0;
}
#sidebar aside.widget .tw-recent-posts-widget ul li:first-child{
    padding-top: 4px;
}
#sidebar .widget .tw-recent-posts-widget ul li:before{
    display: none;
}
#sidebar .tw-recent-posts-widget h4{
    font-weight: normal;
}
.tw-recent-posts-widget ul li:first-child{
    padding-top: 0;
}
.tw-recent-posts-widget h4{
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 4px;
}
.tw-recent-posts-widget .meta,footer#footer .tw-recent-posts-widget .meta a{
    font-size: 11px;
    line-height: 20px;
}
.tw-recent-posts-widget .recent-thumb {
    float: left;
    margin: 4px 22px 4px 0;    
}
.tw-recent-posts-widget .recent-thumb.image {
    padding: 6px;
    border: 1px solid #ddd;
}

/* Tag Widget */
#footer .tagcloud a{
    background: #121212 !important;
    color: #8d8d8d !important;
}
.tagcloud a{
    display: inline-block;
    padding: 6px 15px;
    background: #282828 !important;
    font-size: 11px !important;
    line-height: 20px;
    color: #DCDCDC !important;
    text-transform: capitalize;
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
.tagcloud a:hover,#footer .tagcloud a:hover{
    background: #4da4f3 !important;
    color: #FFF !important;
}



/* ------------ MAIN --------------- */
#main,#slider{

    position: relative;
    background: #FFF;
}
#main{
    padding-top: 60px;
    padding-bottom: 60px;
}
#page > .row > div > .row-fluid,#page > .row > div > .row {
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-block;
    *display: inline;
}
#page > .row > div > .row-fluid:last-child,#page > .row > div > .row:last-child{
    margin-bottom: 0;
}
#page > .row > div > .row-fluid:first-child,#page > .row > div > .row:first-child{
    margin-top: 0;
}
.right-sidebar {
    float: right;
}
.content-left{
    float: right;
}

/* ------------ BLOG LOOP --------------- */

article.loop .loop-block, body.single .content-block {
    padding: 0 0 0 70px;
    position: relative;
    min-height: 50px;
}
article.loop {
    padding-bottom: 60px;
}
article.loop p:last-child {
    margin-bottom: 0;
}
h2.loop-title, h1.single-title {
    font-size: 22px;
    font-weight: normal;
    position: relative;
    margin-bottom: 0;
    top: -6px;
}
h2.loop-title a{
    color: #222222;
}
h2.loop-title a:hover{
    color: #4da4f3;
}
.loop-media {
    margin-bottom: 25px;
}
.loop-media iframe {
    width: 100%;
}
.loop-meta {
    padding: 10px 0;
    margin-bottom: 20px;
    border-top: 1px dotted #dddddd;
}
ul.loop-meta li {
    padding: 0 25px 0 0;
}
ul.loop-meta li:last-child {
    padding-right: 0;
}
.loop-meta li i {
    margin-right: 5px;
    color: #8d8d8d;
    font-size: 14px;
}
.loop-meta a {
    color: #8d8d8d;
}
article .loop-content a.more-link{
    color: #222222;
    font-weight: bold;
}
article .loop-content a.more-link:hover{
    color: #999999;
}


/* Post Author Information */
.tw-author{
    margin: 30px 0;
    background: #fafafa;
    padding: 30px;
    border: 1px solid #ddd;
}
.tw-author .author-image{
    float: left;
    margin-right: 30px;
    padding: 6px;
    border: 1px solid #ddd;
    background: #fff;
}
.tw-author h3 {
    font-size: 13px;
}
.tw-author p {
    margin: 0;
}

/* Single post Style */
body.single .content-block img {
    padding: 6px;
    border: 1px solid #ddd;
}

/* ------------ LOOP META DATE   --------------- */

article .loop-format {
    width: 48px;
    background: #4da4f3;
    position: absolute;
    left: 0;
}
span.post-format{
    background: url(assets/img/post-format.png) no-repeat 16px 16px;
    background-color: #4da4f3;
    display: block;
    width: 48px;
    height: 48px;
}
.post-format.image, .post-format.gallery{
    background-position: -54px 16px;
}
.post-format.audio {
    background-position: -124px 16px;
}
.post-format.link,.post-format.status  {
    background-position: -194px 16px;
}
.post-format.quote{
    background-position: -264px 16px;
}
.post-format.video {
    background-position: -334px 16px;
}


/* ------------ POST FORMAT --------------- */

.format-quote .loop-media,.format-link .loop-media{
    display: block;
}

/* aside */

article.format-aside .loop-block {
    padding: 15px 20px;
    background: #fff;
    border: 1px solid #dddddd;
}

/* Blockquote */
blockquote{
    padding: 0 0 0 30px;
    border-color: #4da4f3;
    position: relative;
}

blockquote p{
    font-size: 13px;
    line-height: 20px;
    font-style: italic;
    color: #8d8d8d;
    padding: 5px 0;
}

.loop-media blockquote {
    background: #fff;
    padding: 25px 30px 30px 75px;
    border: 1px solid #dddddd;
}
.loop-media blockquote p:before {
    content: "\f10d";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 24px;
    color: #333333;
    position: absolute;
    left: 30px;
    top: 30px;
}
.loop-media blockquote p {
    font-family: 'Noto Sans', "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    line-height: 1.5;
    font-style: normal;
    color: #282828;
    padding: 0 0 5px;
}
.loop-media blockquote span {
    font-weight: bold;
}

/* Divider */

.tw-divider {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #FFF;
}

/* link */

.loop-media .link-content {
    background: #fff;
    padding: 25px 30px 30px 75px;
    border: 1px solid #dddddd; 
    position: relative;
}
.loop-media .link-text {
    font-size: 22px;
    line-height: 1.5;
    font-weight: normal;    
    margin-bottom: 5px;
}
.loop-media h2:before {
    display: inline-block;
    font-family: FontAwesome;
    position: absolute;
    content: "\f0c1";
    left: 30px;
    top: 30px;
    font-size: 24px;
}
.loop-media .link-text a {
    color: #282828;
}
/* image gallery */
.gallery-container, .gallery-container img, .loop-image img, .image-overlay, .loop-image, .loop-format,
.post-format, .pagination ul>li>a, .pagination ul>li>span, .recent-thumb, .recent-thumb img, .loop-media .link-content,
.loop-media blockquote, .tw-author, .tw-author .author-image, .tw-author .author-image img,
body.single .content-block img, .tw-dropcap, .video-height, .image-overlay .image-links > a,
.comment-author img, .list_carousel a.carousel-prev, .list_carousel a.carousel-next,
.tw-testimonials blockquote, .accordion-group, .progress .bar, .btn{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.gallery-container {
    position: relative;
    overflow: hidden;
    padding: 6px;
    border: 1px solid #dddddd;    
}
.gallery-container .slide-item {
    position: absolute;
}
.gallery-container .slide-item:first-child {
    position: static;
}
.loop-image {
    position: relative;
}
.loop-image img{
    width: 100%;
}
.loop-image a, .without-a {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: block;
}
.loop-image {
    padding: 6px;
    border: 1px solid #ddd;
}
.image-overlay {
    -moz-opacity: 0;
    opacity:0;
    filter: alpha(opacity=0);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(46, 208, 208, .6);
    overflow: hidden;
}
.image-overlay:hover{
    opacity: 1;
}
.image-overlay .image-links > a {
    position: absolute;
    width: 32px;
    height: 32px;
    background: #000 center center no-repeat;
    margin-right: 1px;
}
.image-overlay .image-links .hover-zoom {
    background-image: url(assets/img/hover-zoom.png);
    left: 50%;

    -webkit-animation: fadeOutDown 0.7s;
    -moz-animation: fadeOutDown 0.7s;
    -o-animation: fadeOutDown 0.7s;
    animation: fadeOutDown 0.7s;
}
.image-overlay:hover .image-links .hover-zoom {
    -webkit-animation: bounceInLeft 0.7s;
    -moz-animation: bounceInLeft, 0.7s;
    -o-animation: bounceInLeft 0.7s;
    animation: bounceInLeft 0.7s;
}
.image-overlay .image-links .hover-link{
    background-image: url(assets/img/hover-link.png);
    right: 50%;

    -webkit-animation: fadeOutDown 0.7s;
    -moz-animation: fadeOutDown 0.7s;
    -o-animation: fadeOutDown 0.7s;
    animation: fadeOutDown 0.7s;
}
.image-overlay:hover .image-links .hover-link{
    -webkit-animation: bounceInRight 0.7s;
    -moz-animation: bounceInRight 0.7s;
    -o-animation: bounceInRight 0.7s;
    animation: bounceInRight 0.7s;
}
.image-overlay.hover-link{
    background-image: url(assets/img/hover-link.png);
    background-position: center center;
    background-repeat: no-repeat;
}
.list_carousel .image-overlay .image-links,.loop-gallery .image-overlay .image-links{
    top: 50%;
    margin-top: -16px;
    position: relative;
}
.with-title .image-overlay .image-links{
    top: 32%;
    position: relative;
}
.loop-gallery .carousel-arrow{
    bottom: 2px;
    right: 2px;
}
.carousel-arrow {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.carousel-arrow a.carousel-prev, .carousel-arrow a.carousel-next {
    display: inline-block !important;
    text-align: center;
    line-height: 30px;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    width: 30px;
    background: #DCDCDC;
    margin-right:2px; 
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.carousel-arrow a:hover {
    background-color: #4da4f3;
}

/* jp player */

div.jp-jplayer.jp-jplayer-video { 
    background-color: #292a2b;
}

.jp-jplayer-video video {
    margin-bottom: -6px;
}

div.jp-audio,
div.jp-video {
    font-size: 1em;
    font-family: Verdana, Arial, sans-serif;
    color: #fff;
    line-height: 1.6;
    margin-bottom: 20px;
}

div.jp-audio,
div.jp-video { width: 100%; }

div.jp-interface {
    position: relative;
    width: 100%;
    background: url(assets/img/jplayer_bg.png) repeat-x;
    z-index: 100;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
}

div.jp-type-single div.jp-interface { height: 30px; }

div.jp-interface ul.jp-controls {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

div.jp-interface ul.jp-controls li { display: inline; }

div.jp-interface ul.jp-controls a {
    position: absolute;
    overflow: hidden;
    text-indent: -9999px;
}

a.jp-play,
a.jp-pause {
    width: 33px;
    height: 30px;
    z-index: 1;
    outline: none;
}

div.jp-type-single a.jp-play,
div.jp-type-single a.jp-pause {
    top: 0;
    left: 0;
}

a.jp-play { background: url("assets/img/jplayer-black-and-yellow.png") 0 0 no-repeat; }

a.jp-play:hover { background: url("assets/img/jplayer-black-and-yellow.png") -33px 0 no-repeat; }

a.jp-pause {
    background: url("assets/img/jplayer-black-and-yellow.png") 0 -30px no-repeat;
    display: none;
}

a.jp-pause:hover { background: url("assets/img/jplayer-black-and-yellow.png") -33px -30px no-repeat; }

div.jp-progress-container {
    position: absolute;
    top: 0;
    left: 34px;
    width: 225px;
    height: 6px;
    padding: 12px 10px;
}

div.jp-progress {
    position: absolute;
    overflow:hidden;
}

div.jp-type-single div.jp-progress {
    width: 223px;
    height: 7px;
    padding: 1px;
    background: url("assets/img/jplayer-black-and-yellow.png") 0 -192px repeat-x ;
}

.single div.jp-type-single div.jp-progress { width: 411px; }

div.jp-seek-bar {
    width: 0px;
    height: 5px;
    cursor: pointer;
    background: url("assets/img/jplayer-black-and-yellow.png") 0 -163px repeat-x;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

div.jp-play-bar {
    width: 0px;
    height: 5px;
    background: url("assets/img/jplayer-black-and-yellow.png") 0 -133px repeat-x ;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

/* The seeking class is added/removed inside jPlayer
div.jp-seeking-bg {
        background: url("pbar-ani.gif");
}
*/

div.jp-volume-bar-container {
    position: absolute;
    top: 0;
    right: 20px;
    width: 40px;
    height: 6px;
    padding: 12px 10px;
}

div.jp-volume-bar {
    position: relative;
    overflow: hidden;
    background: url("assets/img/jplayer-black-and-yellow.png") 0 -192px repeat-x;
    width: 40px;
    height: 9px;
    cursor: pointer;
}

div.jp-type-single div.jp-volume-bar {
    top: 0;
    left: 18px;
}

div.jp-volume-bar-value {
    width: 0px;
    height: 5px;
    margin: 1px;
    background: url("assets/img/jplayer-black-and-yellow.png") 0 -133px repeat-x;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

a.jp-mute,
a.jp-unmute {
    width: 17px;
    height: 13px;
    z-index: 1;
    outline: none;
    top: 9px;
    right: 60px;
}

.seperator-first,
.seperator-second {
    background:url(assets/img/seperator.png) no-repeat left;
    height: 30px;
    width: 2px;
    position: absolute;
    left: 32px;
}

.seperator-second { 
    left:auto;
    right:90px;
}

a.jp-mute { background: url("assets/img/jplayer-black-and-yellow.png") -10px -68px no-repeat; }

a.jp-mute:hover { background: url("assets/img/jplayer-black-and-yellow.png") -43px -68px no-repeat; }

a.jp-unmute {
    background: url("assets/img/jplayer-black-and-yellow.png") -10px -98px no-repeat;
    display: none;
}

a.jp-unmute:hover { background: url("assets/img/jplayer-black-and-yellow.png") -43px -98px no-repeat; }

div.jp-jplayer { background-color: #292a2b; }




/* Pagination */
.tw-portfolio .pagination{
    text-align: left;
}
.pagination{
    margin: 0;
    text-align: right;
}
.pagination ul{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.pagination ul>li>a, .pagination ul>li>span{
    color: #222;
    font-weight: bold;
    padding: 9px 13px;
    text-align: center;
    border: 1px solid #ddd;
    margin-left: 4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.pagination ul>li>a.current, .pagination ul>li>span.current{
    background-color: #4da4f3;
    border-color: #4da4f3;
    color: #fff;
}




/* Comment Form Styling */
#comments {
    margin-top: 50px;
}
.comment-form-author,.comment-form-email{
    float: left;
    width: 48%;
    margin: 0;
}
#commentform input[type="text"], .comment-form-comment textarea{
    width: 100%;    
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding: 16px 8px;
    margin-bottom: 0;    
}
.comment-form-comment textarea{
    padding: 8px;
    margin-bottom: 20px;
}
#reply-title,.comment-title{
    font-size: 16px;
    margin-bottom: 20px;
}
.comment-title{
    margin-bottom: 25px;
}
.comment-author img {
    float: left;
    display: block;
    height: 56px;
    width: 56px;
    margin: 0 30px 30px 0;
    padding: 6px;
    border: 1px solid #dddddd;
}
.comment-meta{
    position: relative;
    color: #222222;
    font-weight: bold;
    top: -3px;
}
.comment-meta span.comment-replay-link{
    position: absolute;
    right: 0;
}
.comment-meta span a{
    font-weight: bold;
}
.comment-body {
    position: relative;
    margin-left: 100px;    
    margin-bottom: 25px;
}
.comment-list
.comment-block .comment-block {
    margin-left: 29px;
    border-left: 1px solid #E5E5E5;
    padding-left: 50px;
}
.comment-author{
    margin-bottom: 5px;
}
.comment-block .comment{
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 1px dotted #DDD;
}

.commentlist .bypostauthor {}
#fbcomments, .fb-comments, .fb-comments iframe[style], .fb-comments span {
    width: 100% !important;
}



/* ------------ PAGE BUILDER ELEMENTS --------------- */


/* 07. Callout */
.span9 .tw-callout.with-button .callout-text{
    padding-right: 180px;
}
.tw-callout.with-button .callout-text{
    padding-right: 250px;
    position: relative;
}
.tw-callout h1{
    font-size: 26px;
    font-weight: bold;
    color: #222222;
}
.tw-callout a{
    color: #4da4f3;
}
.tw-callout p{
    font-size: 13px;
}
.callout-text>a.btn{
    position: absolute;
    right: 0;
    top: 50%;
    margin: -24px 0 0;
    text-transform: uppercase;
}
.tw-callout .callout-botline{
    margin-top: 25px;
    height: 5px;
    background: #222;
}
.callout-botline .left-border {
    width: 50%;
    height: 100%;
    background: #4da4f3;
}


/* 06. Service Box */
.tw-service-box{
    padding-bottom: 30px;
}
.tw-service-box:last-child{
    padding-bottom: 0;
}
.tw-service-box .tw-service-icon{
    display: block;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
.tw-service-box.left-service .tw-service-icon{
    float: left;
}
.tw-service-box .tw-service-icon.pull-left,.tw-service-box .tw-service-icon.pull-right{
    margin-bottom: 10px;
}
.tw-service-box .tw-service-content.desc_unstyle{
    text-align:inherit;
}
.tw-service-box .tw-service-content{
    text-align: center;
}
.tw-service-box.left-service .tw-service-content span{
    display: none;
}
.tw-service-box .tw-service-content span{
    position: relative;
    top: -10px;
    display: inline-block;
    height: 1px;
    width: 30px;
    background: #DDD;
}
.tw-service-box .tw-service-content p a:hover{
    color: #222;
}
.tw-service-box h3{
    color: #282828;
    line-height: 1;
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: normal;
}
.tw-service-content a{
    color: #4da4f3;
    font-family: arial;
    font-weight: bold;
    font-size: 13px;
}
.tw-service-content p:last-child{
    margin-bottom: 0;
}
.tw-service-icon .tw-font-awesome{
    display: inline-block;
}


/* 11. Accordian Bootstrap Modify ThemeWaves */

.accordion-heading .accordion-toggle{
    position: relative;
    font-weight: bold;
    color: #222;

}
.accordion-heading .accordion-toggle span.tw-check{
    float: right;
    padding: 8px 0 8px 15px;
    margin-top: -8px;
    border-left: 1px solid #ddd;
}
.accordion-heading .accordion-toggle span.tw-check .icon-plus,.accordion-heading .accordion-toggle.active span.tw-check .icon-minus{
    display: inline-block;
    color: #222;
    font-size: 10px;
}
.accordion-heading .accordion-toggle span.tw-check .icon-minus,.accordion-heading .accordion-toggle.active span.tw-check .icon-plus{
    display: none;
}
.accordion-heading .accordion-toggle.active span.tw-check{
    color: #fff;
}
.accordion-heading .accordion-toggle.active{
    border-bottom: 1px solid #ddd;
}
.accordion-group{
    border: 1px solid #ddd;
    margin-bottom: 5px;
}
.accordion-group:last-child{
    margin-bottom: 0;
}
.accordion-inner{
    border-top: none;
}
.accordion-inner p:last-child{
    margin-bottom: 0;
}




/* Tab Top and Below Side */

.nav-tabs>li>a,.tabs-below>.nav-tabs>li>a{
    padding: 0 15px;
    border: 1px solid #dddddd;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}
.nav-tabs>li>a span{
    display: block;
    padding: 15px 0;
    color: #999;
    font-weight: bold;
}
.nav-tabs>li.active>a span{
    color: #333;
}
.nav-tabs>li>a, .nav-pills>li>a{
    margin-right: -1px;
}
.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus{
    border-bottom-color: transparent;
}
.nav-tabs>li>a:hover, .nav-tabs>li>a:focus, .tabs-left>.nav-tabs>li>a:hover, .tabs-left>.nav-tabs>li>a:focus, .tabs-right>.nav-tabs>li>a:hover, .tabs-right>.nav-tabs>li>a:focus {
    border-color: #dddddd;
}
.nav>li>a:hover, .nav>li>a:focus{
    background-color: transparent;
}
.nav-tabs{
    margin: 0;
    border-bottom: 0;
}
.tab-content{
    min-height: 100px;
    border: 1px solid #dddddd;
    padding: 20px;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}
.tab-content .tab-pane p:last-child {
    margin-bottom: 0;
}
.tabs-below>.nav-tabs>.active>a, .tabs-below>.nav-tabs>.active>a:hover, .tabs-below>.nav-tabs>.active>a:focus{
    border: 1px solid #dddddd;
    border-top-color: transparent;
}
.tabs-below>.nav-tabs>li>a:hover, .tabs-below>.nav-tabs>li>a:focus{
    border-bottom-color: #dddddd;
    border-top-color: transparent;
}
.tabs-below>.nav-tabs{
    border-top: none;
}
/* Tab Left and Right Side */
.tabs-left .tab-content,.tabs-right .tab-content{
    margin: 0;
}
.tabs-left>.nav-tabs{
    margin-right: -1px;
}
.tabs-right>.nav-tabs{
    margin-left: -1px;
}
.tabs-left>.nav-tabs>li>a, .tabs-right>.nav-tabs>li>a{
    padding: 15px 0;
}
.tabs-left>.tab-content, .tabs-right>.nav-tabs>li>a{
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
.tabs-right>.tab-content, .tabs-left>.nav-tabs>li>a{
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.tabs-left>.nav-tabs>li>a, .tabs-right>.nav-tabs>li>a{
    margin-bottom: 0;
}
.tabs-left>.nav-tabs>li>a span,.tabs-right>.nav-tabs>li>a span,#page-title .container{
    padding: 0 15px;
}




/* ------------ Pricing table --------------- */

.tw-pricing-col {
    float: left;
}
.tw-pricing-four {
    width: 25%;
}

/* Table */
table{
    width:100%;
    background-color:transparent;
    border-collapse:collapse;
    border-spacing:0
}
table th,table td{
    padding:8px;
    line-height:20px;
    text-align:left;
    vertical-align:top;
    border-top:1px solid #f0f0f0
}
table th{
    font-weight:bold
}
table thead th{
    vertical-align:bottom
}
table caption + thead tr:first-child th,table caption + thead tr:first-child td,table colgroup + thead tr:first-child th,table colgroup + thead tr:first-child td,table thead:first-child tr:first-child th,table thead:first-child tr:first-child td{border-top:0}
table tbody + tbody{
    border-top:2px solid #dddddd
}

/* ------------ Twitter --------------- */
#sidebar aside.widget ul.jtwt { list-style: none; position: relative;}
#footer aside.widget ul.jtwt li,ul.jtwt li, .twitter-follow { margin-bottom: 10px; margin-left: 36px; line-height: 20px;}
#sidebar aside.widget ul.jtwt li{margin-left:15px;}
#sidebar aside.widget ul.jtwt li:before,#footer aside.widget ul.jtwt li:before,ul.jtwt li:before{
    position: absolute;
    left: 0;
    color: #8d8d8d;
    margin-top: 2px;
    content: "\f099";
    font-size: 16px;
    text-decoration: inherit;
    display: inline-block;
    speak: none;
    font-family: FontAwesome;
}
aside.widget ul.jtwt li:last-child { margin-bottom: 0px; }
.jtwt_loader { font-weight: bold; }
.jtwt_picture { float: left; margin-right: 10px; }
a.jtwt_date { font-size: 12px; display: none;}


/* 08. Carousel Elements with Portfolio and Partnerss */

.caroufredsel_wrapper{
    margin: 0 !important;
}
.list_carousel {
    position: relative;
    margin: 0 -15px !important;
}
.list_carousel li {
    width: 270px;
    height: auto;
    padding: 0;
    margin: 0 15px;
    display: block;
    float: left;
    position: relative;
}
.list_carousel .carousel-arrow {
    position: absolute;
    right: 15px;
    top: -44px;
}
.list_carousel a.carousel-prev,.list_carousel a.carousel-next{
    display: inline-block !important;
    text-align: center;
    line-height: 24px;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    width: 24px;
    height: 24px;
    background-color: #4da4f3;
}
.list_carousel a.carousel-prev,.list_carousel a.carousel-next{
    background-color: #dddddd;
    margin-left: 2px;
}
.list_carousel a.carousel-prev:hover,.list_carousel a.carousel-next:hover{
    background-color: #4da4f3;
}
ul.tw-carousel {
    margin-left: 0;
}

/* ThemeWaves Carousel */

a.carousel-post-title {
    font-size: 13px;
    color: #282828;
    display: block;
}
.tw-carousel-portfolio a.carousel-post-title{
    padding: 14px 10px 16px 10px;
}
.carousel-content {
    display: block;
    margin-top: 10px;
}
.carousel-meta {
    font-size: 11px;
    overflow: hidden;
}
.carousel-meta>div {
    float: left;
}
.carousel-meta>div.date {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #dddddd;
}


.carousel-content .post-format {
    float: left;
    background: url(assets/img/post-format.png) no-repeat 16px 16px;
    background-color: #4da4f3;
    display: block;
    width: 48px;
    height: 48px;
}
.carousel-content .post-format.standard,.carousel-content .post-format.aside{
    background-position: 16px 16px;
}
.carousel-content .post-format.audio{
    background-position: -124px 16px;
}
.carousel-content .post-format.gallery,.carousel-content .post-format.image{
    background-position: -54px 16px;
}
.carousel-content .post-format.status,.carousel-content .post-format.link{
    background-position: -194px 16px;
}
.carousel-content .post-format.quote{
    background-position: -264px 16px;
}
.carousel-content .post-format.video{
    background-position: -334px 16px;
}
.carousel-text {
    position: relative;
}
.carousel-text .carousel-arrow {
    position: static;
}
.carousel-video{
    overflow: hidden;
}
.carousel-video iframe{
    height: auto;
}


/* Partners Carousel */

.tw-carousel-partner.list_carousel{
    margin: 0 !important;
}
.tw-carousel-partner.list_carousel li{
    border-right: 1px solid #dddddd;
    text-align: center;
    padding: 20px;
    width: 130px;
    margin: 0;
}
.tw-carousel-partner .carousel-arrow{
    right: 0;
}
.tw-carousel-partner .caroufredsel_wrapper{
    border: solid 1px #dddddd;
    border-right: none;
}

/* Post Carousel */

.tw-carousel-post .carousel-text{
    margin-left: 70px;
    min-height: 48px;
    display: block;
}
.carousel-text>p{
    margin-top: 10px;
}



/* 17. Alert */

.alert{
    position: relative;
    padding: 14px 40px 14px 40px;
    margin-bottom: 4px;
    text-shadow: none;
    background-color: #f9dc67;
    border: solid 1px #ddc151;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #fff;
}
.alert:last-child{
    margin-bottom: 0;
}
.alert .close{
    top: 1px;
}
.alert-danger, .alert-error{
    background-color: #ecafae;
    border: solid 1px #c18483;
}
.alert-success{
    background-color: #b5d9b3;
    border: solid 1px #83bf7e;
}
.alert-info{
    background-color: #c6e4ff;
    border: solid 1px #98bddf;
}
.alert i{
    width: 16px;
    height: 16px;
    position: absolute;
    left: 15px;
    font-size: 16px;
    top: 15px;
}

/* 18. Progress Bar */

.progress{
    height: 100%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: none;
}
.progress .bar{
    padding: 10px 22px;
    font-size: 13px;
    font-weight: bold;
    text-shadow: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    text-align: left;
    -webkit-box-shadow: none;
    -moz-box-shadow:none;
}
.progress .bar.tw-bi{    
    background-image: none;
}
.progress-striped .bar{
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    -o-background-size: 50px 50px;
    background-size: 50px 50px;
}

/* ------------ Button --------------- */

a.btn,#footer a.btn{
    color: #fff;
}
.btn{
    font-family: 'Noto Sans', "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 12px;
    font-weight: bold;    
    padding: 11px 16px;    
    background: #4da4f3;
    margin: 0 10px 10px 0;
    display:inline-block;
    *display:inline;
    *zoom:1;
}
.btn:hover{
    color: #fff;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity:.8;
}
.btn.btn-shadow{
    -webkit-box-shadow: inset 0 -2px rgba(1,1,1,.15);
    -moz-box-shadow: inset 0 -2px rgba(1,1,1,.15);
    box-shadow: inset 0 -2px rgba(1,1,1,.15);
}
.btn-small{
    padding:8px 12px !important;
    font-size: 11px;
}
.btn-large{
    padding: 18px 26px;
    font-size: 13px;
}

/* Label */
.label {
    line-height: 1.6;
    padding: 1px 4px;
    text-shadow: none;
    background-color: #00bef2;
}


/* Dropcaps */
.tw-dropcap {
    float: left;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.8;
    font-weight: bold;
    background-color: #4DA4F3;
    color: #FFF;
    padding: 8px 16px;
    text-align: center;
    margin-right: 14px;
}
.tw-dropcap.circle{
    border-radius: 50%;
    -wenkit-border-radius: 50%;
    -moz-border-radius: 50%;
}


/* Price Block */
.tw-pricing {
    width: 100%;
}
.tw-pricing-two {
    width: 50%;
}
.tw-pricing-three {
    width: 33.333%;
}
.tw-pricing-four {
    width: 25%;
}
.tw-pricing-five {
    width: 20%;
}
.tw-pricing-col {
    float: left;
    margin-left: -1px;
    background-color: #FFF;
}
.tw-pricing-col:first-child {
    margin-left: 0;
}
.tw-pricing p,.tw-pricing .tt-button,.tw-pricing ul {
    margin-bottom: 0px;
}
.tw-pricing-box {
    border: 1px solid #dddddd;
    text-align: center;
}
.tw-pricing-header,.tw-pricing-desc,.tw-pricing-bottom ul li,.tw-pricing-top{
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.tw-pricing-bottom ul li {
    padding: 10px 15px;
}
.tw-pricing-top{
    padding: 10px 13px;
}
.featured {
    background-color: #4da4f3;
    color: #FFF;
}
.featured .tw-pricing-header{
    background-color: #222222;
}
#main .featured h1,.featured .tw-pricing-top p{
    color: #fff;
}
.tw-pricing-header{
    padding: 20px 15px 19px 15px;
}
.tw-pricing-footer{
    padding: 30px 0;
}
.tw-pricing-footer a{
    margin: 0;
    padding: 15px 20px !important;
    color: #fff;
}
.featured .tw-pricing-footer a{
    background: #222;
}
.tw-pricing-header h1 {
    margin-bottom: 0px;
    font-size: 20px;
    color: #282828;
    line-height: 1;
}
.tw-pricing-header p {
    font-weight: normal;
    margin-top: 5px;
}
.currency {
    font-weight: 100;
    margin-left: 5px;
    font-size: 21px;
    position: relative;
    line-height: 21px;
    top: -2px;
}
.tw-pricing-header,.tw-pricing-desc {
    background-color: rgba(0,0,0,.02);
}
.tw-pricing-top p {
    font-size: 42px;
    line-height: 48px;
    font-weight: bold;
    color: #282828;

}
.tw-pricing-bottom ul {
    margin-left: 0px;
    list-style: none;
}
.tw-pricing-bottom p {
    padding: 10px 15px;
}
.tw-pricing-desc .tw-pricing-header,.tw-pricing-desc .tw-pricing-top,.tw-pricing-desc .tw-pricing-footer {
    visibility: hidden;
    opacity: 0;
}

/* Testimonials */
.tw-testimonials{
    position: relative;
}
.tw-testimonials .carousel-arrow{
    display: none;
}
.tw-testimonials ul{
    margin: 0;
    list-style: none;
}
.tw-testimonials blockquote,.tw-testimonials .testimonial-author{
    font-size: 13px;
}

.tw-testimonials blockquote{
    position: relative;
    padding: 20px 20px 20px 56px;
    border: 1px solid #dddddd;
    margin-bottom: 0;
}
.tw-testimonials blockquote:before{
    font-family: FontAwesome;
    content: "\f10d";
    position: absolute;
    left: 20px;
    font-size: 16px;
}
.tw-testimonials .testimonial-author{
    padding:15px 0;
    text-align: right;
}
.tw-testimonials .testimonial-author img{
    display: inline-block;
    margin-right: 20px;
    width: 40px;
    height: 40px;
}
.tw-testimonials .testimonial-author p{
    display: inline-block;
    color: #222;
    margin: 0;
    font-weight: bold;
}
.tw-testimonials .testimonial-author a{
    color: #8d8d8d;
}
.tw-testimonials>.caroufredsel_wrapper>ul>li{
    display: inline-block;
    vertical-align: top;
}


/* Portfolio Styling */

.tw-portfolio .tw-filter ul{
    font-weight: bold;
    padding-bottom: 18px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
}
.tw-filter ul li{
    padding-left: 0;
    padding-right: 20px;
}
.tw-filter ul li a:hover, .tw-filter ul li a.selected{
    color: #222;
    font-weight: bold;
}
.tw-filter ul li a{
    color: #8d8d8d;
}
.tw-portfolio article.portfolio, .tw-portfolio .tw-pagination{
    margin-bottom: 30px;
    overflow: hidden;
}
.related_portfolios .tw-portfolio article.portfolio {
    margin-bottom: 0px;
}
.tw-portfolio article.portfolio p, .tw-portfolio article.portfolio div.jp-audio, .tw-portfolio article.portfolio div.jp-video {
    margin-bottom: 0;
}
.tw-portfolio article.portfolio iframe {    
    height: auto;
}
.tw-portfolio article.portfolio .video-height iframe {    
    height: 100%;
}
.tw-portfolio article.portfolio p iframe{
    margin-bottom: -5px;
}
h2.portfolio-title{
    text-align: center;
}
h2.portfolio-title a{
    color: #fff;
    font-size: 13px;    
}
h2.portfolio-title span{
    border-top: 1px solid #fff;
    width: 30px;
    display: block;
    margin: 20px auto;
}
article.single-portfolio{
    margin-bottom: 60px;
}
/* video format */
.video-height {
    background: #ddd;
    overflow: hidden;
    position: relative;
}
.video-height img {
    height: 100%;
    max-width: none;
}

.tw-pagination.pagination ul>li>a.selected{
    background: #4da4f3;
    color: #fff;
}
/* Isotope CSS3 transitions */

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:    -moz-transform, opacity;
    -ms-transition-property:     -ms-transform, opacity;
    -o-transition-property:      -o-transform, opacity;
    transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}
/* Theme Boxed Layout Style*/
.theme-boxed{
    width: 1200px;
    margin: 0px auto;
    background: #FFF;
    -webkit-box-shadow: 0 0 20px rgba(1,1,1,.1);
    -moz-box-shadow: 0 0 20px rgba(1,1,1,.1);
    box-shadow: 0 0 20px rgba(1,1,1,.1);
}
.ie8 .theme-boxed{
    width: 1000px;
}
/* Scroll Up Style */
#scrollUp {
    position: fixed;
    cursor: pointer;
    display: none;
    bottom: -5px;
    right: 30px;
    width: 35px;
    height: 25px;
    padding: 10px 5px;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFF;
    color: #828282;
    -webkit-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #E6E6E6;
    background-image: -moz-linear-gradient(top, #EBEBEB, #DEDEDE);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EBEBEB), to(#DEDEDE));
    background-image: -webkit-linear-gradient(top, #EBEBEB, #DEDEDE);
    background-image: -o-linear-gradient(top, #EBEBEB, #DEDEDE);
    background-image: linear-gradient(to bottom, #EBEBEB, #DEDEDE);
    background-repeat: repeat-x;
    -webkit-transition: bottom 150ms linear;
    -moz-transition: bottom 150ms linear;
    transition: bottom 150ms linear;
}
#scrollUp:hover {
    bottom: 0px;
}

.hidden{
    display: none;
}


/* Infinite Scroll */

.tw-infinite-scroll>.loading,
.tw-infinite-scroll[data-has-next="false"]>.next,
.tw-infinite-scroll[data-has-next="true"]>.no-more{
    display: none;
}
.tw-infinite-scroll>a.next>i{
    margin-right: 10px;
}


/* List */

ul.tw-list{
    list-style: none;
}
ul.tw-list>li>i{
    margin-left: -15px;
    margin-right: 5px;
}

/* Contact Form 7 */

.wpcf7-form-control-wrap input{
    display: inline-block;
}
.wpcf7-form-control-wrap textarea{
    width: 83%;
}

/* Google map Remove */

#google-map{
    margin-bottom: -5px;
}