.tw-metaboxes th span {
    display: block;
    margin-top: 5px;
    color: #B9B9B9;
}
.tw-metaboxes input[type="text"], .tw-metaboxes textarea {
    width: 75%;
    margin-right: 20px;
}
.gallery-thumbs li {
    float: left;
    margin-right: 10px;
}
.tw-metaboxes .type_layout a {
    text-indent: -9999px;
    height: 92px;
    width: 92px;
    float: left;
    margin-right: 20px;
    background: url(../images/select_layout.png) no-repeat;
}
.type_layout a.left-sidebar {
    background-position: 0 0;
}
.type_layout a.without-sidebar {
    background-position: -111px 0;
}
.type_layout a.right-sidebar {
    background-position: -220px 0;
}
.type_layout .left-sidebar.active {
    background-position: 0 -94px;
}
.type_layout .without-sidebar.active {
    background-position: -111px -94px;
}
.type_layout .right-sidebar.active {
    background-position: -220px -94px;
}