/* START - Clearfix */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
a:focus, a:active{
    outline: none;
}
/* END   - Clearfix */
/* START - Pagebuilder */
#cmeta_pagebuilder h3.hndle span{
    font-family: Arial;
    font-weight: bold;
    font-size: 14px;
    color:#333;
}
#cmeta_pagebuilder h3.hndle{

}
#pagebuilder-select-layout label strong{
    font-family: Arial;
    font-size: 14px;
    line-height: 28px;
    color: #333;
    font-weight: bold;
}
#pagebuilder-select-layout label span{
    font-family: Arial;
    font-size: 11px;
    line-height: 18px;
    color: #9c9c9c;
}
#pagebuilder-area{
    border-top: 1px solid #DFDFDF;
    background: #fff;
}

#pagebuilder-area>div{
    padding: 1%;
    position: relative;
    min-height: 200px;
    float: left;
}
#pagebuilder-area>div.builder-area.size-1-4>.item{
    width: 97.8%;
}
#pagebuilder-area>div.builder-area.size-1-4>.item>.list>.size-sizer-container{
    display: none;
}
#pagebuilder-area>div.builder-area.size-1-4>.item>.list>.name{
    margin-left: -35px;
}
#pagebuilder-area>div.builder-area.left-sidebar{
    border-left: 1px solid #DFDFDF;
}
#pagebuilder-area>div.builder-area.right-sidebar{
    border-right: 1px solid #DFDFDF;
}
#pagebuilder-area>div.placeholder.size-1-1{
    border: none;
    position: relative;
    display: block;
}
#pagebuilder-elements-container>.item>.list,  #pagebuilder-elements-container>.item>.data,
#pagebuilder-area .builder-area>.item>.thumb, #pagebuilder-area .builder-area>.item>.data{
    display: none;
}
/* Themewaves pb Start*/
#poststuff #cmeta_pagebuilder .inside{
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}
.pagebuilder-head-container{
    padding: 30px 20px 10px 20px;
}
.tw-template-container{
    padding: 0 20px;
}
div.tw-one{
    vertical-align: top;
    display: inline-block;
    max-width: 20%;
    margin-right: 4%;
}
div.tw-one h4{
    color:#333;
    font-family: Arial;
    font-size: 14px;
    line-height: 28px;
    margin: 0 0 10px 0;
}
div.tw-two{
    display: inline-block;
    max-width: 74%;
}
div.tw-two .sidebar{
    text-indent: -9999px;
    height: 92px;
    width: 92px;
    float: left;
    margin-right: 20px;
    background: url(../images/select_layout.png) no-repeat;
}
div.tw-two .sidebar.left-sidebar{
    background-position: 0 0;
}
div.tw-two .sidebar.right-sidebar{
    background-position: -220px 0;
}
div.tw-two .sidebar.full{
    background-position: -111px 0;
}
div.tw-two .sidebar.left-sidebar.active{
    background-position: 0 -94px;
}
div.tw-two .sidebar.right-sidebar.active{
    background-position: -220px -94px;
}
div.tw-two .sidebar.full.active{
    background-position: -111px -94px;
}
/* Themewaves Items CSS*/
#pagebuilder-elements-container>.item{
    width: auto;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    background: #333;
    background: -webkit-gradient(linear, left bottom, left top, from(#65b6fc), to(#b3e1ff));
    background: -moz-linear-gradient(bottom,  #65b6fc,  #b3e1ff);
    color: #ffffff;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#65b6fc', endColorstr='#b3e1ff');

    -webkit-box-shadow: 0 2px 4px rgba(1,1,1,.1), inset 0 1px rgba(255,255,255,.6);
    -moz-box-shadow: 0 2px 4px rgba(1,1,1,.1), inset 0 1px rgba(255,255,255,.6);
    box-shadow: 0 2px 4px rgba(1,1,1,.1), inset 0 1px rgba(255,255,255,.6);
    border: solid 1px #6395c0;
}
#pagebuilder-elements-container>.item:active{
    background-color: #8ac8fc;
    -webkit-box-shadow: 0 2px 4px rgba(1,1,1,.1), inset 0 1px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 2px 4px rgba(1,1,1,.1), inset 0 1px 6px rgba(0,0,0,.25);
    box-shadow: 0 2px 4px rgba(1,1,1,.1), inset 0 1px 6px rgba(0,0,0,.25);
    cursor: move;
}
#pagebuilder-elements-container>.item:hover,.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix .ui-dialog-buttonset button.ui-state-default:hover, .tw-pb-main-container input[type="button"]:hover{
    background: -webkit-gradient(linear, left bottom, left top, from(#78befb), to(#c6e9ff));
    background: -moz-linear-gradient(bottom,  #78befb,  #b3e1ff);
    color: #ffffff;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#78befb', endColorstr='#c6e9ff');

    -webkit-box-shadow: 0 1px #fff, inset 0 1px rgba(255,255,255,.6);
    -moz-box-shadow: 0 1px #fff, inset 0 1px rgba(255,255,255,.6);
    box-shadow: 0 1px #fff, inset 0 1px rgba(255,255,255,.6);
}
#pagebuilder-elements-container>.item .thumb{
    position: relative;
    color: #FFF;
    font-size: 13px;
    font-weight: bold;
    font-family: Arial;
    line-height: 28px;
    padding: 4px 12px 4px 37px;

}
#pagebuilder-elements-container>.item span{
    width: 30px;
    height: 30px;
    background: url(../images/themewaves-elements.png) no-repeat center left;
    text-indent: -99999px;
    background-position: -10px -14px;
    display: block;
    position: absolute;
    left: 10px;
}
#pagebuilder-elements-container>.item span.blog{
    background-position: -140px -14px;
}
#pagebuilder-elements-container>.item span.carousel{
    background-position: -453px -14px;
}
#pagebuilder-elements-container>.item span.callout{
    background-position: -11px -50px;
}
#pagebuilder-elements-container>.item span.column{
    background-position: -229px -14px;
}
#pagebuilder-elements-container>.item span.column_service{
    background-position: -272px -50px;
}
#pagebuilder-elements-container>.item span.content{
    background-position: -50px -50px;
}
#pagebuilder-elements-container>.item span.divider{
    background-position: -95px -50px;
}
#pagebuilder-elements-container>.item span.image_slider{
    background-position: -187px -50px;
}
#pagebuilder-elements-container>.item span.message_box{
    background-position: -410px -14px;
}
#pagebuilder-elements-container>.item span.portfolio{
    background-position: -365px -50px;
}
#pagebuilder-elements-container>.item span.pricing_table{
    background-position: -498px -14px;
}
#pagebuilder-elements-container>.item span.progress_bar{
    background-position: -278px -14px;
}
#pagebuilder-elements-container>.item span.recent_posts{
    background-position: -141px -50px;
}
#pagebuilder-elements-container>.item span.sidebar{
    background-position: -365px -14px;
}
#pagebuilder-elements-container>.item span.slider{
    background-position: -232px -50px;
}
#pagebuilder-elements-container>.item span.tab{
    background-position: -322px -14px;
}
#pagebuilder-elements-container>.item span.team{
    background-position: -52px -14px;
}
#pagebuilder-elements-container>.item span.testimonials{
    background-position: -95px -14px;
}
#pagebuilder-elements-container>.item span.toggle{
    background-position: -410px -50px;
}
#pagebuilder-elements-container>.item span.twitter{
    background-position: -322px -50px;
}
#pagebuilder-elements-container>.item span.toggle{
    background-position: -187px -14px;
}
#pagebuilder-elements-container>.item span.video{
    background-position: -187px -14px;
}

#pagebuilder-area .builder-area>.item{
    position: relative;
    float: left;
    margin-left: 0.9%;
    margin-right: 0.9%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #737373;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #f3f3f3;
    -webkit-box-shadow: 0 2px 4px rgba(1,1,1,.1), inset 0 3px rgba(255,255,255,.4);
    -moz-box-shadow: 0 2px 4px rgba(1,1,1,.1), inset 0 3px rgba(255,255,255,.4);
    box-shadow: 0 2px 4px rgba(1,1,1,.1), inset 0 3px rgba(255,255,255,.4);
    border: solid 1px #bebebe;
    height: 38px;
    min-width: 22.75%;
}
#pagebuilder-area .builder-area>.item a,#pagebuilder-area .builder-area>.item div.size{
    display: block;
    text-indent: -9999px;
    width: 20px;
    height: 20px;
    background: url(../images/tw-page-builder-actions.png);
}
#pagebuilder-area .builder-area>.item div.size{
    text-align: center;
    color: #FFF;
    line-height: 20px;
    width: 40px;
    text-indent: inherit;
    background-position: -83px -6px;
}
#pagebuilder-area .builder-area>.item a.up{
    float: left;
    background-position: 0 0;
}
#pagebuilder-area .builder-area>.item a.up:hover{
    background-position: 0 -20px;
}
#pagebuilder-area .builder-area>.item a.down{
    background-position: -20px 0;
    float: right;
    width: 19px;
}
#pagebuilder-area .builder-area>.item a.down:hover{
    background-position: -20px -20px;
}
#pagebuilder-area .builder-area>.item a.action-delete{
    float: right;
    background-position: -59px 0;
}
#pagebuilder-area .builder-area>.item a.action-delete:hover{
    background-position: -59px -20px;
}
#pagebuilder-area .builder-area>.item a.action-duplicate{
    float: left;
    background-position: -40px 0;
    width: 19px;
}
#pagebuilder-area .builder-area>.item a.action-duplicate:hover{
    background-position: -40px -20px;
}
#pagebuilder-area .builder-area>.item a.action-edit{
    width: 39px;
    background-position: -127px -6px;
}
#pagebuilder-area .builder-area>.item a.action-edit:hover{
    background-position: -171px -6px;
}
#pagebuilder-area .builder-area>.item>.list>div.name{
    line-height: 36px;
    color: #333;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    left: 50px;
}
#pagebuilder-area .builder-area>.item.size-1-4>.list>div.name{
    max-width: 82px;
    padding-left: 0px;
    overflow: hidden;
}
#pagebuilder-area .builder-area>.item>.list>div{
    height: 100%;
    float: left;
}
#pagebuilder-area .builder-area>.item>.list .sizer{
    width: 39px;
}
#pagebuilder-area .builder-area>.item>.list>div.actions{
    float: right;
    width: 39px;
    position: relative;
    right: -1px;
    top: -1px;
}
#pagebuilder-area .builder-area>.item>.list>div.size-sizer-container{
    position: relative;
    left: -1px;
    top: -1px;
}
/* ThemeWaves Template Start */
.tw-template-container #template-save div.template{
    position: relative;
    display: inline-block;
    *display: inline;
    padding: 10px 20px 10px 30px;
    color: #fff;
    background-color: #65b6fc;
    -webkit-box-shadow: inset 0 1px rgba(255,255,255,.6);
    -moz-box-shadow: inset 0 1px rgba(255,255,255,.6);
    box-shadow: inset 0 1px rgba(255,255,255,.6);
    border: solid 1px #6395c0;
    background-image: -webkit-linear-gradient(bottom, #65b6fc, #b3e1ff);
    background-image: -moz-linear-gradient(bottom, #65b6fc, #b3e1ff);
    background-image: -o-linear-gradient(bottom, #65b6fc, #b3e1ff);
    background-image: -ms-linear-gradient(bottom, #65b6fc, #b3e1ff);
    background-image: linear-gradient(to top, #65b6fc, #b3e1ff);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-family: Arial;
    font-size: 13px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.tw-template-container #template-save span.image-save{
    left: 10px;
    top: 12px;
    position: absolute;
    width: 14px;
    height: 14px;
    background: url(../images/template-save.png) no-repeat;
}
#template-save {
    position: relative;
}
#template-save>.template-container{
    display: none;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .15);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.15);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .15);
    border: solid 1px #8F8F8F;
    background-image: -webkit-linear-gradient(bottom, #969696, #C5C5C5);
    background-image: -moz-linear-gradient(bottom, #969696, #C5C5C5);
    background-image: -o-linear-gradient(bottom, #969696, #C5C5C5);
    background-image: -ms-linear-gradient(bottom, #969696, #C5C5C5);
    background-image: linear-gradient(to top, #969696, #C5C5C5);
    position: absolute;
    z-index: 999;
    margin: 0;
    top: 36px;
    color: #ed1c24;
    padding: 15px 15px 15px 10px;
}
#template-save>.template-container a{
    color: #fff;
    font-family: Arial;
    cursor: pointer;
    font-size: 12px;
    line-height: 28px;
    font-weight: bold;
}
#template-save>.template-container li{
    position: relative;
    margin: 0;
    padding-left: 10px;
    padding-right: 30px;
}
#template-save>.template-container li span{
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 6px;
    font-size: 10px;
    font-weight: bold;
}
#template-save>.template-container li:hover{
    background: #333;
    border-radius: 3px;
}
/* Grid */
.size-1-1{width:97.8%;}
.size-1-2{width:47.89%;}
.size-1-4{width:22.92%;}
.size-3-4{width:72.9%;}
.size-1-3{width:31.25%;}
.size-2-3{width:64.5%;}

.left-sidebar .size-1-1,.right-sidebar .size-1-1{width:97.5%;}
.left-sidebar .size-1-2,.right-sidebar .size-1-2{width:47.7%;}
.left-sidebar .size-1-4,.right-sidebar .size-1-4{width:22.75%;}
.left-sidebar .size-3-4,.right-sidebar .size-3-4{width:72.5%;}
.left-sidebar .size-1-3,.right-sidebar .size-1-3{width:31.05%;}
.left-sidebar .size-2-3,.right-sidebar .size-2-3{width:63.5%;}

/* Delete Modal */
#pb-delete-modal-container{
    background: #FFF;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    color: #333;
    min-height: 50px !important;
    font-size: 19px;
    font-weight: bold;
}
/* Modal */
.ui-dialog.tw-pb-main-container{
    padding: 9px;
    background-color: rgba(0, 0, 0, .6);
    width: 660px !important;
    font-family: Arial, "Lucida Grande", sans-serif; 
    font-weight: normal;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.field-item>.field-data .field  .container-item{
    margin-bottom: 15px;
}
.tw-pb-main-container .ui-dialog-titlebar{
    height: 44px;
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
    color:#333;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    background-color: #fbfbfb;
    -webkit-box-shadow: 0 1px #6395c0, inset 0 1px rgba(255,255,255,.6);
    -moz-box-shadow: 0 1px #6395c0, inset 0 1px rgba(255,255,255,.6);
    box-shadow: 0 1px #6395c0, inset 0 1px rgba(255,255,255,.6);
    background-image: -webkit-linear-gradient(bottom, #65b6fc, #b3e1ff);
    background-image: -moz-linear-gradient(bottom, #65b6fc, #b3e1ff);
    background-image: -o-linear-gradient(bottom, #65b6fc, #b3e1ff);
    background-image: -ms-linear-gradient(bottom, #65b6fc, #b3e1ff);
    background-image: linear-gradient(to top, #65b6fc, #b3e1ff);
}
.tw-pb-main-container .ui-dialog-titlebar span.ui-dialog-title{
    padding: 14px 30px;
    color: #fff;
    display: inline-block;
}
.tw-pb-main-container .ui-dialog-titlebar-close{float: right;}
.tw-pb-main-container .ui-dialog-titlebar-close,.tw-pb-main-container .ui-dialog-titlebar-close>span,
.container-item .action-delete,.container-item>.list .action-expand>.closed,.container-item .action-duplicate, .container-item.expanded>.list .action-expand>.opened,.category-list-item .actions .action-delete{
    padding: 10px;
    background:url(../images/pb-close.png) no-repeat 15px 17px;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-indent: -9999px;}
.category-list-item .actions .action-delete{
    padding: 0;
    background-position: 9px 6px;
}
.container-item .action-delete,.container-item .action-duplicate{
    padding: 0;
    margin-top: 10px;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 4px;
}
.container-item .action-delete{
    background-position: 4px -30px;
    right: 5px;
}
.container-item .action-duplicate{
    background-position: 4px -66px;
    right: 25px;
}
.container-item>.list .action-expand>.closed{
    padding: 0;
    margin-top: 10px;
    background-position: -29px -26px;
}
.container-item.expanded>.list .action-expand>.opened{
    padding: 0;
    margin-top: 10px;
    background-position: -29px 2px;
}
.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix{
    position: relative;
    border-top: 1px solid #e0e0e0;
    background: #F5F5F5;
    height: 78px;
}
.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix .ui-dialog-buttonset{
    position: absolute;
    right: 30px;
    top: 20px;
}
.ui-dialog-buttonpane .watch-tutorial{
    display: block;
    position: absolute;
    text-indent: -9999px;
    width: 173px;
    height: 16px;
    left: 30px;
    top: 30px;
    background: url(../images/watch-tutorial.png) no-repeat 0 0;
}
.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix .ui-dialog-buttonset button.ui-state-default,.tw-pb-main-container input[type="button"]{
    position: relative;
    padding: 10px 17px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    margin: 0;
    margin-left: 10px;
    background-color: #333;
    -webkit-box-shadow: 0 2px 4px rgba(1, 1, 1, .1), inset 0 1px rgba(255, 255, 255, .6);
    -moz-box-shadow: 0 2px 4px rgba(1,1,1,.1), inset 0 1px rgba(255,255,255,.6);
    box-shadow: 0 2px 4px rgba(1, 1, 1, .1), inset 0 1px rgba(255, 255, 255, .6);
    border: solid 1px #6395C0;
    background-image: -webkit-linear-gradient(bottom, #65B6FC, #B3E1FF);
    background-image: -moz-linear-gradient(bottom, #65B6FC, #B3E1FF);
    background-image: -o-linear-gradient(bottom, #65B6FC, #B3E1FF);
    background-image: -ms-linear-gradient(bottom, #65B6FC, #B3E1FF);
    background-image: linear-gradient(to top, #65B6FC, #B3E1FF);
    cursor: pointer;
}
.tw-pb-main-container input[type="button"]{
    margin: 0;
}
.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix .ui-dialog-buttonset button.ui-state-default span{
    font-size: 13px;
    font-weight: bold;
    font-family: Arial;
    color: #FFF;
}
.tw-pb-main-container .field-data input[type="text"]{
    border: 1px solid #bebebe;
    padding: 8px 10px;
    min-width: 220px;
}
.tw-pb-main-container .general-field-container .field-data input[type="text"]{
    min-width: 203px;
}
.tw-pb-main-container .general-field-container div.field-title,.tw-pb-main-container .general-field-container .field-item>.field-data{
    width: auto;
}
.tw-pb-main-container .general-field-container{
    position: relative;
    border-bottom: 1px solid #e0e0e0;
    background: #f5f5f5;
    padding: 18px 0px 18px 30px;
}
.tw-pb-main-container .general-field-container .field-item{
    width: 310px;
    display: inline-block;
}
.tw-pb-main-container .general-field-container .field-desc{
    display: none;
}
.field-item>div{
    display: inline-block;
}
.field-item>div.field-title{
    width: 120px;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    line-height: 28px;
    color: #333;
}
.custom-field-container .field-item>div.field-title{
    display: block;
    width: auto;
    vertical-align: top;
}
#shortcode_container_dialog.loading-shortcode .custom-field-container{
    background-image: url('../../../assets/img/prettyPhoto/loader.gif');
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100px;
}
#shortcode_container_dialog .custom-field-container{
    background: #fff;
    margin-bottom: -20px;
    padding-bottom: 20px;
}
#shortcode_container_dialog .general-field-container div.field-title{
    line-height: 15px;
    vertical-align: top;
    margin-right: 30px;
    padding-top: 10px;
}
.content .custom-field-container .field-item>div.field-data{
    display: none;
}
.content .custom-field-container .field-item>div.field-title{
    text-align: center;
}
.field-item>div.field-desc{
    font-family: Arial;
    font-size: 11px;
    color: #9c9c9c;
    vertical-align: top;
    float: right;
    width: 280px;
}
.field-item>.field-data{
    width: 250px;
}
.field-item.type-color>.field-data{width: auto; position: relative;}
.field-item.type-color>.field-data>.color-view{position: absolute;display: none;z-index: 9999;left: 50%;}
.field-item.type-color>.field-data>.color-info{
    background: url(../images/colorpicker/select.png) no-repeat;
    width: 27px;
    height: 27px;
    position: absolute;
    top: 4px;
    right: 3px;
}
.field-item.type-color>.field-data>[data-type="color"]{background-color: #fff !important;color:#bebebe !important;}
.container-item>.list{
    height: 34px;
    line-height: 34px;
    z-index: 9;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #f3f3f3;
    -webkit-box-shadow: inset 0 4px rgba(255,255,255,.4);
    -moz-box-shadow: inset 0 4px rgba(255,255,255,.4);
    box-shadow: inset 0 4px rgba(255,255,255,.4);
    border: solid 1px #bebebe;
    padding: 0px 20px 0px 40px;
    color: #333333;
    cursor: move;
}
.container-item>.content{
    width: 558px;
    position: relative;
    top: -2px;
    display: none;
    border: 1px solid #dfdfdf;
    background-color: #fff;
    border-top: none;
    padding: 20px;
}
.container-item.expanded>.content{
    display: block;
}
.container-item>.list .name{
    float: left;
    font-family: Arial;
    font-size: 13px;
    line-height: 36px;
    font-weight: bold;
}
.container-item>.list .actions{
    position: absolute;
    width: 95%;
    left: 20px;
}
/* Font awesome on Page Builder */
#pb-modal-container .custom-field-container .field-item .field-data .fa-viewer{
    display: inline-block;
}
#fontawesome_container_dialog .general-field-container .field-item{
    width: 200px;
}
#fontawesome_container_dialog .general-field-container .field-item .field-data input[type="text"]{
    width: 150px;
    min-width: 100px;
}
#fontawesome_container_dialog .general-field-container div.field-title{
    width: 140px;
}
.custom-field-container > div.field-item.type-fa .field-title{
    display: none;
}
.custom-field-container > div.field-item{
    padding: 20px 30px 0px 30px;
}
.custom-field-container > div.field-item:last-child{
    margin-bottom: 20px;
}
.custom-field-container .content div.field-item{
    display: inline-block;
    width: 100%;
    margin: 5px 0;
}
/* Column Editor Styling */
.tw-pb-main-container .field-item.type-textArea.editor>.field-data{
    width: 600px;
}
.tw-pb-main-container .field-item.type-textArea.editor>.field-data textarea{
    width: 597px;
    border: none;
    min-height: 200px;
}
.tw-pb-main-container .field-item.type-textArea.editor>.field-data .tw-editor-content{
    border-width: 1px;
    border-style: solid;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-color: #CCC #CCC #DFDFDF;
}
/* DropDown Styling */
.tw-pb-main-container .field-item>.field-data{
    position: relative;
    min-height: 35px;
}
.tw-pb-main-container .field-item>.field-data>select{
    position: absolute;
    z-index: 8888;
    opacity: 0;
    width: 220px;
    height: 36px;
    left: 0;
}
.tw-pb-main-container .field-item>.field-data>.select-text{
    left: 0;
    color: #9c9c9c;
    position: absolute;
    padding: 10px 45px 10px 15px;
    background: #FFF url('../images/pb-dropdown.png') no-repeat right 1px top 0px;
}
.tw-pb-main-container .field-item>.field-data>.category-list-container{
    margin-top: 35px;
    width: 600px;
}
/* List Item Styling */
.category-list-container .category-list-item{
    position: relative;
    min-width: 145px;
    display: inline-block !important;
    padding: 8px 20px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #333;
    -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: inset 0 1px 5px rgba(0,0,0,.15);
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, .15);
    border: solid 1px #8F8F8F;
    background-image: -webkit-linear-gradient(bottom, #969696, #C5C5C5);
    background-image: -moz-linear-gradient(bottom, #969696, #C5C5C5);
    background-image: -o-linear-gradient(bottom, #969696, #C5C5C5);
    background-image: -ms-linear-gradient(bottom, #969696, #C5C5C5);
    background-image: linear-gradient(to top, #969696, #C5C5C5);
}
.category-list-container .category-list-item .name,.category-list-container .category-list-item .actions{
    display: inline-block;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
    color: #FFF;
}
.category-list-container .category-list-item .actions{
    position: absolute;
    right: 10px;
}
/* CheckBox Styling */
.tw-pb-main-container .field-item.type-checkbox>.field-data>.checkbox-text{
    width: 90px;
    height: 36px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #f3f3f3;
    -webkit-box-shadow: 0 2px 4px rgba(1,1,1,.1), inset 0 4px rgba(255,255,255,.4);
    -moz-box-shadow: 0 2px 4px rgba(1,1,1,.1), inset 0 4px rgba(255,255,255,.4);
    box-shadow: 0 2px 4px rgba(1,1,1,.1), inset 0 4px rgba(255,255,255,.4);
}
.tw-pb-main-container .field-item.type-checkbox>.field-data>.checkbox-text>div{
    height: 34px;
    border-style: solid;
    border-width: 1px;
    border-color: #bebebe;
    float: left;
    font-family: Arial;
    font-size: 12px;
    line-height: 34px;
    font-weight: bold;
    text-align: center;
}
.tw-pb-main-container .field-item.type-checkbox>.field-data>.checkbox-text.checked-true>.checkbox-true{
    width: 43px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    background-color: #fff;
    -webkit-box-shadow: inset 0 2px rgba(255,255,255,.2);
    -moz-box-shadow: inset 0 2px rgba(255,255,255,.2);
    box-shadow: inset 0 2px rgba(255,255,255,.2);
    border: solid 1px #6395c0;
    background-image: -webkit-linear-gradient(bottom, #65b6fc, #b3e1ff);
    background-image: -moz-linear-gradient(bottom, #65b6fc, #b3e1ff);
    background-image: -o-linear-gradient(bottom, #65b6fc, #b3e1ff);
    background-image: -ms-linear-gradient(bottom, #65b6fc, #b3e1ff);
    background-image: linear-gradient(to top, #65b6fc, #b3e1ff);
}
.tw-pb-main-container .field-item.type-checkbox>.field-data>.checkbox-text.checked-true>.checkbox-false{
    width: 44px;
    border-left-width: 0px;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
.tw-pb-main-container .field-item.type-checkbox>.field-data>.checkbox-text.checked-false>.checkbox-true{
    width: 44px;
    border-right-width: 0px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.tw-pb-main-container .field-item.type-checkbox>.field-data>.checkbox-text.checked-false>.checkbox-false{
    width: 43px;
    border-color: #8f8f8f;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    background-color: #fff;
    -webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,.15);
    -moz-box-shadow: inset 0 1px 4px rgba(0,0,0,.15);
    box-shadow: inset 0 1px 4px rgba(0,0,0,.15);
    border: solid 1px #8f8f8f;
    background-image: -webkit-linear-gradient(bottom, #969696, #c5c5c5);
    background-image: -moz-linear-gradient(bottom, #969696, #c5c5c5);
    background-image: -o-linear-gradient(bottom, #969696, #c5c5c5);
    background-image: -ms-linear-gradient(bottom, #969696, #c5c5c5);
    background-image: linear-gradient(to top, #969696, #c5c5c5);
}
.tw-pb-main-container .field-item.type-checkbox>.field-data{
    display: inline-block;
    float: right;
    width: 90px;
    height: 36px;
    min-height: 24px;
    cursor: pointer;
}
/* List Styling */
.list .custom-field-container .field-item>.field-title{
    display: none;
}
.list .custom-field-container .content>.field-item.type-text>.field-desc{
    display: block;
}
.list .custom-field-container .content>.field-item.type-text>.field-data{
    width:250px;
}
/* Accordion Styling */
.accordion .custom-field-container .field-item>div.field-title,.accordion .custom-field-container .field-item>div.field-desc{
    display: none;
}

.field-item.type-container>.field-data{
    width: 600px;
}
.tw-pb-main-container textarea{
    padding: 10px;
    min-height: 85px;
    min-width: 550px;
    border: 1px solid #bebebe;
}
.tw-pb-main-container .custom-field-container textarea{
    min-width: 550px;
}
.tw-pb-main-container .custom-field-container .type-container .type-checkbox{
    position: absolute;
    right: 30px;
    top: 18px;
    width: auto;
}
.tw-pb-main-container .custom-field-container .type-container .type-checkbox .field-title{
    position: absolute;
    right: 100px;
    top: 4px;
    width: 200px;
    text-align: right;
    display: block;
}
#pb-modal-container{
    display: inline-block !important;
    min-height: 400px !important;
    width: 660px !important;
    background: #FFF;
}
.ui-widget-overlay{
    opacity: 0 !important;
}
/* Container Item - Toggle Styling */
.container-item>.list .action-expand>.opened,.container-item.expanded>.list .action-expand>.closed{display: none;}
.container-item>.list .action-expand>.closed,.container-item.expanded>.list .action-expand>.opened{display: block;}
/* Container Item - Image Slider Styling */
[data-container-type="image_slider"]>.container-item{
    display: inline-block;
    width: 100px;
}
[data-container-type="image_slider"]>.container-item>.content{
    padding: 0px;
    height: 99px;
    width: 99px;
    margin: 0;
}
.image .container-item .action-delete{
    right: 25px;
}
[data-container-type="image_slider"]>.container-item>.content>.image-src{
    width: 99px;
    height: 99px;
}
[data-container-type="image_slider"]>.container-item>.list>.name,
[data-container-type="image_slider"]>.container-item>.list>.actions>.action-expand{
    display: none;
}
.placeholding{
     line-height: 42px !important;
}
/* END   - Pagebuilder */
.pagebuilder-container .hidden,.pagebuilder-container .size-0-0,.field-item.hidden{display: none !important;}